.resource-playlist-container {
  width: 100%;
  height: 100%;
  padding: 0px !important;
  margin: 0px !important;
  background: transparent !important;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
}

.resource-player-title {
  width: 145px;
  margin: 20px 20px 10px;
  position: relative;

  p {
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;

    > span {
      font-size: 12px;
      color: #ffffff;
      opacity: 0.5;
      display: block;
    }
  }
}

.arrow {
  position: absolute;
  width: 10px;
  height: 6px;
  right: 0;
  top: 0;

  &.closed svg {
    transform: rotate(-90deg);
  }
}

.resource-player-list {
  height: auto;
  max-height: 100%;
  transform: scaleY(1);
  transform-origin: top;
  transition: all var(--animation-timing-medium) ease-in-out;

  &.slideUp {
    transform: scaleY(0);
  }

  .scroll-container {
    overflow-y: scroll;
    scrollbar-width: none;
    height: 100%;
    padding-bottom: 160px;
  }
}

/* Global imports */
@import '~libs/core/src/lib/css/variables';

:host {
  display: flex;
  height: 100%;
}

.resource-card {
  width: 145px;
  height: 95px;
  margin: 10px auto;
  position: relative;
  cursor: pointer;
}

.type-icon {
  // position: absolute;
  // top: 5px;
  // left: 5px;
  // width: 34px;
  // height: 34px;
  // border-radius: 4px;
  position: absolute;
  top: -1px;
  left: 5px;
  width: 20px;
  height: 34px;
  border-radius: 4px;
}

.image {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0;
  opacity: 0.5;
  border-radius: 10px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.title {
  padding: 0px 0.6em;
  bottom: 6px;
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;
  position: absolute;
  color: #ffffff;
  /* autoprefixer: ignore next */
  display: -webkit-box;
  /* autoprefixer: ignore next */
  -webkit-line-clamp: 2;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.utility-bar-wrapper {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  margin: auto;
}
