<div class="resource-playlist-container">
  <div class="resource-player-title">
    <p class="linked-resources">
      {{ type }} Resources
      <!-- <svg-icon
        src="assets/images/playlist/arrow.svg"
        [applyCss]="true"
        [class.closed]="!showChapterResources"
        class="arrow"
      ></svg-icon> -->
      <span
        >{{ chapterResources.length }} Linked Resource{{
          chapterResources.length < 2 ? '' : 's'
        }}<span *ngIf="chapterResources.length === 1">s</span></span
      >
    </p>
  </div>
  <div class="resource-player-list" [class.slideUp]="!showChapterResources">
    <div class="scroll-container" #scrollContainerRef>
      <div class="resource-card-wrapper">
        <div
          class="resource-card"
          *ngFor="
            let chapterResource of chapterResources;
            let i = index;
            let first = first
          "
          (click)="handleResourceClick(chapterResource)"
        >
          <div
            class="image"
            [ngStyle]="{
              'background-image':
                'url(' +
                getResourceThumbnailIcon(chapterResource, 'thumbnail') +
                ')'
            }"
          >
            <div
              class="foreground-image"
              [ngStyle]="{
                'background-image':
                  'linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.55)), url(' +
                  getResourceThumbnail(chapterResource.thumbnailParams) +
                  ')'
              }"
            ></div>
          </div>
          <div class="title">{{ chapterResource.title }}</div>
          <img
            class="type-icon"
            *ngIf="getResourceThumbnailIcon(chapterResource, 'thumbnail')"
            [src]="getResourceThumbnailIcon(chapterResource, 'icon')"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="utility-bar-wrapper" *ngIf="showChapterResources">
    <tce-utility-bar>
      <tce-scroll
        [scrollContainerRef]="scrollContainerRef"
        (emitScroll)="triggerScroll($event)"
      ></tce-scroll>
    </tce-utility-bar>
  </div>
</div>
