/* #points {
    width: 20px;
} */

.correct-points {
  display: flex;
  justify-content: flex-end;
  // may need this later
  // label {
  //   margin-right: 10px;
  // }
  // .form-control {
  //   width: 100px;
  //   margin-right: 10px;
  //   margin-top: -6px;
  // }
}
