@import '~apps/tce-teacher/src/assets/stylesheet/imports';

.lesson-plan-container {
  box-sizing: border-box;
  height: 55vh;
  width: 50vw;
  min-width: 450px;
  border: 1px solid #303439;
  border-radius: 5px;
  background-color: #22262a;
  box-shadow: 0 30px 100px 0 rgba(0, 0, 0, 0.5),
    0 20px 25px 0 rgba(0, 0, 0, 0.5);
  color: #ffffff;
  position: absolute;
  top: -55vh;
  left: 4vw;
  z-index: $foreground-z-index;
  margin-right: auto;
  margin-left: auto;
}

.lesson-plan-plate {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  background-color: white;
}

.header-pad-wrap {
  padding: 0 15px;
}
.header-container {
  position: relative;
  padding: 1.5rem 0.5rem 1rem;
  border-bottom: 2px solid #303439;
  background-color: white;
    color: black;
}

.chapter {
  line-height: 28px;
  height: 28px;
  font-size: 22px;
  font-weight: bold;
  width: 100%;
  margin-bottom: 5px;
}

.topic {
  line-height: 18px;
  height: 18px;
  font-size: 14px;
  opacity: 0.75;
}

.printIcon{
  background: #22262A;
  left: 6px;
  position: relative;
  width: 34px;
  height: 34px;
}


ol.orderedlist{
  margin-top: 0px !important;
}

.lesson-plan-header {
  flex-basis: auto;
  width: 100%;
  height: 14vh;
}

dl,
ol,
p,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul , ol {
  display: block;
  list-style-type: disc  !important;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}



.activities,
.challenge,
.interDisciplinary,
.introduction,
.reinforcement,
.teachingStategy {
  height: 18px;
  color: #909294;
  font-family: Quicksand;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}


.lesson-plan-content-container {
  background-color: white;
  color: #22262a;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  padding: 15px;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  overflow-y: scroll;
  scrollbar-width: none;
 
}

.lesson-plan-content-container ::ng-deep .highlight {
  background-color: yellow;
  color: black;
}

.lesson-plan-content {
  padding: 0.5rem 0.5rem 70px 0.5rem;
  ol,ul{
    list-style: disc !important;
  }
  ul{
    list-style: disc !important;
  }
}

.tooltip-example {
  text-align: center;
  padding: 0 50px;
}
.tooltip-example [tooltip] {
  display: inline-block;
  margin: 50px 20px;
  width: 180px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 5px;
  line-height: 50px;
  text-align: center;
}
.ng-tooltip {
  position: absolute;
  max-width: 150px;
  font-size: 14px;
  text-align: center;
  color: #0f1114;
  padding: 3px 8px;
  background: #ced1e2;
  border-radius: 4px;
  z-index: 1000;
  opacity: 0;
  cursor: pointer;
}
.ng-tooltip:after {
  content: '';
  position: absolute;
  border-style: solid;
}
.ng-tooltip-top:after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: #ced1e2 transparent transparent transparent;
}
.ng-tooltip-bottom:after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: transparent transparent black transparent;
}
.ng-tooltip-left:after {
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-color: transparent transparent transparent black;
}
.ng-tooltip-right:after {
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-color: transparent black transparent transparent;
}
.ng-tooltip-show {
  opacity: 1;
}

.hide {
  display: none;
}

.separator {
  background-color: rgba(255, 255, 255, 0.25);
  width: 1px;
  height: 35px;
  margin: 0 10px;
}

.icon-close {
  display: block;
  line-height: 0;
  cursor: pointer;
  position: relative;
}
.icon-close svg g {
  fill: #fff;
}

.utility-wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: -20px;
  margin: 0 auto;
}
