<div class="lesson-plan-container" *ngIf="isOpen">
  <div class="lesson-plan-plate">
    <div class="header-pad-wrap">
      <div class="header-container">
        <div class="chapter">{{ lessonChapter }}</div>
        <div class="topic">{{ lessonTopic }}</div>
      </div>
    </div>
    <div class="utility-wrapper">
      <tce-utility-bar>
        <tce-scroll
          [scrollContainerRef]="scrollContainerRef"
          (emitScroll)="triggerScroll($event)"
        ></tce-scroll>
        <div class="separator"></div>
        <!-- <svg
          width="24px"
          height="24px"
          style="pointer-events: none;"
          viewBox="0 0 16 22"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <g
            id="Sprites"
            stroke="none"
            stroke-width="1"
            fill="none"
            fill-rule="evenodd"
          >
            <g
              id="SpriteSheet---Tools"
              transform="translate(-24.000000, -64.000000)"
              class="svg_icon svg_iconDefault"
              fill-rule="nonzero"
            >
              <path
                d="M24.0322843,84.2147798 L24,64 L40,77.7601452 L37.5639565,77.9633844 L33.0610224,78.3390641 L35.3161617,82.8737062 C35.8472667,83.9416541 35.4079109,85.2358845 34.3348331,85.7644506 C34.2622422,85.7990999 34.2622422,85.7990999 34.1880173,85.8301318 C33.0433359,86.2921918 31.7355615,85.7810935 31.2126706,84.6673206 L28.9942065,79.9419239 L24.0322843,84.2147798 Z"
                id="ic.Tool.Selection.Active"
                transform="translate(32.000000, 75.000000) rotate(-360.000000) translate(-32.000000, -75.000000) "
              ></path>
            </g>
          </g>
        </svg>
        <div class="separator"></div>
        <button class="printIcon" mat-button (click)="printDocument($event)">
          <svg-icon
              src="assets/images/ic.Print.svg"
              [applyCss]="true"
            ></svg-icon>
        </button>
        <div class="separator"></div>
        -->
        <svg-icon
        (click)="closeLessonPlan()"
        class="icon-close"
        title="close"
        src="assets/images/ic.CloseModal.svg"
        [applyCss]="true"
      ></svg-icon>
      </tce-utility-bar>
    </div>
    <div
      class="lesson-plan-content-container admin-scrollbar"
      #scrollContainerRef
    >
      <div
        id="lesson_correctcontent"
        tceTooltip
        class="lesson-plan-content tce-scroll-ref"
      ></div>
      <tce-annotation
        [stageId]="'lesson-plan-' + lessonTopic + '-' + lessonChapter"
        [ignoreScale]="true"
        canvasContext="lesson-plan"
      ></tce-annotation>
    </div>
  </div>
</div>
