<tce-flyout
  class="changePassword-container"
  [ngClass]="[
    !_type ? 'userRightSide' : 'userLeftSide',
    currentMode === 'planning' ? 'planningMode' : ''
  ]"
>
  <tce-loading-layover
    [message]="ChangePasswordMessage"
    *ngIf="activeChangePasswordMessage"
  ></tce-loading-layover>
  <div class="changePasswordHeader">
    <label class="changePasswordHeader-title">Change Password </label>
    <div class="changePassword-description">
      Choose a strong password for your security.
    </div>
  </div>
  <div class="changePasswordBody">
    <form [formGroup]="changePassword" (ngSubmit)="submitChangePassword()">
      <div class="formHeight">
        <div class="form-group">
          <label for="currentPassword">Current Password</label>
          <input
            formControlName="currentPassword"
            placeholder="Current Password"
            id="currentPassword"
            type="password"
            #currentPassword
            (keyup)="updateFieldValue('currentPassword', currentPassword.value)"
            (focus)="setKeyboardFocus($event)"
            class="form-control"
            [ngClass]="
              f.currentPassword.touched && f.currentPassword.invalid
                ? 'errorActive'
                : ''
            "
          />
          <div
            *ngIf="f.currentPassword.touched && f.currentPassword.invalid"
            class="errorIcon"
          >
            x
          </div>
          <div
            *ngIf="f.currentPassword.touched && f.currentPassword.invalid"
            class="alert alert-danger"
          >
            <div *ngIf="f.currentPassword.errors.required">
              Password is required.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input
            formControlName="newPassword"
            placeholder="New Password"
            id="newPassword"
            type="password"
            #newPassword
            (keyup)="updateFieldValue('newPassword', newPassword.value)"
            (focus)="setKeyboardFocus($event)"
            class="form-control"
            [ngClass]="
              f.newPassword.touched && f.newPassword.invalid
                ? 'errorActive'
                : ''
            "
          />
          <div
            class="errorIcon"
            *ngIf="f.newPassword.touched && f.newPassword.invalid"
          >
            x
          </div>
          <div
            *ngIf="f.newPassword.touched && f.newPassword.invalid"
            class="alert alert-danger"
          >
            <div *ngIf="f.newPassword.errors.required">
              New Password is required.
            </div>
            <div *ngIf="f.newPassword.errors.pattern">
              Password must have at least 6 characters and contain at least one
              number and one symbol.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="repeatNewPassword">Repeat New Password</label>
          <input
            formControlName="repeatNewPassword"
            id="repeatNewPassword"
            placeholder="Repeat New Password"
            type="password"
            #repeatNewPassword
            (keyup)="
              updateFieldValue('repeatNewPassword', repeatNewPassword.value)
            "
            (focus)="setKeyboardFocus($event)"
            class="form-control"
            [ngClass]="
              f.repeatNewPassword.touched && f.repeatNewPassword.invalid
                ? 'errorActive'
                : ''
            "
          />
          <div
            *ngIf="f.repeatNewPassword.touched && f.repeatNewPassword.invalid"
            class="errorIcon"
          >
            x
          </div>
          <div
            *ngIf="f.repeatNewPassword.touched && f.repeatNewPassword.invalid"
            class="alert alert-danger"
          >
            <div *ngIf="f.repeatNewPassword.errors.required">
              Repeat New Password is required.
            </div>
            <div *ngIf="f.repeatNewPassword.errors.pattern">
              Password must have at least 6 characters and contain at least one
              number and one symbol.
            </div>
            <div *ngIf="f.repeatNewPassword.errors.confirmedValidator">
              Repeat password field doesn’t match with new password.
            </div>
          </div>
        </div>
      </div>
      <div class="changePasswordWarning">
        Your new password must have at least 6 characters and contain at least
        one number and one symbol.
      </div>
      <div class="changePasswordFooter">
        <div class="footerLine"></div>
        <div class="formButton">
          <button class="btn" type="button" (click)="cancelChangePassword()">
            Cancel
          </button>
          <button
            class="btn"
            type="submit"
            [disabled]="!changePassword.valid"
            [ngClass]="!changePassword.valid ? 'disableButton' : 'enableButton'"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</tce-flyout>
