/* Global imports */
@import '~apps/tce-teacher/src/assets/stylesheet/imports';

:host {
  z-index: $foreground-z-index;
}

.current-subject-container {
  padding: 5px 30px;
  user-select: none;
}

.title-text-container {
  color: var(--text-color-primary);
  font-size: 1.3em;
  font-weight: bold;
  width: 100%;
  display: flex;
  align-items: center;
  text-shadow: #000 1px 0 10px;
  .arrow {
    margin-left: 0.417em;
    position: relative;
    line-height: 25%;
    bottom: 2px;
    cursor: pointer;
  }
  div {
    display: inline;
    cursor: pointer;
  }
}

.sub-text {
  margin-top: 5px;
  color: var(--text-color-secondary);
  font-size: 1.1em;
  line-height: 18px;
  top: 6px;
  width: 100%;
  text-shadow: #000 1px 0 10px;
  div {
    display: inline;
    cursor: pointer;
  }
}

.ic-dropdown-active {
  height: 0.93%;
  width: 0.31%;
  opacity: 0.5;
  transform: rotate(270deg);
  background-color: #ffffff;
}
.title-text-mode {
  color: var(--selected-tool-background-color);
  font-family: Quicksand;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 23px;
  width: 100%;
  display: flex;
  align-items: center;
  .arrow {
    margin-left: 0.417em;
    position: relative;
    line-height: 25%;
    bottom: 2px;
    cursor: pointer;
  }
  div {
    display: inline;
    cursor: pointer;
  }
}
