<div [ngClass]="currentMode ? 'current-subject-container' : ''">
  <div
    [ngClass]="currentMode ? 'title-text-container' : 'title-text-mode'"
    [ngStyle]="{ 'text-shadow': textShadow ? 'none' : '#000 1px 0 10px' }"
    (click)="handleSubjectClick($event)"
  >
    <div>
      <span *ngIf="currentMode">{{ currentClassSelectionText }}</span>
      <span *ngIf="!currentMode">{{ currentClassSelectionTextMode }}</span>
      <svg-icon
        class="arrow"
        src="assets/images/ic.Dropdown.Active.svg"
        [svgStyle]="{ fill: 'var(--text-color-primary)' }"
      ></svg-icon>
    </div>
  </div>
  <div
    *ngIf="currentMode"
    class="sub-text"
    [ngStyle]="{ 'text-shadow': textShadow ? 'none' : '#000 1px 0 10px' }"
    (click)="handleContentClick($event)"
  >
    <div>
      {{ currentContentSelectionText }}
    </div>
  </div>
</div>
