// input[type=text] {
//     width: 75px;
// }

// input[type=number] {
//     width: 50px;
// }
@import 'libs/question-bank/src/lib/assets/css/common.scss';
.pd-r-0 {
  padding-right: 0px;
}
.pd-l-0 {
  padding-left: 0px;
}
input:focus {
  outline: none !important;
  box-shadow: none;
}
input,
input:hover,
input:focus {
  cursor: pointer;
}
button.btn {
  background: transparent;
  color: $blue;
}
.fetch-btn {
  width: 100%;
}
.upload-form-div {
  border: 1px solid #ddd;
  h5 {
    border-bottom: 1px solid #ddd;
    background: #f6f6f6;
  }
}
// button.btn:hover,button.btn:focus,button.btn:active{
//   background:transparent;
//   color:$blue;
//   outline:none !important;
// }
.slider {
  padding: 0px;
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: $blue;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $blue;
  cursor: pointer;
}
.upload-btn-wrapper input[type='file'] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  padding: 2px;
}

.modal-title,
.modal-body {
  color: black !important;
}

.loader,
.loader:before,
.loader:after {
  background: $blue;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: $blue;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
