<div class="questionSelectorContainer">
    <div class="questionSelectorHeader">
        <div class="firstIcon"></div>
        <div class="textHeader">Question Details</div>
        <div class="firstIcon"></div>
    </div>
    <div class="questionSelectorBody">
        <div class="selectionBottom">
            <label>Question Type</label>
            <nb-select placeholder="select One" [(ngModel)]="selectedQuestionType" class="selectionWidth">
            <nb-option *ngFor="let questionType of questionList" [(value)]="questionType.id" (selectionChange)="selectedQuestionTypeEvent(questionType)">{{questionType.title}}</nb-option>
        </nb-select>
        </div>
    </div>
</div>

