.questionSelectorHeader{
    display: flex;
    padding-top: 20px;
}

.firstIcon{
    height: 25px;
    width: 25px;
    margin: 0px 10px;
    background: black;
}
.textHeader{
    color: #000000;
  font-family: Quicksand;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
  width: 70%;
  text-align: center;
}
.questionSelectorBody{
    padding: 10px;
}
.selectionBottom{
    margin-bottom: 10px;
}
.selectionWidth{
    max-width: 17rem !important;
}