
<nb-card class="dialog-card customHeightCard">
    <nb-card-header>  <button status="primary" (click)="dismiss()">EditMode</button></nb-card-header>
    <nb-card-body>
        <div class="questionPreviewMainContainer">
            <p>template-preview works!</p>
        </div>
    </nb-card-body>
</nb-card>