<div [ngClass]="currentMode ? 'mainContainer' : ''">
  <tce-flyout
    #selectorPanel
    [ngStyle]="{ display: displaySubjectSelectionFlyout ? 'block' : 'none' }"
    [@openClose]="
      animationFlag ? (displaySubjectSelectionFlyout ? 'open' : 'closed') : 'in'
    "
    [ngClass]="{
      'subject-selection-flyout-FTUE': firstTimeUser,
      'subject-selection-flyout': !firstTimeUser,
      'subject-selection-flyout-classMode': !currentMode
    }"
  >
    <tce-tab-box>
      <tce-tab-content
        tabTitle="Recent Classes"
        *ngIf="!firstTimeUser && displayRecentClasses"
        style="height:430px"
      >
        <tce-recent-classes></tce-recent-classes>
      </tce-tab-content>
      <tce-tab-content tabTitle="All My Classes">
        <tce-all-classes [currentMode]="currentMode"></tce-all-classes>
      </tce-tab-content>
    </tce-tab-box>
  </tce-flyout>
  <tce-flyout
    class="content-selector-flyout"
    *ngIf="displayContentSelectionFlyout"
    [@slideInOut]="animationFlag && displayContentSelectionFlyout"
  >
    <tce-lesson-selection-container
      (lessonPlanClick)="toggleContentFlyout()"
    ></tce-lesson-selection-container>
  </tce-flyout>
  <tce-current-selection
    #currentSelection
    [currentMode]="currentMode"
    (currentSubjectClick)="toggleSubjectFlyout($event)"
    (currentContentClick)="toggleContentFlyout()"
  ></tce-current-selection>
</div>
