.mainContainer {
  display: flex;
  position: absolute;
  top: -30px;
}

:host ::ng-deep .subject-selection-flyout {
  width: auto;
  min-height: 410px;
  bottom: calc(100% + 20px);
  min-width: fit-content;
  left: 10px;
  min-width: 40vh;
  &:before {
    left: var(--leftValue);
  }
  &::after {
    left: var(--leftValue);
  }

  .flyout-menu-list-header {
    & > div {
      &:nth-of-type(1) {
        flex: 0 0 25%;
        max-width: 25%;
      }
      &:nth-of-type(2) {
        flex: 0 0 20%;
        max-width: 20%;
      }
      &:nth-of-type(3) {
        flex: 0 0 55%;
        max-width: 55%;
      }
    }
  }
}

:host ::ng-deep .content-selector-flyout {
  position: absolute;
  bottom: calc(100% + 20px);
  width: 60vw;
  height: 360px;
  margin-left: 10px;
  &:before {
    left: var(--leftValue);
  }
  &::after {
    left: var(--leftValue);
  }
}

:host ::ng-deep .content-selector-menu {
  min-width: 0px;
}

:host ::ng-deep .menu-container {
  display: flex;
  flex-direction: row;

  a.menu-item-pill {
    border-radius: 50%;
    background-color: #000;
    padding: 0.6em;
  }
}

:host ::ng-deep .subject-selection-flyout-FTUE {
  width: 75vw;
  transform: translateX(-35%);
  bottom: calc(100% + 20px);
  margin: auto;
  &::after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: #22262a transparent transparent transparent;
  }
}

:host ::ng-deep .subject-selection-flyout-classMode {
  width: 88%;
  bottom: 22px;
  left: 105px;

  &:before {
    left: 225px;
    top: -21px;
    transform: rotate(180deg);
  }
  &::after {
    left: 225px;
    top: -21px;
    transform: rotate(180deg);
  }

  .flyout-menu-list-header {
    & > div {
      &:nth-of-type(1) {
        flex: 0 0 25%;
        max-width: 25%;
      }
      &:nth-of-type(2) {
        flex: 0 0 20%;
        max-width: 20%;
      }
      &:nth-of-type(3) {
        flex: 0 0 55%;
        max-width: 55%;
      }
    }
  }
}
