<nb-card class="dialog-card customHeightCard border-0">
  <div *ngIf="questionType === 'TCE'" (click)="dismiss()" class="closedBtn">
    <svg-icon src="assets/images/ic.CloseModal.svg">
      <svg width="25px" height="25px" viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Revised-MVP" stroke="none" stroke-width="1" fill="none" fill-rule="eveno">
          <g id="MVP-|-1.2.1-|-Lesson-Plan" transform="translate(-261.000000, -779.000000)" fill="rgba(0,0,0,0.5">
            <g id="Whiteboard" transform="translate(80.000000, 97.000000)">
              <g id="LessonPlan" transform="translate(0.000000, 153.000000)">
                <g id="Controls" transform="translate(161.000000, 509.000000)">
                  <path
                    d="M32.5,45 C25.5964406,45 20,39.4035594 20,32.5 C20,25.5964406 25.5964406,20 32.5,20 C39.4035594,20 45,25.5964406 45,32.5 C45,39.4035594 39.4035594,45 32.5,45 Z M30.3787879,32.5 L27.7272727,35.1515152 C27.1415162,35.7372717 27.1415162,36.6869707 27.7272727,37.2727273 C28.3130293,37.8584838 29.2627283,37.8584838 29.8484848,37.2727273 L32.5,34.6212121 L35.1515152,37.2727273 C35.7372717,37.8584838 36.6869707,37.8584838 37.2727273,37.2727273 C37.8584838,36.6869707 37.8584838,35.7372717 37.2727273,35.1515152 L34.6212121,32.5 L37.2727273,29.8484848 C37.8584838,29.2627283 37.8584838,28.3130293 37.2727273,27.7272727 C36.6869707,27.1415162 35.7372717,27.1415162 35.1515152,27.7272727 L32.5,30.3787879 L29.8484848,27.7272727 C29.2627283,27.1415162 28.3130293,27.1415162 27.7272727,27.7272727 C27.1415162,28.3130293 27.1415162,29.2627283 27.7272727,29.8484848 L30.3787879,32.5 Z"
                    id="ic.CloseModal"></path>
                </g>
              </g>
            </g>
          </g>
        </g>
      </svg>
    </svg-icon>
  </div>
  <nb-card-header class="border-0 p-0"> </nb-card-header>
  <nb-card-body class="pt-0 overflow-hidden">
    <ng-template #targetRef></ng-template>
    <div *ngIf="!templateData">Unable to load question. Invalid Question format</div>
  </nb-card-body>
  <div [hidden]="mode === 'teach' || templateType === 'essay' || !templateData" class="qb-preview-submit"
    id="qb-preview-submit">
    <!-- <button *ngIf="questionType === 'TCE'" (click)="dismiss()" class="cancelBtn">Cancel</button> -->
    <button (click)="changeShowAns()" [disabled]="!allowSubmit">Submit Answers</button>
  </div>
</nb-card>