@import '~libs/core/src/lib/css/variables';

$color_1: official;
$background_color_1: rgba(0, 0, 0, 0.5);
:host {
  position: absolute;
  z-index: $loading-spinner-z-index;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $background_color_1;
  &.no-background {
    background: none;
  }
  &.no-overlay {
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    position: relative;
    display: block;
    z-index: auto;
    .content-inner {
      position: relative;
      top: auto;
      left: auto;
      transform: none;
    }
  }
  &.dark {
    .content-inner {
      .message {
        color: #000;
      }
      .lds-spinner {
        div {
          &:after {
            background: #000;
          }
        }
      }
    }
  }
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.content-outer {
  position: relative;
  width: 100%;
  height: 100%;
}

.content-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .message {
    margin-top: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    &.medium {
      font-size: 16px;
    }
    &.small {
      font-size: 14px;
    }
  }
}

.small.lds-spinner div {
  transform-origin: 29px 9px;
  &:after {
    width: 1px;
    height: 4px;
  }
}
.medium.lds-spinner div {
  transform-origin: 30px 20px;
  &:after {
    width: 2px;
    height: 8px;
  }
}

.lds-spinner {
  margin: auto;
  width: 64px;
  height: 64px;
  &.medium {
    width: 60px;
    height: 40px;
  }
  &.small {
    width: 60px;
    height: 20px;
  }
  div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
    &:after {
      content: ' ';
      display: block;
      position: absolute;
      top: 3px;
      left: 29px;
      width: 5px;
      height: 14px;
      border-radius: 20%;
      background: #fff;
    }
    &:nth-child(1) {
      transform: rotate(0deg);
      animation-delay: -1.1s;
    }
    &:nth-child(2) {
      transform: rotate(30deg);
      animation-delay: -1s;
    }
    &:nth-child(3) {
      transform: rotate(60deg);
      animation-delay: -0.9s;
    }
    &:nth-child(4) {
      transform: rotate(90deg);
      animation-delay: -0.8s;
    }
    &:nth-child(5) {
      transform: rotate(120deg);
      animation-delay: -0.7s;
    }
    &:nth-child(6) {
      transform: rotate(150deg);
      animation-delay: -0.6s;
    }
    &:nth-child(7) {
      transform: rotate(180deg);
      animation-delay: -0.5s;
    }
    &:nth-child(8) {
      transform: rotate(210deg);
      animation-delay: -0.4s;
    }
    &:nth-child(9) {
      transform: rotate(240deg);
      animation-delay: -0.3s;
    }
    &:nth-child(10) {
      transform: rotate(270deg);
      animation-delay: -0.2s;
    }
    &:nth-child(11) {
      transform: rotate(300deg);
      animation-delay: -0.1s;
    }
    &:nth-child(12) {
      transform: rotate(330deg);
      animation-delay: 0s;
    }
  }
}
