<div class="content-outer">
  <div class="content-inner {{ size }}">
    <div class="lds-spinner {{ size }}">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="message" *ngIf="message">{{ message }}</div>
  </div>
</div>
