<tce-flyout
  class="changePin-container"
  [ngClass]="[
    !_type ? 'userRightSide' : 'userLeftSide',
    currentMode === 'planning' ? 'planningMode' : ''
  ]"
>
  <tce-loading-layover
    [message]="ChangePinMessage"
    *ngIf="activeChangePinMessage"
  ></tce-loading-layover>
  <div class="changePinHeader">
    <label class="changePinHeader-title">Change PIN </label>
    <div class="changePin-description">
      Create a PIN to use in place of passwords for faster sign in.
    </div>
  </div>
  <div class="changePinBody">
    <form [formGroup]="changePin" (ngSubmit)="submitChangePin()">
      <div class="formHeight">
        <div>
          <label for="currentPin">Current PIN</label>
          <div class="form-group">
            <input
              formControlName="currentPinOtp1"
              id="currentPinOtp1"
              type="password"
              #currentPinOtp1
              minlength="1"
              maxlength="1"
              [pattern]="pattern"
              (keypress)="numberOnly($event)"
              (keyup)="updateFieldValue('currentPinOtp1', currentPinOtp1.value)"
              (focus)="setKeyboardFocus($event)"
              class="form-control"
              [ngClass]="
                f.currentPinOtp1.touched && f.currentPinOtp1.invalid
                  ? 'errorActive'
                  : ''
              "
            />
            <input
              formControlName="currentPinOtp2"
              id="currentPinOtp2"
              type="password"
              #currentPinOtp2
              minlength="1"
              maxlength="1"
              [pattern]="pattern"
              (keypress)="numberOnly($event)"
              (keyup)="updateFieldValue('currentPinOtp2', currentPinOtp2.value)"
              (focus)="setKeyboardFocus($event)"
              class="form-control"
              [ngClass]="
                f.currentPinOtp2.touched && f.currentPinOtp2.invalid
                  ? 'errorActive'
                  : ''
              "
            />
            <input
              formControlName="currentPinOtp3"
              id="currentPinOtp3"
              type="password"
              #currentPinOtp3
              minlength="1"
              maxlength="1"
              [pattern]="pattern"
              (keypress)="numberOnly($event)"
              (keyup)="updateFieldValue('currentPinOtp3', currentPinOtp3.value)"
              (focus)="setKeyboardFocus($event)"
              class="form-control"
              [ngClass]="
                f.currentPinOtp3.touched && f.currentPinOtp3.invalid
                  ? 'errorActive'
                  : ''
              "
            />
            <input
              formControlName="currentPinOtp4"
              id="currentPinOtp4"
              type="password"
              #currentPinOtp4
              minlength="1"
              maxlength="1"
              [pattern]="pattern"
              (keypress)="numberOnly($event)"
              (keyup)="updateFieldValue('currentPinOtp4', currentPinOtp4.value)"
              (focus)="setKeyboardFocus($event)"
              class="form-control"
              [ngClass]="
                f.currentPinOtp4.touched && f.currentPinOtp4.invalid
                  ? 'errorActive'
                  : ''
              "
            />
            <input
              formControlName="currentPinOtp5"
              id="currentPinOtp5"
              type="password"
              #currentPinOtp5
              minlength="1"
              maxlength="1"
              [pattern]="pattern"
              (keypress)="numberOnly($event)"
              (keyup)="updateFieldValue('currentPinOtp5', currentPinOtp5.value)"
              (focus)="setKeyboardFocus($event)"
              class="form-control"
              [ngClass]="
                f.currentPinOtp5.touched && f.currentPinOtp5.invalid
                  ? 'errorActive'
                  : ''
              "
            />
          </div>
          <div
            *ngIf="
              (f.currentPinOtp1.touched && f.currentPinOtp1?.invalid) ||
              (f.currentPinOtp2.touched && f.currentPinOtp2?.invalid) ||
              (f.currentPinOtp3.touched && f.currentPinOtp3?.invalid) ||
              (f.currentPinOtp4.touched && f.currentPinOtp4?.invalid) ||
              (f.currentPinOtp5.touched && f.currentPinOtp5?.invalid)
            "
            class="alert alert-danger"
          >
            <div
              *ngIf="
                f.currentPinOtp1.errors?.required ||
                f.currentPinOtp2.errors?.required ||
                f.currentPinOtp3.errors?.required ||
                f.currentPinOtp4.errors?.required ||
                f.currentPinOtp5.errors?.required
              "
            >
              Current PIN is required.
            </div>
          </div>
        </div>
        <div>
          <label for="newPin">New PIN</label>
          <div class="form-group">
            <input
              formControlName="newPinOtp1"
              id="newPinOtp1"
              type="text"
              #newPinOtp1
              minlength="1"
              maxlength="1"
              [pattern]="pattern"
              (keypress)="numberOnly($event)"
              (keyup)="updateFieldValue('newPinOtp1', newPinOtp1.value)"
              (focus)="setKeyboardFocus($event)"
              class="form-control"
              [ngClass]="
                f.newPinOtp1.touched && f.newPinOtp1.invalid
                  ? 'errorActive'
                  : ''
              "
            />
            <input
              formControlName="newPinOtp2"
              id="newPinOtp2"
              type="text"
              #newPinOtp2
              minlength="1"
              maxlength="1"
              [pattern]="pattern"
              (keypress)="numberOnly($event)"
              (keyup)="updateFieldValue('newPinOtp2', newPinOtp2.value)"
              (focus)="setKeyboardFocus($event)"
              class="form-control"
              [ngClass]="
                f.newPinOtp2.touched && f.newPinOtp2.invalid
                  ? 'errorActive'
                  : ''
              "
            />
            <input
              formControlName="newPinOtp3"
              id="newPinOtp3"
              type="text"
              #newPinOtp3
              minlength="1"
              maxlength="1"
              [pattern]="pattern"
              (keypress)="numberOnly($event)"
              (keyup)="updateFieldValue('newPinOtp3', newPinOtp3.value)"
              (focus)="setKeyboardFocus($event)"
              class="form-control"
              [ngClass]="
                f.newPinOtp3.touched && f.newPinOtp3.invalid
                  ? 'errorActive'
                  : ''
              "
            />
            <input
              formControlName="newPinOtp4"
              id="newPinOtp4"
              type="text"
              #newPinOtp4
              minlength="1"
              maxlength="1"
              [pattern]="pattern"
              (keypress)="numberOnly($event)"
              (keyup)="updateFieldValue('newPinOtp4', newPinOtp4.value)"
              (focus)="setKeyboardFocus($event)"
              class="form-control"
              [ngClass]="
                f.newPinOtp4.touched && f.newPinOtp4.invalid
                  ? 'errorActive'
                  : ''
              "
            />
            <input
              formControlName="newPinOtp5"
              id="newPinOtp5"
              type="text"
              #newPinOtp5
              minlength="1"
              maxlength="1"
              [pattern]="pattern"
              (keypress)="numberOnly($event)"
              (keyup)="updateFieldValue('newPinOtp5', newPinOtp5.value)"
              (focus)="setKeyboardFocus($event)"
              class="form-control"
              [ngClass]="
                f.newPinOtp5.touched && f.newPinOtp5.invalid
                  ? 'errorActive'
                  : ''
              "
            />
          </div>
          <div
            *ngIf="
              (f.newPinOtp1.touched && f.newPinOtp1.invalid) ||
              (f.newPinOtp2.touched && f.newPinOtp2.invalid) ||
              (f.newPinOtp3.touched && f.newPinOtp3.invalid) ||
              (f.newPinOtp4.touched && f.newPinOtp4.invalid) ||
              (f.newPinOtp5.touched && f.newPinOtp5.invalid)
            "
            class="alert alert-danger"
          >
            <div
              *ngIf="
                f.newPinOtp1.errors?.required ||
                f.newPinOtp2.errors?.required ||
                f.newPinOtp3.errors?.required ||
                f.newPinOtp4.errors?.required ||
                f.newPinOtp5.errors?.required
              "
            >
              New PIN is required.
            </div>
          </div>
          <div
            class="changePinWarning disableButton"
            (click)="autoGeneratePIN()"
          >
            Auto-Generate PIN
          </div>
        </div>
        <div>
          <label for="repeatNewPin">Repeat New PIN</label>
          <div class="form-group">
            <input
              formControlName="repeatNewPinOtp1"
              id="repeatNewPinOtp1"
              type="text"
              #repeatNewPinOtp1
              minlength="1"
              maxlength="1"
              [pattern]="pattern"
              (keypress)="numberOnly($event)"
              (keyup)="
                updateFieldValue('repeatNewPinOtp1', repeatNewPinOtp1.value)
              "
              (focus)="setKeyboardFocus($event)"
              class="form-control"
              [ngClass]="
                f.repeatNewPinOtp1.touched && f.repeatNewPinOtp1.invalid
                  ? 'errorActive'
                  : ''
              "
            />
            <input
              formControlName="repeatNewPinOtp2"
              id="repeatNewPinOtp2"
              type="text"
              #repeatNewPinOtp2
              minlength="1"
              maxlength="1"
              [pattern]="pattern"
              (keypress)="numberOnly($event)"
              (keyup)="
                updateFieldValue('repeatNewPinOtp2', repeatNewPinOtp2.value)
              "
              (focus)="setKeyboardFocus($event)"
              class="form-control"
              [ngClass]="
                f.repeatNewPinOtp2.touched && f.repeatNewPinOtp2.invalid
                  ? 'errorActive'
                  : ''
              "
            />
            <input
              formControlName="repeatNewPinOtp3"
              id="repeatNewPinOtp3"
              type="text"
              #repeatNewPinOtp3
              minlength="1"
              maxlength="1"
              [pattern]="pattern"
              (keypress)="numberOnly($event)"
              (keyup)="
                updateFieldValue('repeatNewPinOtp3', repeatNewPinOtp3.value)
              "
              (focus)="setKeyboardFocus($event)"
              class="form-control"
              [ngClass]="
                f.repeatNewPinOtp3.touched && f.repeatNewPinOtp3.invalid
                  ? 'errorActive'
                  : ''
              "
            />
            <input
              formControlName="repeatNewPinOtp4"
              id="repeatNewPinOtp4"
              type="text"
              #repeatNewPinOtp4
              minlength="1"
              maxlength="1"
              [pattern]="pattern"
              (keyup)="
                updateFieldValue('repeatNewPinOtp4', repeatNewPinOtp4.value)
              "
              (focus)="setKeyboardFocus($event)"
              class="form-control"
              [ngClass]="
                f.repeatNewPinOtp4.touched && f.repeatNewPinOtp4.invalid
                  ? 'errorActive'
                  : ''
              "
            />
            <input
              formControlName="repeatNewPinOtp5"
              id="repeatNewPinOtp5"
              type="text"
              #repeatNewPinOtp5
              minlength="1"
              maxlength="1"
              [pattern]="pattern"
              (keypress)="numberOnly($event)"
              (keyup)="
                updateFieldValue('repeatNewPinOtp5', repeatNewPinOtp5.value)
              "
              (focus)="setKeyboardFocus($event)"
              class="form-control"
              [ngClass]="
                f.repeatNewPinOtp5.touched && f.repeatNewPinOtp5.invalid
                  ? 'errorActive'
                  : ''
              "
            />
          </div>
          <div
            *ngIf="
              (f.repeatNewPinOtp1.touched && f.repeatNewPinOtp1.invalid) ||
              (f.repeatNewPinOtp2.touched && f.repeatNewPinOtp2.invalid) ||
              (f.repeatNewPinOtp3.touched && f.repeatNewPinOtp3.invalid) ||
              (f.repeatNewPinOtp4.touched && f.repeatNewPinOtp4.invalid) ||
              (f.repeatNewPinOtp5.touched && f.repeatNewPinOtp5.invalid)
            "
            class="alert alert-danger"
          >
            <div
              *ngIf="
                f.repeatNewPinOtp1.errors?.required ||
                f.repeatNewPinOtp2.errors?.required ||
                f.repeatNewPinOtp3.errors?.required ||
                f.repeatNewPinOtp4.errors?.required ||
                f.repeatNewPinOtp5.errors?.required
              "
            >
              Repeat New PIN is required.
            </div>
            <div
              *ngIf="
                f.repeatNewPinOtp1.errors?.confirmedValidator ||
                f.repeatNewPinOtp2.errors?.confirmedValidator ||
                f.repeatNewPinOtp3.errors?.confirmedValidator ||
                f.repeatNewPinOtp4.errors?.confirmedValidator ||
                f.repeatNewPinOtp5.errors?.confirmedValidator
              "
            >
              Repeat PIN field doesn’t match with new PIN.
            </div>
          </div>
        </div>
      </div>
      <div class="changePinFooter">
        <div class="footerLine"></div>
        <div class="formButton">
          <button class="btn" type="button" (click)="cancelChangePin()">
            Cancel
          </button>
          <button
            class="btn"
            type="submit"
            [disabled]="!changePin.valid"
            [ngClass]="!changePin.valid ? 'disableButton' : 'enableButton'"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</tce-flyout>
