.changePin-container {
  height: 450px;
  width: 400px;
  top: var(--maincontainerTop);
  font-weight: 600;
  position: absolute;
  border: 1px solid #303439;
  border-radius: 5.5px;
  background-color: #22262a;
  box-shadow: 0 30px 100px 0 rgba(0, 0, 0, 0.5),
    0 20px 25px 0 rgba(0, 0, 0, 0.5);
  &::before {
    //display: none;
    left: var(--maincontainerposition);
    transform: var(--maincontainerRotation);
    top: var(--arrowtop);
    border-width: 10px;
  }
  &::after {
    //display: none;
    left: var(--maincontainerposition);
    transform: var(--maincontainerRotation);
    top: var(--arrowtop);
  }
}

.userRightSide {
  right: 80px;
}
.userLeftSide {
  left: 80px;
}
.changePinHeader {
  background-color: #1a1c20;
  box-shadow: inset 0 -1px 0 0 #303439;
  color: #ffffff;
  font-family: Quicksand;
  letter-spacing: 0;
  line-height: 18px;
  padding: 10px;
}
.changePinHeader-title {
  font-size: 15px;
  text-align: center;
}

.changePin-description {
  opacity: 0.5;
  font-size: 13px;
}

.changePinBody {
  padding: 10px;

  label {
    opacity: 0.5;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 18px;
  }
}

.formHeight {
  height: 320px;
  overflow: scroll;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 18px;
}

.form-group {
  //margin-bottom: 15px;
  display: flex;
  margin-top: -10px;
}

.form-control {
  display: block;
  width: 12%;
  padding: 6px 12px;
  font-size: 15px;
  line-height: 19px;
  color: #ffffff;
  background-image: none;
  box-sizing: border-box;
  height: 40px;
  border: 1px solid #303439;
  border-radius: 5px;
  background-color: #16181c;
  margin: 9px;
  text-align: center;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.alert-danger {
  border: 1px solid transparent;
  border-radius: 0 0 4px 4px;
  background-color: #e45a5a;
}
.alert {
  padding: 5px;
  color: #ffffff;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
  margin: -11px 70px 0 9px;
}

.errorActive {
  border: 1px solid #e45a5a;
}

.changePinFooter {
  padding-top: 10px;
}

.changePinWarning {
  color: #ffffff;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 15px;
  opacity: 0.4;
  cursor: pointer;
}
.footerLine {
  border-top: 1px solid #303439;
}

.formButton {
  padding-top: 10px;
  float: right;
  color: #ffffff;
  font-family: Quicksand;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
}
.disableButton {
  opacity: 0.5;
}

.enableButton {
  color: var(--link);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.planningMode {
  top: 75px;
  right: 5px;
  z-index: 1040;
  position: fixed;
  &::before {
    left: 50vh;
    top: -21px;
    transform: rotate(180deg);
  }
  &::after {
    left: 50vh;
    top: -21px;
    transform: rotate(180deg);
  }
}
