:host {
  height: 100%;
  width: 100%;
  position: absolute;
  background: transparent;
  z-index: 301;
}

.iframeContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  background: transparent;
  padding: 2%;
}

.closeButton {
  background: pink;
  position: absolute;
  cursor: pointer;
  border: 1px solid;
  padding: 10px;
  border-radius: 5px;
  right: 20px;
  top: 20px;
}
