<div>
  <div class="iframeContainer">
    <iframe
      [src]="url"
      height="100%"
      width="100%"
      style="height: 100%;"
    ></iframe>
  </div>
  <div (click)="closeAdmin()" class="closeButton">
    close
  </div>
</div>
