
.active{
    color: #595288;
    text-decoration: underline;
    text-underline-position: under;
}

.reportFrame{
    position: absolute;
    width: 100%;
    background:red;
    height: 500px;
}
iFrame{
    height:100% !important;
}