

<div class="page-menu-container">
    <div [class.active]="item.active" *ngFor="let item of menu" (click)="onMenuClick(item)" > 
        {{item.name}}
    </div>
</div>


<div class='reportFrame' *ngIf="activeMenu.section==='principal-dashboard'">
    <iframe src="/assets/ce-static/html/schoolreport/schoolconsolereport.html" height="100%" width="100%" title="Iframe Example"></iframe>
</div>

<div class='reportFrame' *ngIf="activeMenu.section==='school-usage'" >
    <iframe src="/assets/ce-static/html/schoolreport/schoolreport.html" height="100%" width="100%"></iframe>   
</div>
