.toggler {
  display: flex;
  align-items: center;
  cursor: pointer;

  .mylabel {
    color: var(--tool-text-color-primary);
    flex: 1;
    text-align: left;
    display: inline-block;
    margin-right: 10px;
  }
}

input[type='checkbox'] {
  position: absolute;
  opacity: 0;
}

input[type='checkbox'].ios-switch + div {
  width: 42px;
  height: 24px;
  border: 1px solid var(--tool-text-color-primary);
  border-radius: 14px;
  background-color: transparent;
  transition-duration: 0.4s;
  transition-property: background-color, box-shadow;
  box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 0.4);
  margin: 0;
  position: relative;
}

input[type='checkbox'].ios-switch:checked + div {
  width: 42px;
  background-position: 0 0;
  background: linear-gradient(180deg, #6d71ff 0%, #248ef6 100%);
  border: 1px solid transparent;
}

input[type='checkbox'].ios-switch + div > div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: inherit;
  background: #ffffff;
  transition-timing-function: cubic-bezier(0.54, 1.85, 0.5, 1);
  transition-duration: 0.4s;
  transition-property: transform, background-color, box-shadow;
  margin: auto 4px;
  top: 0;
  bottom: 0;
  border: 1px solid var(--tool-text-color-primary);
}

input[type='checkbox'].ios-switch:checked + div > div {
  transform: translate3d(20px, 0, 0);
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172, 1);
  margin: auto 0px;
  border: 1px solid transparent;
}
