:host {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;

  background: #1a1c20;
  opacity: 0.95;
  align-items: center;
  justify-content: center;
  display: flex;
  pointer-events: auto;
}

.mediasubcontainer {
  text-align: center;
  width: 100%;
  height: auto;
  /* padding-right: 36px;
    padding-left: 83px; */
}
.mediaimg {
  height: 160px;
  width: 100%;
}
.playertitle {
  color: white;
  padding: 5px 0 5px 0px;
  font-weight: 600;
}
.mt-10 {
  margin-top: 10px;
}
.cp {
  cursor: pointer;
}
.viewclass {
  background-size: contain;
  height: 200px;
}

.playbackimg {
  background: url('/assets/images/replay.png') no-repeat center;
  background-size: contain;
  height: 150px;
  margin-top: 24px;
}
