<div class="row mediasubcontainer">
  <div class="col-4">
    <div *ngIf="preview" class="cp" (click)="playRelatedMedia(preview, $event)">
      <div
        class="viewclass"
        [ngStyle]="{
          'background-size': '400px 200px',
          'background-repeat': 'no-repeat',
          'border-radius': '3%',
          'background-image':
            'url(' + getResourceThumbnailIcon(preview, 'thumbnail') + ')'
        }"
      >
        <div
          [ngStyle]="{
            'border-radius': '3%',
            height: '100%',
            'background-size': '400px 200px',
            'background-image':
              'linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.55)), url(' +
              getResourceThumbnail(preview.thumbnailParams) +
              ')',
            'background-repeat': 'no-repeat'
          }"
        ></div>
      </div>
      <p class="playertitle mt-10">{{ preview?.title }}</p>
    </div>
  </div>
  <div class="col-4">
    <div (click)="replay()" class="cp">
      <div>
        <div class="playbackimg"></div>
      </div>
      <p class="playertitle" style="font-size: 12px;">Replay Video</p>
    </div>
  </div>
  <div class="col-4">
    <div
      *ngIf="nextview"
      class="cp"
      (click)="playRelatedMedia(nextview, $event)"
    >
      <div
        class="viewclass"
        [ngStyle]="{
          'background-image':
            'url(' + getResourceThumbnailIcon(nextview, 'thumbnail') + ')',
          'border-radius': '3%',
          'background-size': '400px 200px',
          'background-repeat': 'no-repeat'
        }"
      >
        <div
          [ngStyle]="{
            'border-radius': '3%',
            height: '100%',
            'background-size': '400px 200px',
            'background-image':
              'linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.55)), url(' +
              getResourceThumbnail(nextview.thumbnailParams) +
              ')',
            'background-repeat': 'no-repeat'
          }"
        ></div>
      </div>
      <p class="playertitle mt-10">{{ nextview?.title }}</p>
    </div>
  </div>
</div>
