.content-playList-addResourceList-optionContaint {
  position: fixed;
  width: 400px;
  height: 570px;
  top: var(--top);
  //right:20px;
  right: var(--right);
  font-weight: 600;
  z-index: 302;
  &::before {
    left: calc(91% - 1px);
    border-width: 17px;
    display: var(--display);
  }
  &::after {
    left: 91%;
    border-width: 15px;
    display: var(--display);
  }
  .title-label {
    // opacity: 0.5;
    color: #ffffff;
    font-family: Quicksand;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
  }
  input:-internal-autofill-selected {
    background-color: #16181c !important;
  }
  .title-label-p {
    opacity: 0.5;
    color: #ffffff;
    font-family: Quicksand;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
  }
  .shape {
    height: 20px;
    width: 18px;
    background: linear-gradient(180deg, #6d71ff 0%, #248ef6 100%);
  }
  .title-containt {
    color: #ffffff;
    font-family: Quicksand;
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    cursor: pointer;
  }
  .sperator {
    height: 1px;
    width: 100%;
    position: absolute;
    right: 0;
    background-color: #303439;
  }
  .icon-guide {
    height: 24px;
    width: 24px;
    background: linear-gradient(180deg, #6d71ff 0%, #248ef6 100%);
    border-radius: 50%;
  }
  .form-group {
    margin-bottom: 15px;
  }
  label {
    opacity: 0.5;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
  }

  .form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 19px;
    color: #ffffff;
    background-image: none;
    box-sizing: border-box;
    height: 50px;
    border: 1px solid #303439;
    border-radius: 5px;
    background-color: #16181c;
  }
  button,
  input,
  select,
  textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  .alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
  .alert {
    font-size: 12px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .formContainer {
    padding: 15px;
    border: 2px solid #303439;
    background-color: #1a1c20;
    box-shadow: inset 0 -1px 0 0 #303439;
  }

  select.ng-invalid.ng-touched,
  input.ng-invalid.ng-touched {
    border: 2px solid red;
  }
  .textp {
    font-size: 10px;
    opacity: 0.5;
    text-align: justify;
    padding-bottom: 15px;
  }
}

.content-playList-addResourceList-subjectGrade {
  position: absolute;
  width: var(--add-resource-width);
  height: var(--add-resource-height);
  right: var(--add-resource-right);
  font-weight: 600;
  top: var(--add-resource-top);
  &::before {
    left: var(--add-resource-beforAfter-left);
    border-width: 17px;
    top: var(--add-resource-beforAfter-top);
    transform: var(--add-resource-beforAfter-transform);
  }
  &::after {
    left: var(--add-resource-beforAfter-left);
    border-width: 17px;
    top: var(--add-resource-beforAfter-top);
    transform: var(--add-resource-beforAfter-transform);
  }
}
.content-playList-addResourceList-gradeSubject {
  position: absolute;
  width: var(--add-resource-width);
  height: var(--add-resource-height1);
  right: var(--add-resource-right);
  font-weight: 600;
  top: var(--add-resource-top1);
  &::before {
    left: var(--add-resource-beforAfter-left);
    border-width: 17px;
    top: var(--add-resource-beforAfter-top1);
    transform: var(--add-resource-beforAfter-transform);
  }
  &::after {
    left: var(--add-resource-beforAfter-left);
    border-width: 17px;
    top: var(--add-resource-beforAfter-top1);
    transform: var(--add-resource-beforAfter-transform);
  }
}

.sharecheckstatus {
  pointer-events: none;
  opacity: 0.7;
}
