<tce-flyout
  class="content-playList-addResourceList-optionContaint"
  [@slideInOut]="animationFlag"
>
  <tce-loading-layover
    [message]="resourceMessage"
    *ngIf="activeResourceMessage"
  ></tce-loading-layover>
  <div class="row" style="margin: 10px 0;">
    <div class="col-10 title-label" *ngIf="formStatus === 'resource-filter'">
      Add Resource
    </div>
    <div class="col-10 title-label" *ngIf="formStatus !== 'resource-filter'">
      Update Resource
    </div>
    <!-- <div
        class="col-2"
        style="cursor: pointer;"
        (click)="
          showOpengradeSubject = false;
          showOpenChapterTopic = false;
          this.clickCreateResource = !this.clickCreateResource;
          this.showCreateOption = !this.showCreateOption;
          this.addResourceOptionsForm.controls.getFile.setValue('');
          this.addResourceOptionsForm.controls.title.setValue('');
          closeKeyboard()
        "
      >
        <svg-icon
          style="float: right;"
          src="assets/images/ic.Close.svg"
        ></svg-icon>
      </div> -->
  </div>
  <div class="row" style="margin: 10px 0;">
    <div class="col-12 title-label-p">
      Create an extention of an existing resources
    </div>
  </div>
  <div class="col-12">
    <div class="row" style="margin: 10px 0;">
      <form
        [formGroup]="addResourceOptionsForm"
        #formDir="ngForm"
        style="width: 100%;"
      >
        <div>
          <div class="formContainer">
            <div class="form-group">
              <label for="title"
                >Title
                <span
                  *ngIf="
                    addResourceOptionsForm.controls.title.touched &&
                    addResourceOptionsForm.controls.title.errors?.required
                  "
                  style="color:red"
                >
                  : Title required
                </span>
              </label>
              <input
                id="title"
                class="form-control"
                formControlName="title"
                #title
                (keyup)="updateFieldValue('title', title.value)"
                (focus)="setKeyboardFocus($event)"
                required
                (click)="
                  showOpengradeSubject = false; showOpenChapterTopic = false
                "
              />
            </div>
            <div
              class="form-group"
              (click)="
              openGradeSubject('grade');
                closeKeyboard()
              "
            >
              <label for="gradeSubject">Grade & Subject</label>
              <input
                id="gradeSubject"
                class="form-control"
                formControlName="gradeSubject"
                required
                [attr.disabled]="true"
              />
            </div>
            <tce-flyout
              class="content-playList-addResourceList-subjectGrade"
              *ngIf="showOpengradeSubject"
              [@slideInOutX]="animationFlag"
            >
              <tce-common-grade-subject-selectore
                [allGrade]="availableGrades"
                [allSubject]="availableSubjects"
                [selectGrade]="selectedGradeLevel"
                [selectSubject]="selectedSubject"
                (valueChangeGradeSubject)="displayvalueGradeSubject($event)"
                [currentType]="'teaching'"
              ></tce-common-grade-subject-selectore>
            </tce-flyout>
            <div
            (click)="openGradeSubject('chapter');closeKeyboard()"
              class="form-group"
              
            >
              <label for="chapterTopic">Chapter & Topic</label>
              <input
                id="chapterTopic"
                class="form-control"
                formControlName="chapterTopic"
                required
                [attr.disabled]="true"
                

              />
            </div>
            <tce-flyout
              class="content-playList-addResourceList-gradeSubject"
              *ngIf="showOpenChapterTopic"
              [@slideInOutX]="animationFlag"
            >
              <tce-common-chapter-topic-selectore
                [allChapters]="availableChapters"
                [allTopics]="availableTopics"
                [selectChapter]="selectedChapter"
                [selectTopic]="selectedTopic"
                (valueChangeChapterTopic)="displayvalueChapterTopic($event)"
              ></tce-common-chapter-topic-selectore>
            </tce-flyout>
            <div class="form-group">
              <label for=""
                >File
                <span *ngIf="formStatus === 'resource-playlist' || formStatus === 'resource-playlist-CL'"
                  >: {{ customFileName }}
                  <button (click)="editFile()">edit</button></span
                >
                <span
                  *ngIf="
                    addResourceOptionsForm.errors?.inValidExt &&
                    addResourceOptionsForm.controls.getFile.value
                  "
                  style="color:red"
                >
                  : Invalid file extension
                </span>
                <span
                  *ngIf="
                    addResourceOptionsForm.controls.getFile.touched &&
                    addResourceOptionsForm.errors?.inValidExt &&
                    !addResourceOptionsForm.controls.getFile.value
                  "
                  style="color:red"
                >
                  : file required
                </span>
              </label>
              <input
                *ngIf="!clicktoRenameFile"
                type="file"
                [accept]="fileType"
                maxFileSize="converMBtoByte"
                id="getFile"
                class="form-control"
                formControlName="getFile"
                (focus)="
                  showOpengradeSubject = false;
                  showOpenChapterTopic = false;
                  closeKeyboard()
                "
                (change)="upload($event.target.files)"
                [ngStyle]="{
                  border:
                    addResourceOptionsForm.controls.getFile.touched &&
                    addResourceOptionsForm.errors?.inValidExt
                      ? '1px solid red'
                      : ''
                }"
              />
            </div>
          </div>
          <div style="margin: 10px 0;">
            <span class="textp">
              {{ warningMessage }}
            </span>
          </div>
          <div>
            <div
              style="float: left;"
              [attr.disabled]="!shareCheckStatus"
              [ngClass]="!shareCheckStatus ? 'sharecheckstatus' : ''"
            >
              <tce-slide-button
                (toggle)="toggleshare($event)"
                [labelname]="'Share'"
                [toggleBtnChecked]="sharedCheck"
              >
              </tce-slide-button>
            </div>
            <div style="float: right;cursor: pointer;">
              <button
                type="button"
                class="btn btn-default butn"
                id="cancelCreateUpdateResource"
                (click)="closeAddResourceForm(); closeKeyboard()"
                style="font-weight: 600;opacity: 0.7;"
              >
                Cancel
              </button>
              <button
                *ngIf="formStatus === 'resource-filter'"
                type="button"
                class="btn btn-default butn"
                id="createResource"
                (click)="onSubmit()"
                [ngClass]="
                  addResourceOptionsForm.invalid ? 'sharecheckstatus' : ''
                "
                [disabled]="addResourceOptionsForm.invalid"
                style="font-weight: 600;"
              >
                Add
              </button>
              <button
                *ngIf="formStatus !== 'resource-filter'"
                type="button"
                class="btn btn-default butn"
                id="updateResource"
                (click)="updateResource()"
                [ngClass]="
                  addResourceOptionsForm.invalid ? 'sharecheckstatus' : ''
                "
                [disabled]="addResourceOptionsForm.invalid"
                style="font-weight: 600;"
              >
                Update
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</tce-flyout>
