<div class="row subjectListRow">
  <div class="col-1">
    <!-- <span [ngClass]="!item.children ? 'doc' : item.isOpen ? 'open' : 'close'"></span> -->
    <span class="openAddChapter">
      <span class="topicDot"></span>
    </span>
    <span class="subjectArrow"></span>
  </div>
  <div class="col-11">
    <div
      class="row title-container title-container-margin"
      [ngClass]="[
        _type.type === 'chapter' ? 'chapterWidth' : '',
        _type.type === 'topic' ? 'topicWidth' : ''
      ]"
    >
      <div class="col-1 customSvgTemp"></div>
      <div class="col-11">
        <form [formGroup]="chapterTopicForm" (ngSubmit)="submitName()">
          <div class="form-group">
            <label for="name">{{ _type.type }}</label>
            <input
              class="form-control"
              #name
              formControlName="name"
              placeholder="name"
              (keyup)="updateFieldValue('name', name.value)"
              type="text"
            />
          </div>
          <div
            *ngIf="f.name.touched && f.name.invalid"
            class="alert alert-danger"
          >
            <div *ngIf="f.name.errors.required">
              name is required.
            </div>
           
           
          </div>
          <div
          *ngIf="f.name.errors !== null && f.name.errors.incorrect"
            class="alert alert-danger"
          >
          <div >
            {{invalidFormat}}
            </div>
        </div>
          
          <div class="buttonFloat">
            <button class="btn btnWidth" type="button" (click)="cancel()">
              Cancel
            </button>
            <button
              class="btn btnWidth"
              type="submit"
              [disabled]="!chapterTopicForm.valid"
              [ngClass]="
                !chapterTopicForm.valid ? 'disableButton' : 'enableButton'
              "
            >
              Add {{ _type.type }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
