.form-group {
  margin-bottom: 5px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 15px;
  line-height: 19px;
  color: black;
  background-image: none;
  box-sizing: border-box;
  height: 40px;
  border: none;
  border-bottom: 1px solid #D8D8D8;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #000000;
}
.alert-danger {
  border: 1px solid transparent;
  border-radius: 0 0 4px 4px;
  background-color: #e45a5a;
}
.alert {
  padding: 4px;
  color: #000000;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -20px;
}

.errorActive {
  border: 1px solid #e45a5a;
}

.disableButton {
  opacity: 0.5;
  color: #000000;
}
.enableButton {
  color: var(--link);
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
}

.openAddChapter {
  height: 34px;
  width: 34px;
  background-color: #ffffff;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1),
    0 1px 3px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
  position: absolute;
  margin-top: 8px;
  border-radius: 50%;
}

.customSvgTemp {
  background-color: #d6d6d6;
  height: 48px;
  width: 25px;
  border-radius: 5px;
}

.title-container {
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1),
    0 1px 3px 0 rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.title-container-margin {
  margin: 0;
  margin-top: 10px;
}

.chapterWidth {
  width: 55%;
  width: 359px;
  cursor: pointer;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  min-width: 359px;
  flex-wrap: nowrap;
  position: relative;
}
.buttonFloat {
  float: right;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
  text-align: right;
}

.btnWidth {
  font-weight: 600;
}

.subjectArrow {
  position: absolute;
  border: 1px solid #d2cdcd;
  width: 84px;
  top: 24px;
}

.topicWidth {
  // width: 65%;
  max-width: 604px;
}



.subjectListRow{
  margin: 0;
  > [class^="col-"]{
    padding: 0;
  }
  .col-1 {
    flex: 0 0 50px;
  }
}

.topicDot{
  height: 10px;
  width: 10px;
  background-color: black;
  margin: 12px;
  border-radius: 50%;
  display: inline-block;
}