.container {
  overflow: auto;
  padding: 0 20px;
}

.rowContainer {
  padding: 10px 0;
  border-bottom: 1px solid #3d4852;

  &:hover {
    cursor: pointer;
    background-color: #303439;
  }
}

.header {
  font-size: 14px;
  padding: 5px 20px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.content {
  color: #ffffff;
  padding: 10px 10px 5px 0;
  font-size: 14px;
}
