.player-widgets {
    // opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // border: 1px solid #fff;
    z-index: 149;
    background: transparent;
    .widget-move {
      position: absolute;
      padding: 2px 4px;
      color: #fafafa;
      right: 50px;
      height: 50px;
      width: 50px;
      background: #0e0606;
      border-radius: 25px;
      line-height: 40px;
      text-align: center;
      cursor: grab;
      user-select: none;
      display: none;
    }
    .widget-close {
      user-select: none;
      position: absolute;
    padding: 2px 4px;
    color: #fafafa;
    right: 0px;
    height: 50px;
    width: 50px;
    background: #0e0606;
    border-radius: 25px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    display: none;
    }
    .btn {
      float: right;
      background: #fff;
      color: #000;
      padding: 0 5px;
      margin: 5px;
    }
    ::ng-deep {
      .widget {
        background: transparent;
        display: block;
        
      }
    }
  }
  .disabledWidget{
    pointer-events:none;
  }
  .enableWidget{
    pointer-events:auto;
  }