<div #player id="player-widgets" class="player-widgets"
[ngClass]="
        isPanning == true ? 'disabledWidget' : 'enableWidget'
      "
>
    <div #move id="wplayerMoveBtn" class="widget-move">+</div>
    <div (click)="closePlayer()" id="widgetCloseBtn" class="widget-close">x</div>
    <ng-container class="widget" #widgetRef></ng-container>
    <!-- <button class="btn" (click)="sendDataOfWb()">Send WB</button>
    <button class="btn" (click)="clearDataOfWb()">Clear WB</button> -->
  </div>
  