<tce-loading-layover
  *ngIf="isLoading"
  message="Loading Player"
></tce-loading-layover>
<tce-error-layover
  *ngIf="errorMessage"
  [message]="errorMessage"
></tce-error-layover>
<div
  id="parentId"
  [ngClass]="isPlayerDrawerVisible ? 'drawerTceStyle' : 'nodrawerTceStyle'"
  class="allPlayers tce_mainPanel"
>
  <tce-annotation
    [stageId]="'video-' + resource.resourceId"
    [canvasContext]="resourceType.TCEVIDEO"
  ></tce-annotation>
  <div #mediaOverlayOutlet></div>
  <div
    class="test_switch"
    #tcePlayerOutlet
    [id]="'tcePlayer' + resource.resourceId"
  ></div>
  <div class="test_switch_overlay" id='"+overlayId+"'></div>
</div>
