/* Global imports */
@import '~libs/core/src/lib/css/variables';
.allPlayers {
  display: flex;
  flex-direction: column;
}
.test_switch_parent {
  height: 100%;
  width: 100%;
  padding: 0;
}

.test_switch {
  position: relative;
  width: 993px;
  background: black;
  pointer-events: auto;
}

#childId {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
#childId iframe {
  width: 100vw;
  height: auto;
}
.tce_mainPanel {
  pointer-events: none;
  width: 100%;
  height: 100%;
  // background: red;
}
