ul,
li {
  list-style-type: none;
  margin: 0;
}
nb-accordion-item-header > nb-icon{
visibility: hidden;
}
.arrow-up {
  display: inline-block;
  border-left: 0.6rem solid transparent;
  border-right: 0.6rem solid transparent;

  border-bottom: 0.6rem solid black;
}

.arrow-down {
  display: inline-block;
  border-left: 0.6rem solid transparent;
  border-right: 0.6rem solid transparent;

  border-top: 0.6rem solid black;
}

.arrow-right {
  display: inline-block;
  border-top: 0.6rem solid transparent;
  border-bottom: 0.6rem solid transparent;

  border-left: 0.6rem solid black;
}

.arrow-left {
  display: inline-block;
  border-top: 0.6rem solid transparent;
  border-bottom: 0.6rem solid transparent;

  border-right: 0.6rem solid black;
}

.treeMainContainer {
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1),
    0 1px 3px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
}
.chapterMargin {
  margin-left: 20px;
}
.topicMargin {
  margin-left: 50px;
  margin-bottom: 10px;
}

.resourceTitle {
  border-radius: 5px;
  background-color: #8b8c8f;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.addResourceSpan {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}
.addResourceButton {
  background: linear-gradient(90deg, #6d71ff 0%, #248ef6 100%);
  height: 30px;
  padding: 10px 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  color: white;
  font-family: Quicksand;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 15px;
  text-align: center;
  cursor: pointer;
  justify-content: center;
}
.divLine {
  border: 1px solid #D8D8D8;
  margin-bottom: 10px;
}
.doc,
.open,
.close {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}
.doc {
}
.open {
  height: 34px;
  width: 34px;
  background-color: #ffffff;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1),
    0 1px 3px 0 rgba(0, 0, 0, 0.1);
  margin-top: 8px;
  border-radius: 50%;
}
.close {
  height: 34px;
  width: 34px;
  background-color: #ffffff;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1),
    0 1px 3px 0 rgba(0, 0, 0, 0.1);
  margin-top: 8px;
  border-radius: 50%;
}
.tree ul {
  margin-left: 20px;
}
ul {
  border-radius: 15px;
  background-color: #f2f2f2;
  padding: 0;
}

.tree li {
  list-style-type: none;
  margin: 10px;
  position: relative;
}
.chapterList,
.subjectList,
.topicList {
  //display: inline;
}
.subjectList {
  border-radius: 15px;
  background-color: #f2f2f2;
  padding: 10px 20px;
}
li .chapterList::before {
  content: '';
  position: absolute;
  top: -18px;
  left: 15px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 0 0 0 0px;
  width: 70px;
  height: 45px;
}
li .chapterList::after {
  position: absolute;
  content: '';
  top: 44px;
  left: 15px;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-radius: 0px 0 0 0;
  width: 2px;
  height: 100%;
}

.closeFlyout{
  display: none;
}

.tree li .topicList::before {
  content: '';
  position: absolute;
  top: -18px;
  left: 14px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 0 0 0 0px;
  width: 70px;
  height: 45px;
}

.tree li .topicList::after {
  position: absolute;
  content: '';
  top: 44px;
  left: 15px;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-radius: 0px 0 0 0;
  width: 2px;
  height: 100%;
}

.tree li .lastNode::after,
li .lastNode::after {
  height: 0;
}

.tree li:last-child:before {
  border-radius: 0 0 0 5px;
}

// ul.tree > li:first-child::before {
//   display: none;
// }

ul.tree > li:first-child::after {
  border-radius: 5px 0 0 0;
}

.topiclist ul {
  margin: 0 !important;
}
li.resourceTitle::before,
li.resourceTitle::after {
  display: none !important;
}
.showchapterTopic {
  opacity: 0;
}
.showchapterTopic:hover {
  opacity: 1;
  margin: 5px 0px 15px 0;
}
.placeholder {
  min-height: 60px;
  min-width: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag-placeholder {
  opacity: 1;
  border-style: dashed;
  border: 1px dashed red;
  border-radius: 12px;
  //position: relative;
}

.title-container {
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1),
    0 1px 3px 0 rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.title-container-margin {
  margin: 0;
}

.customSvgTemp {
  background-color: #d6d6d6;
  height: 48px;
  width: 25px;
  border-radius: 5px;
}

.textLength {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.labelTitle {
  padding-top: 5px;
  color: #000000;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
  text-transform: capitalize;
}

.labelFooter {
  padding-top: 5px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;

  color: rgba(0, 0, 0, 0.5);
}

.labelSubTitle {
  padding-top: 5px;
  color: #585858;
  font-family: 'Quicksand';
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
}

.subTitle {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: rgba(0, 0, 0, 0.3);
}

.resource-list{
margin-top: 5px;
}

.subjectWidth {
  width: 360px;
  cursor: pointer;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.chapterWidth {
  width: 360px;
  cursor: pointer;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  min-width: 360px;
  flex-wrap: nowrap;
  position: relative;
}

.chapterMarginList {
  margin-left: 40px !important;
}
.topicMarginList {
  margin-left: 52px !important;
}

.subjectArrow {
  position: absolute;
  border: 1px solid #d2cdcd;
  width: 60px;
  top: 24px;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px 2px 0px;
}

.moreOptionFlyout {
  background-color: #FFFFFF !important;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  position: relative;
  &::before {
    left: 8px;
    border-style: none;
    content: none;
  }
  &::after {
    left: 7px;
    content: none;
  }
}

.customBorderLine {
  border: 1px solid #248ef6;
  position: absolute;
  width: 141px;
  bottom: 2px;
  left: 16px;
  background: linear-gradient(90.12deg, #6d71ff 3.51%, #248ef6 100%);
}

.chapterButton {
  margin-left: 158px;
  background: linear-gradient(90deg, #6d71ff 0%, #248ef6 100%);
  border-radius: 5px;
  border-radius: 5px;
  position: relative;
  top: 5px;
  color: #ffffff;
  font-family: Quicksand;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 15px;
  padding: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.hoverDot {
  height: 5px;
  width: 5px;
  background-color: #248ef6;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  bottom: 1px;
  left: 13px;
  z-index: 1;
}

.showClickAction {
  display: none;
}
.topicWidth {
  //width: 65%;
  // width: 65%;
  cursor: pointer;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 604px;

  .row.col-12{
    .col-1{
      max-width: 33px;
    }
  }

  nb-accordion-item{ background: none;
    nb-accordion-item-header{ padding: 10px; 
    
    }
    .expansion-indicator{ top: 18px; }
  }


  .expansion-indicator{ top: 0; }

}
.stricktText {
  text-decoration: line-through;
}

.customNebularIcon {
  margin: 6px 7px;
  cursor: pointer;
  color: #248ef6;
}
.moreOption {
  padding-top: 7px;
  margin-right: -10px;
  height: 25px;
  float: right;
}

.moreOptionPopup {
  position: absolute;
  z-index: 100;
  right: 0;
  left: auto;
  top: 0;
  background: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  border-radius: 5px;

}
.moreOptionPopups {
  position: absolute;
  z-index: 100;
  right: 10px;
  left: auto;
  top: 0;
  background: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.flyoutUl{
  margin-left: 0px !important; 
  padding: 0px;
  background: none;
}


.topicDot {
  height: 10px;
  width: 10px;
  background-color: black;
  margin: 12px;
  border-radius: 50%;
  display: inline-block;
}
.customShortingIcon {
  margin: 5px 0px 0px -5px;
  cursor: all-scroll;
  opacity: 0.5;
}
.topicSortMargin {
  margin: 5px;
}
// .topicEdit {
//   margin-top: 5px;
// }

.inputForm {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 15px;
  line-height: 19px;
  color: black;
  background-image: none;
  box-sizing: border-box;
  height: 40px;
  border: none;
  border-bottom: 1px solid;
}

.updateBtn {
  padding-top: 120%;
  color: #248ef6;
}

.title {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: #000000;
}

.flyList {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
}


.triee-menu-list-box{
  height: calc(100vh - 240px);
  overflow: scroll;
  overflow-x: hidden;
  border-radius: 15px;
  background-color: #f2f2f2;
  margin: 0;
  padding: 10px 0 0;

    .triee-menu-list-box{
      max-height: calc(100vh - 220px);
      height: auto;
      margin: 0;
      padding:10px 0;
    }
}

.subjectListRow{
  margin: 0;
  > [class^="col-"]{
    padding: 0;
  }
  .col-1 {
    flex: 0 0 50px;
  }
}


.mtdivLine{
  margin-top: 5px;
}

.threeDotParent{
  position: absolute;
  width: 20px;
  top: 0;
  right: 15px;
}

.threeDotParentTopic{
  position: absolute;
    right: 35px;
    top: 0;
    width: 20px;
}
 


.disableButton {
  opacity: 0.5;
  color: #000000;
}
.enableButton {
  color: var(--link);
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
}

.buttonFloat {
  float: right;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
  text-align: right;
}

.btn-link{
  color: #000000;
  font-size: 14px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
}


