<div class="triee-menu-list-box"
   
  cdkDropList
  (cdkDropListDropped)="drop($event)"
  #childrenList="cdkDropList"
  [cdkDropListData]="children"
>
  <li
    *ngFor="let item of children; let i = index; last as isLast"
    cdkDrag
    [cdkDragData]="item"
    [ngClass]="[
      item.data.type === 'subject' ? 'subjectList' : '',
      item.data.type === 'chapter' ? 'chapterList' : '',
      item.data.type === 'topic' ? 'topicList' : '',
      isLast ? 'lastNode' : ''
    ]"
  >
    <div
      *ngIf="
        (item.data.type === 'chapter' || item.data.type === 'subject') &&
        item.data.name
      "
    >
      <div class="row subjectListRow">
        <div class="col-1">
          <span
            (click)="openModule(item); item.isOpen = !item.isOpen"
            class="open"
          >
            <nb-icon
              icon="plus-outline"
              *ngIf="!item.isOpen"
              class="customNebularIcon"
            ></nb-icon>
            <nb-icon
              icon="minus-outline"
              *ngIf="item.isOpen"
              class="customNebularIcon"
            ></nb-icon>
          </span>
          <span
            class="subjectArrow"
            *ngIf="item.data.type === 'subject'"
          ></span>
        </div>
        <div class="col-11">
          <div
            class="row title-container title-container-margin"
            [ngClass]="[
              item.data.type === 'subject' ? 'subjectWidth' : '',
              item.data.type === 'chapter' ? 'chapterWidth' : ''
            ]"
          >
            <div class="col-1">
              <nb-icon icon="menu-outline" class="customShortingIcon"></nb-icon>
            </div>
            <div
              [ngClass]="[
                item.data.type === 'chapter' ? 'col-10' : 'col-10',
                item.data.visible != undefined &&
                !item.data.visible &&
                item.data.type === 'chapter'
                  ? 'stricktText'
                  : ''
              ]"
            >
              <div (click)="item.isOpen = !item.isOpen" (click)="saveChapterData(item)">
                <div
                  
                  class="textLength labelSubTitle subTitle"
                  *ngIf="item.data.type === 'chapter'"
                >
                  Chapter {{ i + 1 }}
                </div>
                <div
                  *ngIf="!currentEditor && editChapterIndex!=i"
                  class="textLength labelTitle"
                >
                  {{ item.data.name }}
                </div>

                <div
                  *ngIf="editChapterIndex === i"
                  class="textLength labelTitle"
                >
                  <input
                    [(ngModel)]="updatedChapterData"
                    class="inputForm"
                    type="text"
                  />
                </div>
                <div
                  class="textLength labelSubTitle"
                  *ngIf="item.data.type === 'subject'"
                >
                 Book Title
                </div>
                <div
                  class="textLength labelFooter row"
                  *ngIf="item.data.type === 'chapter'"
                >
                  <div class="col-3">
                    {{ item.children ? item.children.length : 0 }} Topics
                  </div>
                  <div class="col-7">
                    <!-- <span class="dot"></span>0 Resources -->
                  </div>
                </div>
              </div>
              <div
                class="row"
                *ngIf="
                  item.data.type === 'chapter' && !item.children[0].data.name
                "
              ><div class="col-12"> 
                <div class="divLine mtdivLine"></div>             
                <div
                  (click)="
                    item.isOpen = !item.isOpen;
                    selectedChapterTopicEvent(
                      item.children[0].data.currentTopicId,
                      $event
                    )
                  "
                  class="addResourceButton"><span class="addResourceSpan">Add Topic</span></div>
                </div>
              </div>
              <div class="buttonFloat" *ngIf="i === editChapterIndex">
                <button type="button" class="btn btnWidth btn-link" (click)="cancelUpdate()"> Cancel </button>
                <button type="submit" class="btn btnWidth enableButton"  (click)="update(item)">Update</button>


                <!-- <button  class="updateBtn">Cancel</button>
              <button  class="updateBtn" (click)="update(item)">Update</button> -->

              </div>
              
            </div>
            <div class="threeDotParent" *ngIf="item.data.type === 'chapter' && item.data.custom === 1">
              <span (click)="select(i)"   
                ><img class="moreOption" id = "chpId" src="assets/images/ic.MoreOption.svg"
              /></span>
              <!-- <div *ngIf="i === editChapterIndex"class="updateBtn">cancel</div> -->
              <!-- <div
                *ngIf="i === editChapterIndex"
               
              >
              <button  class="updateBtn">Cancel</button>
              <button  class="updateBtn" (click)="update(item)">Update</button>
              </div> -->
            </div>
            <div class="col-1 customSvgTemp" *ngIf="item.data.image"></div>
            <div [ngClass]="!clickOutFlyout ? 'closeFlyout' : ''" class="moreOptionPopup" *ngIf="showEdit && i === edit_id">
              <tce-flyout
                class="moreOptionFlyout"
                [attr.id]="'openQuestionOf_' + edit_id"
              >
                <div>
                  <ul class="flyoutUl">
                    <li class="flyList" (click)="editChapter(i,item)">
                      Edit
                    </li>
                    <li class="flyList" (click)="deleteChapter(item)">Remove</li>
                    <li *ngIf="item.data.visible != undefined && item.data.visible && item.data.type ==='chapter'"
                      class="flyList"
                      (click)="selectedVisible(item, item.data.type, $event)"
                    >
                      Hide
                    </li>
                    <li *ngIf="item.data.visible != undefined && !item.data.visible && item.data.type ==='chapter'"
                      class="flyList"
                      (click)="selectedVisible(item, item.data.type, $event)"
                    >
                      unHide
                    </li>
                  </ul>
                </div>
              </tce-flyout>
            </div>
          </div>

         
        </div>
      </div>

      <ul
        class="tree"
        *ngIf="item.children && item.children.length > 0 && item.isOpen"
        [ngClass]="[
          item.data.type === 'subject' ? 'chapterMarginList' : '',
          item.data.type === 'chapter' ? 'topicMarginList' : ''
        ]"
      >
        <tce-tree-menu
          [children]="item.children"
          [parent]="self"
          [currentGradeID]="currentGradeID"
          [currentSubjectID]="currentSubjectID"
          [level]="level != undefined ? level + 1 : 0"
          (getCurrentSelection)="getCurrentData($event)"
          [selectedChapterTopicInput]="selectedChapterTopic"
        ></tce-tree-menu>
      </ul>
    </div>
    <div  (click)="item.isOpen = !item.isOpen" *ngIf="item.data.type === 'topic' && item.data.name">
      <div class="row subjectListRow">
        <div class="col-1">
          <span class="open"><span class="topicDot"></span></span>
        </div>
        <div class="col-11">
          <nb-accordion class="topicWidth">
            <nb-accordion-item
              
              [expanded]="selectedTopic === item.data.currentTopicId ? true : false"
              #babloo>
              <nb-accordion-item-header 
                (click)="getCurrentData(item.data)"
                 >
                <div class="row col-12">
                  <div class="col-1">
                    <nb-icon
                      icon="menu-outline"
                      class="customShortingIcon"
                    ></nb-icon>
                  </div>

                  <div
                    class="col-11"
                    [ngClass]="
                      item.data.visible != undefined && !item.data.visible
                        ? 'stricktText'
                        : ''
                    "
                  >
                    <div class="textLength labelSubTitle">
                      Topic {{ i + 1 }}
                    </div>
                    <div *ngIf="!currentTopicEditor && editTopicChapterIndex!=i" class="textLength labelTitle">
                      {{ item.data.name }}
                    </div>
                    
                    <div *ngIf="editTopicChapterIndex === i " class="textLength labelTitle">
                      <input class="form-control" class="inputForm" [(ngModel)]="updatedTopicData">
                    </div>
                    <div *ngIf="selectedTopic === item.data.currentTopicId" class="textLength labelSubTitle row">
                      <div class="col-3">
                        {{ item.children ? item.children.length : 0 }}
                        Resources
                      </div>
                      
                      <div class="col-5">
                        <!-- <span class="dot"></span>0 mins -->
                      </div>
                    </div>


                    <div class="buttonFloat" *ngIf="i === editTopicChapterIndex">
                      <button type="button" class="btn btnWidth btn-link" (click)="cancelUpdate()"> Cancel </button>
                      <button type="submit" class="btn btnWidth enableButton"  (click)="updateTopic(item)">Update</button>                                 
                    </div>

                  </div>
                  <div class="threeDotParentTopic" *ngIf="item.data.type === 'topic' && item.data.custom === 1">
                    <span 
                    
                      (click)="selectTopic(i)"
                      ><img
                      id = "tpId"
                        class="moreOption"
                        src="assets/images/ic.MoreOption.svg"
                    /></span>
                    <!-- <div
                    *ngIf="i === editTopicChapterIndex"
                  
                  >
                  <button  class="updateBtn">Cancel</button>
                  <button  class="updateBtn" (click)="updateTopic(item)">Update</button>
                  
                  </div> -->
                  </div>
                
                  <div [ngClass]="!clickOutFlyout ? 'closeFlyout' : ''" class="moreOptionPopups" *ngIf="showTopicEdit && i === topicedit_id">
                    <tce-flyout class="moreOptionFlyout">
                      <div >
                        <ul class="flyoutUl">
                          <li class="flyList" (click)="editTopic(i,item)">Edit</li>
                          <li class="flyList" (click)="deleteTopic(item)">Remove</li>
                          <li *ngIf="item.data.visible != undefined && item.data.visible && item.data.type ==='topic'" class="flyList" (click)="selectedVisible(item, item.data.type, $event)">Hide</li>
                          <li *ngIf="item.data.visible != undefined && !item.data.visible && item.data.type ==='topic'" class="flyList" (click)="selectedVisible(item, item.data.type, $event)">unHide</li>
                        </ul>
                      </div>
                    </tce-flyout>
                  </div>
                </div>
              </nb-accordion-item-header>
              <nb-accordion-item-body class="topiclist">
                <div
                  cdkDropList
                  (cdkDropListDropped)="drop($event)"
                  #childrenList="cdkDropList"
                  [cdkDropListData]="item.children"
                >
                  <ul>
                    <li
                      *ngFor="let item1 of item.children"
                      class="resourceTitle"
                      cdkDrag
                      [cdkDragData]="item1"
                    >
                      <div class="row">
                        <div class="col-1">
                          <nb-icon
                            icon="menu-outline"
                            class="customShortingIcon topicSortMargin"
                          ></nb-icon>
                        </div>
                        <div class="col-1 resource-list">
                          <img
                            class="type-icon"
                            [src]="
                              getResourceThumbnailIcon(
                                item1.data.resourceData,
                                'icon'
                              )
                            "
                          />
                        </div>
                        <div class="col-9 resource-list">{{ item1.data.name}}</div>

                        <div id = "rsId" *ngIf="currentResource.isOwner" class="col-1 resource-list" (click)="resourceMoreOption(item1.data.resourceData.resourceId)">
                          <img
                            class="three-dot-filter-menu"
                            id = "rsId"
                            src="assets/images/playlist/open_resource_filter_three_dots.svg"
                            
                          >
                        </div>
                        <!--fly  -->
                        <div *ngIf="resourceId === item1.data.resourceData.resourceId && resourceFly" class="moreOptionPopup">
                          <tce-flyout
                            class="moreOptionFlyout"
                          >
                            <div>
                              <ul class="flyoutUl">
                                <li *ngIf="item1.data.resourceData.tcetype !== 'custom_quiz' " class="flyList" (click)="resourceOption('edit',item1.data.resourceData,item)">
                                  Edit
                                </li>
                                <li class="flyList" (click)="resourceOption('delete',item1.data.resourceData)">
                                  Delete
                                </li>
                                <li class="flyList" (click)="resourceOption('cancel')">
                                  Cancel
                                </li>
                               
                              </ul>
                            </div>
                          </tce-flyout>
                        </div>
                        <!-- fly -->

                         
                      </div>
                    </li>
                  </ul>
                </div>

                <div class="divLine"></div>
                <div class="addResourceButton" (click)="openSearchLib(item)">
                  <span class="addResourceSpan">Add Resource</span>
                </div>
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
        </div>
      </div>
    </div>
    <div
      *ngIf="
        item.data.type == item.data.children && item.data.children.length === 0
      "
    >
      <div
        class="showchapterTopic"
        [ngClass]="
          selectedChapterTopic ===
          (item.data.type === 'chapter'
            ? item.data.currentChapterId
            : item.data.currentTopicId)
            ? 'showClickAction'
            : ''
        "
      >
        <span class="hoverDot"></span>
        <span class="customBorderLine"></span>
        <span
          class="chapterButton"
          (click)="
            selectedChapterTopicEvent('default' + item.data.type, $event)
          "
          >Click to Add {{ item.data.type }}</span
        >
      </div>
      <div *ngIf="selectedChapterTopic === 'default' + item.data.type">
        <tce-add-chapter-topic
          [type]="item.data"
          [currentGradeID]="currentGradeID"
          [currentSubjectID]="currentSubjectID"
          (onCancelEvent)="getCancelEvent($event)"
        ></tce-add-chapter-topic>
      </div>
    </div>
    <div
      *ngIf="
        item.data.type == item.data.children && item.data.children.length === 0
      "
    >
      <div
        class="showchapterTopic"
        [ngClass]="
          selectedChapterTopic ===
          (item.data.type === 'chapter'
            ? item.data.currentChapterId
            : item.data.currentTopicId)
            ? 'showClickAction'
            : ''
        "
      >
        <span class="hoverDot"></span>
        <span class="customBorderLine"></span>
        <span
          class="chapterButton"
          (click)="
            selectedChapterTopicEvent('default' + item.data.type, $event)
          "
          >Click to Add {{ item.data.type }}</span
        >
      </div>
      <div *ngIf="selectedChapterTopic === 'default' + item.data.type">
        <tce-add-chapter-topic
          [type]="item.data"
          [currentGradeID]="currentGradeID"
          [currentSubjectID]="currentSubjectID"
          (onCancelEvent)="getCancelEvent($event)"
        ></tce-add-chapter-topic>
      </div>
    </div>
    <div *ngIf="item.data.type == 'chapter' || item.data.type == 'topic'">
      <div
        class="showchapterTopic"
        [ngClass]="
          selectedChapterTopic ===
          (item.data.type === 'chapter'
            ? item.data.currentChapterId
            : item.data.currentTopicId)
            ? 'showClickAction'
            : ''
        "
      >
        <span class="hoverDot"></span>
        <span class="customBorderLine"></span>
        <span
          class="chapterButton"
          (click)="
            selectedChapterTopicEvent(
              item.data.type === 'chapter'
                ? item.data.currentChapterId
                : item.data.currentTopicId,
              $event
            )
          "
          >Click to Add {{ item.data.type }}</span
        >
      </div>
      <div
        *ngIf="
          selectedChapterTopic ===
          (item.data.type === 'chapter'
            ? item.data.currentChapterId
            : item.data.currentTopicId)
        "
      >
        <tce-add-chapter-topic
          [type]="item.data"
          [currentGradeID]="currentGradeID"
          [currentSubjectID]="currentSubjectID"
          (onCancelEvent)="getCancelEvent($event)"
        ></tce-add-chapter-topic>
      </div>
    </div>
  </li>
</div>


