<div>
  <h6 class="qb-header-six m-0" (click)="addOptions()">
    <span class="position-relative"
      ><nb-icon icon="plus-outline"></nb-icon
    ></span>
    &nbsp;&nbsp;<span>Add Option</span>
  </h6>
</div>
