<tce-loading-layover *ngIf="isLoading"></tce-loading-layover>
<tce-error-layover
  *ngIf="errorMessage"
  [message]="errorMessage"
></tce-error-layover>
<div class="gallery-player-root">
  <tce-annotation
    *ngIf="resource.resourceId"
    [stageId]="'gallery-' + resource.resourceId"
    [canvasContext]="resourceType.GALLERY"
  ></tce-annotation>
  <div class="nextBackNav utility-wrapper" *ngIf="showImageContainer">
    <tce-utility-bar>
      <div style="justify-content: center;display: flex;">
        <button
          mat-button
          (click)="closeImageViewer()"
          class="btn worksheet_btn downloadIcon"
        >
          <svg-icon
            class="arrow-icon scrolldown"
            src="assets/images/ic.Navigate.svg"
            [applyCss]="true"
          ></svg-icon>
        </button>
      </div>
      <tce-pagination-controls
        [pages]="arrayOfPages"
        [initialPage]="currentPage"
        (changePage)="openImageViewer($event, 'default bind')"
        [selectedPage]="{ pageNumber: currentPage, eventType: 'scroll' }"
        *ngIf="imageList.length > 1"
      ></tce-pagination-controls>

      <div style="justify-content: center;display: flex;">
        <button
          mat-button
          (click)="clickToOpenSetting()"
          class="btn worksheet_btn settingIcon"
        >
          <svg-icon
            class="arrow-icon scrolldown svgIconMargin"
            src="assets/images/playlist/open_resource_filter_three_dots.svg"
            [applyCss]="true"
          ></svg-icon>
        </button>
      </div>
    </tce-utility-bar>
    <tce-flyout class="image-setting" *ngIf="showSettingOption">
      <ul>
        <li><span>Share</span></li>
        <li (click)="openCreateLib(resource)"><span>Edit Image(s)</span></li>
        <li (click)="printImage()"><span>Print Image</span></li>
        <li><span>Add Note</span></li>
        <li><span>Remove from Collection</span></li>
      </ul>
    </tce-flyout>
  </div>

  <div class="gp-collage-viewer">
    <div id="mroot">
      <div class="gp-list">
        <ul>
          <li *ngFor="let image of imageList; let pageNoIndex = index">
            <div class="list-div">
              <img
                class="list-image"
                [src]="image"
                (click)="openImageViewer(pageNoIndex + 1, 'call by List')"
              />

              <span
                class="searchIcon"
                (click)="openImageViewer(pageNoIndex + 1, 'call by List')"
              >
                <svg-icon
                  class="searchPosition"
                  src="assets/images/playlist/searchIcon.svg"
                  [applyCss]="true"
                ></svg-icon>
              </span>
            </div>
          </li>
        </ul>

        <!-- <div *ngFor="let image of imageList; let pageNoIndex = index">
          <div class="list-image" [style.background-image]="'url('+image+')'" (click)="openImageViewer(pageNoIndex + 1, 'call by List')"></div>
        </div> -->
      </div>
    </div>

    <!--
    <div>
      <ul id="images">
        <li *ngFor="let image of imageList; let pageNoIndex = index">
          <div class="list-div">
            <img class="list-image" [src]="image" />
            <div
              class="searchIcon"
              (click)="openImageViewer(pageNoIndex + 1, 'call by List')"
            >
              <svg-icon
                class="searchPosition"
                src="assets/images/playlist/searchIcon.svg"
                [applyCss]="true"
              ></svg-icon>
            </div>
          </div>
        </li>
        <li></li>
      </ul>
    </div>
  --></div>
  <div class="gallery-player-preview-main" *ngIf="showImageContainer">
    <div
      id="gallery-player-preview-container"
      class="gallery-player-preview-container"
    >
      <img class="image-full-size" [src]="currentSrc" />
    </div>
  </div>
</div>
