.gallery-player-root {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #22262a;
  position: relative;
}

// single image preview start
//---------------------------
.gallery-player-preview-main {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
  // pointer-events: none;
}
.image-full-size {
  // width: auto;
  // height: 100%;
  // position: relative;

  bottom: -5000px;
  left: -5000px;
  margin: auto;
  //min-height: 100%;
  //min-width: 100%;
  position: absolute;
  right: -5000px;
  top: -5000px;
}
.gallery-player-preview-mainClose {
  background-color: black;
  color: white;
  cursor: pointer;
  margin: 1px;
  position: absolute;
  font-size: 12px;
  right: 1px;
  padding: 6px;
  font-weight: bold;
}
.gallery-player-preview-container {
  height: 100%;
  max-height: none;
  min-width: none;
}
// single image preview End
//---------------------------

// misc buttons Utils Start
// ---------------------------

.utility-wrapper {
  position: absolute;
  bottom: -55px;
  left: 0;
  right: 0;
}

.worksheet_btn {
  padding: 0 0 0 7px;
  height: 33px;
}

.downloadIcon {
  transform: rotate(180deg);
  padding: 2px 0px 0px 10px;
  border-left: 1px solid;
}

.searchIcon {
  position: relative;
  height: 34px;
  width: 34px;
  border-radius: 18.55px;
  background-color: gray;
  box-shadow: 6px 0 12px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  display: flex;
  margin: -44px 0 0 5px;
  position: absolute;
  right: 15px;
}
.searchPosition {
  position: absolute;
  top: 8px;
  left: 8px;
}
// misc buttons Utils End
// ---------------------------

//collage - view position

.gp-collage-viewer {
  position: relative;
  height: 100%;
  overflow: auto;
}

.gp-collage-viewer {
  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    height: 40vh;
    flex-grow: 1;
  }

  li:last-child {
    flex-grow: 10;
  }
  .list-div {
    display: inline;
    position: relative;
  }
  .list-image {
    position: relative;
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    border: 2px solid lightgrey;
    cursor: pointer;
  }
  .list-image:hover {
    opacity: 0.6;
  }

  // Portrait
  @media (max-aspect-ratio: 1/1) {
    li {
      height: 30vh;
    }
  }
  // Short screens
  @media screen and (max-height: 1200px) {
    li {
      height: 20vh;
    }
  }
  @media screen and (max-height: 700px) {
    li {
      height: 25vh;
    }
  }
  @media screen and (max-height: 400px) {
    li {
      height: 20vh;
    }
  }
  // Smaller screens in portrait
  @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    ul {
      flex-direction: row;
    }
    li {
      height: auto;
      width: 100%;
    }
    .list-image {
      width: 100%;
      max-height: 75vh;
      min-width: 0;
    }
  }
}

.settingIcon {
  padding: 5px 0px 0px 5px;
  border-left: 1px solid;
}
.svgIconMargin {
  margin-left: 10px;
}
.image-setting {
  position: absolute;
  width: 194px;
  height: 194px;
  bottom: calc(100% + 104px);
  font-weight: 600;
  right: 140px;
  &::before {
    left: calc(46% - 1px);
    border-width: 17px;
  }
  &::after {
    left: 46%;
    border-width: 15px;
  }

  li {
    letter-spacing: 0;
    line-height: 18px;
    padding: 10px;
    font-weight: 600;
    font-family: Quicksand;
    font-size: 15px;
    cursor: pointer;
  }
}
