@import 'bootstrap';
@import '../../../../../apps/tce-app/src/assets/themes/common.scss';

.shuffle-div-row,
.pointsDiv {
  display: flex;
  justify-content: flex-end;
}
.shuffle-div-row {
  background: #f0f0f0;
  padding: 20px 0px 12px 0px;
}
.pointsDiv {
  @extend .col-md-12;
  @extend .col-sm-12;
  @extend .col-12;
}
.table {
  max-width: 100%;
  width: 100%;
  td {
    // border-top:0px;
    border: 1px solid #f0f0f0;
    position: relative;
    .remove-icon {
      color: red;
      position: absolute;
      top: 3px;
      right: 15px;
      background: #fff;
      padding: 2px;
    }
    .col-remove-icon {
      top: 25px;
      right: 22px;
    }
  }
  td:first-child {
    width: 180px !important;
    max-width: 180px !important;
    padding: 10px 5px;
  }

  .options-label {
    text-align: left;
  }
  .option-matrix-div {
    // display:flex;
    .radio-div {
      position: relative;
      transform: none;
      padding-left: 25px;
      display: flex;
      padding-top: 15px;
      @include radio(20px, #fff, $blue);
      input[type='radio'] {
        width: 20px;
        height: 20px;
        top: 27px;
        left: 37.5px;
        z-index: 1;
        cursor: pointer;
      }
    }
    .label-text {
      margin-top: -1px;
      padding-left: 5px;
    }
  }
}

.dashboard-edit-div {
  @extend .col-md-11;
  min-height: 260px;
}
.mcq-div {
  @extend .col-md-12;
  @extend .mb-15;
}
