.hint {
  right: 0rem;
  top: 0rem;
  z-index: 1;
  &__btn {
    font-size: 1rem;
    font-weight: bold;
    display: block;
    z-index: 3;
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color var(--animation-timing-short) ease-in-out,
    background-color var(--animation-timing-short) ease-in-out,
    border-color var(--animation-timing-short) ease-in-out,
    box-shadow var(--animation-timing-short) ease-in-out;
}

.position-absolute {
  position: absolute;
}
