<div class="row qb-viewerRow">
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <div class="row question-wrapper">
      <div class="col-md-12 qb-statusviewerDivHeading">
        <div>
          <h3>Selected Questions
          </h3>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 pd-0 qb-viewerQuestList">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
            *ngFor="let question of quizQuestionList; let i = index">
            <tce-qb-question-card-view [viewType]="'quiz'" [quizQuestionList]="quizQuestionList"
              [showCheckBox]="showCheckBox" [question]="question" [index]="i" (openpopup)="openPopup($event)"
              (dltQuestion)="deleteQuestion($event)"></tce-qb-question-card-view>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 qb-viewerRightDiv">
    <div class="qb-statusviewerDivHeadingg">
      <h4>Edit Question(s) Details
      </h4>
    </div>
    <div class="qb-rightFormDiv">
      <label for="quizTitle">Quiz Title*</label>
      <input id="quizTitle" (click)="showOpenGrade(false)" class="form-control" [(ngModel)]="quizTitle" />
    </div>
    <div (click)="showOpenGrade(true)" class="qb-rightFormDiv">
      <label for="gradeSubject">Grade & Subject*</label>
      <input id="gradeSubject" class="form-control" [value]="selectedGradeSub" />
    </div>
    <div (click)="showOpenSubject(true)" class="qb-rightFormDiv">
      <label for="chapterTopic">Chapter & Topic*</label>
      <input id="chapterTopic" class="form-control" [value]="selectedChapterTopic" [attr.disabled]="true" />
    </div>
    <div class="qb-viewerBtnsDiv">
      <button (click)="cancel()">Cancel</button>
      <button (click)="addQuiz()">Add Quiz</button>
    </div>

  </div>

  <!-- <button (click)="cancel()">Cancel</button>
  <button (click)="addQuiz()">Add Quiz</button> -->
</div>
<div>
  <tce-flyout class="content-playList-addResourceList-gradeSubject" *ngIf="showGradeSubject">
    <tce-common-grade-subject-selectore [allGrade]="availableGrades" [allSubject]="availableSubjects"
      [selectGrade]="selectedGradeLevel" [selectSubject]="selectedSubject"
      (valueChangeGradeSubjectPlanning)="displayvalueGradeSubject($event)" [currentType]="'planning'">
    </tce-common-grade-subject-selectore>
  </tce-flyout>
</div>
<div id="chapterTopic">
  <tce-flyout class="content-playList-addResourceList-gradeSubject" *ngIf="showChapterTopic">
    <tce-common-chapter-topic-selectore [allChapters]="availableChapters" [allTopics]="availableTopics"
      [selectChapter]="selectedChapter" [selectTopic]="selectedTopic"
      (valueChangeChapterTopic)="displayvalueChapterTopic($event)">
    </tce-common-chapter-topic-selectore>
  </tce-flyout>
</div>