@import 'bootstrap';

.qb-viewerRow {
  margin-left:0px;
  margin-right:0px;
}

.question-wrapper{
  padding: 15px 0px;
  padding-top:0px;
  background: #FAFAFA;
}


.content-playList-addResourceList-gradeSubject {
  z-index: 9;
  position: absolute;
  width: var(--add-resource-width);
  height: var(--add-resource-height1);
  right: var(--add-resource-right);
  font-weight: 600;
  top: var(--add-resource-top1);
  &::before {
    left: var(--add-resource-beforAfter-left);
    border-width: 17px;
    top: var(--add-resource-beforAfter-top1);
    transform: var(--add-resource-beforAfter-transform);
    display:none;
  }
  &::after {
    left: var(--add-resource-beforAfter-left);
    border-width: 17px;
    top: var(--add-resource-beforAfter-top1);
    transform: var(--add-resource-beforAfter-transform);
    display:none;
  }

  width: 49%;
    height: 96%;
    top: 9px;
    left: 5px;
  position: absolute;
}
.qb-viewerRightDiv {
  padding: 15px;
    background: #22262a;
}
.qb-viewerBtnsDiv {
  position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
  button {
    padding: 10px;
    &:first-child {
      color:#fff;
      opacity:0.5;
      width:30%;
      background: #22262a;
    }
    &:last-child {
      background: linear-gradient(90deg, #6D71FF 0%, #248EF6 100%);
      color:#fff;
      width:70%;
      border-top-left-radius: 4px;
    }
  }
}
.qb-statusviewerDivHeading {
  background: #fff;
    padding: 15px 15px;
    h3 {
      font-size:20px;
      color:#000;
    }
}
.qb-statusviewerDivHeadingg{
  padding: 10px 0;
    padding-top: 0;
  h4 {
    font-size:18px;
      color:#fff;
  }
}
.qb-viewerQuestList {
  scroll-behavior: smooth;
  min-height: 300px;
  max-height: 300px;
  
  overflow-y: scroll;
}
.qb-rightFormDiv {
  margin-bottom:10px;
}

:host ::ng-deep .content-playList-addResourceList-gradeSubject .subject-selector{
  min-height: 34px;
  max-height: auto;
  padding: 2px 15px !important;
  height: auto;
}