<div class="resourceSelectionMainContainer">
  <div class="resourceSelectionHeader">
    <div class="svgIcon" (click)="setCurrentView()">
      <svg-icon
        src="assets/images/ic.CloseModalGray.svg"
        [applyCss]="true"
        class="closeIcon"
      ></svg-icon>
    </div>
  </div>
  <div class="resourceSelectionBody">
    <div class="title">Selected Resources</div>
    <div class="bodyContainer">
      <div *ngFor="let menu of selectedResourceList">
        <div class="cartBody" *ngIf="menu.selectedResourceList.length > 0">
          <div class="cartTitle">
            {{ menu.name }}
          </div>
          <div
            class="cartContainer"
            *ngFor="let list of menu.selectedResourceList"
          >
            <div class="containerSvgIcon"><img [src]="menu.image" /></div>
            <div class="contenerText">{{ list.title }}</div>
            <div class="removeIcon">
              <svg-icon
                src="assets/images/ic.Remove.svg"
                (click)="
                  selectedResourceRemove(list.resourceId, menu.name, 'selected')
                "
              >
              </svg-icon>
            </div>
          </div>
          <div
            *ngIf="menu.selectedResourceList.length > 1"
            class="cartFooter"
            (click)="removeAll(menu.name, 'all')"
          >
            Remove All
          </div>
        </div>
      </div>
    </div>
    <div class="resourceSelectionFooter">
      <div (click)="addResource()">
        Add Resource
      </div>
    </div>
  </div>
</div>
