.title {
  color: white;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
  padding-bottom: 10px;
}

.svgIcon {
  float: right;
  cursor: pointer;
  position: relative;
  top: 10px;
  right: 2px;
}

.resourceSelectionHeader {
  display: flow-root;
}

.bodyContainer {
  height: 480px;
  margin-bottom: 7px;
  overflow: scroll;
}

.resourceSelectionFooter {
  border-radius: 5px;
  background-image: linear-gradient(to right, #6d71ff, #248ef6);
  padding: 7px;
  // margin: 0 6%;
  text-align: center;
  color: #ffffff;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
  cursor: pointer;
  position: absolute;
  width: calc(100% - 30px);
  left: 15px;
  bottom: 20px;
}

.cartBody {
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
  height: auto;
  // width: 95%;
  margin-bottom: 10px;
}

.cartTitle {
  color: white;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
  padding: 10px 10px 0 10px;
}

.cartContainer {
  color: white;
  font-family: 'Quicksand Medium';
  font-size: 13px;
  letter-spacing: 0;
  line-height: 16px;
  padding: 10px;
  display: flex;
  background: black;
}

.containerSvgIcon {
  height: 23px;
  width: 34px;
  float: left;
  margin-right: 10px;
  border-radius: 2.12px;
  background-color: black;
  padding: 2px;
}
.contenerText {
  float: left;
  width: 265px;
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.removeIcon {
  height: 25px;
  width: 25px;
  float: right;
}

.cartFooter {
  color: #248ef6;
  font-family: Quicksand;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 16px;
  padding: 10px;
  text-decoration: underline;
}
.resourceSelectionMainContainer {
}
