<div class="adminMain">
  <span *ngIf="role === '1'" class="adminLink" (click)="goToAdmin()">Admin</span>
  <!-- <form method="GET" *ngIf="adminMode" class="passwordDIv">
    <input type="password" name="password" [(ngModel)]="password" />
    <span>
      <button
        class="btn"
        status="primary"
        type="submit"
        size="small"
        (click)="goToAdmin()"
      >
        GO
      </button></span
    >
  </form> -->
</div>
