.adminMain{
    margin-top: 20px;
    margin-left: 5px;
}

.btn{
    border: 2px solid white !important;
    margin-top: 5px;
    background-color: black !important;
    color: white;
    height: 35px;

}

.adminLink{
    color: #000;
    cursor: pointer;
    text-decoration: underline;
}


.passwordDIv{
    margin-top: 5px;
}