<tce-error-layover
  *ngIf="errorMessage"
  [message]="errorMessage"
  size="small"
  noBackgroundColor="true"
></tce-error-layover>
<ng-container>
  <div class="nav-header">
    <div class="nav-chapter">
      Choose a Chapter
      <div class="nav-header-divider"></div>
    </div>
    <div class="nav-topic">
      <span>Choose a Topic</span>
    </div>
  </div>
  <div class="chapters-topic-container">
    <div class="chapter-list-container">
      <div
        *ngFor="let chapter of availableChapters"
        class="chapter-details"
        (click)="clickToSelectChapter(chapter)"
        [ngClass]="{
          'selected-chapter':
            selectedChapter && chapter?.chapterId === selectedChapter?.chapterId
        }"
      >
        {{ chapter.chapterTitle }}
      </div>
    </div>
    <div class="topic-list-container">
      <div
        *ngFor="let topic of availableTopics"
        class="topic-details"
        (click)="clickToSelectTopic(topic)"
        [ngClass]="{
          'selected-topic':
            selectedTopic && selectedTopic?.topicNumber === topic?.topicNumber
        }"
      >
        <div class="topic-title-container">
          <div
            class="topic-title"
            [ngClass]="{
              'active-title': selectedTopic?.topicNumber === topic?.topicNumber
            }"
          >
            <span class="topic-number">{{ topic.topicNumber }}</span
            >{{ topic.topicTitle }}
          </div>
          <!--
            <div class="topic-info">
              {{ topic.numberOfResources }} Resource{{
                topic.numberOfResources !== 1 ? 's' : ''
              }}
              • {{ topic.timeToComplete }} mins
              <span *ngIf="topic.status === topicStatus.IN_PROGRESS"
                >• In Progress</span
              >
              <span *ngIf="topic.status === topicStatus.COMPLETE"
                >• Complete</span
              >
            </div>
            -->
        </div>
        <!-- <div class="topic-title-details-container">
          <div
            class="topic-img-1"
            (click)="loadLessonPlanPlayer($event, topic)"
            *ngIf="topic.hasLessonPlan"
          >
            <img src="assets/images/ic.ContentActions.LessonPlan.svg" />
          </div>
        </div> -->
      </div>
    </div>
  </div>
</ng-container>
