.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 51px;
  background-color: #0f1114;
  color: #fff;
  line-height: 18px;
  font-size: 14px;
}

.nav-header-divider {
  width: 1px;
  height: 21px;
  background-color: #303439;
  float: right;
}

.nav-chapter {
  width: 45%;
  padding-left: 20px;
}

.nav-topic {
  display: flex;
  justify-content: space-between;
  width: 55%;
  padding: 0 20px;
}

.chapters-topic-container {
  display: flex;
  height: calc(100% - 51px);
  max-height: 100%;
  overflow-y: auto;
}

/*** Chapters ***/

.chapter-list-container {
  width: 45%;
  border-right: 1px #303439 solid;
  overflow: scroll;
  height: 100%;
  scrollbar-width: none;
}

.chapter-details {
  display: flex;
  font-size: 14px;
  line-height: 34px;
  padding: 0 21px;
  color: #fff;

  &:hover {
    background-color: #303439;
    color: #71b9ff;
    font-weight: bold;
    cursor: pointer;
  }
}

.selected-chapter {
  background-color: #303439;
  color: #71b9ff;
  font-weight: bold;
  cursor: pointer;
}

/*** Topics ***/

.topic-list-container {
  width: 55%;
  overflow: scroll;
  max-height: 100%;
  scrollbar-width: none;
}

.topic-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 11px 20px;
  min-height: 62px;
  box-shadow: inset 0 -1px 0 0 #303439;
  cursor: pointer;

  &:hover {
    background-color: #303439;
  }
}

.topic-title-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  flex-basis: 80%;
  cursor: pointer;
}

.topic-title-details-container {
  align-items: baseline;
  flex-basis: 38%;
  margin-right: -9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selected-topic {
  background-color: #303439;
  font-weight: bold;
}

.topic-title {
  color: #fff;
  font-size: 14px;
  line-height: 18px;
}

.active-title {
  color: #71b9ff;
  font-weight: bold;
}

.topic-number {
  margin-right: 9px;
}

.topic-info {
  color: #fff;
  font-size: 13px;
  line-height: 16px;
  margin-top: 5px;
}

$base-color: rgba(221, 221, 221, 0.1);
$ghost-color: #ecebebf1;
$animation-duration: 1000ms;
$gradient-offset: 52 + 16;
@keyframes ghost-lines {
  0% {
    background-position: -100px;
  }
  40% {
    background-position: 40vw;
  }
  100% {
    background-position: 60vw;
  }
}
.ghostRows {
  background-image: linear-gradient(
    90deg,
    $base-color 0px,
    $ghost-color 40px,
    $base-color 80px
  );
  background-size: 80vw;
  height: 20px !important;
  background-color: gray;
  margin: 10px;
  border-radius: 4px 4px 4px 4px;
  animation: ghost-lines $animation-duration infinite linear;
}

.topic-img-1 {
  margin: auto 0 auto auto;
  cursor: pointer;
}
