<h3 class="h3 pb-10">Assignment</h3>

<nb-card class="admin-table-box">
  <nb-card-header class="d-flex justify-content-end align-items-center">
    <button class="btn-icon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24px"
        height="24px"
        viewBox="0 0 24 24"
        class="eva eva-search"
      >
        <g data-name="Layer 2">
          <g data-name="search">
            <rect width="24" height="24" opacity="0"></rect>
            <path
              d="M20.71 19.29l-3.4-3.39A7.92 7.92 0 0 0 19 11a8 8 0 1 0-8 8 7.92 7.92 0 0 0 4.9-1.69l3.39 3.4a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 11a6 6 0 1 1 6 6 6 6 0 0 1-6-6z"
            ></path>
          </g>
        </g>
      </svg>
    </button>
    <nb-select placeholder="Select Showcase" size="small">
      <nb-option value="">Option empty</nb-option>
      <nb-option value="0">Option 0</nb-option>
      <nb-option value="1">Option 1</nb-option>
      <nb-option value="2">Option 2</nb-option>
      <nb-option value="3">Option 3</nb-option>
      <nb-option value="4">Option 4</nb-option>
    </nb-select>
  </nb-card-header>
  <nb-card-body>
    <nb-tabset class="tabs-tables">
      <nb-tab tabTitle="Graphs">
        <table class="table admin-table-bordered">
          <tbody>
            <tr>
              <th class="bold">Due 2nd July</th>
              <td class="bold" width="25%">Newton’s Law of Motion</td>
              <td>
                Lorem Ipsum has been the industry's standard dummy text ever
                since the 1500s.
              </td>
              <td>
                <label>Submitted</label>
                <div class="users-overlay-list">
                  <span class="item" style="background-color: #cecece;"></span>
                  <span class="item" style="background-color: #bfbbbd;"></span>
                  <span class="item" style="background-color: #b3b2b3;"></span>
                  <span class="item" style="background-color: #d4d4d4;"
                    >+24</span
                  >
                </div>
              </td>
              <td width="110">
                <label>Not Submitted</label>
                <div class="users-overlay-list">
                  <span class="item" style="background-color: #cecece;"></span>
                  <span class="item" style="background-color: #bfbbbd;"></span>
                  <span class="item" style="background-color: #b3b2b3;"></span>
                  <span class="item" style="background-color: #d4d4d4;"
                    >+24</span
                  >
                </div>
              </td>
              <td>
                <nb-icon icon="more-vertical-outline"></nb-icon>
              </td>
            </tr>
            <tr>
              <th class="bold">Due 2nd July</th>
              <td class="bold" width="25%">Newton’s Law of Motion</td>
              <td>
                Lorem Ipsum has been the industry's standard dummy text ever
                since the 1500s.
              </td>
              <td>
                <label>Submitted</label>
                <div class="users-overlay-list">
                  <span class="item" style="background-color: #cecece;"></span>
                  <span class="item" style="background-color: #bfbbbd;"></span>
                  <span class="item" style="background-color: #b3b2b3;"></span>
                  <span class="item" style="background-color: #d4d4d4;"
                    >+24</span
                  >
                </div>
              </td>
              <td width="110">
                <label>Not Submitted</label>
                <div class="users-overlay-list">
                  <span class="item" style="background-color: #cecece;"></span>
                  <span class="item" style="background-color: #bfbbbd;"></span>
                  <span class="item" style="background-color: #b3b2b3;"></span>
                  <span class="item" style="background-color: #d4d4d4;"
                    >+24</span
                  >
                </div>
              </td>
              <td>
                <nb-icon icon="more-vertical-outline"></nb-icon>
              </td>
            </tr>
            <tr>
              <th class="bold">Due 2nd July</th>
              <td class="bold" width="25%">Newton’s Law of Motion</td>
              <td>
                Lorem Ipsum has been the industry's standard dummy text ever
                since the 1500s.
              </td>
              <td>
                <label>Submitted</label>
                <div class="users-overlay-list">
                  <span class="item" style="background-color: #cecece;"></span>
                  <span class="item" style="background-color: #bfbbbd;"></span>
                  <span class="item" style="background-color: #b3b2b3;"></span>
                  <span class="item" style="background-color: #d4d4d4;"
                    >+24</span
                  >
                </div>
              </td>
              <td width="110">
                <label>Not Submitted</label>
                <div class="users-overlay-list">
                  <span class="item" style="background-color: #cecece;"></span>
                  <span class="item" style="background-color: #bfbbbd;"></span>
                  <span class="item" style="background-color: #b3b2b3;"></span>
                  <span class="item" style="background-color: #d4d4d4;"
                    >+24</span
                  >
                </div>
              </td>
              <td>
                <nb-icon icon="more-vertical-outline"></nb-icon>
              </td>
            </tr>
            <tr>
              <th class="bold">Due 2nd July</th>
              <td class="bold" width="25%">Newton’s Law of Motion</td>
              <td>
                Lorem Ipsum has been the industry's standard dummy text ever
                since the 1500s.
              </td>
              <td>
                <label>Submitted</label>
                <div class="users-overlay-list">
                  <span class="item" style="background-color: #cecece;"></span>
                  <span class="item" style="background-color: #bfbbbd;"></span>
                  <span class="item" style="background-color: #b3b2b3;"></span>
                  <span class="item" style="background-color: #d4d4d4;"
                    >+24</span
                  >
                </div>
              </td>
              <td width="110">
                <label>Not Submitted</label>
                <div class="users-overlay-list">
                  <span class="item" style="background-color: #cecece;"></span>
                  <span class="item" style="background-color: #bfbbbd;"></span>
                  <span class="item" style="background-color: #b3b2b3;"></span>
                  <span class="item" style="background-color: #d4d4d4;"
                    >+24</span
                  >
                </div>
              </td>
              <td>
                <nb-icon icon="more-vertical-outline"></nb-icon>
              </td>
            </tr>
          </tbody>
        </table>
      </nb-tab>
      <nb-tab tabTitle="List">
        <table class="table admin-table-bordered">
          <thead>
            <tr>
              <th>Last</th>
              <th>Handle</th>
              <th>Handle</th>
              <th>Handle</th>
              <th>Handle</th>
              <th width="10"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Due 2nd July</th>
              <td>Newton’s Law of Motion</td>
              <td>
                Lorem Ipsum has been the industry's standard dummy text ever
                since the 1500s.
              </td>
              <td>
                <label>Submitted</label>

                <div class="users-overlay-list">
                  <span class="item" style="background-color: #cecece;"></span>
                  <span class="item" style="background-color: #bfbbbd;"></span>
                  <span class="item" style="background-color: #b3b2b3;"></span>
                  <span class="item" style="background-color: #d4d4d4;"
                    >24+</span
                  >
                </div>
              </td>
              <td><label>Not Submitted</label></td>
              <td>
                <nb-icon icon="more-vertical-outline"></nb-icon>
              </td>
            </tr>
          </tbody>
        </table>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
  <!-- <nb-card-footer>By Wikipedia</nb-card-footer> -->
</nb-card>
