<div class="bg-image" [style.background-image]="'url(' + slide.image + ')'">
  <div
    class="text-wrapper"
    [class.show-fact]="activeFact === i"
    *ngFor="let fact of slide.facts; let i = index"
  >
    <div class="header-text">{{ fact.headerText }}</div>
    <div class="body-text">{{ fact.bodyText }}</div>
    <div class="footer-text">{{ fact.footerText }}</div>
  </div>
</div>
