:host {
  height: 100%;
  width: 100%;
}

.bg-image {
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  position: relative;
  opacity: 1;
  transition: opacity var(--animation-timing-medium) ease-in-out;

  &.off {
    opacity: 0;
  }
}
.text-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 11% 4% 4%;
  transition-property: opacity;
  transition-duration: 0.5s;
  opacity: 0;

  &.show-fact {
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
    opacity: 1;
  }

  .header-text {
    color: #ffffff;
    font-family: 'Playfair Display';
    font-size: 30px;
    font-weight: 900;
    line-height: 40px;
    text-transform: capitalize;
  }

  .body-text {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    line-height: 19px;
    margin: 20px 0;
  }

  .footer-text {
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0.21px;
    line-height: 19px;
    text-transform: uppercase;
  }
}

.show-fact {
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
  opacity: 1;
}

.hide-fact {
  transition-property: opacity;
  transition-duration: 0.5s;
  opacity: 0;
}
