<!-- <article>
  <div *ngIf="status">State: {{ status?.state }}</div>
  <p>
    Move mouse to close dialog!
  </p>
  <button mat-raised-button type="button" (click)="onContinue()">Continue</button>
  <button mat-raised-button type="button" (click)="onClose()">Lagout</button>
</article> -->

<article>
  <div *ngIf="status">State: {{ status?.state }}</div>
  <p>
    <b>Are you still there?</b>
  </p>
  <button mat-raised-button type="button" (click)="onContinue()">
    Continue
  </button>
  <button mat-raised-button type="button" (click)="onClose()">Logout</button>
</article>
