html,
body {
  font-family: 'Roboto', sans-serif;
}

.grab {
  cursor: -webkit-grab;
  cursor: grab;
}

.pointer {
  cursor: pointer;
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0 !important;
}

.mar10-r {
  margin-right: 10px;
}

.marb-35 {
  margin-bottom: 35px;
}

.mar40-tb {
  margin: 40px 0;
}

.padd20-all {
  padding: 20px;
}

.light {
  background: #fff;
  color: #000 !important;
}

.light .btn {
  color: #0069d9;
  background-color: gainsboro;
  border-color: #0069d9;
}

.light .remove-icon {
  color: red;
}

.dark {
  background: #fff;
  color: #000 !important;
}

.dark .btn {
  color: #0069d9;
  background-color: gainsboro;
  border-color: #0069d9;
}

.dark .remove-icon {
  color: red;
}

p {
  margin: 0 !important;
}

label {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0 -0.5rem;
  display: inline-block;
}

ul li {
  float: left;
  margin-bottom: 1rem;
  margin-right: 0.2rem;
}

.quiz-player .body {
  padding-top: 60px;
  -webkit-transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

.quiz-player .header {
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 15px;
  position: fixed;
  z-index: 9999;
  top: -120px;
  width: 100%;
  -webkit-transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  overflow: hidden;
}

.quiz-player .header .header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.quiz-player .header .header-block .block {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 0 15px;
}

.quiz-player .header .header-block .block p {
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #0069d9;
}

.quiz-player .header .header-block .block p i {
  font-weight: 700;
}

.quiz-player .header .header-block .block .back {
  font-size: 16px;
  font-weight: 700;
  padding-left: 20px;
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #0069d9;
  position: relative;
}

.quiz-player .header .header-block .block .back::before {
  content: '';
  border: solid #0069d9;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  position: absolute;
  left: 5px;
  top: 50%;
  margin-top: -4px;
}

.quiz-player
  .header
  .header-block
  .block
  .checkbox-answer
  input[type='checkbox'] {
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
}

.quiz-player
  .header
  .header-block
  .block
  .checkbox-answer
  input[type='checkbox']
  + .normal-checkbox,
.quiz-player
  .header
  .header-block
  .block
  .checkbox-answer
  input[type='checkbox']
  + .checkbox-tick-label,
.quiz-player
  .header
  .header-block
  .block
  .checkbox-answer
  input[type='checkbox']
  + .checkbox-cross-label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 25px;
  padding: 2px;
  margin: 0;
}

.quiz-player
  .header
  .header-block
  .block
  .checkbox-answer
  input[type='checkbox']
  + .normal-checkbox::before,
.quiz-player
  .header
  .header-block
  .block
  .checkbox-answer
  input[type='checkbox']
  + .checkbox-tick-label::before,
.quiz-player
  .header
  .header-block
  .block
  .checkbox-answer
  input[type='checkbox']
  + .checkbox-cross-label::before {
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  content: '';
  border-radius: 3px;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border: 2px solid #0069d9;
  margin-right: 3px;
  top: 50%;
  left: 0;
}

.quiz-player
  .header
  .header-block
  .block
  .checkbox-answer
  input[type='checkbox']
  + .normal-checkbox::after,
.quiz-player
  .header
  .header-block
  .block
  .checkbox-answer
  input[type='checkbox']
  + .checkbox-tick-label::after,
.quiz-player
  .header
  .header-block
  .block
  .checkbox-answer
  input[type='checkbox']
  + .checkbox-cross-label::after {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  content: '';
  background-color: transparent;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  position: absolute;
  top: 50%;
  left: calc(2px + 2px + 25px / 5);
  border-radius: 3px;
  width: 12.5px;
  height: 5px;
  margin-top: calc(25px / -2 / 2);
  border-style: solid;
  border-color: #fff;
  border-width: 0 0 3px 3px;
  border-radius: 0;
  -o-border-image: none;
  border-image: none;
  -webkit-transform: rotate(-45deg) scale(0);
  transform: rotate(-45deg) scale(0);
  -webkit-transition: none;
  transition: none;
}

.quiz-player
  .header
  .header-block
  .block
  .checkbox-answer
  input[type='checkbox']:checked
  + .normal-checkbox,
.quiz-player
  .header
  .header-block
  .block
  .checkbox-answer
  input[type='checkbox']:checked
  + .checkbox-tick-label,
.quiz-player
  .header
  .header-block
  .block
  .checkbox-answer
  input[type='checkbox']:checked
  + .checkbox-cross-label {
  color: #0069d9;
}

.quiz-player
  .header
  .header-block
  .block
  .checkbox-answer
  input[type='checkbox']:checked
  + .normal-checkbox::before,
.quiz-player
  .header
  .header-block
  .block
  .checkbox-answer
  input[type='checkbox']:checked
  + .checkbox-tick-label::before,
.quiz-player
  .header
  .header-block
  .block
  .checkbox-answer
  input[type='checkbox']:checked
  + .checkbox-cross-label::before {
  background-color: #0069d9;
  border-color: #0069d9;
}

.quiz-player
  .header
  .header-block
  .block
  .checkbox-answer
  input[type='checkbox']:checked
  + .normal-checkbox::after,
.quiz-player
  .header
  .header-block
  .block
  .checkbox-answer
  input[type='checkbox']:checked
  + .checkbox-tick-label::after,
.quiz-player
  .header
  .header-block
  .block
  .checkbox-answer
  input[type='checkbox']:checked
  + .checkbox-cross-label::after {
  content: '';
  -webkit-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

.quiz-player
  .header
  .header-block
  .block
  .checkbox-answer
  input[type='checkbox']:checked
  + .checkbox-tick-label::before {
  background-color: green;
  border-color: green;
}

.quiz-player
  .header
  .header-block
  .block
  .checkbox-answer
  input[type='checkbox']:checked
  + .checkbox-tick-label::after {
  content: '';
  -webkit-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

.quiz-player
  .header
  .header-block
  .block
  .checkbox-answer
  input[type='checkbox']
  + .checkbox-cross-label::after {
  opacity: 0;
}

.quiz-player
  .header
  .header-block
  .block
  .checkbox-answer
  input[type='checkbox']:checked
  + .checkbox-cross-label::before {
  background-color: red;
  border-color: red;
  content: '\f00d';
  font-family: 'FontAwesome';
  color: #fff;
  text-align: center;
  font-size: 19px;
}

.quiz-player
  .header
  .header-block
  .block
  .checkbox-answer
  input[type='checkbox']:checked
  + .checkbox-cross-label::after {
  border: none;
}

.quiz-player .header .theme-switch {
  position: relative;
  max-width: 120px;
}

.quiz-player .header .theme-switch label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  width: 120px;
  margin: 0;
}

.quiz-player .header .theme-switch label .can-toggle__switch {
  position: relative;
  cursor: pointer;
  -webkit-transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
  background: #fff;
  height: 33px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 120px;
  flex: 0 0 120px;
  border-radius: 4px;
  border: 1px solid #0069d9;
}

.quiz-player .header .theme-switch label .can-toggle__switch:before {
  color: #0069d9;
  left: 60px;
  font-size: 12px;
  font-weight: bold;
  line-height: 33px;
  width: 60px;
  padding: 0 12px;
  content: attr(data-checked);
  position: absolute;
  top: 0;
  text-transform: uppercase;
  text-align: center;
}

.quiz-player .header .theme-switch label .can-toggle__switch:after {
  top: 50%;
  margin-top: -16.5px;
  left: -1px;
  width: 60px;
  line-height: 33px;
  font-size: 12px;
  font-weight: bold;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1),
    -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  color: #fff;
  content: attr(data-unchecked);
  position: absolute;
  z-index: 5;
  text-transform: uppercase;
  text-align: center;
  background: #0069d9;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  border-radius: 4px 0 0 4px;
}

.quiz-player .header .theme-switch input[type='checkbox'] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.quiz-player
  .header
  .theme-switch
  input[type='checkbox']:focus
  ~ label
  .can-toggle__switch,
.quiz-player
  .header
  .theme-switch
  input[type='checkbox']:hover
  ~ label
  .can-toggle__switch {
  background-color: #fff;
}

.quiz-player
  .header
  .theme-switch
  input[type='checkbox']:focus
  ~ label
  .can-toggle__switch::after,
.quiz-player
  .header
  .theme-switch
  input[type='checkbox']:hover
  ~ label
  .can-toggle__switch::after {
  color: #fff;
}

.quiz-player .header .theme-switch input[type='checkbox']:hover ~ label {
  color: #0069d9;
}

.quiz-player .header .theme-switch input[type='checkbox']:checked ~ label:hover,
.quiz-player
  .header
  .theme-switch
  input[type='checkbox']:checked
  ~ label:focus {
  color: #fff;
}

.quiz-player
  .header
  .theme-switch
  input[type='checkbox']:checked
  ~ label
  .can-toggle__switch:before {
  content: attr(data-unchecked);
  left: 0;
}

.quiz-player
  .header
  .theme-switch
  input[type='checkbox']:checked
  ~ label
  .can-toggle__switch:after {
  color: #fff;
  border-radius: 0 4px 4px 0;
  -webkit-transform: translate3d(60px, 0, 0);
  transform: translate3d(60px, 0, 0);
  content: attr(data-checked);
}

.quiz-player .header .mode-switch {
  position: relative;
  max-width: 150px;
}

.quiz-player .header .mode-switch label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  width: 150px;
  margin: 0;
}

.quiz-player .header .mode-switch label .can-toggle__switch {
  position: relative;
  cursor: pointer;
  -webkit-transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
  background: #fff;
  height: 33px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 150px;
  flex: 0 0 150px;
  border-radius: 4px;
  border: 1px solid #0069d9;
}

.quiz-player .header .mode-switch label .can-toggle__switch:before {
  color: #0069d9;
  left: 75px;
  font-size: 12px;
  font-weight: bold;
  line-height: 33px;
  width: 75px;
  padding: 0 12px;
  content: attr(data-checked);
  position: absolute;
  top: 0;
  text-transform: uppercase;
  text-align: center;
}

.quiz-player .header .mode-switch label .can-toggle__switch:after {
  top: 50%;
  margin-top: -16.5px;
  left: -1px;
  width: 75px;
  line-height: 33px;
  font-size: 12px;
  font-weight: bold;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1),
    -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  color: #fff;
  content: attr(data-unchecked);
  position: absolute;
  z-index: 5;
  text-transform: uppercase;
  text-align: center;
  background: #0069d9;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  border-radius: 4px 0 0 4px;
}

.quiz-player .header .mode-switch input[type='checkbox'] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.quiz-player
  .header
  .mode-switch
  input[type='checkbox']:focus
  ~ label
  .can-toggle__switch,
.quiz-player
  .header
  .mode-switch
  input[type='checkbox']:hover
  ~ label
  .can-toggle__switch {
  background-color: #fff;
}

.quiz-player
  .header
  .mode-switch
  input[type='checkbox']:focus
  ~ label
  .can-toggle__switch::after,
.quiz-player
  .header
  .mode-switch
  input[type='checkbox']:hover
  ~ label
  .can-toggle__switch::after {
  color: #fff;
}

.quiz-player .header .mode-switch input[type='checkbox']:hover ~ label {
  color: #0069d9;
}

.quiz-player .header .mode-switch input[type='checkbox']:checked ~ label:hover,
.quiz-player .header .mode-switch input[type='checkbox']:checked ~ label:focus {
  color: #fff;
}

.quiz-player
  .header
  .mode-switch
  input[type='checkbox']:checked
  ~ label
  .can-toggle__switch:before {
  content: attr(data-unchecked);
  left: 0;
}

.quiz-player
  .header
  .mode-switch
  input[type='checkbox']:checked
  ~ label
  .can-toggle__switch:after {
  color: #fff;
  border-radius: 0 4px 4px 0;
  -webkit-transform: translate3d(75px, 0, 0);
  transform: translate3d(75px, 0, 0);
  content: attr(data-checked);
}

.quiz-player .header .switch-field-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quiz-player .header .switch-field-layout i {
  font-weight: bold;
}

.quiz-player .header .switch-field-layout label {
  cursor: pointer;
  background-color: #fff;
  color: #0069d9;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  padding: 5px 15px;
  margin-right: -1px;
  border: 1px solid #0069d9;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.quiz-player .header .switch-field-layout label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.quiz-player .header .switch-field-layout label:last-of-type {
  border-radius: 0 4px 4px 0;
}

.quiz-player .header .switch-field-layout input[type='radio'] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  border: 0;
}

.quiz-player .header .switch-field-layout input[type='radio']:checked + label {
  background-color: #0069d9;
  color: #fff;
}

.quiz-player .header .switch-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quiz-player .header .switch-field label {
  cursor: pointer;
  background-color: #fff;
  color: #0069d9;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  padding: 8px 10px;
  margin-right: -1px;
  border: 1px solid #0069d9;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.quiz-player .header .switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.quiz-player .header .switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

.quiz-player .header .switch-field input[type='radio'] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  border: 0;
}

.quiz-player .header .switch-field input[type='radio']:checked + label {
  background-color: #0069d9;
  color: #fff;
}

.quiz-player #checkbox-toggle {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  left: -100%;
  top: -100%;
}

.quiz-player label.toggle {
  position: fixed;
  z-index: 9999;
  cursor: pointer;
  right: 0;
  padding: 3px 10px;
  padding-bottom: 7px;
  width: 3%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: #26ae90;
  color: #fff;
  line-height: 16px;
  font-size: 12px;
  text-align: center;
  margin-left: 15px;
  /*new addition*/
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.quiz-player label.toggle::after {
  content: '\f078';
  font-family: FONTAWESOME;
}

.quiz-player #checkbox-toggle:checked + label.toggle {
  background: red;
  top: 9.5%;
}

.quiz-player #checkbox-toggle:checked + label.toggle::after {
  content: '\f077';
  font-family: FONTAWESOME;
}

.quiz-player #checkbox-toggle:checked ~ .header {
  top: 0;
}
/*# sourceMappingURL=quiz-player.component.css.map */
