<div class="quiz-player" [ngClass]="{ light: lightTheme, dark: !lightTheme }">
  <!-- <div class="header" *ngIf="templateType !== 'dashboard'">
        <div>
            <button class="btn btn-secondary btn-sm" (click)="back()">Back</button>
            <button class="btn btn-primary pull-right" (click)="toggletheme()">Theme</button>
        </div>
        <br><br>
        <div class="actions text-right">
            <button style="float:left" class='btn btn-danger btn-sm' (click)="selectedPage(2)" *ngIf="currentPage>2">
                <i class="fa fa-arrow-left"></i>
            </button>
            <span *ngIf="preview" class="badge badge-pill badge-success">
                {{correctAnsPoints}}/{{ points }}</span>

            <div *ngIf="!preview" class="btn-group btn-group-toggle btn-sm">
                <label class="btn-outline-primary btn-sm" ngbButtonLabel>
                    <input type="checkbox" ngbButton [(ngModel)]="source"
                        (change)="onSourceChange($event.target.checked)">
                    Source
                </label>
            </div>

            <div *ngIf="preview" class="btn-group btn-group-toggle btn-sm">
                <label class="btn-outline-primary btn-sm" ngbButtonLabel>
                    <input type="checkbox" ngbButton [(ngModel)]="showAns" id="showAns"
                        (change)="onAnsStatusChange($event.target.checked)"> Show Answer
                </label>
            </div>

            <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="viewMode">
                <label ngbButtonLabel class="btn-outline-primary btn-sm">
                    <input ngbButton type="radio" value="edit" (click)="onPreviewChange($event.target.value)"> Edit
                </label>
                <label ngbButtonLabel class="btn-outline-primary btn-sm">
                    <input ngbButton type="radio" value="preview" (click)="onPreviewChange($event.target.value)"
                        checked>Preview
                </label>
            </div>
        </div>
    </div> -->

  <input
    id="checkbox-toggle"
    name="checkbox"
    *ngIf="templateType !== 'dashboard'"
    type="checkbox"
  />
  <label
    for="checkbox-toggle"
    *ngIf="templateType !== 'dashboard'"
    class="toggle"
  ></label>

  <div class="body">
    <ng-template #targetRef></ng-template>
  </div>
  <header class="header" *ngIf="templateType !== 'dashboard'">
    <div class="header-block scrollbar-hidden">
      <div class="block">
        <p class="back" (click)="back()">Back</p>
      </div>
      <div class="block" *ngIf="viewMode">
        <div class="switch-field-layout">
          <input
            type="radio"
            id="laptop"
            name="switch-one"
            [checked]="device == 'laptop'"
            (change)="deviceViewChange($event)"
          />
          <label for="laptop"><i class="fa fa-laptop"></i></label>
          <input
            type="radio"
            id="mobile"
            name="switch-one"
            [checked]="device == 'mobile'"
            (change)="deviceViewChange($event)"
          />
          <label for="mobile"><i class="fa fa-mobile"></i></label>
          <input
            type="radio"
            id="mobile_ls"
            name="switch-one"
            [checked]="device == 'mobile_ls'"
            (change)="deviceViewChange($event)"
          />
          <label for="mobile_ls"
            ><i class="fa fa-mobile fa-rotate-90"></i
          ></label>
        </div>
      </div>
      <div class="block" *ngIf="!viewMode">
        <div class="switch-field">
          <input
            type="radio"
            id="vertical"
            name="switch-two"
            checked
            (change)="layoutChange($event)"
          />
          <!-- <img src="../../../../../apps/tce-app/src/assets/images/vertical.svg" width="20px"> -->
          <label for="vertical"><i class="fa fa-arrows-v"></i></label>
          <input
            type="radio"
            id="horizontal"
            name="switch-two"
            (change)="layoutChange($event)"
          />
          <label for="horizontal"><i class="fa fa-arrows-h"></i></label>
          <input
            type="radio"
            id="grid"
            name="switch-two"
            (change)="layoutChange($event)"
          />
          <label for="grid"><i class="fa fa-th-large"></i></label>
        </div>
      </div>
      <div class="block" (click)="saveQuestion()" *ngIf="!viewMode">
        <p>
          <i class="fa fa-save"></i>
          Save
        </p>
      </div>
      <div class="block" *ngIf="!viewMode" (click)="onSourceChange(true)">
        <p>
          <i class="fa fa-file-code-o" aria-hidden="true"></i>
          View Source
        </p>
      </div>
      <div class="block" *ngIf="!viewMode" (click)="metaData()">
        <p>Metadata</p>
      </div>
      <div
        class="block"
        *ngIf="
          viewMode && subcategory != 'rich-text' && subcategory != 'plain-text'
        "
      >
        <div class="checkbox-answer">
          <span class="badge badge-pill badge-success mar10-r">
            {{ correctAnsPoints }}/{{ points }}</span
          >
          <input
            id="checkbox-answer"
            name="checkbox"
            type="checkbox"
            (change)="onAnsStatusChange($event.target.checked)"
          />
          <label class="normal-checkbox" for="checkbox-answer"
            >Show Answer</label
          >
        </div>
      </div>
      <div class="theme-switch block">
        <input id="theme" type="checkbox" />
        <label for="theme">
          <div
            class="can-toggle__switch"
            data-checked="DARK"
            data-unchecked="LIGHT"
          ></div>
        </label>
      </div>
      <div class="mode-switch block">
        <input
          id="mode"
          (click)="onPreviewChange($event.target.checked)"
          type="checkbox"
        />
        <label for="mode">
          <div
            class="can-toggle__switch"
            data-checked="PREVIEW"
            data-unchecked="EDIT"
          ></div>
        </label>
      </div>
    </div>
  </header>
  <div class="container footer" *ngIf="templateType == 'dashboard'">
    <div class="row text-center">
      <div class="col-md-12">
        <div class="row justify-content-end">
          <div
            class="col-md-1 col-sm-2 col-2"
            *ngIf="loadQuestionMode == 'single'"
          >
            <button
              class="previous btn btn-outline-primary btn-sm"
              (click)="prevPage()"
            >
              Prev
            </button>
          </div>
          <div
            class="col-md-2 col-sm-4 col-4"
            *ngIf="loadQuestionMode == 'single'"
          >
            Page: {{ currentPage }}/{{ totalPages }}
          </div>
          <div
            class="col-md-1 col-sm-2 col-2"
            *ngIf="loadQuestionMode == 'single'"
          >
            <button
              class="next btn btn-outline-primary btn-sm"
              (click)="nextPage()"
            >
              Next
            </button>
          </div>
          <div
            class="offset-md-7 offset-sm-2 col-md-1 col-sm-2 col-4"
            *ngIf="viewMode"
          >
            <button
              class="submit btn btn-outline-primary pull-right btn-sm"
              (click)="submitAnswer()"
            >
              Submit
            </button>
            <div class="col-md-1 col-sm-4 col-12"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
