@import '../../../../../apps/tce-app/src/assets/themes/common.scss';
p {
  margin: 0 !important;
}
label {
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0 -0.5rem;
  display: inline-block;
  li {
    float: left;
    margin-bottom: 1rem;
    margin-right: 0.2rem;
  }
}

.quiz-player {
  .body {
    padding-top: 60px;
    transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  }
  .header {
    background: $white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 15px;
    position: fixed;
    z-index: 9999;
    top: -120px;
    width: 100%;
    transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    overflow: hidden;
    .header-block {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      align-items: center;
      justify-content: space-between;
      .block {
        flex: 0 0 auto;
        margin: 0 15px;
        p {
          font-size: 16px;
          font-weight: 700;
          cursor: pointer;
          width: max-content;
          color: $blue;
          i {
            font-weight: 700;
          }
        }
        .back {
          font-size: 16px;
          font-weight: 700;
          padding-left: 20px;
          cursor: pointer;
          width: max-content;
          color: $blue;
          position: relative;
          &::before {
            content: '';
            border: solid $blue;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
            position: absolute;
            left: 5px;
            top: 50%;
            margin-top: -4px;
          }
        }
        .checkbox-answer {
          position: relative;
          input {
            top: 20px;
            left: 60px;
          }
          @include checkbox(
            2px,
            25px,
            2px,
            3px,
            3px,
            3px,
            #fff,
            #fff,
            $blue,
            $blue,
            $blue,
            #000,
            $blue
          );
        }
      }
    }
    .theme-switch {
      @include switch(120px, 33px, 4px, 12px, 12px, $blue, $white);
    }
    .mode-switch {
      @include switch(150px, 33px, 4px, 12px, 12px, $blue, $white);
    }
    .switch-field-layout {
      i {
        font-weight: bold;
      }
      @include radio-switch(
        $white,
        $blue,
        $blue,
        $white,
        $blue,
        20px,
        15px,
        5px
      );
    }
    .switch-field {
      @include radio-switch(
        $white,
        $blue,
        $blue,
        $white,
        $blue,
        14px,
        10px,
        8px
      );
    }
  }

  #checkbox-toggle {
    position: absolute;
    appearance: none;
    cursor: pointer;
    left: -100%;
    top: -100%;
  }
  label.toggle {
    // position: absolute;
    position: fixed;
    z-index: 9999;
    cursor: pointer;
    right: 0;
    // padding: 8px 10px;
    // width: 100px;
    padding: 3px 10px;
    padding-bottom: 7px;
    width: 3%;
    // border-radius: 3px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background: #26ae90;
    color: #fff;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    // margin: 0px 50px;
    margin-left: 15px; /*new addition*/
    transition: all 500ms ease;
    &::after {
      content: '\f078';
      font-family: FONTAWESOME;
    }
  }
  #checkbox-toggle {
    &:checked + label.toggle {
      background: red;
      top: 9.5%;
      &::after {
        content: '\f077';
        font-family: FONTAWESOME;
      }
    }
  }
  #checkbox-toggle {
    &:checked ~ .header {
      top: 0;
    }
  }
  // #checkbox-toggle {
  //   &:checked ~ .body {
  //     margin-top: 60px;
  //   }
  // }
}
.footer {
  padding: 25px 0px;
  .btn {
    background: transparent;
  }
}
