/* Global imports */
@import '~apps/tce-teacher/src/assets/stylesheet/imports';
$textColor: #ff0000;
.resourceFormModal{
  position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99;
    opacity: 0.7;
    background-color: #22262a;

}
.planmode-background {
  background-color: wheat;
  height: 550px;
}
.canvas-layout {
  position: relative;
  width: 100%;
  height: 100%;

  & > * {
    width: 100%;
    min-width: 100%;
  }
}

.canvas-container {
  position: relative;
  height: 100%;
  max-height: 100%;
  background: var(--site-background);
  // background-image: var(--bg-image);
  // background-size: var(--bg-size);
  // background-position: var(--bg-position);
  // background-repeat: var(--bg-repeat);
  overflow: hidden;
}
.canvas-bg-container {
  position: absolute;
  height: 100%;
  //max-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: var(--bg-image);
  background-size: var(--bg-size);
  background-position: var(--bg-position);
  background-repeat: var(--bg-repeat);
  overflow: hidden;
}

.logo-container {
  position: absolute;

  top: 10px;
  left: 10px;
  z-index: $foreground-z-index;
  //animation-name: logoAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  .logo {
    width: 70px;
    height: 59px;
    background-image: var(--tce-background-logo);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .app-version {
    text-align: center;
    font-size: 12px;
    color: var(--text-color-primary);
    margin-top: 5px;
  }
}
@keyframes logoAnimation {
  from {
    opacity: 0;
    transform: scale(0.6);
    //top: -30px;
  }
  to {
    opacity: 1;
    //top: 10px;
    transform: scale(1);
  }
}
:host-context(.focus-mode) .logo-container {
  display: none !important;
}

.toolbar-container {
  position: absolute;
  right: 20px;
  top: 0;
  z-index: 150;
  display: flex;
  align-items: center;
  min-height: 95vh;
  transition: all var(--animation-timing-x-long) ease-in-out;
  &.drawer-open {
    min-height: 88vh;
  }
}

.login-container {
  position: absolute;
  top: calc(50% - 12.5px);
  left: 0;
  background-color: blue;
  padding: 10px;
  z-index: 1000;
}

.loadPlayer {
  width: 88vw;
  height: 70vh;
  position: absolute;
  top: 5vh;
  left: 5vw;
}

.center-pane,
::ng-deep tce-ftue-welcome {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: $foreground-z-index;
  padding: 20px;
}

.sign-in-pane {
  z-index: 151;
  position: relative;
}
.sign-in-message {
  text-align: center;
}

@keyframes welcomeBackAnimation {
  from {
    opacity: 0;
    transform: scale(0.6);
    //top: -30px;
  }
  to {
    opacity: 1;
    //top: 10px;
    transform: scale(1);
  }
}

.sign-in-message .sign-in-title {
  font-size: 1.1rem;
  color: var(--text-color-primary);
}

.sign-in-message .sign-in-subtitle {
  font-size: 0.9rem;
  color: var(--text-color-secondary);
  margin-top: 10px;
}

.sign-in-message .sign-in-subtitle a {
  color: var(--text-color-primary);
}

.canvas-layout {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  & > * {
    width: 100%;
    min-width: 100%;
  }
}
.left {
  left: 10px;
  right: auto;
  animation-name: toolbarLeftAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
.right {
  right: 10px;
  left: auto;
  animation-name: toolbarRightAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes toolbarRightAnimation {
  from {
    right: -50px;
  }
  to {
    right: 10px;
  }
}

@keyframes toolbarLeftAnimation {
  from {
    left: -50px;
  }
  to {
    left: 10px;
  }
}

.buttonleft {
  left: -9px;
  right: auto;
  animation-name: buttonLeftAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
.buttonright {
  right: 57px;
  left: auto;
  animation-name: buttonRightAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes buttonLeftAnimation {
  from {
    left: -57px;
    //transform: scale(0);
  }
  to {
    left: -9px;
    //transform: scale(1);
  }
}

@keyframes buttonRightAnimation {
  from {
    right: 30px;
    //transform: scale(0);
  }
  to {
    right: 57px;
    //transform: scale(1);
  }
}

.leftRightBtn {
  position: absolute;
  cursor: pointer;
  text-align: center;
  background-color: var(--tool-submenu-background-color);
  border: 1px solid var(--border-color);
  padding: 10px 5px 5px 5px;
  border-radius: 5px;
  line-height: 28px;
  font-weight: bold;
  box-shadow: 8px 0 15px 0 var(--box-shadow-color);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  height: 46px;
  width: 56px;
}
.timeout-screen {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 301;
  position: fixed;
  top: 0;
  transition: var(--animation-timing-long);
}

.image-text svg {
  // max-width: 65vw;
}
.image-text svg path {
  fill: var(--text-color-primary);
}

.welcome-back {
  animation: hideWelcome 8s forwards;
}
@keyframes hideWelcome {
  0% {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.add-resource-container {
  // height: 100%;
  // width: 100%;
  // position: absolute;
  display: flex;
}

.signOutIcon {
  transition: height var(--animation-timing-long) ease-in-out;
  z-index: 300;
  //bottom: 210px;
  height: 46px;
  width: 46px;
  margin: 0px 15px;
  border-radius: 6px;
  position: absolute;
  cursor: pointer;
  text-align: center;
  background-color: var(--tool-submenu-background-color);
  border: 1px solid var(--border-color);
  line-height: 26px;
  font-weight: bold;
  box-shadow: 8px 0 15px 0 var(--box-shadow-color);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  
}
// .left{
//   .signout-runnericon{
//     svg{

//       transform: rotateY(180deg)!important;
//     }
//   }
// }


.singOutIcon {
  height: 100%;
  width: 100%;
  // padding: 10px;
}
.signout-runnericon {
  position: relative;
  top: 10px;
}
.singOutIcon:hover {
  transform: scale(1);
  animation-name: none;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  position: absolute;
}

@keyframes goOut {
  0% {
    left: 12px;
  }
  10% {
    left: 11px;
  }
  20% {
    left: 10px;
  }
  30% {
    left: 9px;
  }
  40% {
    left: 8px;
  }
  50% {
    left: 7px;
  }
  60% {
    left: 6px;
  }
  70% {
    left: 5px;
  }
  80% {
    left: 3px;
  }
  90% {
    left: 2px;
  }
  100% {
    left: 0px;
  }
}

.logOut-container-right {
  position: fixed;
  width: 237px;
  // height: 160px;
  height: 70px;
  left: 25px;
  font-weight: 600;
  &::before {
    border-width: 17px;
    left: 5px;
  }
  &::after {
    left: 5px;
    border-width: 15px;
  }
  .title-label {
    color: #ffffff;
    font-family: Quicksand;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    text-align: justify;
    margin: 10px;
  }
  .logOut-border {
    margin: 10px;
    border-top: 2px solid var(--border-color);
  }
  .btn {
    color: #ffffff;
  }
  .logout-title-text {
    color: #ffffff;
    font-family: Quicksand;
    font-size: 14px;
    opacity: 0.5;
    font-weight: bold;
    /* line-height: 14px; */
    /* text-align: center; */
    margin: 4px;
    margin-left: 6px;
  }
  .logout-body-text {
    color: #ffffff;
    font-family: Quicksand;
    font-size: 13px;
    line-height: 15px;
    text-align: left;
    margin: 6px;
    opacity: 0.5;
    margin-top: 10px;
  }
}
.logOut-container-left {
  position: fixed;
  width: 237px;
  // height: 160px;
  height: 70px;
  right: 20px;
  font-weight: 600;
  &::before {
    border-width: 17px;
    left: 208px;
  }
  &::after {
    left: 208px;
    border-width: 15px;
  }

  .title-label {
    color: #ffffff;
    font-family: Quicksand;
    font-size: 13px;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
    margin-top: 14px;
  }
  .logOut-border {
    margin: 10px;
    border-top: 2px solid var(--border-color);
  }
  .btn {
    color: #ffffff;
  }
  .logout-title-text {
    color: #ffffff;
    font-family: Quicksand;
    font-size: 14px;
    opacity: 0.5;
    font-weight: bold;
    /* line-height: 14px; */
    /* text-align: center; */
    margin: 4px;
    margin-left: 6px;
  }
  .logout-body-text {
    color: #ffffff;
    font-family: Quicksand;
    font-size: 13px;
    line-height: 15px;
    text-align: left;
    margin: 6px;
    opacity: 0.5;
    margin-top: 10px;
  }
}

.logoutRightContainerTop {
  bottom: 270px;
}
.logoutRightContainerBottom {
  bottom: 140px;
}
.logoutLeftContainerTop {
  bottom: 230px;
}
.logoutLeftContainerbottom {
  bottom: 100px;
}
.mainSignOutContainer {
  height: 100%;
  width: 100%;
  position: absolute;
}
.userProfile-container {
  display: flex;
}

.userAdmin-container {
  display: flex;
}

.base-timer {
  position: relative;
  width: 35px;
  height: 35px;
  margin: 0 auto;
  top: 4px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 10px;
  stroke: white;
}

.base-timer__path-remaining {
  stroke-width: 10px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: white;
}
.signout-cancel-message {
  position: absolute;
  color: white;
  font-weight: bold;
  width: 100%;
  height: 100px;
  text-align: center;
  text-shadow: -1px -1px 4px #000000;
  top: 300px;

  font-size: 40px;
  animation-name: removeAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: once;
  opacity: 0;
}
@keyframes removeAnimation {
  from {
    //transform: scale(1.3);
    //left: 700px;
    opacity: 1;
  }
  to {
    //transform: scale(1);
    opacity: 0;
    //left: -300px
  }
}
