<ng-container #planningView>
  <div *ngIf="editFlag ==='edit'" class="resourceFormModal">
  </div>
      <ng-container  #addResource></ng-container>
  
</ng-container>
  <div *ngIf="isLoggedIn" class="userAdmin-container">
    <ng-container #userAdmin></ng-container>
  </div>
  <div class="canvas-container" [hidden]="!classRoomModeFlag">
    <div
      class="planmode-background"
      *ngIf="!isLoggedIn && applicationMode === 'planning'"
    >
      <tce-planning-mode-background></tce-planning-mode-background>
    </div>
    <tce-loading-layover
      *ngIf="!authChecked"
      message="Initializing Application"
    ></tce-loading-layover>
    <div id="canvas-bg-container-parent">
      <svg
        class="canvas-bg-container"
        id="canvasBgContainer"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns:ev="http://www.w3.org/2001/xml-events"
      >
        <g id="bgPanGroup"></g>
      </svg>
    </div>
    <div class="logo-container">
      <div class="logo"></div>
      <div class="app-version">v{{ appVersion }}</div>
    </div>
    <!-- <div *ngIf="applicationMode === 'planning'">
      <tce-calendar></tce-calendar>
    </div> -->
    <ng-container *ngIf="authChecked">
      <ng-container #ftueWelcomeOutlet></ng-container>
      <div
        class="sign-in-message center-pane"
        *ngIf="!isLoggedIn && centerMessage"
      >
        <div class="sign-in-title">You are currently in Guest Mode.</div>
        <div class="sign-in-subtitle">
          Please <a [routerLink]="" (click)="showSignIn($event)">Sign in</a> to
          choose a class and start teaching.
        </div>
      </div>
      <div
        class="sign-in-message center-pane welcome-back"
        *ngIf="isLoggedIn && !this.firstTimeUser && welcomeBackMessage"
      >
        <div>
          <svg-icon
            src="assets/images/WelcomeBack.svg"
            class="image-text"
            [applyCss]="true"
          ></svg-icon>
        </div>
        <div class="sign-in-title">Choose a resource to get started</div>
        <div class="sign-in-subtitle">
          Tap a resource from the playlist below to start the lesson
        </div>
      </div>
    </ng-container>
  
    <ng-container #loginOutlet></ng-container>
    <div class="add-resource-container" *ngIf="isLoggedIn">
      <ng-container #addResource></ng-container>
      <ng-container #searchResult></ng-container>
    </div>
    <div class="userProfile-container" *ngIf="isLoggedIn">
      <ng-container #userSettingView></ng-container>
      <ng-container #changePassword></ng-container>
      <ng-container #changePin></ng-container>
    </div>
    <div>
      <tce-flyout
        [ngClass]="[
          toolbarsetclass ? 'logOut-container-left' : 'logOut-container-right',
          toolbarsetclass && drawerOpen ? 'logoutLeftContainerTop' : '',
          toolbarsetclass && !drawerOpen ? 'logoutLeftContainerbottom' : '',
          !toolbarsetclass && drawerOpen ? 'logoutRightContainerTop' : '',
          !toolbarsetclass && !drawerOpen ? 'logoutRightContainerBottom' : ''
        ]"
        *ngIf="showLogout"
      >
        <div
          id="mainSignOutContainer"
          class="mainSignOutContainer"
          (click)="logout($event, (showLogout = !showLogout))"
        >
          <div class="logout-title-text">Sign Out</div>
          <div class="logout-body-text">
            You will need your username and password or PIN to sign back in.
          </div>
          <!-- <div class="logOut-border"></div>
          <div style="float: right;cursor: pointer;">
            <button type="button" class="btn btn-default" id="cancelLogOutPopUp" (click)="showLogout = false"  style="font-weight: 600;opacity: 0.5;"> Cancel </button>
            <button  style="font-weight: 600;" type="button" class="btn btn-default" id="LogOut" (click)="logOutUser()"  > Sign Out </button> </div>  -->
        </div>
      </tce-flyout>
      <div class="signout-cancel-message" *ngIf="signoutCancelMessage">
        Welcome Back
      </div>
      <div
        *ngIf="isLoggedIn"
        class="signOutIcon"
        [@LogoutIcon]="
          (drawerOpen && IsAnimation && toolbarsetclass) ||
          (drawerOpen && !IsAnimation && toolbarsetclass)
            ? 'rightTop'
            : (drawerOpen && IsAnimation && !toolbarsetclass) ||
              (drawerOpen && !IsAnimation && !toolbarsetclass)
            ? 'leftTop'
            : (!drawerOpen && IsAnimation && toolbarsetclass) ||
              (!drawerOpen && !IsAnimation && toolbarsetclass)
            ? 'rightBottom'
            : (!drawerOpen && IsAnimation && !toolbarsetclass) ||
              (!drawerOpen && !IsAnimation && !toolbarsetclass)
            ? 'leftBottom'
            : ''
        "
        [ngClass]="toolbarsetclass ? 'right' : 'left'"
      >
        <div
          class="singOutIcon"
          (click)="logout($event, (showLogout = !showLogout))"
          id="onScreenLogOut"
        >
          <div class="base-timer" *ngIf="showLogout">
            <svg
              class="base-timer__svg"
              viewBox="0 0 100 100"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g class="base-timer__circle">
                <circle
                  class="base-timer__path-elapsed"
                  cx="50"
                  cy="50"
                  r="45"
                ></circle>
                <path
                  id="base-timer-path-remaining"
                  stroke-dasharray="283"
                  class="base-timer__path-remaining ${remainingPathColor}"
                  d="M 50, 50 m -45, 0 a 45,45 0 1,0 90,0 a 45,45 0 1,0 -90,0"
                ></path>
              </g>
            </svg>
            <span id="base-timer-label" class="base-timer__label">{{
              formatTime(TIME_LIMIT)
            }}</span>
          </div>
          <div *ngIf="showRunner" [ngStyle]="{ transform: toolbarsetclass ? 'rotateY(180deg)' : '' }" >
            <svg-icon            
            class="signout-runnericon"
            src="assets/images/ic.SignOut.svg"         
          ></svg-icon>
          </div>
         
        </div>
      </div>
    </div>
    <div class="canvas-layout">
      <div #canvasGeneralOutlet></div>
      <tce-player-container *ngIf="isLoggedIn"></tce-player-container>
      <ng-container #playerDrawerOutlet></ng-container>
    </div>
    <div [ngClass]="toolbarsetclass ? 'float-left' : 'float-right'">
      <div
        class="toolbar-container"
        [ngClass]="[
          toolbarsetclass ? 'left' : 'right',
          drawerOpen ? 'drawer-open' : ''
        ]"
        style="pointer-events: none;"
      >
        <tce-toolbar *ngIf="applicationMode !== 'planning'"></tce-toolbar>
      </div>
  
      <div
        *ngIf="applicationMode !== 'planning'"
        class="toolbar-container"
        [ngClass]="toolbarsetclass ? 'buttonright' : 'buttonleft'"
      >
        <div
          class="leftRightBtn bs-popover-right"
          title="Move Toolbar Left"
          (click)="toolbardirection($event, 'left')"
          *ngIf="!toolbarsetclass"
        >
          <svg-icon src="assets/images/ic.toolbarLeft.svg"></svg-icon>
        </div>
        <div
          class="leftRightBtn rightBtn"
          title="Move Toolbar Right"
          (click)="toolbardirection($event, 'right')"
          *ngIf="toolbarsetclass"
          style="border-radius: 5px 0px 0px 5px;"
        >
          <svg-icon src="assets/images/ic.toolbarRight.svg"></svg-icon>
        </div>
      </div>
    </div>
    <!-- widget -->
    <ng-container #widgetPlayer></ng-container>
    <!-- widget -->
  </div>
  <div class="timeout-screen" *ngIf="showIdle">
    <tce-session-timeout></tce-session-timeout>
  </div>
  <tce-keyboard></tce-keyboard>


