.mainLogin_Panel {
  height: 615px;
  width: 65vw;
  position: absolute;
  z-index: 301;
  top: calc(100vh - 45px);
  left: 50%;
  display: flex;
  align-items: stretch;
  transition: all var(--animation-timing-medium) ease-in-out;
  transform: translate(-50%, 0%);

  &.sign-in-active {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .login_div_panel {
    position: absolute;
    top: 0;
    height: 45px;
    left: 0;
    right: 0;
    z-index: 10;
    cursor: pointer;
  }
}

.imageHalf {
  width: 50%;
}

.loginHalf {
  width: 50%;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  background: #fff;
  padding: 15px;
  position: relative;
}

.closeIcon svg,
.revealIcon svg {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.closeIcon svg #close02 {
  fill: #7f7f7f;
}

.terms_Panel {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  padding: 0 10px;
  color: var(--text-color-secondary);
  line-height: 22px;
}

.terms_privacy_a {
  color: #248ef6 !important;
  text-decoration: underline !important;
  cursor: pointer;
}

@media only screen and (max-height: 600px) {
  .mainLogin_Panel {
    height: 95vh;
  }
}

@media only screen and (max-width: 800px) {
  .mainLogin_Panel {
    width: 80vw;
  }
}

@media only screen and (max-width: 700px), screen and (max-height: 600px) {
  .imageHalf {
    display: none;
  }

  .loginHalf {
    width: 100%;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
  }
}

/* Child Components Shared CSS */

.height100 {
  height: 100%;
  max-height: 100%;
  min-height: 100%;
}

p {
  margin-top: 0;
  margin-bottom: 0rem;
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* Header */

.signIn_Panel {
  margin-top: 5vh;
  text-align: center;

  @media only screen and (max-height: 600px) {
    margin-top: 20px;
  }
}

.signIn_p {
  font-size: 38px;
  font-family: Playfair Display;
  font-weight: bold;
  line-height: 51px;
  color: #000000;
}

.header_title {
  margin-top: 20px;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.5px;
  line-height: 30px;
  text-align: center;
}

.signin_with_account_div {
  margin-top: 8px;
  text-align: center;
}

.signin_with_account_p {
  color: rgba(0, 0, 0, 0.75);
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.signIn_pin_p_error {
  letter-spacing: 0.33px;
  color: #f1625e;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
}

/* Form Fields */
form {
  height: inherit;
  margin-top: 2vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    opacity: 0.5;
    color: #000000;
    font-size: 16px;
    letter-spacing: -0.33px;
    line-height: 20px;
    height: 50px;
    width: 80%;
    max-width: 280px;
    border: 1px solid #cecece;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 15px;
    margin: 0 0 2vh;

    ::placeholder {
      height: 20px;
      width: 52px;
      opacity: 0.5;
      color: #000000;
      font-size: 16px;
      letter-spacing: -0.33px;
      line-height: 20px;
    }

    &.highlightField {
      border: 1px solid #248ef6;
      opacity: 1;
    }

    &.inputboxotp {
      margin: auto 1.3%;
      text-shadow: 0 0 0 #1d5ba0;
      box-sizing: border-box;
      height: 60px;
      width: 16%;
      text-align: center;
      color: #1d5ba0;
      font-size: 26px;
      font-weight: bold;
      line-height: 32px;
      border-radius: 5px;
      border: 1px solid transparent;
      background-color: rgb(226, 226, 226);
      padding: 0;

      &.enteredPin {
        background-color: #fff;
        border: 1px solid #248ef6;
      }
    }
  }
}

.signInEnable {
  background: linear-gradient(180deg, #6d71ff 0%, #248ef6 100%);
  p {
    color: var(--text-color-primary) !important;
  }
  :hover {
    cursor: pointer;
  }
}

.signInDisable {
  background-color: rgba(0, 0, 0, 0.12);
  opacity: 0.5;
  p {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    font-family: Quicksand;
  }
}

.signIn_Button {
  text-align: center;
  margin-bottom: 4vh;
  width: 100%;
}

.bad_credential_p {
  color: #f1625e;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
}
.bad_credential_div {
  border: 1px solid #f1625e;
  border-radius: 0px;
  padding: 7px;

  margin-top: 8px;
  text-align: center;
}
.signin_button_login {
  width: 80%;
  color: var(--text-color-primary);
  max-width: 280px;
  padding: 15px 14px;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  border-radius: 5px;
  border: 0;
}
.signIn_with_pin_div {
  margin-top: 20px;
  text-align: center;
}
.signIn_with_pin_p {
  color: #1d5ba0 !important;
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
}
.signin_u_div {
  margin-top: 8px;
  text-align: center;
}

.signin_u_p {
  letter-spacing: 0.33px;
  line-height: 22px;
}

.rectangle {
  height: 1px;
  width: 100%;
  background-color: #d8d8d8;
  margin: auto;
}

.bottomDiv {
  position: relative;
  width: 50%;
  margin: 0 auto;
}

.or_div {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: baseline;
  margin: auto;
}

.or_text {
  margin: auto 5%;
}

.skip_pin_creation {
  color: #248ef6;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

.otp-box-container {
  width: 100%;
  max-width: 350px;
  margin: 2vh auto 4vh;

  > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4vh;
  }
}

@media only screen and (max-width: 600px), screen and (max-height: 600px) {
  .signIn_p {
    font-size: 26px;
    line-height: 26px;
  }

  .signIn_Panel {
    margin: 0;
  }

  .header_title {
    font-size: 20px !important;
    line-height: 20px !important;
  }

  .terms_Panel {
    font-size: 12px;
    line-height: 16px;
    bottom: 5px;
  }

  form input,
  .signin_button_login {
    padding: 5px 15px;
    height: auto;
  }

  .signin_button_login {
    font-size: 12px;
  }

  .or_text {
    font-size: 12px;
  }
  .signin_with_account_p {
    font-size: 12px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

/* END - Router Outlet Shared CSS */
