<div class="mainLogin_Panel" [class.sign-in-active]="signInActive">
  <div class="login_div_panel" (click)="setSignInActive($event, 'topBar')">
    <div class="login_div_closeIcon">
      <svg-icon
        *ngIf="signInActive"
        src="assets/images/ic.CloseModal.svg"
        class="closeIcon"
        [applyCss]="true"
        (click)="showHideIconClick($event)"
      ></svg-icon>
      <svg-icon
        *ngIf="!signInActive"
        src="assets/images/ic.RevealModal.svg"
        class="revealIcon"
        [applyCss]="true"
        (click)="showHideIconClick($event)"
      ></svg-icon>
    </div>
  </div>

  <div class="imageHalf">
    <app-fact-of-the-day></app-fact-of-the-day>
  </div>

  <div class="loginHalf">
    <div [ngSwitch]="currentSignInState">
      <tce-login-pwd
        *ngSwitchCase="'auth.login.password'"
        [isSignInActive]="signInActive"
      ></tce-login-pwd>
      <tce-login-pin
        *ngSwitchCase="'auth.login.pin'"
        [isSignInActive]="signInActive"
      ></tce-login-pin>
      <tce-change-pin
        *ngSwitchCase="'auth.change.pin'"
        [isSignInActive]="signInActive"
      ></tce-change-pin>
      <tce-change-password
        *ngSwitchCase="'auth.change.password'"
        [isSignInActive]="signInActive"
      ></tce-change-password>
    </div>
    <!-- <router-outlet (activate)="onActivate($event)"></router-outlet> -->

    <div class="terms_Panel">
      By signing in, you agree to the TCE
      <a
        href="https://www.tataclassedge.com/terms-and-conditions/"
        target="_blank"
        ><span class="terms_privacy_a">Terms & Privacy Policy</span></a
      >.
    </div>
  </div>
</div>
