<div class="timeout-panel" style="opacity: 0.9;">
</div>
<div class="timeout-middle-section">
  <div class="still-there-placeholder-label">
    Are you still there?
  </div>
  <div class="time-remaining-placeholder-label">
    <div>
      You have been inactive for over
      {{ authService.sessionIntervalDurDate | date: 'mm' }} minutes. To help
      protect your
    </div>
    <div class="time-remaining-placeholder-label-last">
      <div>
        account and security this session will automatically end in &nbsp;
      </div>
      <div>
        <u> {{ sessionTimeoutService.idleState }} </u>
      </div>
    </div>
  </div>
  <div class="stay-signed-in-panel">
    <button class="stay-signed-in-button" (click)="staySigned('fromUI')">
      Stay Signed In
    </button>
  </div>
  <div class="sign-out-panel">
    <span (click)="signOut('fromUI')">Sign Out</span>
  </div>
</div>
