.timeout-panel {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.timeout-middle-section {
  width: auto;
  margin: auto;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  height: fit-content;
  text-align: center;
}
.still-there-placeholder-label {
  color: #ffffff;
  font-size: 60px;
  font-weight: bold;
  line-height: 75px;
  text-align: center;
}
.time-remaining-placeholder-label {
  margin: 20px;
  color: #ffffff;
  font-family: 'Quicksand';
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  div:nth-child(1) {
    opacity: 0.6;
  }
}
.time-remaining-placeholder-label-last {
  display: inline-flex;
  div:nth-child(1) {
    opacity: 0.6;
  }
}
.stay-signed-in-button {
  margin: 20px;
  padding: 10px 50px;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  line-height: 38px;
  text-align: center;
  height: 100%;
  width: auto;
  border-radius: 5px;
  background: linear-gradient(180deg, #6d71ff 0%, #248ef6 100%);
  box-shadow: inset 0 1px 0 0 rgba(247, 247, 247, 0.12),
    0 8px 16px 0 rgba(10, 74, 183, 0.3), 0 4px 4px 0 rgba(10, 74, 183, 0.15);
  :hover {
    cursor: pointer;
  }
}
.sign-out-panel {
  padding: 10px;
  color: #c7c7c7;
  font-size: 30px;
  font-weight: bold;
  line-height: 38px;
  text-align: center;
  span:hover {
    cursor: pointer;
  }
}
