:host.keyboard .utility-bar {
  bottom: 175px;
}

.utility-bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: bottom 250ms ease-in-out;

  .utility-bar-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
    z-index: 10;
    bottom: 2%;
    background-color: #22262a;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 30px 100px 0 rgba(0, 0, 0, 0.5),
      0 20px 25px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
}
