:host {
  padding-top: 10px;
}

.content-selector-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95px;
  height: 95px;
  border-radius: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.selection-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-image {
  margin: 0 8px;
  height: 39px;
  width: 39px;
}

.arrow-container {
  color: #ffffff;
  user-select: none;
}

.arrow-left {
  position: absolute;
  left: 0;
  top: 27%;
  transform: rotate(90deg);
  user-select: none;
  padding: 5px 10px;
}

.arrow-right {
  position: absolute;
  right: 0;
  top: 27%;
  transform: rotate(270deg);
  user-select: none;
  padding: 5px 10px;
}

.content-title {
  color: #ffffff;
  font-size: 11px;
  font-weight: bold;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-top: 10px;
}

.content-selector-flyout {
  position: absolute;
  bottom: 140px;
  width: 60%;
  height: 360px;
  margin-left: 10px;
}

.current-chapter-topic {
  position: absolute;
  top: 32px;
  letter-spacing: 1.18px;
  font-size: 13px;
  font-weight: bold;
}
