<div
  class="content-selector-box"
  title="Select Content"
  id="content-select"
  (click)="toggleContentFlyout()"
  [ngStyle]="{
    background: displayContentFlyout
      ? '#22262a'
      : 'linear-gradient(180deg, #6D71FF 0%, #248EF6 100%)'
  }"
  *ngIf="chapters.length"
>
  <div class="selection-container">
    <div class="arrow-left"  title="Previous Topic" (click)="goToPreviousChapterOrTopic($event)">
      <img src="assets/images/playlist/arrow.svg" width="14" />
    </div>
    <img
      id="content-select"
      src="assets/images/playlist/{{
        displayContentFlyout
          ? 'content_selector_open'
          : 'content_selector_closed'
      }}.png"
      class="content-image"
    />
    <span
      class="current-chapter-topic"
      [ngStyle]="{ color: displayContentFlyout ? '#000000' : '#ffffff' }"
      *ngIf="selectedChapter && selectedTopic"
    >
      {{ selectedChapter.chapterNumber }}.{{ selectedTopic.topicNumber }}
    </span>
    <div class="arrow-right" title="Next Topic" (click)="goToNextChapterOrTopic($event)">
      <img src="assets/images/playlist/arrow.svg" width="14" />
    </div>
  </div>
  <div class="content-title">Contents</div>
</div>
<tce-flyout
  class="content-selector-flyout"
  *ngIf="displayContentFlyout"
  [@slideInOut]="animationFlag && displayContentFlyout"
>
  <tce-lesson-selection-container
    (lessonPlanClick)="toggleContentFlyout()"
  ></tce-lesson-selection-container>
</tce-flyout>
