:host {
  max-width: 145px;
}

.wrapper {
  background-color: #1a1c20;
  padding: 20px;
  overflow: auto;
  height: 100%;
  scrollbar-width: none;

  > div {
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
  }
}

.pdf-wrapper {
  border-radius: 5px;
  border: 3px solid #000000;
  transition: border var(--animation-timing-medium) ease-in-out;
  max-width: 100%;
  display: inline-block;
  padding: 2px;

  &.selected {
    border: 3px solid #507cfb;
  }
}

.thumbnail {
  text-align: center;
}

.pageNum {
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  text-align: center;
  margin: 5px 0 10px;
  transition: all var(--animation-timing-medium) ease-in-out;

  &.selected {
    color: #000;
    background: #fff;
    display: inline-block;
    padding: 0 5px;
    border-radius: 3px;
  }
}

::ng-deep .pdfViewer.removePageBorders .page {
  margin: 0 auto !important;
}
