<div class="question-container">
  <tce-question-header
    [currentQuestionNumber]="currentQuestionNumber"
    [question]="question"
    [totalQuestionCount]="totalQuestionCount"
    [layout]="layout"
  ></tce-question-header>
  <div [formGroup]="formGroupReference" class="form-group-container">
    <div class="options-container">
      <tce-question-option-card
        *ngFor="
          let option of (formGroupReference?.controls)['options']['controls'];
          index as j
        "
        [layout]="layout"
        [option]="option.value"
        [pureOption]="option"
        [index]="j"
        [inputType]="'checkbox'"
        [parentForm]="formGroupReference"
        [isSubmitted]="formGroupReference.value.submitted"
        [isCorrect]="option.value.isCorrect"
        [isSelected]="option.value.checked"
        [typeFormControl]="option.get('checked')"
        [randomFieldName]="randomFieldName"
      >
      </tce-question-option-card>
    </div>
  </div>
</div>
