@import '~libs/core/src/lib/css/variables';

:host {
  position: absolute;
  z-index: $player-annotation-layer-z-index;
  top: 0;
  left: 0;
  pointer-events: auto;
}

.canvas-container {
  transition: opacity var(--animation-timing-medium) ease-in-out;
  opacity: 1;
  &.fadeout {
    opacity: 0;
  }
  &.block-transition {
    transition: none;
  }
}

:host.-non-blocking {
  pointer-events: none;
}

:host.position-center {
  left: 50%;
  transform: translateX(-50%);
  // satyajit enable below to debug tce player with konva
  // background-color: red;
  // opacity: 0.3;
}

:host.-hide-annotation-layer {
  display: none;
}
