@import '~apps/tce-teacher/src/assets/stylesheet/imports';
// .resource-container{
//     position: absolute;
//     width: 1200px;
//     background: red;
//     z-index: 11;
//     height: 100%;
// }

:host {
  // width: $player-default-width;
  // min-width: $player-default-width;
  // height: $player-default-height;
  // margin: $player-default-margin;
  position: absolute;
  z-index: 11;
  display: flex;
  > ::ng-deep * {
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: height var(--animation-timing-medium) linear;
  }
  &.-pdf-viewer {
    // width: $player-portrait-width;
    // min-width: $player-portrait-width;
    // margin: $player-portrait-margin;
    // height: $player-track-height;
    // &.-drawer-open {
    //   height: $player-portrait-shortened-height;
    //   > ::ng-deep * {
    //     height: $player-portrait-shortened-height;
    //   }
    // }
    // &.-focus-mode-ON {
    //   height: $player-focus-mode;
    //   > ::ng-deep * {
    //     height: $player-focus-mode;
    //   }
    // }
    // > ::ng-deep * {
    //   height: $player-track-height;
    // }
  }
  &.-image-gallery {
    width: $defaultPlayerWidth;
    min-width: $defaultPlayerWidth;
    margin: 0 8vw;
    height: $gallery-player-track-height;
    transition: height var(--animation-timing-medium) linear;
    &.-drawer-open {
      height: $player-gallery-shortened-height;
      > ::ng-deep * {
        height: $player-gallery-shortened-height;
      }
    }
    &.-focus-mode-ON {
      height: $gallery-player-focus-mode;
      > ::ng-deep * {
        height: $gallery-player-focus-mode;
      }
    }
    > ::ng-deep * {
      height: $gallery-player-track-height;
    }
  }
  &.-unsupport-player {
    width: $defaultPlayerWidth;
    min-width: $defaultPlayerWidth;
    margin: 0 8vw;
    height: $gallery-player-track-height;
    transition: height var(--animation-timing-medium) linear;
    &.-drawer-open {
      height: $player-gallery-shortened-height;
      > ::ng-deep * {
        height: $player-gallery-shortened-height;
      }
    }
    &.-focus-mode-ON {
      height: $gallery-player-focus-mode;
      > ::ng-deep * {
        height: $gallery-player-focus-mode;
      }
    }
    > ::ng-deep * {
      height: $gallery-player-track-height;
    }
  }
  &.-quiz-player {
    width: $defaultPlayerWidth;
    min-width: $defaultPlayerWidth;
    margin: 0 8vw;
    height: $quiz-player-track-height;
    &.-drawer-open {
      height: $player-quiz-shortened-height;
      > ::ng-deep * {
        height: $player-quiz-shortened-height;
      }
    }
    &.-focus-mode-ON {
      height: $quiz-player-focus-mode;
      > ::ng-deep * {
        height: $quiz-player-focus-mode;
      }
    }
    > ::ng-deep * {
      height: $quiz-player-track-height;
    }
  }
  &.-tce-video-player {
    min-width: 84vw;
    pointer-events: none;
    background-color: transparent;
    width: 84vw;
    margin: 0 auto;
    height: $player-track-height;
    > ::ng-deep * {
      background: transparent;
    }

    &.-drawer-open {
      pointer-events: none;
      height: $player-tce-shortened-height;
    }
    &.-focus-mode-ON {
      height: $player-focus-mode;
    }
  }
}

:host.-disable-pointer-events {
  pointer-events: none;
}

// TODO: Animation Styles should be applied to the abstract player component,
// which is being created in another ticket.
@keyframes fadeInAndGrow {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes fadeOutAndShrink {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    opacity: 0.75;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
:host {
  height: 270px;
  // width: 467px;
  width: 100%;
  margin: 0px -15px;
}

:host ::ng-deep tce-annotation {
  display: none;
}
