@import 'libs/question-bank/src/lib/assets/css/common.scss';
.mainDiv {
  margin-top: 0.5%;
  width: 1054px;
  border-radius: 18px;
  border: 0;
  animation: openZoom 0.5s;
}
.previewDiv{
  min-width: 400px;
  margin-top: 0.5%;
  max-width: 1054px;
  border-radius: 18px;
  border: 0;
  animation: openZoom 0.5s;
}

.questionEditorMainContainer {
  height: 100%;
  width: 100%;
  display: flex;
}
.templateEditorMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  position: relative;
}
.questionSelectorMainContainer {
  position: absolute;
  top: 190px;
}
.sidebar {
  position: relative;
  right: 0px;
}
.dropDown {
  position: absolute;
  top: 5px;
  width: fit-content;
}
.card-body {
  padding: 0px;
  border-radius: 18px;
  overflow: hidden;
}
.qb-form-side-sec {
  background: #22262a;
  padding: 65px 25px 25px 25px;
  min-width: 365px;
  width: 0;
  position: relative;
  overflow: hidden;
  // transition: all 0.7s; // check qb-animation.scss
  z-index: 12;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.3);
  .qb-form-side-wrapper {
    opacity: 1;
    // transition: all 1s 0.2s; // check qb-animation.scss
  }
}
.qb-form-side-sec-hidden {
  min-width: 50px;
  padding: 25px 0;
  .qb-form-side-wrapper {
    opacity: 0;
    // transition: all 0.15s; // check qb-animation.scss
  }
}
.add-qsn-forms-sections {
  height: calc(100vh - 100px);
}
@mixin submitQ {
  font-family: 'Quicksand';
  background: linear-gradient(90deg, #6d71ff 0%, #248ef6 100%) !important;
  color: #fff;
  text-transform: uppercase !important;
  font-size: 16px;
  font-weight: 700;
  border: none !important;
  border-radius: 5px;
}

.qb-submit-div {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 20px;
  background-color: $white;
  z-index: 11;
  .draftSaved {
    color: rgba(255, 0, 0, 0.7);
    font-weight: 700;
    line-height: 18.75px;
  }
  .qb-submit-question {
    .qb-dismiss-modal {
      color: rgba(0, 0, 0, 0.4);
      font-weight: 700;
    }
    .qb-submit-question-btn {
      @include submitQ;
      padding: 0;
      span:first-child {
        width: 204px;
        height: 50px;
        &:after {
          content: '';
          height: 64%;
          width: 1px;
          position: absolute;
          right: 0;
          top: 18%;
          background-color: #fff;
          opacity: 0.2;
        }
      }
      span:last-child {
        width: 87px;
      }
    }
  }
}

.d-none {
  display: none;
  scroll-behavior: smooth;
}
.d-block {
  display: block;
  scroll-behavior: smooth;
}

.questionSelectorHeader {
  display: flex;

  .h4 {
    color: #000;
    margin: 0 0 25px;
    font-size: 20px;
  }
}
@mixin toggleBtn($bg) {
  top: 0;
  right: 0;
  background: $bg;
  border-radius: 3px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 18px;
  svg {
    top: 13px;
  }
}
.qb-toggle-btn-controller {
  @include toggleBtn(#000);
}
.qb-toggle-btn-preview {
  @include toggleBtn(#f9f8f8);
}
.qb-preview-btn-disabled {
  pointer-events: none;
}
.qb-toggle-controller {
  top: 0;
  left: 0;
  background: #000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  svg {
    top: 14px;
  }
}
.qb-btn-custom-pos {
  top: 0px;
  right: -50px;
  background: #000;
  width: 50px;
  height: 50px;
  padding: 5px;
  z-index: 13;
  border-bottom-right-radius: 11px;
  cursor: pointer;
  opacity: 0;
  // transition: opacity 0.3s; // check qb-animation.scss
  svg {
    top: 8px;
  }
}
.qb-btn-custom-pos_hidden {
  opacity: 1;
}
.qb-question-details {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  line-height: 22.5px;
}
.qb-preview-transition-hidden {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  width: 0;
  height: 100%;
  padding: 0px;
  box-shadow: -10px 0px 10px 1px rgba(0, 0, 0, 0.18);
  background: #000;
  opacity: 0;
  // transition: all 1s; // check qb-animation.scss
  // transition-delay: 0s;
}
.qb-preview-transition-shown {
  width: 78%;
  background: #fff;
  opacity: 1;
  border-bottom-right-radius: 18px;
  border-top-right-radius: 18px;
  // transition-delay: 0.3s; // check qb-animation.scss
}
.preventClick {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: transparent;
}
:host ::ng-deep .preview_transition_shown .toggleBtn {
  background: #f9f8f8;
  svg {
    background: linear-gradient(
      to right top,
      transparent 47.75%,
      $blue 49.5%,
      $blue 50.5%,
      transparent 52.25%
    );
  }
}

.content-playList-addResourceList-subjectGrade {
  position: absolute;
  width: var(--add-resource-width);
  height: var(--add-resource-height);
  right: var(--add-resource-right);
  font-weight: 600;
  top: var(--add-resource-top);
  &::before {
    left: var(--add-resource-beforAfter-left);
    border-width: 17px;
    top: var(--add-resource-beforAfter-top);
    transform: var(--add-resource-beforAfter-transform);
  }
  &::after {
    left: var(--add-resource-beforAfter-left);
    border-width: 17px;
    top: var(--add-resource-beforAfter-top);
    transform: var(--add-resource-beforAfter-transform);
  }

  // top: 50px;
  // background: #02020285;

  width: 75%;
  height: 100%;
  top: 50px;
  right: 0;
  position: absolute;
}

.content-playList-addResourceList-gradeSubject {
  
  position: absolute;
  width: var(--add-resource-width);
  height: var(--add-resource-height1);
  right: var(--add-resource-right);
  font-weight: 600;
  top: var(--add-resource-top1);
  &::before {
    left: var(--add-resource-beforAfter-left);
    border-width: 17px;
    top: var(--add-resource-beforAfter-top1);
    transform: var(--add-resource-beforAfter-transform);
  }
  &::after {
    left: var(--add-resource-beforAfter-left);
    border-width: 17px;
    top: var(--add-resource-beforAfter-top1);
    transform: var(--add-resource-beforAfter-transform);
  }

  width: 75%;
  height: 100%;
  top: 50px;
  right: 0;
  position: absolute;
  z-index: 11;
}
::ng-deep .subject-selector-containers,
::ng-deep .chapters-topic-container {
  // width: 66% !important;
  // background-color: #0000009e !important;  
  background-color: #22262a !important;
  z-index: 9999; 
}
::ng-deep .choose-subject,
::ng-deep .topic-list-container {
  height: calc(100vh - 250px) !important;
  border-left: solid 1px #000000c9 !important;
  // background-color: #595959 !important;
}
::ng-deep .chapter-list-container {
  height: calc(100vh - 250px) !important;
  // background-color: #595959 !important;
}
::ng-deep .choose-grade,
::ng-deep .chapter-list-container {
  border-right: 0 !important;
}
::ng-deep .form-control:disabled,
::ng-deep .form-control[readonly] {
  background-color: #000000 !important;
  border: none !important;
}

.marginTop {
  margin-top: 20px;
}

::ng-deep .cancelBtn {
  background: none !important;
  color: rgba(0, 0, 0, 0.4) !important;
}
