<div [ngClass]="this.showPreview ? 'preventClick' : ''"></div>

<nb-card *ngIf="customQuestion" class="mainDiv position-relative">
  <nb-card-body class="card-body bg-white">
    <div class="d-flex add-qsn-forms-sections">
      <div class="templateEditorMainContainer position-relative">
        <tce-question-editor-view [templateData]="templateData" [templateComponent]="templateComponent">
        </tce-question-editor-view>
        <div class="qb-btn-custom-pos position-absolute text-center" (click)="showController()"
          [ngClass]="this.showcontroller ? 'qb-btn-custom-pos_hidden' : ''">
          <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"
            class="position-relative">
            <path
              d="M5.43388 9.46773C5.12417 9.7627 4.63479 9.75363 4.33621 9.4474L0.680647 5.6981C0.301981 5.30972 0.301981 4.69028 0.680648 4.3019L4.33621 0.552601C4.63479 0.246364 5.12417 0.237301 5.43388 0.532268C5.74644 0.82994 5.75822 1.32472 5.4602 1.63693L2.25 5L5.4602 8.36307C5.75822 8.67528 5.74644 9.17006 5.43388 9.46773Z"
              fill="white" />
          </svg>
        </div>
        <div class="d-flex align-items-center qb-submit-div w-100 justify-content-between"
          id="qb-preview-submitQuesWrapper">
          <div class="draftSaved">
            <!-- Draft saved! -->
          </div>
          <div class="qb-submit-question d-flex align-items-center">
            <div class="mr-4 qb-dismiss-modal" nbButton status="basic" (click)="dismiss(false)">
              Cancel
            </div>
            <div (click)="submitQuestion()">
              <button nbButton class="qb-submit-question-btn">
                <span *ngIf="!editMode"
                  class="position-relative d-flex justify-content-center align-items-center">Submit Question</span>
                <span *ngIf="editMode" class="position-relative d-flex justify-content-center align-items-center">Update
                  Question</span>
                <span>
                  <nb-icon icon="arrow-ios-downward-outline"></nb-icon>
                </span>
              </button>
            </div>
          </div>
        </div>
        <div id="gradeSubject">
          <tce-flyout class="content-playList-addResourceList-subjectGrade" *ngIf="showOpengradeSubject"
            [@slideInOutX]="animationFlag">
            <tce-common-grade-subject-selectore [allGrade]="availableGrades" [allSubject]="availableSubjects"
              [selectGrade]="selectedGradeLevel" [selectSubject]="selectedSubject"
              (valueChangeGradeSubjectPlanning)="displayvalueGradeSubject($event)" [currentType]="'planning'">
            </tce-common-grade-subject-selectore>
          </tce-flyout>
        </div>

        <div id="chapterTopic">
          <tce-flyout class="content-playList-addResourceList-gradeSubject" *ngIf="showOpenChapterTopic"
            [@slideInOutX]="animationFlag">
            <tce-common-chapter-topic-selectore [allChapters]="availableChapters" [allTopics]="availableTopics"
              [selectChapter]="selectedChapter" [selectTopic]="selectedTopic"
              (valueChangeChapterTopic)="displayvalueChapterTopic($event)">
            </tce-common-chapter-topic-selectore>
          </tce-flyout>
        </div>
      </div>

      <div class="qb-form-side-sec" [ngClass]="this.showcontroller ? 'qb-form-side-sec-hidden' : ''">
        <div class="qb-form-side-wrapper">
          <div>
            <div class="qb-toggle-controller text-center position-absolute" (click)="showController()">
              <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"
                class="position-relative">
                <path
                  d="M9.46773 0.566117C9.7627 0.875834 9.75363 1.36521 9.4474 1.66379L5.6981 5.31935C5.30972 5.69802 4.69028 5.69802 4.3019 5.31935L0.552601 1.66379C0.246365 1.36521 0.237301 0.875834 0.532269 0.566117C0.82994 0.253563 1.32472 0.241776 1.63693 0.539801L5 3.75L8.36307 0.5398C8.67528 0.241775 9.17006 0.253563 9.46773 0.566117Z"
                  fill="white" />
              </svg>
            </div>
            <div class="qb-toggle-btn-controller text-center position-absolute" (click)="
                showController();
                this.showPreview = !this.showPreview;
                openPreview(true)
              ">
              <svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg"
                class="position-relative">
                <path
                  d="M12 0C4.86536 0 0.256791 7.36894 0.173438 7.50313C0.0612427 7.64445 0.000121298 7.81955 0 8C0.000141923 8.1548 0.045192 8.30623 0.129688 8.43594C0.130724 8.4375 0.131765 8.43907 0.132812 8.44063C0.146567 8.46901 4.01507 16 12 16C19.9511 16 23.8139 8.54299 23.8609 8.45156C23.8641 8.44639 23.8672 8.44118 23.8703 8.43594C23.9548 8.30623 23.9999 8.1548 24 8C24 7.82028 23.9394 7.6458 23.8281 7.50469C23.8276 7.50417 23.8271 7.50365 23.8266 7.50313C23.7432 7.36894 19.1346 0 12 0ZM12 2.4C15.0928 2.4 17.6 4.9072 17.6 8C17.6 11.0928 15.0928 13.6 12 13.6C8.9072 13.6 6.4 11.0928 6.4 8C6.4 4.9072 8.9072 2.4 12 2.4ZM12 5.6C11.3635 5.6 10.753 5.85286 10.3029 6.30294C9.85286 6.75303 9.6 7.36348 9.6 8C9.6 8.63652 9.85286 9.24697 10.3029 9.69706C10.753 10.1471 11.3635 10.4 12 10.4C12.6365 10.4 13.247 10.1471 13.6971 9.69706C14.1471 9.24697 14.4 8.63652 14.4 8C14.4 7.36348 14.1471 6.75303 13.6971 6.30294C13.247 5.85286 12.6365 5.6 12 5.6Z"
                  fill="#248EF6" />
              </svg>
            </div>
          </div>
          <div class="qb-question-details pb-3">
            Question Details
          </div>

          <tce-question-editor-controller [selectedGradeSub]="selectedGradeSub" [editMode]="editMode"
            [selectedChapterTopic]="selectedChapterTopic" (openGradeSubChapterTopic)="openGradeSubChapTopic($event)"
            (selectedTemplate)="selectTemplateData($event)" [questionType]="templateData['type']">
          </tce-question-editor-controller>
        </div>
      </div>

      <!-- Preview -->

      <div id="start_preview_div" class="qb-preview-transition-hidden"
        [ngClass]="this.showPreview ? 'qb-preview-transition-shown' : ''">
        <div class="overflow-auto pb-3">
          <div class="qb-toggle-btn-preview float-right text-center"
            (click)="this.showPreview = !this.showPreview; openPreview(false)"
            [ngClass]="!this.showPreview ? 'qb-preview-btn-disabled' : ''">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="24" height="24" x="0" y="0"
              viewBox="0 0 469.44 469.44" style="enable-background:new 0 0 512 512" xml:space="preserve"
              class="position-relative">
              <g>
                <g xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <g>
                      <path d="M231.147,160.373l67.2,67.2l0.32-3.52c0-35.307-28.693-64-64-64L231.147,160.373z"
                        fill="#248ef6" data-original="#000000" />
                      <path
                        d="M234.667,117.387c58.88,0,106.667,47.787,106.667,106.667c0,13.76-2.773,26.88-7.573,38.933l62.4,62.4     c32.213-26.88,57.6-61.653,73.28-101.333c-37.013-93.653-128-160-234.773-160c-29.867,0-58.453,5.333-85.013,14.933l46.08,45.973     C207.787,120.267,220.907,117.387,234.667,117.387z"
                        fill="#248ef6" data-original="#000000" />
                      <path
                        d="M21.333,59.253l48.64,48.64l9.707,9.707C44.48,145.12,16.64,181.707,0,224.053c36.907,93.653,128,160,234.667,160     c33.067,0,64.64-6.4,93.547-18.027l9.067,9.067l62.187,62.293l27.2-27.093L48.533,32.053L21.333,59.253z M139.307,177.12     l32.96,32.96c-0.96,4.587-1.6,9.173-1.6,13.973c0,35.307,28.693,64,64,64c4.8,0,9.387-0.64,13.867-1.6l32.96,32.96     c-14.187,7.04-29.973,11.307-46.827,11.307C175.787,330.72,128,282.933,128,224.053C128,207.2,132.267,191.413,139.307,177.12z"
                        fill="#248ef6" data-original="#000000" />
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
        </div>
        <div class="preview_content" *ngIf="globalPreviewState">
          <tce-question-editor-preview [questionType]="questionType" [templateData]="templateData">
          </tce-question-editor-preview>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<nb-card *ngIf="!customQuestion" class="previewDiv position-relative">
  <nb-card-body class="card-body bg-white">
    <div class="d-flex add-qsn-forms-sections marginTop">
      <div class="preview_content">
        <tce-question-editor-preview (dismissDialog)="dismiss(false)" [questionType]="questionType"
          [templateData]="questionData">
        </tce-question-editor-preview>
      </div>
    </div>
  </nb-card-body>
</nb-card>