@import 'bootstrap';

.customPaddingTop {
  padding-top: 8px;
  position: relative;
}

.iconBack {
  background: black;
  height: 43px;
  width: 47px;
  border-radius: 4px;
}

.questionData {
  font-weight: 800;
  font-size: 14px;
  color: black;
  font-family: Quicksand;
}

.icon-color {
  color: darkgray;
}

.customLi {
  list-style: disc;
  margin-left: 23px;
  font-size: 13px;
}
.customUl {
  display: flex;
  li {
    font-size: 13px;
  }
}
.customTileIcon {
  background: black;
  height: 24px;
  width: 24px;
  border-radius: 3px;
}
.customMoreIcon {
  position: relative;
  // right: -46px;
  cursor: pointer;
}

.customCardHeight {
  max-height: 145px;
  min-height: 145px;
  overflow: auto;
  animation: mymove 0.5s;
}

.button {
  background-color: #4caf50;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {
  background-color: #008cba;
}
.button3 {
  background-color: #f44336;
}
.button4 {
  background-color: #e7e7e7;
  color: black;
}
.button5 {
  background-color: #555555;
}

.listMargin {
  margin: 3px 5px 3px 5px;
  color: white;
  font-size: 14px;
}

li.listMargin:hover,
li.listMargin:active {
  text-decoration: underline;
  cursor: pointer;
}

.editFlyout {
  z-index: 150;
  position: absolute;
  top: 50px;
  width: 130px;
  right: 13px;
  &:before {
    top: 0;
  }
  &::after {
    transform: rotate(180deg);
    top: -21px;
    margin-left: 50px;
  }
}
.questionEditor {
  padding: 5px;
}

.listLabel {
  margin: 5px;
}

.question-header {
  color: #000000;
  font-family: Quicksand;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 38px;
}

// .filter-position {
//   float: right;
// }

.sort {
  padding-left: 10px;
  border-left: 1px solid black;
  cursor: pointer;
  font-size: 14px;
  color: gray;
  font-weight: bold;
  cursor: pointer;
}

.select-text {
  font-size: 14px;
  color: #248ef6;
  font-weight: bold;
  margin-left: 5px;
  cursor: pointer;
}
.arrowHeader {
  margin-left: 5px;
}

.questions-card {
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  cursor: pointer;
  padding: 19px 15px 0px 15px;
  .qb-type-icon {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 12px;
    padding-right: 12px;
  }
  .qb-lock-icon {
    padding-left: 12px;
    padding-right: 12px;
  }
  .qb-select-questions {
    position: relative;
    top: 3px;
  }
  .questionType {
    font-weight: 800;
    font-size: 12px;
    font-family: Quicksand;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 5px;
  }
  .qb-question-image {
    min-width: 45px;
    border-radius: 4px;
    max-width: 100px;
    max-height: 70px;
  }
  .qb-ques-container {
    min-height: 45px;
  }
}
.qb-card-disabled-cursor {
  cursor: pointer;
}
.qb-dashboard-wrapper {
  padding: 1rem 1.5rem;
  //height: calc(100vh - 353px);
  height: calc(100vh - 275px);
  overflow: scroll;
  border-radius: 15px;
  scroll-behavior: smooth;
  //background: #debdbd;
  margin-top: 0px;
	

  .qb-sort-filter {
    padding: 0;
    height: 20px;
    background-color: transparent;
    border: none;
    width: 115px;
    box-shadow: none;
    color: #248ef6 !important;
    border-radius: 5px;
    option {
      padding: 5px;
      color: #000;
    }
  }
}
::ng-deep .nb-theme-default nb-card {
  border: 1px solid #fff;
  border-radius: 5px;
  background: #ffffff;
  // box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.34);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.34);
}

@keyframes mymove {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
::ng-deep .nb-theme-default nb-checkbox.qb-select-questions .custom-checkbox {
  border: 2px solid #248ef6;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #fff;
  width: 15px;
  height: 15px;
}
::ng-deep .nb-theme-default nb-checkbox.qb-select-questions nb-icon {
  width: 85%;
}
.qb-selected-questions-modifier {
  flex-direction: row;
  padding: 20px 40px;
  position: fixed;
  left: 12.5%;
  bottom: 5%;
  width: 75%;
  margin: 0 auto;
  background: #22262a;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4), 0px 20px 100px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.qb-submenu {
  position: relative;
  right: -5px;
}

.qb-menu {
  position: absolute;
  right: 35px;
  top: 0;
  width: 20px;
}

.customMoreIcon {
  padding-top: 5px;
  margin-right: -30px;
  height: 49px;
  float: right;
}

.custom-qb-view-div {
  li {
    list-style-type: none;
    margin-left: 3px;
    svg {
      width: 5px;
      height: 5px;
    }
  }
}




//loader tiil the card appear
#ballsWaveG{
	position:relative;
	width:125px;
	height:29px;
	margin:auto;
  margin-top:190px;
}

.ballsWaveG{
	position:absolute;
	top:0;
	background-color:rgb(0,0,0);
	width:16px;
	height:16px;
	animation-name:ballsWaveG;
		-o-animation-name:ballsWaveG;
		-ms-animation-name:ballsWaveG;
		-webkit-animation-name:ballsWaveG;
		-moz-animation-name:ballsWaveG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	border-radius:8px;
		-o-border-radius:8px;
		-ms-border-radius:8px;
		-webkit-border-radius:8px;
		-moz-border-radius:8px;
}

#ballsWaveG_1{
	left:0;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#ballsWaveG_2{
	left:16px;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#ballsWaveG_3{
	left:31px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#ballsWaveG_4{
	left:47px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#ballsWaveG_5{
	left:62px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#ballsWaveG_6{
	left:78px;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#ballsWaveG_7{
	left:94px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}

#ballsWaveG_8{
	left:109px;
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}



@keyframes ballsWaveG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes ballsWaveG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes ballsWaveG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes ballsWaveG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes ballsWaveG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

.status-message{
	position: relative;
    top: 100px;
	animation: mymove 0.5s;
}
.status-message-img{
	position: relative;
	// background: url("/assets/images/questionbank/no-question-found.svg");
	background-repeat: no-repeat;
	background-size:100%;
	width: 80px;
	height: 80px;
	margin: 0 auto;
}
.status-message-text{
	text-align: center;
}

/// another loader
.cssload-loader-walk {
	width: 97px;
	height: 39px;
	position: absolute;
	left: 50%;
  top: 200px;
	transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		
}
.cssload-loader-walk-text{
	position: absolute;
    width: 222px;
    color: grey;
    top: 30px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    /* color: white; */
    left: -60px;
}
.cssload-loader-walk > div {
	content: "";
	width: 19px;
	height: 19px;
	background: #537cfc;
	border-radius: 100%;
	position: absolute;
	animation: cssload-animate 2.3s linear infinite;
		-o-animation: cssload-animate 2.3s linear infinite;
		-ms-animation: cssload-animate 2.3s linear infinite;
		-webkit-animation: cssload-animate 2.3s linear infinite;
		-moz-animation: cssload-animate 2.3s linear infinite;
}
.cssload-loader-walk > div:nth-of-type(1) {
	animation-delay: -0.46s;
		-o-animation-delay: -0.46s;
		-ms-animation-delay: -0.46s;
		-webkit-animation-delay: -0.46s;
		-moz-animation-delay: -0.46s;
}
.cssload-loader-walk > div:nth-of-type(2) {
	animation-delay: -0.92s;
		-o-animation-delay: -0.92s;
		-ms-animation-delay: -0.92s;
		-webkit-animation-delay: -0.92s;
		-moz-animation-delay: -0.92s;
}
.cssload-loader-walk > div:nth-of-type(3) {
	animation-delay: -1.38s;
		-o-animation-delay: -1.38s;
		-ms-animation-delay: -1.38s;
		-webkit-animation-delay: -1.38s;
		-moz-animation-delay: -1.38s;
}
.cssload-loader-walk > div:nth-of-type(4) {
	animation-delay: -1.84s;
		-o-animation-delay: -1.84s;
		-ms-animation-delay: -1.84s;
		-webkit-animation-delay: -1.84s;
		-moz-animation-delay: -1.84s;
}



@keyframes cssload-animate {
	0% {
		left: 97px;
		top: 0;
	}
	80% {
		left: 0;
		top: 0;
	}
	85% {
		left: 0;
		top: -19px;
		width: 19px;
		height: 19px;
	}
	90% {
		width: 39px;
		height: 15px;
	}
	95% {
		left: 97px;
		top: -19px;
		width: 19px;
		height: 19px;
	}
	100% {
		left: 97px;
		top: 0;
	}
}

@-o-keyframes cssload-animate {
	0% {
		left: 97px;
		top: 0;
	}
	80% {
		left: 0;
		top: 0;
	}
	85% {
		left: 0;
		top: -19px;
		width: 19px;
		height: 19px;
	}
	90% {
		width: 39px;
		height: 15px;
	}
	95% {
		left: 97px;
		top: -19px;
		width: 19px;
		height: 19px;
	}
	100% {
		left: 97px;
		top: 0;
	}
}

@-ms-keyframes cssload-animate {
	0% {
		left: 97px;
		top: 0;
	}
	80% {
		left: 0;
		top: 0;
	}
	85% {
		left: 0;
		top: -19px;
		width: 19px;
		height: 19px;
	}
	90% {
		width: 39px;
		height: 15px;
	}
	95% {
		left: 97px;
		top: -19px;
		width: 19px;
		height: 19px;
	}
	100% {
		left: 97px;
		top: 0;
	}
}

@-webkit-keyframes cssload-animate {
	0% {
		left: 97px;
		top: 0;
	}
	80% {
		left: 0;
		top: 0;
	}
	85% {
		left: 0;
		top: -19px;
		width: 19px;
		height: 19px;
	}
	90% {
		width: 39px;
		height: 15px;
	}
	95% {
		left: 97px;
		top: -19px;
		width: 19px;
		height: 19px;
	}
	100% {
		left: 97px;
		top: 0;
	}
}

@-moz-keyframes cssload-animate {
	0% {
		left: 97px;
		top: 0;
	}
	80% {
		left: 0;
		top: 0;
	}
	85% {
		left: 0;
		top: -19px;
		width: 19px;
		height: 19px;
	}
	90% {
		width: 39px;
		height: 15px;
	}
	95% {
		left: 97px;
		top: -19px;
		width: 19px;
		height: 19px;
	}
	100% {
		left: 97px;
		top: 0;
	}
}