<!-- <div class="row customFilterTop">
  <div class="selectPlanningModeView">
    <nb-select class="selectOption" [(selected)]="selectedChapter" placeholder="All Chapter" shape="round"
      (selectedChange)="changeChapter($event)">
      <nb-option *ngFor="let chapter of chapters" [value]="chapter">
        {{ chapter.chapterTitle }}</nb-option>
    </nb-select>
  </div>
  <div>
    <nb-select class="selectOption" [(selected)]="selectedTopic" placeholder="All Topic" shape="round"
      (selectedChange)="changeTopic($event)">
      <nb-option value="">Select Topic</nb-option>
      <nb-option *ngFor="let topic of topics" [value]="topic">{{ topic.topicTitle }}
      </nb-option>
    </nb-select>
  </div>
</div> -->

<!--satyajit: Select|Done temporary disabled till quiz function ready -->
<div class="col-md-12 text-right card-question-header" *ngIf="allQuestionData.length>0">
  <span *ngIf="!showCheckBox" class="select-text filter-position" (click)="onSelect('select')">Create Quiz</span>
  <span *ngIf="showCheckBox" class="select-text filter-position" (click)="onSelect('done')">Cancel</span>
</div>
<!-- Select|Done temporary disabled till quiz function ready -->

<div class="qb-dashboard-wrapper">
  <!-- another loader animation till card ready -->
  <!-- <div class="cssload-loader-walk" *ngIf="!isAllQuestionsLoaded">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <span class="cssload-loader-walk-text">{{loaderQCountDisplay}}</span>
  </div>

  <div *ngIf="noQuestionsAvailable" class="status-message">
    <div class="status-message-img">
      <img src="assets/images/questionbank/no-question-found.svg">
    </div>
    <div class="status-message-text">{{statusMessage}}</div>
  </div> -->
  <!-- end of loader and no question found icon -->


  <!-- 
      select|done - span or div
      qb-cardlist-viewer-component
      qb-status-bar 
  -->
  <div style="padding-top: 15px;">
    <!-- <ng-container #questionList>
    </ng-container> -->

    <tce-qb-question-card-list [quizQuestionList]="quizQuestionList" [showCheckBox]="showCheckBox"
      [allQuestionData]="allQuestionData">
    </tce-qb-question-card-list>
    <!-- <tce-question-card-list [quizQuestionList]="quizQuestionList" [showCheckBox]="showCheckBox"
      [allQuestionData]="allQuestionData">
    </tce-question-card-list> -->

    <!--Usman: for reference-->
    <!-- <div *ngIf="showQuestions && allQuestionData && isAllQuestionsLoaded" style="padding-top: 15px;">
    <tce-question-card-list [selectedGrade]="selectedGrade" [selectedSubject]="selectedSubject"
      [selectedChapter]="selectedChapter" [selectedTopic]="selectedTopic" [quizQuestionList]="quizQuestionList"
      [showCheckBox]="showCheckBox" [allQuestionData]="allQuestionData">
    </tce-question-card-list> -->


    <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" *ngFor="let question of allQuestionData; let i = index">
      <tce-question-card-view [quizQuestionList]="quizQuestionList" (openQtnEditor)="openQuestionEditor($event)"
        [showCheckBox]="showCheckBox" (openpopup)="openPopup($event)" (dltQuestion)="deleteQuestion($event)"
        [question]="question" [index]="i">
      </tce-question-card-view>
    </div> -->
  </div>

  <div>
    <ng-container #editTemplateView></ng-container>
  </div>
</div>

<div *ngIf="showCheckBox">
  <tce-qb-quiz-status-bar [availableChapters]="chapters" [availableTopics]="topics" [selectedChapter]="selectedChapter"
    [selectedTopic]="selectedTopic" [quizQuestionList]="quizQuestionList"></tce-qb-quiz-status-bar>
</div>