<div class="question-container">
  <tce-question-header
    [currentQuestionNumber]="currentQuestionNumber"
    [question]="question"
    [totalQuestionCount]="totalQuestionCount"
    [layout]="layout"
  ></tce-question-header>

  <div [formGroup]="formGroupReference" class="form-group-container">
    <div class="options-container">
      <tce-question-option-card
        *ngFor="
          let option of (formGroupReference?.controls)['options']['controls'];
          index as j
        "
        [option]="option.value"
        [index]="j"
        [inputType]="'radio'"
        [layout]="layout"
        [parentForm]="formGroupReference"
        [isSubmitted]="formGroupReference.value.submitted"
        [isCorrect]="option.value.isCorrect"
        [isSelected]="
          formGroupReference.value.selected &&
          option.value.id === formGroupReference.value.selected.id
        "
        [randomFieldName]="randomFieldName"
      >
      </tce-question-option-card>
    </div>
  </div>

  <!-- Only show if there is media
  <div class="col-4" *ngIf="question.media">
    <img src="{{ question.media }}" class="img-fluid" alt="" />
  </div> -->
</div>
