<div class="mainContainer">
  <div class="current-time" *ngIf="now">{{ now | date: 'hh:mm a' }}</div>
  <div class="current-time currentday" *ngIf="now">
    {{ now | date: 'EEE, LLL dd' }}
  </div>
</div>
