/* Global imports */
@import '~apps/tce-teacher/src/assets/stylesheet/imports';

:host {
  z-index: $foreground-z-index;
}
.current-time {
  color: var(--text-color-primary);
  font-weight: 600;
  pointer-events: none;
  font-family: Quicksand;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
}

.currentday {
  color: var(--text-color-secondary);
  font-size: 12px;
  font-family: 'Quicksand';
  line-height: 15px;
  text-align: right;
}
.mainContainer {
  position: absolute;
  top: 0.5em;
  right: 2%;
  //animation-name: calanderAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
@keyframes calanderAnimation {
  from {
    opacity: 0;
    transform: scale(0.6);
    //top: -30px;
  }
  to {
    opacity: 1;
    //top: 10px;
    transform: scale(1);
  }
}
