@import '~apps/tce-teacher/src/assets/stylesheet/imports';

:host {
  display: flex;
  z-index: $foreground-z-index;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  position: relative;
}

.playlist-left-divider {
  height: 45px;
  width: 2px;
  margin: 36px -1px 0 13px;
  border-radius: 5px;
  background-color: var(--canvas-handle-color);
  cursor: pointer;
  z-index: 1000;
  border: 1px solid var(--canvas-handle-color);
  position: relative;
}
