<tce-loading-layover
  *ngIf="isLoading"
  size="medium"
  message="Loading Curriculum for Class"
  noBackgroundColor="true"
></tce-loading-layover>
<tce-error-layover
  *ngIf="errorMessage"
  [message]="errorMessage"
  size="small"
  noBackgroundColor="true"
></tce-error-layover>

<ng-container *ngIf="!isLoading && !errorMessage">
  <tce-ebook-selector
    *ngIf="currentEbooks && currentEbooks.length > 0"
    [ebooks]="currentEbooks"
  ></tce-ebook-selector>
  <tce-contents-selector
    *ngIf="currentChapters && currentChapters.length > 0"
    [chapters]="currentChapters"
  ></tce-contents-selector>
  <div class="playlist-left-divider"></div>
  <tce-resource-playlist
    [@resourceDisplay]="resourceChange"
    [resources]="currentResources"
  ></tce-resource-playlist>
</ng-container>
