<div class="nav-header">
  <div class="nav-chapter">
    Choose a Chapter
    <div class="nav-header-divider"></div>
  </div>
  <div class="nav-topic">
    <span>Choose a Topic</span>
    <span class="mark-complete">Mark all Complete</span>
  </div>
</div>
<div class="chapter-topic-container">
  <div class="chapter-list-container">
    <div
      *ngFor="let ghostChapters of allFields"
      class="chapter-details ghostRows"
    ></div>
  </div>
  <div class="topic-list-container">
    <div *ngFor="let ghostTopic of allFields" class="topic-details">
      <div class="topic-title ghostRows"></div>
      <div class="topic-info ghostRows"></div>
    </div>
  </div>
</div>
