<div
  class="keyboard-wrapper"
  [class.numeric]="isNumericKeyboard"
  [class.active]="isKeyboardActive"
>
  <div class="disable" (click)="toggleKeyboardUserState()">
    Disable Virtual Keyboard
  </div>
  <div class="close" (click)="closeKeyboard()">
    <svg-icon src="assets/images/ic.RevealModal2.svg" [applyCss]="true">
    </svg-icon>
  </div>
  <div class="simple-keyboard"></div>
</div>
