.keyboard-wrapper {
  position: fixed;
  width: 100%;
  max-width: 750px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1000;
  transition: max-height var(--animation-timing-medium) ease-in-out;
  height: auto;
  max-height: 0;

  .close {
    position: absolute;
    top: -33px;
    right: 0;
    cursor: pointer;
    transform: rotate(180deg);
    opacity: 0;
    transition: all var(--animation-timing-medium) ease-in-out;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    visibility: hidden;

    svg g {
      fill: #fff;
      fill-opacity: 1;
      .st1 {
        fill: black;
      }
    }
  }
  .disable {
    position: absolute;
    top: -30px;
    left: 0px;
    background: #fff;
    border-radius: 5px;
    padding: 6px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
    transition: all var(--animation-timing-medium) ease-in-out;
    opacity: 0;
    visibility: hidden;
  }

  &.active {
    max-height: 230px;

    .close,
    .disable {
      opacity: 1;
      visibility: visible;
    }
  }

  &.numeric {
    max-width: 320px;

    .hg-button-bksp {
      width: 50px;
    }
  }
}

.simple-keyboard {
  user-select: none;
  overflow: hidden;
  touch-action: manipulation;
  width: 100%;

  .hg-row {
    display: flex;
  }
}

.simple-keyboard .hg-row:not(:last-child) {
  margin-bottom: 5px;
}
.simple-keyboard .hg-row .hg-button-container,
.simple-keyboard .hg-row .hg-button:not(:last-child) {
  margin-right: 5px;
}
.simple-keyboard .hg-row > div:last-child {
  margin-right: 0;
}
.simple-keyboard .hg-row .hg-button-container {
  display: flex;
}
.simple-keyboard .hg-button {
  display: inline-block;
  flex-grow: 1;
  cursor: pointer;
}
.simple-keyboard .hg-button span {
  pointer-events: none;
}
.simple-keyboard.hg-theme-default {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}
.simple-keyboard.hg-theme-default .hg-button {
  box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.3);
  height: 40px;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
  background: #fff;
  border-bottom: 1px solid #b5b5b5;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.simple-keyboard.hg-theme-default .hg-button.hg-activeButton {
  background: #efefef;
}
.simple-keyboard button.hg-button {
  border-width: 0;
  outline: 0;
  font-size: inherit;
}
.simple-keyboard.hg-theme-default.hg-layout-numeric .hg-button {
  width: 33.3%;
  height: 60px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.simple-keyboard.hg-theme-default .hg-button.hg-button-numpadadd,
.simple-keyboard.hg-theme-default .hg-button.hg-button-numpadenter {
  height: 85px;
}
.simple-keyboard.hg-theme-default .hg-button.hg-button-numpad0 {
  width: 105px;
}
.simple-keyboard.hg-theme-default .hg-button.hg-button-com {
  max-width: 85px;
}
.simple-keyboard.hg-theme-default .hg-button.hg-standardBtn.hg-button-at {
  max-width: 45px;
}
.simple-keyboard.hg-theme-default .hg-button.hg-selectedButton {
  background: rgba(5, 25, 70, 0.53);
  color: #fff;
}
.simple-keyboard.hg-theme-default .hg-button.hg-standardBtn[data-skbtn='.com'] {
  max-width: 82px;
}
.simple-keyboard.hg-theme-default .hg-button.hg-standardBtn[data-skbtn='@'] {
  max-width: 60px;
}

/*
  Theme: numeric
*/
.numeric-theme {
  max-width: 320px;
  margin: 0 auto;
}

.numeric-theme + .simple-keyboard-preview {
  max-width: 320px;
}

.simple-keyboard.hg-theme-default.numeric-theme
  .hg-button.hg-standardBtn.hg-button-at {
  max-width: none;
}
