<div
  class="search-main-container"
  [ngClass]="
    type === 'planningMode' ? 'searchPlaningMode searchPlanningHeight' : ''
  "
  (click)="searchContainerClick($event)"
>
  <div
    class="row"
    [ngClass]="type === 'planningMode' ? 'searchsubContainer' : ''"
  >
    <div style="width: 100%;"
      [ngClass]="[
        type === 'planningMode' &&
        (myPlanningAddResource && myPlanningAddResource.length > 0)
          ? 'planningAddresourceContainer'
          : '',
        type === 'planningMode' ? 'mainPlanningModeHeight' : ''
      ]"
    >
  
      <div [ngClass]="type === 'planningMode' ? 'headerDivBorder' : 'col-12'">
        <tce-search-header
          (inputTextEmit)="getUserText($event)"
          (inputClick)="getInputClick($event)"
          (currentViewState)="getCurrentViewState($event)"
          [currentSateView]="searchViewState"
          [currentUserText]="defaultText"
          [currentType]="type"
          [closeSearchSuggestion]="closeSearchSuggestion"
          [selectedResourceList]="myPlanningAddResource"
          [currentPlanningResourceState]="planningResourceState"
        ></tce-search-header>
      </div>
      <div
        class="col-12 recommendedContainer"
        *ngIf="
          searchViewState == 'libraryView' || searchViewState == 'filterView'
        "
      >
        <tce-search-library
          [currentView]="searchViewState"
          [currentResourceList]="currentResource"
          [showFooter]="showChapterResources"
          (currentSuggestion)="getCurrentSuggestion($event)"
          (currentResourcePreviewPositionLib)="
            getCurrentResourcePreviewPositionLib($event)
          "
          (currentResourceLib)="getCurrentResourceLib($event)"
          [totalPageCount]="totalPage"
          [currentPageNumber]="pageNumber"
          (loadMoreData)="getLoadMoreData($event)"
          [currentType]="type"
          [currentPlanningResourceState]="planningResourceState"
        ></tce-search-library>
      </div>
      <div class="col-12 " *ngIf="searchViewState == 'favoritesView'">
        <tce-search-myfavorite></tce-search-myfavorite>
      </div>
      <div class="recommendedContainer-modal-footer">
        <div *ngIf="type === 'planningMode'" class="searchFooter">
          <div class="form-group" dnd (fileDropped)="onFileDropped($event)">
            <input
              type="file"
              [accept]="fileType"
              maxFileSize="converMBtoByte"
              #fileDropRef
              id="fileDropRef"
              multiple
              (change)="handleFileInput($event.target.files)"
            />
            <div class="dragFileContainer">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.82353 0C1.26635 0 0 1.196 0 2.66667H4.23529V0H2.82353ZM8.47059 0V2.66667H12.7059V0H8.47059ZM16.9412 0V2.66667H21.1765C21.1765 1.2 19.9059 0 18.3529 0H16.9412ZM0 5.33333V9.33333H2.82353V5.33333H0ZM18.3529 5.33333V8H7.05882C5.50588 8 4.23529 9.2 4.23529 10.6667V21.3333C4.23529 22.8 5.50588 24 7.05882 24H21.1765C22.7294 24 24 22.8 24 21.3333V10.6667C24 9.2 22.7294 8 21.1765 8V5.33333H18.3529ZM0 12V13.3333C0 14.8 1.27059 16 2.82353 16V12H0ZM12.7059 12L18.3529 17.3333L15.954 17.599L16.8143 19.3594L15.6149 20L14.5836 18.0807L12.7059 19.6797V12Z" fill="url(#paint0_linear)"/>
                <defs>
                <linearGradient id="paint0_linear" x1="0" y1="12" x2="24" y2="12" gradientUnits="userSpaceOnUse">
                <stop stop-color="#6D71FF"/>
                <stop offset="1" stop-color="#248EF6"/>
                </linearGradient>
                </defs>
                </svg>
                
              <span class="drag-title">Drag and drop file here or </span>
              <label for="fileDropRef" class="drag-title textDecoration"
                > Choose File(s)</label
              >
            </div>
            <div class="drag-paddingTop">
              <div class="drag-title fileNotification">
                Supported Files:
                <span class="dragFileSpan">{{ fileType }}</span>
              </div>
              <div class="drag-title fileFloat">
                Size limit:
                <span class="dragFileSpan">{{ fileSize + 'MB' }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="borderDiv"
      *ngIf="
        type === 'planningMode' &&
        (myPlanningAddResource && myPlanningAddResource.length > 0)
      "
    ></div>
    <div
      class="col-3 resourceSelection"
      *ngIf="
        type === 'planningMode' &&
        (myPlanningAddResource && myPlanningAddResource.length > 0)
      "
    >
      <resource-selection
        [collectionoFAllData]="collectionoFAllData"
        [selectedResourceList]="myPlanningAddResource"
        [currentPlanningResource]="currentPlanningResource"
        [currentPlanningData]="currentPlanningData"
      ></resource-selection>
    </div>
  </div>

  <div *ngIf="currentPreviewResource && currentPreviewResource != null">
    <tce-flyout
      class="content-playList-resource-details"
      [@slideInOut]="animationFlag"
    >
      <tce-search-player-container
        [searchresource]="currentPreviewResource"
        [currentType]="type"
        [currentPlanningResource]="currentPlanningResource"
        [planningAddResource]="myPlanningAddResource"
      ></tce-search-player-container>
    </tce-flyout>
  </div>
</div>
