:host {
  // height: 100%;
  // width: 100%;
  // position: relative;
  z-index: 300;
}

.resourceSelection {
  align-items: center;
  justify-content: space-between;
  // padding: 0;
  background: #22262a;
  border-radius: 0 15px 15px 0;
  width: 336px !important;
  max-width: 336px !important;
  // margin-right: -1px;
  flex-basis: 336px;
}

.search-main-container {
  height: 460px;
  width: 825px;
  right: 15px;
  bottom: 165px;
  position: absolute;
  background: var(--text-color-primary);
  border-radius: 4px 0px 0px 4px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px #0000004d;
}

.content-playList-resource-details {
  // position: fixed;
  // width: 100%;
  // max-width: 500px;
  // height: 400px;
  // top: calc(100% + -670px);
  // left: 20px;
  height: 374px;
  width: 400px;
  top: -99px;
  margin-top: 150px;
  right: 10px;
  left: var(--previewRight);
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  font-weight: 600;
  background-color: var(--text-color-primary) !important;
  position: absolute;
  font-weight: 600;
  background-color: var(--text-color-primary) !important;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  &::before {
    display: none;
    // border-color: var(--text-color-primary) transparent transparent transparent;
    // left: calc(95% - 1px);
    // border-width: 17px;
  }
  &::after {
    display: none;
    // border-color: var(--text-color-primary) transparent transparent transparent;
    // left: 95%;
    // border-width: 15px;
  }
}

.searchPlaningMode {
  bottom: 60px !important;
  position: relative !important;
  margin: 13% auto;
}
.searchPlanningHeight {
  // width: 95%;
  width: 970px;
  padding: 0;
}
.searchPlanningHeight > .row{
  margin: 0;
}

.mainPlanningModeHeight {
  width: 100%;
  padding: 20px;
  padding-bottom: 0;
  
}
.searchsubContainer {
  border-radius: 15px;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2);
  background: white;
  justify-content: space-between;
  flex-wrap: nowrap;
 
}
.searchFooter {
  // background: white;
  padding: 20px;
  // margin-top: -32px;
  position: relative;
  input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
.dragFileContainer {
  background-color: #ffffff;
  padding:13px 10px;
  text-align: center;
  border: 1px dashed #cccccc;
  box-sizing: border-box;
  border-radius: 10px;
  // box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2), 0px 0px 60px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;

  svg{ margin: 0 15px 0 0; }
}

.drag-title {
  color: #000000;
  // font-family: Quicksand;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
  text-align: center;
}
.drag-paddingTop {
  padding-top: 10px;
  padding-bottom: 10px;
}
.dragFileSpan {
  font-weight: 800;
  font-size: 14px;
}
.fileNotification {
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

.fileFloat {
  float: right;
  font-size: 12px;
}

.textDecoration {
  text-decoration: underline;
  color: #248ef6;
}
.borderDiv {
  border-right: 1px solid;
}
// .planningAddresourceContainer {
//   width: 74%;
// }
.headerDivBorder {
  // border-bottom: 1px solid;
  // padding-top: 20px;
  position: relative;
}

// .recommendedContainer {
//   // padding: 0px;
// }


.recommendedContainer-modal-footer{
  margin: 0 -20px 0;
  padding: 0;
  background-color: #f1f2f1;
  border-radius: 0 0 15px 15px;
}

.mainPlanningModeHeight{
  .divColor { padding: 0; }
  .recommendedContainer{ padding: 0; }
}

