<div class="account-container">
  <!-- <div class="input-field-row">
  <div class="prefereView">
    <title class="prefereViewTitle">Prefered Resource Type</title>
    <div class="prefereViewOption" (click)="showPrefereViewList()">
      <div class="prefereViewList">{{ textContaint }}</div>
      <div>
        <img
          src="assets/images/ic.userArrow.svg"
          style="float: right;transform: rotate(90deg);
                margin-top: 5px;"
        />
      </div>
    </div>

    
  </div>
  <tce-flyout class="prefereViewList-container" *ngIf="showPrefere">
    <div class="prefereViewListMain">
      <div class="warningTitle">
        <label>Select one or more (Optional) </label>
      </div>
      <div class="col-12">
        <div class="row">
          <div
            class="txt-border"
            *ngFor="let x of filteredMenu"
            [ngClass]="x.state === 'active' ? 'active ' : ''"
            (click)="addPrefereView(x)"
          >
            <label class="txt-body-dark txtEllips">{{ x.name }}</label>
            <img
              src="assets/images/ic.Playlist.DeleteResource.svg"
              *ngIf="x.selected"
              class="imgPadding"
            />
          </div>
        </div>
      </div>
    </div>
  </tce-flyout>

</div> -->

<div class="prefereView input-field-row">
  <title class="prefereViewTitle">Prefered Resource Type</title>
  <div class="prefereViewOption" (click)="showPrefereViewList()">
    <div class="prefereViewList">{{ textContaint }}</div>
    <div>
      <img
        src="assets/images/ic.userArrow.svg"
        style="float: right;transform: rotate(90deg);
              margin-top: 5px;"
      />
    </div>
  </div>
  <tce-flyout class="prefereViewList-container" *ngIf="showPrefere">
    <div class="prefereViewListMain">
      <div class="warningTitle">
        <label>Select one or more (Optional) </label>
      </div>
      <div class="col-12">
        <div class="row">
          <div
            class="txt-border"
            *ngFor="let x of filteredMenu"
            [ngClass]="x.state === 'active' ? 'active ' : ''"
            (click)="addPrefereView(x)"
          >
            <label class="txt-body-dark txtEllips">{{ x.name }}</label>
            <img
              src="assets/images/ic.Playlist.DeleteResource.svg"
              *ngIf="x.selected"
              class="imgPadding"
            />
          </div>
        </div>
      </div>
    </div>
  </tce-flyout>
</div>

  
  

  <div class="prefereView input-field-row" >
    <title class="prefereViewTitle">Subjects</title> 
    <div class="row">
      <ng-container *ngFor="let subject of selectedSubjectList" >
        <div class="txt-border ng-star-inserted">
          <label class="txt-body-dark txtEllips">{{subject.title}}</label>
            <span (click)="removeSubject(subject)">
              <img src="assets/images/ic.Playlist.DeleteResource.svg" class="imgPadding ng-star-inserted">
            </span>
        </div>
      </ng-container>

      <div (click)="showSubjectList=true" class="txt-border ng-star-inserted add-btn">
          <i class="fa fa-plus" aria-hidden="true"></i>
          <label class="txt-body-dark txtEllips">Add Subjects</label>
      </div>

      <!-- <tce-flyout class="prefereViewList-container" *ngIf="showSubjectList" >
        <div class="prefereViewListMain">
          <div class="warningTitle">
            
          </div>
        </div>
      </tce-flyout> -->
      <div class="subject-wrapper" *ngIf="showSubjectList">
        <div class="warningTitle">
          <label>Select one or more (Optional) </label>
          <span class="close" (click)="showSubjectList=false" >
            <img src="assets/images/ic.Playlist.DeleteResource.svg" class="imgPadding ng-star-inserted">
          </span>
        </div>
        
        <div class="subject-container">
          <div class="row">
            <ng-container *ngFor="let subject of subjectList" >
              <div class="col" (click)="addSubject(subject)" class="txt-border ng-star-inserted"><label
                class="txt-body-dark txtEllips">{{subject.title}}</label>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

    </div>
  </div>  

  <!--  <div class="row">
    <div class="col-12">
      <div class="prefereView input-field-row">
        <title class="prefereViewTitle">Incharge Class</title>
        <div class="prefereViewOption">
          <div class="prefereViewList">English, Hindi</div>
          <div>
            <img
              src="assets/images/ic.userArrow.svg"
              style="float: right;transform: rotate(90deg);
                    margin-top: 5px;"
            />
          </div>
        </div>
      </div>
       
    </div>

     <div class="col-6">
      <div class="prefereView input-field-row">
        <title class="prefereViewTitle">Language(s)</title>
        <div class="prefereViewOption" >
          <div class="prefereViewList">English, Hindi</div>
          <div>
            <img
              src="assets/images/ic.userArrow.svg"
              style="float: right;transform: rotate(90deg);
                    margin-top: 5px;"
            />
          </div>
        </div>
      </div>
       
    </div> 



  </div> -->





  <!-- <div class="d-flex justify-content-end">
    <button class="btn btn-link  btn-link-timetable">Go To My Timetable <i class="fa fa-angle-right" aria-hidden="true"></i>

    </button>

  </div> -->

</div>



