.account-container {
  height: 100%;
  width: 100%;
  padding: 15px;
  max-height: 500px;
  // overflow: auto;
}

.prefereViewOption {
  box-sizing: border-box;
  border: 1px solid #303439;
  border-radius: 5px;
  background-color: #16181c;
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 10px;
}

.prefereView {
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
}

.prefereViewTitle {
  opacity: 0.5;
  display: block;
  padding-bottom: 10px;
}

.prefereViewList {
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 95%;
}

.prefereViewList-container {
  position: absolute;
  left: 0;
  top: 70px;
  font-weight: 600;
  width: 100%;
  &::before {
    left: 94%;
    border-width: 17px;
    top: -35px;
    transform: rotate(180deg);
  }
  &::after {
    left: 94%;
    border-width: 17px;
    top: -35px;
    transform: rotate(180deg);
  }
}

.warningTitle {
  background: #1a1c20;
  padding: 10px;
  opacity: 0.5;
  color: #ffffff;
  font-family: Quicksand;
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
}

.prefereViewListMain {
  height: 200px;
  overflow: scroll;
}

.prefereViewListName {
  width: 100px;
  position: relative;
}

.txt-body-dark {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
}

.txt-border {
  display: flex;
    align-items: center;
    height: 34px;
    border-radius: 17px;
    border: 3px solid #333333;
    color: #ffffff;
    padding: 0 6px 0 10px;
    font-weight: bold;
    margin: 8px 0px 0px 15px;
    width: auto;
    cursor: pointer;
}

.txt-border.add-btn{
  padding: 0 10px 0 5px;
  box-shadow:0 0 10px rgba(0,0,0,0.5);
  cursor: pointer;
  .txt-body-dark{
    cursor: pointer;
  }
  .fa{ 
    color: #fff;
    width: 22px;
    height: 22px;
    background: #000;
    border-radius: 50%;
    text-align: center;
    margin: 0 6px 0 0;
    line-height: 25px;
    font-size: 10px;

  }
}

.txtEllips {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
}

.active {
  background-color: #1a1c20;
}

.imgPadding {
  padding-left: 6px;
}


.input-field-row{
  margin: 0 0 20px;
  position: relative;
}

.btn-link-timetable{
  background: none;
  color: #fff;
  font-size: 14px;

  .fa{
    margin-left: 10px;
  }
}

.subject-wrapper{
  margin: 15px;
    border: 1px solid #303439;
    // padding: 15px;
    position: absolute;
    background: #22262a;
    width: 445px;
    /* margin-left: 9px; */
    margin-top: -4px;
    border-radius: 4px;
    box-shadow: 0 30px 100px 0 rgb(0 0 0 / 5%), 0 20px 25px 0 rgb(0 0 0 / 5%);
  .close{
    float: right;
    cursor: pointer;
  }
  .subject-container{
    max-height: 200px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 10px;
  }
}