@import 'bootstrap';

.quiz-viewer {
  position: absolute;
    // background-color: #22262a;
    bottom: 35px;
    height: 400px;
    width: 600px;
    right:0;
  &::before {
    top: 399px;
    // transform: rotate(180deg);
  }
  tce-flyout {
    &:before, &:after {
      right:30px;
      left:auto;
    }
  }
}

.status-bar{
  width: 96%;
  background-color:  #22262a;
  position: absolute;
    bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    .statusInnerDivs {
     
      
      p {
        color:#fff;
        margin-bottom:0px;
      }
    }
    ul {
      margin-bottom:0px;
      display:flex;
      li {
        margin-right:15px;
        button {
          width: fit-content;
        background: #fff;
        padding: 0px;
        border-radius: 50%;
        svg {
          width:25px;
          height:25px;
          display:flex;
        }
        }
        
      }
    }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  opacity: 1;
}

.viewOptions{
  top: 60px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.item-center {
  align-items:center;
}
.flex-end {
  justify-content: flex-end;
}
.qb-qtnsNo {
  p {
    margin-right:10px;
  }
}
.pd-0 {
  padding:0px;
}
.qb-viewList {
  position:relative;
}
.qb-qstatusbarViewOptions {
  tce-flyout {
    left: -14px;
    top: -50px;
    z-index: 99999;
    width: 130px;
    padding: 2px 10px;
  }
}