<div>
  <div class="status-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 pd-0 qb-statusInnerDivs" *ngIf="quizQuestionList.length>0">
          <!-- <button id="viewQuestions" (click)="viewSelectedQuestions()" [disabled]="quizQuestionList.length<1">View
            Selected
            Questions</button> -->
          <ul>
            <li hidden>
              <button class="tooltip" id="viewQuestions" (click)="viewSelectedQuestions()"
                [disabled]="quizQuestionList.length<1">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 383.947 383.947"
                  style="enable-background:new 0 0 383.947 383.947;" xml:space="preserve">
                  <g>
                    <g>
                      <g>
                        <polygon points="0,303.947 0,383.947 80,383.947 316.053,147.893 236.053,67.893 			" />
                        <path d="M377.707,56.053L327.893,6.24c-8.32-8.32-21.867-8.32-30.187,0l-39.04,39.04l80,80l39.04-39.04
				C386.027,77.92,386.027,64.373,377.707,56.053z" />
                      </g>
                    </g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                </svg>

                <span class="tooltiptext">View Questions</span>

              </button>

            </li>
            <li *ngFor="let question of quizQuestionList; index as i" class="qb-viewList">
              <button (click)="openFlyout(i)">
                <!-- <svg height="512" viewBox="0 0 16 16" width="512" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="m11.707 3.29297-3-3c-.1875-.1875-.441895-.292969-.707031-.292969h-7c-.552246 0-1 .447754-1 1v14c0 .552734.447754 1 1 1h10c.552246 0 1-.447266 1-1v-11c0-.265137-.105469-.519531-.292969-.707031zm-2.70703 6.70703h-2v2h-2v-2h-2v-2h2v-2h2v2h2zm0-6c-.552307 0-1-.447754-1-1v-2l3 3z"
                      transform="translate(2)" />
                  </svg> -->
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                  y="0px" viewBox="0 0 34 34" style="enable-background:new 0 0 34 34;" xml:space="preserve">
                  <style type="text/css">
                    .st0 {
                      fill: #FFFFFF;
                    }
                  </style>
                  <g id="Layer_2">
                    <circle class="st0" cx="17" cy="17" r="17" />
                  </g>
                  <g id="Layer_3">
                    <g>
                      <path d="M22.3,9.7h2.8l-3-3v2.8C22.2,9.7,22.2,9.7,22.3,9.7z" />
                      <path d="M21.7,11.9c-1.1,0-1.7-0.5-1.7-2.3V6.4H11c-1.4,0-2.5,1.1-2.5,2.5v16.2c0,1.4,1.1,2.5,2.5,2.5H23c1.4,0,2.5-1.1,2.5-2.5
			V11.9H21.7z" />
                    </g>
                    <g>
                      <circle class="st0" cx="17" cy="23.3" r="1.3" />
                      <path class="st0" d="M17,13.4c-1.9,0-3.4,1.5-3.4,3.4v0.3h2.6v-0.3c0-0.4,0.4-0.8,0.8-0.8s0.8,0.4,0.8,0.8c0,0.2-0.1,0.4-0.3,0.6
			L15.7,19v2.3h2.6v-1.1l0.9-0.8c0.8-0.6,1.2-1.6,1.2-2.6C20.4,14.9,18.9,13.4,17,13.4z" />
                    </g>
                  </g>
                </svg>
              </button>
              <div class="viewOptions qb-qstatusbarViewOptions">
                <tce-flyout *ngIf="questionIndex === i">
                  <span (click)="previewQuestion(question)">View Question</span>
                  <br>
                  <span (click)="removeQuestion(question)">Remove</span>
                </tce-flyout>
              </div>
            </li>
            <!-- <li>
              <button>
                <svg id="Capa_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512"
                  xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path id="XMLID_1089_"
                      d="m428.332 135.275-11.167-33.466c-2.248-6.736-8.552-11.278-15.653-11.278h-291.024c-7.101 0-13.405 4.543-15.653 11.278l-11.167 33.466c-2.53 7.582 3.113 15.414 11.106 15.414h322.451c7.994 0 13.637-7.832 11.107-15.414z" />
                    <path id="XMLID_835_"
                      d="m135.615 491.767c1.28 11.519 11.016 20.233 22.606 20.233h193.718c11.59 0 21.326-8.715 22.606-20.233l34.565-311.077h-308.06z" />
                    <path id="XMLID_831_"
                      d="m225.89 42.998c0-7.167 5.831-12.998 12.998-12.998h44.189c7.167 0 12.998 5.831 12.998 12.998v17.533h30v-17.533c0-23.709-19.289-42.998-42.998-42.998h-44.189c-23.709 0-42.998 19.289-42.998 42.998v17.533h30z" />
                  </g>
                </svg>
              </button>
            </li>
            <li>
              <button>
                <svg height="511pt" viewBox="0 1 511 511.99985" width="511pt" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="m512.453125 260.023438v171.984374c0 44.105469-35.882813 79.992188-79.992187 79.992188h-351.96875c-44.105469 0-79.992188-35.886719-79.992188-79.992188v-351.96875c0-44.109374 35.886719-79.9960932 79.992188-79.9960932h228.980468c11.046875 0 20 8.9570312 20 20.0000002 0 11.046875-8.953125 20-20 20h-228.980468c-22.054688 0-39.996094 17.941406-39.996094 39.996093v351.96875c0 22.054688 17.941406 39.996094 39.996094 39.996094h351.96875c22.054687 0 39.996093-17.941406 39.996093-39.996094v-171.984374c0-11.046876 8.953125-20 20-20 11.042969 0 19.996094 8.953124 19.996094 20zm-45.886719-146.144532c3.800782 3.777344 5.894532 8.789063 5.894532 14.109375 0 5.324219-2.09375 10.332031-5.894532 14.109375l-80.199218 79.695313c-7.832032 7.785156-7.871094 20.449219-.085938 28.28125 3.90625 3.933593 9.046875 5.902343 14.183594 5.902343 5.097656 0 10.195312-1.9375 14.097656-5.8125l80.199219-79.695312c11.410156-11.34375 17.695312-26.425781 17.695312-42.480469 0-16.054687-6.285156-31.140625-17.695312-42.480469l-80.199219-79.695312c-7.832031-7.785156-20.496094-7.746094-28.28125.089844-7.785156 7.835937-7.746094 20.496094.085938 28.28125zm-43.105468 13.15625c0-11.046875-8.953126-20-19.996094-20-72.113282 0-139.910156 28.082032-190.902344 79.074219s-79.074219 118.789063-79.074219 190.902344v15c0 11.042969 8.953125 19.996093 20 19.996093 11.042969 0 19.996094-8.953124 19.996094-19.996093v-15c0-126.8125 103.167969-229.980469 229.980469-229.980469 11.042968 0 19.996094-8.953125 19.996094-19.996094zm0 0" />
                </svg>
              </button>
            </li> -->
          </ul>

        </div>
        <div class="col-sm-6 pd-0 statusInnerDivs text-right"
          [ngClass]="quizQuestionList.length>0 ? 'col-md-6' : 'col-md-12'">
          <div class="d-flex item-center flex-end qb-qtnsNo">
            <p>( {{quizQuestionList.length}} ) </p>
            <ul>
              <li>
                <button class="tooltip" id="viewQuestions" (click)="viewSelectedQuestions()"
                  [disabled]="quizQuestionList.length<1">
                  <!-- <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 383.947 383.947"
                    style="enable-background:new 0 0 383.947 383.947;" xml:space="preserve">
                    <g>
                      <g>
                        <g>
                          <polygon points="0,303.947 0,383.947 80,383.947 316.053,147.893 236.053,67.893 			" />
                          <path d="M377.707,56.053L327.893,6.24c-8.32-8.32-21.867-8.32-30.187,0l-39.04,39.04l80,80l39.04-39.04
            C386.027,77.92,386.027,64.373,377.707,56.053z" />
                        </g>
                      </g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                  </svg> -->
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px" y="0px" viewBox="0 0 34 34" style="enable-background:new 0 0 34 34;" xml:space="preserve">
                    <style type="text/css">
                      .st0 {
                        fill: #FFFFFF;
                      }
                    </style>
                    <g id="Layer_2">
                      <circle class="st0" cx="17" cy="17" r="17" />
                    </g>
                    <g id="Layer_3">
                      <path d="M22.8,6.4H11.3c-1.5,0-2.8,1.2-2.8,2.8v15.7c0,1.5,1.2,2.8,2.8,2.8h6.4l0.2-1.2c0-0.8,1.4-2.1,1.8-2.5l5.9-5.9V9.2
                   C25.5,7.6,24.3,6.4,22.8,6.4z" />
                      <g>
                        <circle class="st0" cx="17" cy="19.3" r="1.3" />
                        <path class="st0" d="M17,9.4c-1.9,0-3.4,1.5-3.4,3.4v0.3h2.6v-0.3c0-0.4,0.4-0.8,0.8-0.8s0.8,0.4,0.8,0.8c0,0.2-0.1,0.4-0.3,0.6
                     L15.7,15v2.3h2.6v-1.1l0.9-0.8c0.8-0.6,1.2-1.6,1.2-2.6C20.4,10.9,18.9,9.4,17,9.4z" />
                      </g>
                      <g>
                        <g>
                          <path d="M19.4,28.8c0,0.2,0.1,0.3,0.3,0.3l2.5-0.6l-2.2-2.2L19.4,28.8z" />
                          <path
                            d="M30.8,18.8l-1-1c-0.4-0.4-1-0.4-1.4,0l-1,1l2.2,2.2l1.1-1.1C31.1,19.6,31.1,19.1,30.8,18.8z" />
                          <rect x="20.5" y="22.3" transform="matrix(0.7073 -0.7069 0.7069 0.7073 -9.7465 24.3273)"
                            width="8" height="3.2" />
                        </g>
                        <polyline points="27.9,22.8 22.2,28.5 19.9,26.3 25.6,20.6 		" />
                      </g>
                    </g>
                  </svg>

                  <span class="tooltiptext">View Questions</span>

                </button>

              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- <div> -->
    <!-- <button id="viewQuestions" (click)="viewSelectedQuestions()" [disabled]="quizQuestionList.length<1">View Selected
        Questions</button>
      {{quizQuestionList.length}} questions
      selected
    </div> -->
    <div *ngIf="showQuestions" class="quiz-viewer">
      <tce-flyout>
        <tce-qb-quiz-viewer [allChapters]="chapters" [allTopics]="topics" [selectChapter]="selectedChapter"
          (addCancelQuiz)="addCancelQuiz()" [selectTopic]="selectedTopic" [quizQuestionList]="quizQuestionList"
          [quizQuestionList]="quizQuestionList">
        </tce-qb-quiz-viewer>
      </tce-flyout>
    </div>
  </div>
</div>