.customHeightCard {
  height: 650px;
  width: 500px;
}
.questionEditorMainContainer {
  height: 100%;
  width: 100%;
  display: flex;
}
.templateEditorMainContainer {
  flex-grow: 1;
}
.questionSelectorMainContainer {
  width: 30%;
  background-color: #e5e5e54a;
}
.footerFloat {
  float: right;
}

.buttonMargin {
  margin-right: 20px;
}

.cartPadding {
  padding: 0;
}
