<!-- 
<nb-card class="dialog-card customHeightCard">
    <nb-card-body class="cartPadding">
        <div class="questionEditorMainContainer">
            <div class="templateEditorMainContainer">
                <tce-template-edit></tce-template-edit>
            </div>
            <div class="questionSelectorMainContainer">
                <tce-question-selector></tce-question-selector>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="footerFloat">
            <button nbButton status="basic" (click)="dismiss()" class="buttonMargin">Cancel</button>
            <nb-select placeholder="Select One" (selectedChange)="onItemSelected($event)">
                <nb-option value="submit">Submit Question</nb-option>
                <nb-option value="preview">Preview</nb-option>
                <nb-option value="3">Option 3</nb-option>
                <nb-option value="4">Option 4</nb-option>
              </nb-select>
        </div>
       
    </nb-card-footer>
</nb-card> -->
<nb-layout>
  <nb-sidebar state="compacted"></nb-sidebar>

  <nb-layout-column class="colored-column-primary">
    <button nbButton status="basic" (click)="dismiss()" class="buttonMargin">
      Cancel
    </button>
  </nb-layout-column>
</nb-layout>
