@import 'libs/question-bank/src/lib/assets/css/common.scss';

textarea {
  width: 100%;
}
span {
  position: relative;
}

.span-text {
  background-color: #d3d3d3;
}

label {
  position: relative;
  border: 1px solid $light-white-one;
  padding: 0px 10px;
  padding-top: 15px;
  border-radius: 10px;
}
