.userSettingView-container {
  height: 500px;
  width: 684px;
  top: var(--maincontainerTop);
  font-weight: 600;
  position: absolute;
  border: 1px solid #303439;
  border-radius: 5.5px;
  background-color: #22262a;
  box-shadow: 0 30px 100px 0 rgba(0, 0, 0, 0.5),
    0 20px 25px 0 rgba(0, 0, 0, 0.5);
  &::before {
    //display: var(--maincontainerBeforeAfter);
    left: var(--maincontainerposition);
    transform: var(--maincontainerRotation);
    top: var(--arrowtop);
    border-width: 10px;
  }
  &::after {
    // display: var(--maincontainerBeforeAfter);
    left: var(--maincontainerposition);
    transform: var(--maincontainerRotation);
    top: var(--arrowtop);
  }
}

.userRightSide {
  right: 80px;
}
.userLeftSide {
  left: 80px;
}

.tabContainer {
  width: 30%;
  height: 100%;
  background-color: #1a1c20;
  box-shadow: inset 0 -1px 0 0 #303439;
}
.tabView {
  width: 70%;
  height: 100%;
}
.userImgContainer {
  vertical-align: middle;
  align-items: center;
  text-align: center;
  margin: auto;
}

.userImgDiv {
  padding: 30px;
}

.userImg {
  height: 70px;
  width: 72px;
  border-radius: 7px;

}
.userEdit {
  position: relative;
  height: 19px;
  width: 22px;
  background: blue;
  top: -30px;
  left: -5px;
  padding: 0 5px 0 5px;
  display: none;
}
.userInfo {
  color: #ffffff;
  font-family: Quicksand;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0;
  padding: 10px;
}
.userName {
  font-size: 18px;
  line-height: 23px;
  //white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.userEmail {
  opacity: 0.5;
  font-size: 11px;
  line-height: 14px;
  //white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.userJoin {
  font-size: 11px;
  line-height: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 20px;
}

/* Style the tab */
.tab {
  border: 1px solid #1a1c20;
  background-color: #1a1c20;
  margin-top: 40px;
}

/* Style the buttons inside the tab */
.tab .tablinks {
  background-color: #1a1c20;
  display: block;
  color: #ffffff;
  cursor: pointer;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  padding: 10px;
  border-bottom: 1px solid #49494a;
}

/* Change background color of buttons on hover */
.tab .tablinks:hover {
  background-color: #1a1c20;
}

/* Create an active/current "tab button" class */
.active {
  color: #71b9ff !important;
  background-color: #000000 !important;
}
.userSettingOption {
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0;
  font-family: Quicksand;
  line-height: 19px;
  display: contents;
  float: left;
}
.userContainer {
  display: flex;
  height: 100%;
  width: 100%;
}

.planningMode {
  top: 75px;
  right: 5px;
  z-index: 1040;
  position: fixed;
  &::before {
    left: 90vh;
    top: -21px;
    transform: rotate(180deg);
  }
  &::after {
    left: 90vh;
    top: -21px;
    transform: rotate(180deg);
  }
}
