<tce-flyout
  class="userSettingView-container"
  [ngClass]="[
    !_type ? 'userRightSide' : 'userLeftSide',
    currentMode === 'planning' ? 'planningMode' : ''
  ]"
>
  <div class="userContainer">
    <div class="tabContainer">
      <div class="userImgContainer">
        <div class="userImgDiv">
          <img src="assets/images/user.png" class="userImg" />
          <span class="userEdit">X</span>
        </div>
        <div class="userInfo">
          <div class="userName">
            {{ userProfile?.firstName }}
            {{ userProfile?.middleName }}
            {{ userProfile?.lastName }}
          </div>
          <div class="userEmail">
            {{ userProfile?.username }}
          </div>
          <!-- <div class="userJoin">
            {{ userProfile?.createdAt }}
          </div> -->
        </div>
      </div>
      <div>
        <div class="tab">
          <div
            class="tablinks"
            [ngClass]="shownavTab == 'account' ? 'active' : ''"
            (click)="shownavTab = 'account'"
          >
            <title class="userSettingOption">Account</title>
            <img src="assets/images/ic.userArrow.svg" style="float: right;" />
          </div>
          <!-- <div
            class="tablinks"
            [ngClass]="shownavTab == 'notification' ? 'active' : ''"
            (click)="shownavTab = 'notification'"
          >
            <title class="userSettingOption">Notification</title>
            <img src="assets/images/ic.userArrow.svg" style="float: right;" />
          </div> -->
          <div
            class="tablinks"
            [ngClass]="shownavTab == 'profile' ? 'active' : ''"
            (click)="shownavTab = 'profile'"
          >
            <title class="userSettingOption">Profile</title>
            <img src="assets/images/ic.userArrow.svg" style="float: right;" />
          </div>
        </div>
      </div>
    </div>
    <div class="tabView">
      <div *ngIf="shownavTab == 'account'">
        <tce-account-view
          [getInputPrefereView]="inputPrefereView"
          [currentMode]="currentMode"
        ></tce-account-view>
      </div>
      <div *ngIf="shownavTab == 'notification'">
        <tce-notification-view
          [currentMode]="currentMode"
        ></tce-notification-view>
      </div>
      <div *ngIf="shownavTab == 'profile'">
        <tce-profile-view [currentMode]="currentMode"></tce-profile-view>
      </div>
    </div>
  </div>
</tce-flyout>
