.customHeightCard {
  height: 100%;
  width: 100%;
  background-color: transparent;
}
.questionPreviewMainContainer {
  height: 100%;
  width: 100%;
  display: flex;
}
::ng-deep nb-card.customHeightCard {
  box-shadow: none !important;
}
.qb-preview-submit {
  position: absolute;
  left: 47px;
  bottom: 25px;

  button {
    background: linear-gradient(90deg, #6d71ff 0%, #248ef6 100%) !important;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
  }

  button[disabled] {
    opacity: 0.5;
  }
}
