<div class="d-flex align-items-center searchContainerTop">
<div class="row searchContainer" style="padding: 8px;">
  <div class="col-1" style="padding-left: 0; flex: 0 0 10px">
    <svg-icon
      src="assets/images/searchIcon.svg"
      class="searchIcon"
      [applyCss]="true"
    ></svg-icon>
  </div>
  <div
    [ngClass]="
      currentSateView === 'filterView'
        ? 'col-8'
        : currentSateView === 'favoritesView'
        ? 'col-6'
        : 'col-8'
    "
  >
    <input
      [placeholder]="placeholderName"
      type="text"
      id="customInput"
      class="customInput"
      [ngClass]="currentPlanningResourceState ? 'planningCustomInput' : ''"
      (keyup)="onKeyUp($event)"
      (focus)="setKeyboardFocus($event)"
      [(ngModel)]="inputText"
    />
  </div>
  <div
    class="col-2"
    *ngIf="currentSateView === 'favoritesView'"
    style="padding:17px 0"
  >
    <div
      style="position: relative;top:10px"
      (click)="editfavorites()"
      *ngIf="showEditFavorites"
    >
      Edit
    </div>
    <div
      style="position: relative;top:10px"
      (click)="editfavorites()"
      *ngIf="hideCancelFavorites"
    >
      Cancel
    </div>
  </div>
 

  <div
    class="searchIconOuter"
    *ngIf="currentSateView === 'filterView'"
    (click)="setCurrentUserText(); closeKeyboard()"
  >
    <div class="searchBtn" style="cursor: pointer;">
      Search
    </div>
  </div>
</div>
<!-- thirumani future-use <div
class="d-flex custmButtonDiv"
*ngIf="currentSateView !== 'filterView'"
[ngClass]="currentSateView == 'favoritesView' ? 'customBottom' : ''"
>
    <button
      class="libClass"
      [ngClass]="currentSateView === 'libraryView' ? 'active' : ''"
      (click)="setCurrentView('libraryView')"
    >
      Library
    </button>
   
    <button
      class="favClass"
      [ngClass]="currentSateView === 'favoritesView' ? 'active' : ''"
    >
      My Favorites
    </button>
     (click)="setCurrentView('favoritesView')"
  
</div> -->
</div>
<div
  class="modalClose"
  *ngIf="
    currentSateView === 'filterView' &&
    (!selectedResourceList ||
      (selectedResourceList && selectedResourceList.length == 0))
  "
  (click)="setCurrentView('libraryView'); closeKeyboard()"
>
  <svg-icon
    src="assets/images/ic.CloseModal.svg"
    [applyCss]="true"
    class="closeIcon"
    [ngClass]="currentType === 'planningMode' ? 'planningCloseIcon' : ''"
  ></svg-icon>
</div>
<!-- thirumani future-use <div
  class="row filterContainer"
  *ngIf="currentSateView == 'filterView' || currentSateView == 'favoritesView'"
>
  <div
    class="filter"
    *ngFor="let x of filterList"
    [ngClass]="currentType === 'planningMode' ? 'planningWidth' : ''"
  >
    <svg-icon
      style="padding: 5px 0px 0px 5px;"
      *ngIf="x.name === 'Resources'"
      src="assets/images/ic.CloseModalBlue.svg"
    ></svg-icon>
    <label style="padding-left: 12px;">{{ x.name }}</label>
    <img class="filterDropDown" src="assets/images/ic.userArrowBlack.svg" />
  </div>
</div> -->
<tce-flyout
  class="content-search-suggestion"
  *ngIf="
    showSuggestionPopup && (searchSuggestion && searchSuggestion.length > 0)
  "
>
  <div class="scroll">
    <ul>
      <li
        *ngFor="let x of searchSuggestion"
        (click)="setSuggestionText(x.suggestion)"
        style="cursor: pointer;"
      >
        <h4 class="title">{{ x.suggestion }}</h4>
        <span class="count">{{ x.suggestionCount }}</span>
      </li>
    </ul>
  </div>
</tce-flyout>
