.searchContainer {
  padding: 10px;
  border-radius: 10px;
  width: calc(100% - 60px);
  height: 38px;
  margin: 0 10px 20px 0;
  background: #f9f9f9;
  border: 1px solid #ededed;
  box-sizing: border-box;
  border-radius: 10px;
  align-items: center;
  position: relative;
}


.searchIconOuter{
  position: absolute;
  right: 5px;
  top: 4px;
  .searchBtn{
    background: linear-gradient(90deg, #6d71ff 0%, #248ef6 100%);
    padding:6px 10px;
    border-radius: 5px;
    color: white;
    font-family: Quicksand;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 15px;
    text-align: center;
  }
}

.searchContainerTop{
  position: relative;
}

.searchContainerTop + .modalClose{ top: -8px; }

// thiru close display none
.modalClose {
  position: absolute;
  right: 0;
  top: 15px;
}
.customInput {
  // border: 1px solid var(--text-color-primary);
  border: 0;
  display: inline-block;
  // padding: 6px 12px;
  cursor: pointer;
  // font-size: 24px;
  // margin: 6px 0px 0px -40px;
  background: none;
  color: var(--submenu-background-color);
  width: 100%;

  padding: 0;
  font-size: 14px;
  margin: 0px;
  font-weight: normal;
}
.planningCustomInput {
  // margin: 6px 0px 0px -30px;
}
.searchIcon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  height: 16px;
}
.searchIcon svg {
  height: 16px;
  width: 16px;
  opacity: 0.5;
}
.searchIcon svg g g {
  fill: var(--submenu-background-color);
  stroke: var(--submenu-background-color);
}
.libClass {
  background: var(--text-color-primary);
  margin: 0px -15px;
  border: 1px solid;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
  color: var(--submenu-background-color);
}

.favClass {
  background: var(--text-color-primary);
  border-left: 1px solid;
  border: 1px solid;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
  color: var(--submenu-background-color);
}
.active {
  background: var(--submenu-background-color);
  color: var(--text-color-primary);
}
.closeIcon svg {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
}

.custmButtonDiv {
  // position: absolute;
  // right: 0;
  // bottom: 15px;
 margin: 0 0 20px 20px;
 white-space: nowrap;
}

.filter {
  text-align: center;
  background: #f2f2f2;
  // background: var(--text-color-secondary);
  padding: 5px;
  // margin: 0 5px;
  margin-right: 10px;
  border-radius: 22px;
  color: black;
  font-weight: 800;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.04);
box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.06);
border-radius: 20px;

  .filterDropDown {
    margin: 5px 10px;
    float: right;
    transform: rotate(90deg);
    height: 10px;
  }

  label{ 

    font-weight: 500;
font-size: 14px;
   }
}

.customBottom {
  bottom: 40px;
}
.content-search-suggestion {
  // height: 190px;
  width: 563px;
  top: 46px;
  left: 17px;
  font-weight: 600;
  position: absolute;
  font-weight: 600;
  background-color: #f9f9f9 !important;
  border:1px solid #ededed!important;
  padding: 10px 0;


  &::before {
    border-color: var(--text-color-primary) transparent transparent transparent;
    left: 4px;
    top: -33px;
    border-width: 17px;
    transform: rotate(180deg);
    display: none;
  }
  &::after {
    border-color: var(--text-color-primary) transparent transparent transparent;
    left: 4px;
    top: -33px;
    border-width: 17px;
    transform: rotate(180deg);
    display: none;
  }


  ul li {
    width: 100%;
    float: left;

    &:hover{
      background-color: rgba(0, 0, 0, 0.04);
    }
  }

  .title {
    float: left;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    padding: 10px 15px;
    color: var(--submenu-background-color);
    font-size: 14px;
    line-height: 16px;

  }

  .count {
    float: right;
    width: 20%;
    text-align: end;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 15px;
    color: var(--submenu-background-color);
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;

  }

  .scroll {
    max-height: 190px;
    overflow: auto;
    padding: 0;
  }
}

.planningWidth {
  min-width: 16%;
  width: auto;
}

.filterWidth {
  min-width: 16%;
}

.nebularHeaderCustom {
  color: var(--text-color-primary);
  margin-right: 0;
}

.customHeaderSearch {
  width: 100%;
  max-width: 418px;
  cursor: pointer;
  position: relative;
}

.filterContainer {
  // margin-left: 25px;
  margin: 0px;
  padding-bottom: 10px;
  // margin-right: 10px;
  // padding-left: 20px;
}

.planningCloseIcon {
  position: relative;
  float: right;
  top: -5px;
  right: 6px;
}
