<nb-layout class="nbContainer">
  <nb-layout-header fixed class="nebularHeader">
    <div class="header-inner">
      <div class="header-left">
        <div (click)="toggle()" class="nebularHeaderCustom toggle">
          <nb-icon icon="menu-2" *ngIf="!toggleState" class="customIconNebular"></nb-icon>
          <nb-icon icon="close" *ngIf="toggleState" class="customIconNebular"></nb-icon>
        </div>
        <div class="nebularHeaderCustom customHeaderTitle" (click)="redirectHome()">
          <div class="logo"></div>
        </div>
      </div>

      <!-- <div class="nebularHeaderCustom customHeaderSearch">
        <input
          class="search-input"
          type="text"
          id="fname"
          name="fname"
          placeholder="Search Library"
        />
        <nb-icon icon="search" class="searchIcon"></nb-icon>
      </div> -->

      <div class="header-right">
        <!-- <div class="nebularHeaderCustom notification">
          <nb-icon icon="bell"></nb-icon>
          <span class="noti-ico"></span>
        </div>
        <div class="nebularHeaderCustom notification">
          <nb-icon icon="message-circle"></nb-icon>
          <span class="noti-ico"></span>
        </div> -->
        <div id="user-profile" (click)="userModal()" class="nebularHeaderCustom userToggle">
          <div id="user-profile" class="userImage">
            <img id="user-profile" [src]="userProfileImg" class="userImg" />
          </div>

          <span id="user-profile" class="userNameText">
            {{ userProfile?.firstName }}
            {{ userProfile?.middleName }}
            {{ userProfile?.lastName }}
          </span>
          <div id="user-profile" class="userArrow" [ngClass]="showUserModal ? 'userArrowState' : ''">
            <img id="user-profile" src="assets/images/ic.userArrow.svg" />
          </div>
        </div>
      </div>
    </div>
  </nb-layout-header>
  <nb-sidebar state="expanded" tag="left" class="menu-sidebar">
    <nb-menu tag="menu-sidebar" tag="sidebarMenu" [items]="YourItems"></nb-menu>
    <div *ngIf="adminMode">
      <tce-admin-planmode></tce-admin-planmode>
    </div>
  </nb-sidebar>

  <nb-layout-column class="colored-column-warning layerPadding">
    <nb-card class="cardMargin mid-page-sec">
      <nb-card-header class="positionCustom">
        <div class="customCure">
          <div class="qbFixedHeaderClass">
            <div class="planning-header">{{ currentMenu }}</div>

            <div class="title-text-mode" (click)="clicktoShowSubjectChapter()">
              <span>{{ currentClassSelectionTextMode }}</span>
              <img class="arrowHeader" src="assets/images/ic.Dropdown.Active.svg" />
            </div>
            <div *ngIf="showSubjectChapter">
              <tce-flyout class="mainContainerSubjectGradePlanning">
                <tce-common-grade-subject-selectore [allGrade]="availableGrades" [allSubject]="availableSubjects"
                  [selectGrade]="selectedGradeLevel" [selectSubject]="selectedSubject" [currentType]="'planning'"
                  (valueChangeGradeSubjectPlanning)="
                    displayvalueGradeSubject($event)
                  "></tce-common-grade-subject-selectore>
              </tce-flyout>
            </div>
            <!-- <div class="row customFilterTop" *ngIf="currentMenu === 'Question Bank'">
              <div class="selectPlanningModeView">
                <nb-select class="selectOption" [(selected)]="selectedChapter" placeholder="All Chapter" shape="round"
                  (selectedChange)="changeChapter($event)">
                  <nb-option value="">Select Chapter</nb-option>
                  <nb-option *ngFor="let chapter of availableChapters" [value]="chapter">
                    {{ chapter.chapterTitle }}</nb-option>
                </nb-select>
              </div>
              <div>
                <nb-select class="selectOption" [(selected)]="selectedTopic" placeholder="All Topic" shape="round"
                  (selectedChange)="changeTopic($event)">
                  <nb-option value="">Select Topic</nb-option>
                  <nb-option *ngFor="let topic of availableTopics" [value]="topic">
                    {{topic.topicNumber}}. {{ topic.topicTitle }}
                  </nb-option>
                </nb-select>
              </div>
            </div> -->
            <div class="row customFilterTop" *ngIf="currentMenu === 'Question Bank'">
              <div class="selectPlanningModeView">
                <div class="dropdown">
                  <button id="chapterId" class="dropbtn qb-dropdownBar" (click)="chapterToggle()">
                    {{selectedChapter.chapterTitle}}
                  </button>
                  <div *ngIf="chapterDropdown" id="myDropdown" class="dropdown-content">
                    <a *ngFor="let chapter of availableChapters" (click)="changeChapter(chapter)">{{
                      chapter.chapterTitle }}</a>
                  </div>
                </div>
                <div class="dropdown">
                  <button id="topicId" class="dropbtn qb-dropdownBar" (click)="topicToggle()">
                    <span *ngIf="selectedTopic">{{selectedTopic.topicTitle}}</span>
                    <span *ngIf="selectedTopic == 'none'">Select Topic</span>
                  </button>
                  <div *ngIf="topicDropdown" id="myDropdown" class="dropdown-content">
                    <a>Select Topic</a>
                    <a *ngFor="let topic of availableTopics" (click)="changeTopic(topic)">{{topic.topicNumber}}. {{
                      topic.topicTitle }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div (click)="toggleCompact()" class="buttonCustiomPosition">
          <nb-icon icon="arrow-ios-forward-outline" class="custiomIconRight"></nb-icon>
        </div>
      </nb-card-header>
      <nb-card-body class="plan-mode-card pm-page-menu-container"
        [ngClass]="currentMenu==='Question Bank' ? 'mt-body' : ''">
        <ng-container #planningContentLib></ng-container>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
  <nb-sidebar class="rightSidebar" right state="compacted" tag="right">
    <div class="right-panel">
    </div>
  </nb-sidebar>
</nb-layout>
<div *ngIf="isPlusIconRequired" class="addButtonPlusSign" id="shortcut-menu" (click)="openPlanningMode()">
  <img id="shortcut-menu" class="addButtonPlusSign-icon" src="assets/images/myPlusAddRessource.svg" />
</div>
<div *ngIf="openAdditionPopUp">
  <tce-flyout class="content-PlanningMode" *ngIf="currentMenu === 'Question Bank'">
    <div class="planningModePopUpPadding">
      <label>Create New</label>
      <ul>
        <li class="listMargin" (click)="openQuestionEditor()">Question</li>
        <!-- <li class="listMargin">Quiz / Question Paper</li> -->
      </ul>
    </div>
  </tce-flyout>
</div>

<div *ngIf="showUserModal">
  <tce-user-options [isLoggedIn]="isLoggedIn" [userData]="userProfile" [type]="'planning'" class="userOptionComponent">
  </tce-user-options>
</div>
<div *ngIf="isLoggedIn">
  <ng-container #userSettingView></ng-container>
  <ng-container #changePassword></ng-container>
  <ng-container #changePin></ng-container>
</div>