//@import '../../../../../../node_modules/@nebular/theme/styles/prebuilt/default.css';
//@import '~@nebular/theme/styles/theming';
//@import '~@nebular/theme/styles/themes/default';
@import 'bootstrap';
$nb-enable-css-custom-properties: true;

:host nb-layout-header button:last-child {
  margin-left: auto;
}
.nbContainer {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

span {
  margin-right: 10px;
}

hr {
  margin-top: 22px;
  height: 1px;
  background-color: #ccc;
  border: none;
}
.planning-header {
  color: #000000;
  font-family: Quicksand;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 38px;
}

.menu-sidebar {
  // background-color: #22262a !important;
  background-color: var(--lef-nav-bg) !important;
}
.rightSidebar {
  background-color: #22262a !important;
}
.nebularHeader {
  background-color: #22262a !important;
  //background-color: var(--header-color) !important;

  .header-inner {
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .header-left {
    display: flex;
    align-items: center;
  }
  .header-right {
    display: flex;
    align-items: center;
    padding: 0 30px 0 0;
  }
}

.nebularHeaderCustom {
  color: var(--text-color-primary);
  margin-right: 0;
}

.toggle {
  // width: 6%;
  margin-left: -10px;
  cursor: pointer;
}

.customHeaderTitle {
  width: auto;
}
.customHeaderSearch {
  width: 100%;
  max-width: 418px;
  cursor: pointer;
  position: relative;
}
.searchIcon {
  position: absolute;
  right: 15px;
  top: 12px;
  cursor: pointer;
}
.notification {
  // width: 4%;
  cursor: pointer;
  // margin-left: 10px;
  margin: 0 15px;
  padding: 0 5px;
  position: relative;

  &::after {
    content: '';
    border-right: 2px rgba(255, 255, 255, 0.2) solid;
    position: absolute;
    height: 100%;
    width: 1px;
    right: -15px;
    top: 0;
  }
}

.userToggle {
  // width: 22%;
  margin-left: 10px;
  margin-right: -10px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.customIconNebular {
  width: 68px;
  padding: 0 20px;
  height: 26px;
}
.customHeaderSearch {
  input[type='text'] {
    width: 100%;
    padding: 10px 30px 10px 20px;
    margin: 0px 0;
    box-sizing: border-box;
    // border: 2px solid rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 22px;
    background-color: #16181c;
    //background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 16px;
    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }
  }
}

.userImg {
  height: 35px;
  width: 35px;
}

.userNameText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px 0 15px;
  font-weight: 500;
  font-size: 17px;
  // max-width: 75%;
  font-weight: normal;
}

.userImage {
  float: left;
}

.userArrow {
  margin: 5px 10px;
  float: right;
  transform: rotate(90deg);
}
.userArrowState {
  transform: rotate(270deg);
}
.userOptionComponent {
  width: 310px;
  right: 80px;
  top: 68px;
  position: fixed;
  border-radius: 3px;
  background: #22262a;
  // background: #fff;
  z-index: 110;

  &:before {
    content: ' ';
    position: absolute;

    border-style: solid;

    right: 10px;

    border-width: 11px;
    border-color: var(--tool-submenu-border) transparent transparent transparent;
    top: -23px;
    transform: rotate(180deg);
  }
}
.layerPadding {
  padding: 0 !important;
}
.cardMargin {
  margin-bottom: 0 !important;
  // height: 40.25rem !important;
}

.plan-mode-card {
background-color: #fff;
margin-top: 70px;
}

.positionCustom {
  position: relative;
  // background: #1a1c20;
  // top: -4px;
  // border-bottom: 0;
  border-bottom: 0;
  border-top-right-radius: 25px;
}
.qbFixedHeaderClass {
  position: fixed;
  border-bottom: 0;
  // background: #fff;
  // z-index: 999;
  padding-bottom: 20px;
}

 .mt-body {
  
 margin-top: 60px;
 padding-top: 15px;
 }
.buttonCustiomPosition {
  position: absolute;
  top: 20px;
  right: -38px;
  background: var(--page-bg-black);
  color: #fff;
  width: 36px;
  height: 36px;
  padding: 8px 5px;
  // transform: skew(5deg);
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  cursor: pointer;
}
.custiomIconRight {
  font-size: 20px;
}

.search-input {
  color: #22262a;
  font-weight: 600;
  font-size: 18px;
  font-family: Quicksand;
}
.right-panel {
  margin-top: 30px;
}
.mainContainerSubjectGradePlanning {
  position: absolute;
  top: 94px;
  height: 400px;
  width: 600px;
  &::before {
    top: -21px;
    transform: rotate(180deg);
  }
  &::after {
    top: -21px;
    transform: rotate(180deg);
  }
}

.title-text-mode {
  color: var(--selected-tool-background-color);
  font-family: Quicksand;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 23px;
  width: 100%;
  display: flex;
  align-items: center;
  // div {
  //   display: inline;
  //   cursor: pointer;
  // }
  margin-top: 5px;
}
.arrowHeader {
  position: relative;
  width: 16px;
  margin: 5px 0px 0px 5px;
  line-height: 25%;
  bottom: 2px;
  cursor: pointer;
}
.logo {
  background-image: var(--tce-background-logo);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 38px;
  width: 45px;
  cursor: pointer;
}
.customCure {
  // background: #fff;
  // border-right: 6px #22262a solid;
  // border-radius: 0 40px 0 0;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
  // border-bottom: #d6d4d4 solid 1px;
}
.customFilterTop {
  padding-top: 10px;
}

// @media only screen and (min-height: 1100px) {
//   .cardMargin{
//     height: 35.7rem !important;
//   }
// }
// @media only screen and (min-height: 1200px) {
//   .cardMargin{
//     height: 40rem !important;
//   }
// }
.addButtonPlusSign {
  position: fixed;
  right: 15px;
  bottom: 15px;
  animation: mymove 1s;
}
.addButtonPlusSign-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.05);
  
}


@keyframes openZoom {
  
  0% {
    transform:  scale(0.5);
  }
  50% {
    transform:  scale(1.1);
  }
  100% {
    transform:  scale(1);
  }
}
@keyframes mymove {
  
  0% {
    transform:  scale(0);
  }
  25% {
    transform:  scale(1.5);
  }
  50% {
    transform:  scale(0);
  }
  75% {
    transform:  scale(1.5);
  }
  100% {
    transform:  scale(1);
  }
}
.content-PlanningMode {
  position: absolute;
  width: 152px;
  height: 80px;
  top: calc(100% + -168px);
  right: 10px;
  font-weight: 600;
  // background-color: #ffffff !important;
  // color: black;
  // border: 1px solid #ffffff;
  background-color: #1a1c20 !important;
  color: white;
  border: 1px solid #22262a;
  animation: mymove 0.5s;

  &::before {
    left: 70%;
    border-width: 17px;
    border-color: #1a1c20 transparent transparent transparent;
  }
  &::after {
    left: 70%;
    border-width: 15px;
    border-color: #1a1c20 transparent transparent transparent;
  }
}

.planningModePopUpPadding {
  padding: 10px;
  label {
    color: dimgray;
  }
}
.listMargin {
  margin: 5px;
}

li.listMargin:hover,
li.listMargin:active {
  text-decoration: underline;
  cursor: pointer;
}

/*added by thiru*/
// .plan-mode-login .mainLogin_Panel {
//   height: 615px;
//   width: 65vw;
//   position: absolute;
//   z-index: 301;
//   top: calc(100vh - 45px);
//   left: 50%;
//   display: flex;
//   align-items: stretch;
//   transition: all var(--animation-timing-medium) ease-in-out;
//   transform: translate(-50%, 0%);

//   &.sign-in-active {
//     top: 50%;
//     transform: translate(-50%, -50%);
//   }

//   .login_div_panel {
//     position: absolute;
//     top: 0;
//     height: 45px;
//     left: 0;
//     right: 0;
//     z-index: 10;
//     cursor: pointer;
//   }
// }

.plan-mode-login .mainLogin_Panel {
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.mid-page-sec {
  border-radius: 0 30px 0 0 !important;
  // min-height: calc(100vh - 70px);
  min-height: calc(99vh - 68px);
  background: #fff !important;
}

.noti-ico {
  background: #e02020;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
}
.nb-theme-default nb-icon {
  position: relative;
}
::ng-deep {
  .nb-theme-default {
    .main-top-tabs {
      float: right;
    }
    nb-actions.size-large nb-action {
      height: 20px;
      cursor: pointer;
      font-weight: 300;
    }
  }
}

.pm-page-menu-container {
  .main-top-tabs {
    margin-top: -40px;
    padding: 0 10px;
  }
  .pm-content-container {
    padding: 0 20px 20px;
    overflow: auto;
    height: calc(100vh - 165px);
  }
}

.btn-primary {
  background: linear-gradient(90deg, #6d71ff 0%, #248ef6 100%) !important;
  border-radius: 5px;

  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}



nb-select {
  max-width: 10rem;
}

.selectPlanningModeView {
  margin-right: 15px;
}

.qb-dropdownBar {
  color: #222b45;
  font-weight: 500;
  font-size: 15px;
  font-family: Quicksand;
  background-color: white;
  border: 1px solid #e4e9f2;
  border-radius: 25px;
  width: 200px;
  text-align: left;
  padding: 7px 15px;
  margin-right: 15px;
  &:hover,
  &:focus {
    outline: none !important;
  }
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #fff;
  width: 92%;
  overflow: auto;
  margin-top: 8px;
  border: 1px solid #e4e9f2;
  z-index: 1;
  border-radius: 4px;
  min-height: 100px;
  max-height: 300px;
  overflow: auto;
}

.dropdown-content a {
  color: #222b45;
  text-decoration: none;
  display: block;
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.4375rem 1rem;
  &:hover {
    background-color: rgba(143, 155, 179, 0.16);
    color: #222b45;
  }
}
