/* Global imports */
@import '~apps/tce-teacher/src/assets/stylesheet/imports';

:host {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
:host.-disable-pointer-events {
  pointer-events: none;
  ::ng-deep tce-video-player .test_switch {
    pointer-events: none !important;
  }
}
:host .player-container {
  position: relative;
  width: 100%;
  height: 100%;
}
:host .player-container > .player-container-inner {
  position: absolute;
  width: 0;
  height: $player-track-height;
  left: $player-track-offset-left;
  top: $player-offset-top;
  display: flex;
  flex-wrap: nowrap;
  z-index: $foreground-z-index;
}

.previewIcon {
  margin-top: 12px;
  margin-bottom: 12px;
}
.type-icon {
  width: 34px;
  height: 34px;
  border-radius: 4px;
  background: gray;
  // background: var(--border-color);
}
.title {
  padding-top: 4px;
  padding-left: 15px;
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;
  color: #000000;
  /* autoprefixer: ignore next */
  display: -webkit-box;
  /* autoprefixer: ignore next */
  -webkit-line-clamp: 2;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.fiveStar {
  // margin-left: 5px;
}
#star-five {
  position: relative;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #248ef6;
  border-left: 100px solid transparent;
  transform: rotate(35deg) scale(0.1);
  left: -95px;
  top: -25px;
  display: none;
}
#star-five:before {
  border-bottom: 80px solid #248ef6;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}
#star-five:after {
  position: absolute;
  display: block;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #248ef6;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: '';
}
.footer {
  color: var(--button-color);
  font-size: 14px;
  margin: 0px;
  position: relative;
  top: 15px;
  cursor: pointer;
  width: 100%;
}

.addResourcesFooter {
  color: #248ef6;
}

.addResouceIcon {
  height: 17px;
  margin-top: -2px;
}

.addResourceSpan {
  color: #248ef6;
  float: right;
  margin-right: 15px;
  font-size: 14px;
  line-height: 17px;
}

.content-playList-fav {
  position: fixed;
  width: 100%;
  max-width: 200px;
  height: 130px;
  top: calc(100% + -180px);
  left: -160px;
  font-weight: 600;
  background-color: var(--text-color-primary) !important;
  position: absolute;
  font-weight: 600;
  background-color: var(--text-color-primary) !important;
  color: var(--border-color);
  &::before {
    //display: none;
    border-color: var(--text-color-primary) transparent transparent transparent;
    left: 169px;
    border-width: 17px;
  }
  &::after {
    // display: none;
    border-color: var(--text-color-primary) transparent transparent transparent;
    left: 169px;
    border-width: 15px;
  }
}

// .form-group {
//   margin-bottom: 15px;
// }
label {
  opacity: 0.5;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 12px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 2px 10px;
  font-size: 10px;
  line-height: 10px;
  color: #16181c;
  background-image: none;
  box-sizing: border-box;
  height: 30px;
  border: 1px solid #303439;
  border-radius: 15px;
  //background-color: #16181c;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #16181c;
  font-size: 12px;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert {
  font-size: 12px;
  margin-bottom: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.formContainer {
  padding: 15px;
  border: 2px solid #303439;
  background-color: #1a1c20;
  box-shadow: inset 0 -1px 0 0 #303439;
}

select.ng-invalid.ng-touched,
input.ng-invalid.ng-touched {
  border: 2px solid red;
}
.textp {
  font-size: 10px;
  opacity: 0.5;
  text-align: justify;
  padding-bottom: 15px;
}
.sharecheckstatus {
  pointer-events: none;
  opacity: 0.7;
}

.createBucket {
  height: 90px;
  top: calc(100% + -140px);
}
// input:-internal-autofill-selected {
//   background-color: #16181c !important;
// }



.bottom-sec-prev{
  color: #000;
  font-size: 14px;
  padding: 15px 0 0;


  .fiveStar{
    height: 20px;
  }
  .cols{
    white-space: nowrap;
    padding: 0 0 0 40px;
    cursor: pointer;
    font-weight: 700;
  } 

}

.modalClose {
  position: absolute;
  right: 0;
}
.closeIcon svg {
  height: 25px;
  width: 25px;
  position: absolute;
  right: 10px;
  cursor: pointer;
}