<div class="player-container">
  <div class="col-12">
    <div class="d-flex previewIcon">
      <div>
        <img
          class="type-icon"
          *ngIf="getResourceThumbnailIcon(searchresource, 'thumbnail')"
          [src]="getResourceThumbnailIcon(searchresource, 'icon')"
        />
      </div>
      <div class="title">
        {{ searchresource.title }}
      </div>
      <div class="modalClose" (click)="closeModal()">
        <svg-icon
        src="assets/images/ic.CloseModal.svg"
        [applyCss]="true"
        class="closeIcon"
      ></svg-icon>
      </div>
    </div>
  </div>
  <div class="col-12" style="height: 270px;background: red;">
    <div class="player-container-inner" #innerPlayerContainer>
      <div #playerResource></div>
      <div #playerOutlet style="display:none;"></div>
    </div>
  </div>
  <div class="col-12 ">
    <div class="d-flex justify-content-between align-items-center bottom-sec-prev">
      <div class="col-2 fiveStar">
        <div id="star-five" (click)="openFavOption()"></div>
      </div>
      
       <div class="d-flex">
          <div
            *ngIf="currentType != 'planningMode'"
            class="cols"
            (click)="addAndOpenResourceToPlaylist(searchresource, 'whiteboard')"
          >
            Open in WhiteBoard
          </div>
          <div
            *ngIf="currentType != 'planningMode'"
            class="cols"
            (click)="addAndOpenResourceToPlaylist(searchresource, 'playlist')"
          >
            Add to Playlist
          </div>
          <div
            class="cols"
            *ngIf="currentType === 'planningMode'"
            (click)="addResourcePlanning(searchresource)"
          >
            <span class="addResourceSpan">
              <img
                src="assets/images/myPlusAddRessource.svg"
                class="addResouceIcon"
              />
              Add this Resource
            </span>
          </div>
        </div>


       
    </div>
  </div>
  <tce-flyout
    class="content-playList-fav"
    *ngIf="showFav"
    [ngClass]="showBucket ? 'createBucket' : ''"
  >
    <div *ngIf="!showBucket">
      <ul style="height: 100px;overflow:scroll;">
        <li *ngFor="let x of FavName" style="margin: 5px;cursor: pointer;">
          {{ x.name }}
        </li>
      </ul>
      <ul>
        <li style="margin: 5px;cursor: pointer;" (click)="openNewBucket()">
          Create New Bucket
        </li>
      </ul>
    </div>
    <div *ngIf="showBucket">
      <form
        [formGroup]="showBucketOptionsForm"
        #formDir="ngForm"
        style="width: 100%; padding:5px"
      >
        <div class="form-group">
          <label for="title"
            >Create New Bucket
            <span
              *ngIf="
                showBucketOptionsForm.controls.title.touched &&
                showBucketOptionsForm.controls.title.errors?.required
              "
              style="color:red"
            >
              : Bucket required
            </span>
          </label>
          <input
            id="title"
            class="form-control"
            formControlName="title"
            #title
            (keyup)="updateFieldValue('title', title.value)"
            (focus)="setKeyboardFocus($event)"
            required
          />
        </div>
        <div style="cursor: pointer;">
          <button
            type="button"
            class="btn btn-default"
            id="cancelCreateBucket"
            (click)="closeBucket()"
            style="font-weight: 600;opacity: 0.7;"
          >
            Cancel
          </button>
          <button
            type="button"
            class="btn btn-default"
            id="createBucket"
            (click)="onSubmit()"
            [ngClass]="showBucketOptionsForm.invalid ? 'sharecheckstatus' : ''"
            [disabled]="showBucketOptionsForm.invalid"
            style="font-weight: 600;"
          >
            Save
          </button>
        </div>
      </form>
    </div>
  </tce-flyout>
</div>
