<div class="question-number">
  Question {{ currentQuestionNumber }} of {{ totalQuestionCount }}
</div>
<div [ngClass]="'layout-' + layout" class="question-text-and-image">
  <div
    class="question-image-container"
    *ngIf="question.questionHeaderImage"
    [ngClass]="!question.qtext ? '-image-only' : ''"
  >
    <img [src]="question.questionHeaderImage" class="question-header-image" />
  </div>
  <div *ngIf="question.qtext" class="question-text">{{ question.qtext }}</div>
</div>
