.question-number {
  color: #000000;
  line-height: 18px;
  font-size: 14px;
  font-weight: bold;
}

.question-text {
  color: #000000;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2em;
}

.question-text-and-image {
  display: flex;
  align-items: center;
  margin: 1em 0 2em;
}

.question-text-and-image .question-image-container + .question-text {
  margin-left: 1em;
}

.layout-1 {
  .question-image-container:not(.-image-only) {
    width: 77px;
    height: 77px;
  }
}

.layout-5 {
  &.question-text-and-image {
    align-items: flex-start;
  }
  .question-image-container + .question-text {
    order: 1;
    margin-left: 0px;
    width: 40%;
  }
  .question-image-container:not(.-image-only) {
    order: 2;
    width: 59%;
    padding-left: 1%;
    margin-left: 1%;
    border-left: 1px solid #333;
  }
}

.question-image-container.-image-only {
  max-width: 100%;
  height: auto;
}

.question-header-image {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
