<div class="row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" *ngFor="let question of allQuestionData; let i = index">
    <tce-question-card-view [quizQuestionList]="quizQuestionList" (openQtnEditor)="openQuestionEditor($event)"
      [showCheckBox]="showCheckBox" (openpopup)="openPopup($event)" (dltQuestion)="deleteQuestion($event)"
      [question]="question" [index]="i">
    </tce-question-card-view>
  </div>
</div>