@import '../../../../../apps/tce-app/src/assets/themes/common.scss';

.quiz-player {
  .header {
    padding: 20px;
    // max-width: 1400px;
    margin: 0 auto;
    .header-switch {
      @include switch(150px, 33px, 4px, 12px, 12px, $blue, $white);
    }
    .addBtn {
      margin: 15px 0px;
      button {
        background: $blue;
        border-radius: 5px;
        color: $white;
        font-size: 16px;
        opacity: 0;
        transition: opacity 0.1s ease-in;
        overflow: hidden;
        display: none;
        cursor: pointer;
        padding: 5px 20px;
        .fa {
          font-size: 14px;
        }
      }
    }
    .show {
      button {
        opacity: 1;
        display: block;
      }
    }
    .checkbox {
      position: relative;
      margin-top: 4px;
      .show-input {
        top: 15px;
        left: 13px;
      }
      @include checkbox(
        3px,
        18px,
        2px,
        3px,
        3px,
        3px,
        #fff,
        #fff,
        $blue,
        $blue,
        $blue,
        #000,
        $blue
      );
    }
    .question-switch {
      margin: 0px 10px;
      @include switch(300px, 33px, 4px, 12px, 12px, $blue, $white);
    }
    .normal-checkbox:before {
      margin-top: -2px;
    }
    .normal-checkbox:after {
      margin-top: -5px !important;
    }
  }
  .body {
    box-shadow: 0 0 1.875rem 0 rgba(20, 55, 70, 0.2);
    max-width: 1400px;
    margin: 0 auto;
    .addBtn {
      margin: 15px;
      button {
        background: $blue;
        border-radius: 5px;
        color: $white;
        font-size: 16px;
        opacity: 0;
        transition: opacity 0.1s ease-in;
        overflow: hidden;
        display: none;
        cursor: pointer;
        padding: 5px 20px;
        .fa {
          font-size: 14px;
        }
      }
    }
    .show {
      button {
        opacity: 1;
        display: block;
      }
    }
    .checkbox {
      @include checkbox(
        3px,
        18px,
        2px,
        3px,
        3px,
        3px,
        #fff,
        #fff,
        $blue,
        $blue,
        $blue,
        #000,
        $blue
      );
    }
    .question-switch {
      margin: 15px 0;
      @include switch(300px, 33px, 4px, 12px, 12px, $blue, $white);
    }
  }
  .footer {
    padding: 15px;
    .pagination {
      margin: 0px 5px;
    }
    .submit {
      float: right;
    }
  }
}

.editPreview {
  margin-right: 1%;
}
