html,
body {
  font-family: 'Roboto', sans-serif;
}

.grab {
  cursor: -webkit-grab;
  cursor: grab;
}

.pointer {
  cursor: pointer;
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0 !important;
}

.mar10-r {
  margin-right: 10px;
}

.marb-35 {
  margin-bottom: 35px;
}

.mar40-tb {
  margin: 40px 0;
}

.padd20-all {
  padding: 20px;
}

.light {
  background: #fff;
  color: #000 !important;
}

.light .btn {
  color: #0069d9;
  background-color: gainsboro;
  border-color: #0069d9;
}

.light .remove-icon {
  color: red;
}

.dark {
  background: #fff;
  color: #000 !important;
}

.dark .btn {
  color: #0069d9;
  background-color: gainsboro;
  border-color: #0069d9;
}

.dark .remove-icon {
  color: red;
}

.quiz-player .header {
  padding: 30px 0;
  max-width: 1400px;
  margin: 0 auto;
}

.quiz-player .header .header-switch {
  position: relative;
  max-width: 150px;
}

.quiz-player .header .header-switch label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  width: 150px;
  margin: 0;
}

.quiz-player .header .header-switch label .can-toggle__switch {
  position: relative;
  cursor: pointer;
  -webkit-transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
  background: #fff;
  height: 33px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 150px;
  flex: 0 0 150px;
  border-radius: 4px;
  border: 1px solid #0069d9;
}

.quiz-player .header .header-switch label .can-toggle__switch:before {
  color: #0069d9;
  left: 75px;
  font-size: 12px;
  font-weight: bold;
  line-height: 33px;
  width: 75px;
  padding: 0 12px;
  content: attr(data-checked);
  position: absolute;
  top: 0;
  text-transform: uppercase;
  text-align: center;
}

.quiz-player .header .header-switch label .can-toggle__switch:after {
  top: 50%;
  margin-top: -16.5px;
  left: -1px;
  width: 75px;
  line-height: 33px;
  font-size: 12px;
  font-weight: bold;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1),
    -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  color: #fff;
  content: attr(data-unchecked);
  position: absolute;
  z-index: 5;
  text-transform: uppercase;
  text-align: center;
  background: #0069d9;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  border-radius: 4px 0 0 4px;
}

.quiz-player .header .header-switch input[type='checkbox'] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.quiz-player
  .header
  .header-switch
  input[type='checkbox']:focus
  ~ label
  .can-toggle__switch,
.quiz-player
  .header
  .header-switch
  input[type='checkbox']:hover
  ~ label
  .can-toggle__switch {
  background-color: #fff;
}

.quiz-player
  .header
  .header-switch
  input[type='checkbox']:focus
  ~ label
  .can-toggle__switch::after,
.quiz-player
  .header
  .header-switch
  input[type='checkbox']:hover
  ~ label
  .can-toggle__switch::after {
  color: #fff;
}

.quiz-player .header .header-switch input[type='checkbox']:hover ~ label {
  color: #0069d9;
}

.quiz-player
  .header
  .header-switch
  input[type='checkbox']:checked
  ~ label:hover,
.quiz-player
  .header
  .header-switch
  input[type='checkbox']:checked
  ~ label:focus {
  color: #fff;
}

.quiz-player
  .header
  .header-switch
  input[type='checkbox']:checked
  ~ label
  .can-toggle__switch:before {
  content: attr(data-unchecked);
  left: 0;
}

.quiz-player
  .header
  .header-switch
  input[type='checkbox']:checked
  ~ label
  .can-toggle__switch:after {
  color: #fff;
  border-radius: 0 4px 4px 0;
  -webkit-transform: translate3d(75px, 0, 0);
  transform: translate3d(75px, 0, 0);
  content: attr(data-checked);
}

.quiz-player .body {
  -webkit-box-shadow: 0 0 1.875rem 0 rgba(20, 55, 70, 0.2);
  box-shadow: 0 0 1.875rem 0 rgba(20, 55, 70, 0.2);
  max-width: 1400px;
  margin: 0 auto;
}

.quiz-player .body .addBtn {
  margin: 15px;
}

.quiz-player .body .addBtn button {
  background: #0069d9;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
  overflow: hidden;
  display: none;
  cursor: pointer;
  padding: 5px 20px;
}

.quiz-player .body .addBtn button .fa {
  font-size: 14px;
}

.quiz-player .body .show button {
  opacity: 1;
  display: block;
}

.quiz-player .body .checkbox input[type='checkbox'] {
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
}

.quiz-player .body .checkbox input[type='checkbox'] + .normal-checkbox,
.quiz-player .body .checkbox input[type='checkbox'] + .checkbox-tick-label,
.quiz-player .body .checkbox input[type='checkbox'] + .checkbox-cross-label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 18px;
  padding: 3px;
  margin: 0;
}

.quiz-player .body .checkbox input[type='checkbox'] + .normal-checkbox::before,
.quiz-player
  .body
  .checkbox
  input[type='checkbox']
  + .checkbox-tick-label::before,
.quiz-player
  .body
  .checkbox
  input[type='checkbox']
  + .checkbox-cross-label::before {
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  content: '';
  border-radius: 3px;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border: 2px solid #0069d9;
  margin-right: 3px;
  top: 50%;
  left: 0;
}

.quiz-player .body .checkbox input[type='checkbox'] + .normal-checkbox::after,
.quiz-player
  .body
  .checkbox
  input[type='checkbox']
  + .checkbox-tick-label::after,
.quiz-player
  .body
  .checkbox
  input[type='checkbox']
  + .checkbox-cross-label::after {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  content: '';
  background-color: transparent;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  position: absolute;
  top: 50%;
  left: calc(3px + 2px + 18px / 5);
  border-radius: 3px;
  width: 9px;
  height: 3.6px;
  margin-top: calc(18px / -2 / 2);
  border-style: solid;
  border-color: #fff;
  border-width: 0 0 3px 3px;
  border-radius: 0;
  -o-border-image: none;
  border-image: none;
  -webkit-transform: rotate(-45deg) scale(0);
  transform: rotate(-45deg) scale(0);
  -webkit-transition: none;
  transition: none;
}

.quiz-player .body .checkbox input[type='checkbox']:checked + .normal-checkbox,
.quiz-player
  .body
  .checkbox
  input[type='checkbox']:checked
  + .checkbox-tick-label,
.quiz-player
  .body
  .checkbox
  input[type='checkbox']:checked
  + .checkbox-cross-label {
  color: #0069d9;
}

.quiz-player
  .body
  .checkbox
  input[type='checkbox']:checked
  + .normal-checkbox::before,
.quiz-player
  .body
  .checkbox
  input[type='checkbox']:checked
  + .checkbox-tick-label::before,
.quiz-player
  .body
  .checkbox
  input[type='checkbox']:checked
  + .checkbox-cross-label::before {
  background-color: #0069d9;
  border-color: #0069d9;
}

.quiz-player
  .body
  .checkbox
  input[type='checkbox']:checked
  + .normal-checkbox::after,
.quiz-player
  .body
  .checkbox
  input[type='checkbox']:checked
  + .checkbox-tick-label::after,
.quiz-player
  .body
  .checkbox
  input[type='checkbox']:checked
  + .checkbox-cross-label::after {
  content: '';
  -webkit-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

.quiz-player
  .body
  .checkbox
  input[type='checkbox']:checked
  + .checkbox-tick-label::before {
  background-color: green;
  border-color: green;
}

.quiz-player
  .body
  .checkbox
  input[type='checkbox']:checked
  + .checkbox-tick-label::after {
  content: '';
  -webkit-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

.quiz-player
  .body
  .checkbox
  input[type='checkbox']
  + .checkbox-cross-label::after {
  opacity: 0;
}

.quiz-player
  .body
  .checkbox
  input[type='checkbox']:checked
  + .checkbox-cross-label::before {
  background-color: red;
  border-color: red;
  content: '\f00d';
  font-family: 'FontAwesome';
  color: #fff;
  text-align: center;
  font-size: 12px;
}

.quiz-player
  .body
  .checkbox
  input[type='checkbox']:checked
  + .checkbox-cross-label::after {
  border: none;
}

.quiz-player .body .question-switch {
  margin: 15px 0;
  position: relative;
  max-width: 300px;
}

.quiz-player .body .question-switch label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  width: 300px;
  margin: 0;
}

.quiz-player .body .question-switch label .can-toggle__switch {
  position: relative;
  cursor: pointer;
  -webkit-transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
  background: #fff;
  height: 33px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 300px;
  flex: 0 0 300px;
  border-radius: 4px;
  border: 1px solid #0069d9;
}

.quiz-player .body .question-switch label .can-toggle__switch:before {
  color: #0069d9;
  left: 150px;
  font-size: 12px;
  font-weight: bold;
  line-height: 33px;
  width: 150px;
  padding: 0 12px;
  content: attr(data-checked);
  position: absolute;
  top: 0;
  text-transform: uppercase;
  text-align: center;
}

.quiz-player .body .question-switch label .can-toggle__switch:after {
  top: 50%;
  margin-top: -16.5px;
  left: -1px;
  width: 150px;
  line-height: 33px;
  font-size: 12px;
  font-weight: bold;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1),
    -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  color: #fff;
  content: attr(data-unchecked);
  position: absolute;
  z-index: 5;
  text-transform: uppercase;
  text-align: center;
  background: #0069d9;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  border-radius: 4px 0 0 4px;
}

.quiz-player .body .question-switch input[type='checkbox'] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.quiz-player
  .body
  .question-switch
  input[type='checkbox']:focus
  ~ label
  .can-toggle__switch,
.quiz-player
  .body
  .question-switch
  input[type='checkbox']:hover
  ~ label
  .can-toggle__switch {
  background-color: #fff;
}

.quiz-player
  .body
  .question-switch
  input[type='checkbox']:focus
  ~ label
  .can-toggle__switch::after,
.quiz-player
  .body
  .question-switch
  input[type='checkbox']:hover
  ~ label
  .can-toggle__switch::after {
  color: #fff;
}

.quiz-player .body .question-switch input[type='checkbox']:hover ~ label {
  color: #0069d9;
}

.quiz-player
  .body
  .question-switch
  input[type='checkbox']:checked
  ~ label:hover,
.quiz-player
  .body
  .question-switch
  input[type='checkbox']:checked
  ~ label:focus {
  color: #fff;
}

.quiz-player
  .body
  .question-switch
  input[type='checkbox']:checked
  ~ label
  .can-toggle__switch:before {
  content: attr(data-unchecked);
  left: 0;
}

.quiz-player
  .body
  .question-switch
  input[type='checkbox']:checked
  ~ label
  .can-toggle__switch:after {
  color: #fff;
  border-radius: 0 4px 4px 0;
  -webkit-transform: translate3d(150px, 0, 0);
  transform: translate3d(150px, 0, 0);
  content: attr(data-checked);
}

.quiz-player .footer {
  padding: 15px;
}

.quiz-player .footer .pagination {
  margin: 0px 5px;
}

.quiz-player .footer .submit {
  float: right;
}

.editPreview {
  margin-right: 1%;
}
/*# sourceMappingURL=dashboard.component.css.map */
