<div class="quiz-player">
  <div class="container-fluid header">
    <div class="row">
      <div class="col-md-5 col-sm-5">
        <div class="header-switch">
          <input id="a" type="checkbox" />
          <label for="a">
            <div
              #mode
              class="can-toggle__switch"
              data-checked="edit"
              (click)="onPreviewChange($event)"
              data-unchecked="preview"
            ></div>
          </label>
        </div>
        <div class="addBtn" #addDiv routerLink="category">
          <button class="btn btn-primary">
            Add <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
      <div class="col-md-7 col-sm-7">
        <div class="d-flex justify-content-end">
          <div class="checkbox text-right" *ngIf="viewMode == 'preview'">
            <input
              id="checkbox1"
              name="checkbox"
              type="checkbox"
              (change)="onAnsStatusChange($event)"
              class="show-input"
            />
            <label class="normal-checkbox" for="checkbox1">Show Answer</label>
          </div>
          <div class="question-switch">
            <input id="b" type="checkbox" />
            <label for="b">
              <div
                class="can-toggle__switch"
                data-unchecked="Load 1 Question"
                data-checked="Load All Questions"
                (click)="onQuestionModeChange()"
              ></div>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid body">
    <div class="row">
      <!-- <div class="col-lg-4">
                <div class="addBtn" #addDiv routerLink="category">
                    <button class="btn btn-primary">Add <i class="fa fa-plus"></i></button>
                </div>

            </div>
            <div class="col-lg-8">
                <div class="row justify-content-end">
                    <div class="col-lg-4">
                        <div class="checkbox text-right" *ngIf="viewMode == 'preview'">
                            <input id="checkbox1" name="checkbox" type="checkbox" (change)="onAnsStatusChange($event)">
                            <label class="normal-checkbox" for="checkbox1">Show Answer</label>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="question-switch">
                            <input id="b" type="checkbox">
                            <label for="b">
                                <div class="can-toggle__switch" data-unchecked="Load 1 Question"
                                    data-checked="Load All Questions" (click)="onQuestionModeChange()"></div>
                            </label>
                        </div>
                    </div>

                </div>

            </div> -->

      <!-- <div class="col-lg-2">
                <div class="checkbox text-right" *ngIf="viewMode == 'preview'">
                    <input  id="checkbox1" name="checkbox" type="checkbox" (change)="onAnsStatusChange($event)">
                     <label for="checkbox1">Show Answer</label>
                </div>
              
            </div> -->
      <!-- <div class="col-lg-6">
                <div class="question-switch">
                         <input id="b" type="checkbox">
                         <label for="b">
                             <div class="can-toggle__switch" data-unchecked="Load 1 Question"
                                 data-checked="Load All Questions" (click)="onQuestionModeChange()"></div>
                         </label>
                  </div>
                 </div> -->

      <!-- <div *ngFor="let questions of questionList">
            <adc-workspace-quiz-player [quizTemplateData]="questions" [templateType]="templateType"
                [dashboardPreviewState]="dashboardPreviewState" (editRedirect)="editQuestionRedirect($event)">
            </adc-workspace-quiz-player>
        </div> -->

      <div class="col-lg-12">
        <adc-workspace-quiz-player
          *ngIf="questionList.length > 0"
          [loadQuestionState]="loadQuestionState"
          [quizTemplateData]="questionList"
          [templateType]="templateType"
          [showDashboardAnswers]="showDashboardAnswers"
          [dashboardPreviewState]="dashboardPreviewState"
          (editRedirect)="editQuestionRedirect($event)"
        >
        </adc-workspace-quiz-player>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="row text-center" *ngIf="0 > 1">
      <div class="col-md-1 col-sm-2 col-2">
        <button
          class="previous btn btn-outline-primary btn-sm"
          (click)="prevPage()"
        >
          Prev
        </button>
      </div>
      <div class="col-md-2 col-sm-4 col-4">
        Page: {{ currentPage }}/{{ totalPages }}
      </div>
      <div class="col-md-1 col-sm-2 col-2">
        <button
          class="next btn btn-outline-primary btn-sm"
          (click)="nextPage()"
        >
          Next
        </button>
      </div>
      <div class="offset-md-7 offset-sm-2 col-md-1 col-sm-2 col-4">
        <button
          class="submit btn btn-outline-primary pull-right btn-sm"
          (click)="submitAnswer()"
        >
          Submit
        </button>
        <div class="col-md-1 col-sm-4 col-12"></div>
      </div>
    </div>
  </div>
</div>
