<div class="resource-playlist-container">
  <div class="resource-player-list">
    <div class="scroll-container">
      <!-- <div class="resource-card-wrapper-inner d-flex flex-wrap"> -->
      <div
        class="row col-12 resource-card-wrapper"
        [ngClass]="
          receivedParentStatus === 'libraryView'
            ? 'libview'
            : receivedParentStatus === 'filterView'
            ? 'filterview'
            : receivedParentStatus === 'favoritesView'
            ? 'libview'
            : ''
        "
        id="searchResource"
        #scrollContainerRef
      >
        <div
          class="resource-card"
          [ngClass]="[
            currentType === 'planningMode' ? 'planningResourceWidth' : '',
            currentPlanningResourceState ? 'planningResourceStateWidth' : ''
          ]"
          *ngFor="
            let chapterResource of chapterResources;
            let i = index;
            let first = first
          "
        >
          <div
            class="closePreviewDiv"
            *ngIf="selectedResourceId == chapterResource.resourceId"
            (click)="closePreview()"
          >
            <label class="closePreviewLabel">close preview</label>
          </div>
          <div
            style="height: 100%;width: 100%;"
            (click)="openPreview($event, chapterResource)"
          >
            <div
              class="image"
              [ngStyle]="{
                'background-image':
                  'url(' +
                  getResourceThumbnailIcon(chapterResource, 'thumbnail') +
                  ')'
              }"
            >
              <div
                class="foreground-image"
                [ngStyle]="{
                  'background-size': '100% 100%',
                  'background-image':
                    'linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.55)), url(' +
                    getResourceThumbnail(chapterResource.thumbnailParams) +
                    ')'
                }"
              ></div>
            </div>
            <div class="title">{{ chapterResource.title }}</div>
            <img
              class="type-icon"
              *ngIf="getResourceThumbnailIcon(chapterResource, 'thumbnail')"
              [src]="getResourceThumbnailIcon(chapterResource, 'icon')"
            />
          </div>
        </div>
  
        <div class="col-12" *ngIf="_totalPageCountResourceFlag">
          <label (click)="loadMore()" style="cursor: pointer;"
            >Load More ...</label
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div class="utility-bar-wrapper" *ngIf="_FooterState">
  <tce-utility-bar>
    <tce-scroll
      [scrollContainerRef]="scrollContainerRef"
      (emitScroll)="triggerScroll($event)"
    ></tce-scroll>
  </tce-utility-bar>
</div>
