.resource-playlist-container {
  width: 100%;
  height: 100%;
  padding: 0px !important;
  margin: 0px !important;
  background: transparent !important;
  display: contents;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
}

.resource-player-title {
  width: 145px;
  margin: 20px 20px 10px;
  position: relative;

  p {
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;

    > span {
      font-size: 12px;
      color: #ffffff;
      opacity: 0.5;
      display: block;
    }
  }
}

.arrow {
  position: absolute;
  width: 10px;
  height: 6px;
  right: 0;
  top: 0;

  &.closed svg {
    transform: rotate(-90deg);
  }
}

.resource-player-list {
  height: auto;
  width: 100%;
  max-height: 100%;
  transform: scaleY(1);
  transform-origin: top;
  transition: all var(--animation-timing-medium) ease-in-out;

  &.slideUp {
    transform: scaleY(0);
  }

  .scroll-container {
    overflow-y: scroll;
    scrollbar-width: none;
    height: 100%;
    padding-bottom: 30px;
  }
}

/* Global imports */
@import '~libs/core/src/lib/css/variables';

:host {
  display: flex;
  height: 100%;
  // margin: 0 12px;
  width: 100%;
}

.resource-card {
  width: 145px;
  height: 95px;
  margin:5px 6px;
  position: relative;
  cursor: pointer;
}

.type-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 34px;
  height: 34px;
  border-radius: 4px;
}

.image {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0;
  opacity: 0.8;
  border-radius: 10px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  & > .foreground-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.title {
  padding: 0px 10px;
  bottom: 10px;
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;
  position: absolute;
  color: #ffffff;
  /* autoprefixer: ignore next */
  display: -webkit-box;
  /* autoprefixer: ignore next */
  -webkit-line-clamp: 2;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.utility-bar-wrapper {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  margin: auto;
}

.filterview {
  height: 352px;
  overflow: scroll;
  padding: 0;
  margin: 0 -6px;
}
.libview {
  height: 204px;
  overflow: scroll;
  padding: 0 10px;
}

.closePreviewDiv {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 300;
  background: #000000a8;
  border-radius: 10px;
  color: white;
}
.closePreviewLabel {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.planningResourceWidth {
  width: 145px;
}
.planningResourceStateWidth {
  width: 136px;
}

.resource-card-wrapper-inner{ margin: 0 - 10px; }
