.pswd_infrmtn_p {
  font-size: 12px;
  line-height: 18px;
  width: 80%;
  max-width: 280px;
  margin: 0 auto;
}

.enter_vaid_format_p {
  color: --var(--text-color);
  font-family: Open Sans;
  font-size: 14px;
  padding-top: 12px;
  letter-spacing: -0.33px;
  line-height: 20px;
}

.enter_vaid_format_div {
  float: left;
  width: 213px;
  margin-left: 400px;
  position: absolute;
  height: 44px;
  background-color: #f1625e;
  color: var(--text-color);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.error1 {
  position: absolute;
  top: 38%;
  right: 13%;
}

.error2 {
  position: absolute;
  top: 50%;
  right: 13%;
}

.errormessage1 {
  top: 37%;
  right: -8%;
}

.errormessage2 {
  top: 48%;
  right: -8%;
}
