<div class="signIn_Panel">
  <p class="signIn_p">
    Sign In
  </p>
</div>
<div class="header_title">
  <p class="welcome_p">Change Default Password</p>
</div>
<div class="signin_with_account_div" *ngIf="!errorMessage">
  <p class="signin_with_account_p">
    For your security, Please change your password
  </p>
</div>

<div class="bad_credential_div" *ngIf="errorMessage">
  <p class="bad_credential_p">
    {{ errorMessage }}
  </p>
</div>

<form
  [formGroup]="changePasswordForm"
  (ngSubmit)="onSubmit()"
  fxLayout="column"
>
  <input
    type="password"
    placeholder="New Password"
    formControlName="newPassword"
    maxlength="30"
    (keyup)="clear($event)"
    #password
    [class.highlightField]="password.value.length > 0"
    (focus)="setKeyboardFocus($event)"
    (keyup)="updateFieldValue('newPassword', password.value)"
  />
  <div
    class="error1"
    *ngIf="
      changePasswordForm.get('newPassword').errors &&
      changePasswordForm.get('newPassword').touched
    "
  >
    <img src="assets/images/alert.svg" />
  </div>
  <div
    class=" errormessage1 enter_vaid_format_div"
    *ngIf="
      changePasswordForm.get('newPassword').errors &&
      changePasswordForm.get('newPassword').touched
    "
  >
    <p class="enter_vaid_format_p">
      Please enter valid format
    </p>
  </div>
  <input
    type="password"
    placeholder="Repeat New Password"
    formControlName="verifyNewPassword"
    maxlength="30"
    #confirmPassword
    [class.highlightField]="confirmPassword.value.length > 0"
    (focus)="setKeyboardFocus($event)"
    (keyup)="updateFieldValue('verifyNewPassword', confirmPassword.value)"
  />
  <div
    class="error2"
    *ngIf="
      passwordNotMatched ||
      (changePasswordForm.get('verifyNewPassword').errors &&
        changePasswordForm.get('verifyNewPassword').touched)
    "
  >
    <img src="assets/images/alert.svg" />
  </div>
  <div
    class="errormessage2 enter_vaid_format_div"
    *ngIf="
      changePasswordForm.get('verifyNewPassword').errors &&
      changePasswordForm.get('verifyNewPassword').touched
    "
  >
    <p class="enter_vaid_format_p">
      Please enter valid format
    </p>
  </div>
  <div class="errormessage2 enter_vaid_format_div" *ngIf="passwordNotMatched">
    <p class="enter_vaid_format_p">
      The passwords don't match
    </p>
  </div>
  <tce-loading-layover
    *ngIf="isFetching"
    size="medium"
    noBackgroundColor="true"
    noOverlay="true"
    darkMode="true"
    message="Changing Password"
  ></tce-loading-layover>
  <div class="signIn_Button" *ngIf="!isFetching">
    <button
      class="signin_button_login "
      [ngClass]="
        !changePasswordForm.valid == true ? 'signInDisable' : 'signInEnable'
      "
    >
      <p>Change Password</p>
    </button>
  </div>
</form>

<div class="pswd_infrmtn_p">
  Passwords must contain a minimum of 6 characters and include one or more of
  each of the following: lower-case letter, upper-case letter, number and
  special character.
</div>
<div class="signin_with_account_div">
  <p
    class="signin_with_account_p skip_pin_creation "
    (click)="loginWithPassword()"
  >
    Sign in with Password
  </p>
</div>
