:host {
  padding-top: 10px;
}

.ebook-selector-container {
  border-radius: 10px;
  background: linear-gradient(rgb(109, 113, 255) 0%, rgb(36, 142, 246) 100%);

  &.dark {
    background: #22262a;
  }

  &.ebook-open {
    background: transparent;
    border: 2px solid #fff;
  }
}

.ebook-box-selector {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95px;
  height: 95px;
  cursor: pointer;
}

//this accounts for the white border
.ebook-open .ebook-box-selector {
  width: 91px;
  height: 91px;
}

.ebook-selector-title {
  color: #ffffff;
  font-size: 11px;
  font-weight: bold;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-top: 12px;
}

.select-ebook-menu {
  position: absolute;
  bottom: 130px;
  left: 20px;
  min-width: 457px;
  min-height: 295px;
  padding: 21px;
  border: 1px solid var(--submenu-border);
  border-radius: 10px;
  background-color: var(--submenu-background-color);
  box-shadow: 0 30px 100px 0 rgba(0, 0, 0, 0.1),
    0 20px 25px 0 rgba(0, 0, 0, 0.1);
}

.choose-ebook-header {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}

.books-container {
  display: flex;
  margin-top: 15px;
}

.book-details {
  width: 125px;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 22px;
  }
}

.book-preview {
  height: 150px;
  width: 125px;
  background-size: contain !important;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #000000;
  margin-bottom: 10px;
}

.book-title {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
}

.book-author {
  color: #ffffff;
  opacity: 0.75;
  font-size: 12px;
  line-height: 15px;
  margin-top: 4px;
}

.book-icon {
  #path0 {
    fill: #000;
  }

  #path1 {
    fill: #fff;
  }

  &.flyout-open {
    #path0 {
      fill: #fff;
    }

    #path1 {
      fill: transparent;
    }
  }
}
