<div
  class="ebook-selector-container"
  [class.dark]="isOpen"
  [class.ebook-open]="ebookPlayerOpen"
  (click)="selectorClicked()"
>
  <div class="ebook-box-selector" title="E-Book">
    <svg-icon
      *ngIf="ebookPlayerOpen"
      src="assets/images/ic.Close.svg"
    ></svg-icon>
    <svg-icon
      *ngIf="!ebookPlayerOpen"
      src="assets/images/ic.Books.svg"
      class="book-icon"
      [applyCss]="true"
      [class.flyout-open]="isOpen && !ebookPlayerOpen"
    ></svg-icon>
    <div class="ebook-selector-title">
      {{ ebookPlayerOpen ? 'Close' : 'E-Books' }}
    </div>
  </div>
  <tce-flyout *ngIf="isOpen" class="select-ebook-menu">
    <div class="choose-ebook-header">Choose an eBook</div>
    <div class="books-container">
      <div
        *ngFor="let book of ebooks"
        class="book-details"
        (click)="openBook(book)"
      >
        <div
          class="book-preview"
          [ngStyle]="{
            background:
              '#FFF url(' + getThumbnail(book.thumbnail) + ') no-repeat center'
          }"
        >
          <!-- <img src="{{ book.thumbnail }}" /> -->
        </div>
        <div class="book-title">{{ book.title }}</div>
        <div class="book-author">{{ book.author }}</div>
      </div>
    </div>
  </tce-flyout>
</div>
