<div
  class="tool no-scroll"
  id="myTool"
  (scroll)="onScroll($event)"
  [ngClass]="{ 'multi-column': multiColumnLayout }"
>
  <div
    class="nav"
    id="grouplist"
    [ngClass]="{ 'flex-column': !multiColumnLayout }"
  >
    <!-- scroller start -->
    <div
      *ngFor="let x of toolsData; let i = index"
      id="lasttoolid"
      class="tool-container"
    >
      <!-- if tool enabled start -->
      <div *ngIf="x.enabled">
        <div
          class="dropdown-items"
          [ngClass]="[
            x.submenu && toolbarSideState
              ? 'dropdown-submenu pull-right'
              : 'dropdown-items',
            x.submenu && !toolbarSideState
              ? 'dropdown-submenu pull-left'
              : 'dropdown-items'
          ]"
          [@fadeInOut]="appendSubjectClass && x.subid ? 'fly' : ''"
          [attr.id]="i * 40"
        >
          <div
            class="toolpadding tools"
            [attr.title]="x.tooltip"
            [ngClass]="[
              previousTool == x.event
                ? 'changecolor'
                : defaultTool == x.event
                ? 'changecolor'
                : ''
            ]"
            [innerHTML]="transform(x.icon)"
            (click)="
              onselectState(
                x.event,
                true,
                x.submenu
                  ? true
                  : x.submenu && x.event == 'gtPen'
                  ? false
                  : false,
                false,
                $event
              )
            "
            *ngIf="x.event != 'gtColor' && x.event != 'gtFocus'"
          ></div>
          <!-- for color div icon has been used                   -->
          <div
            title="color"
            *ngIf="x.event == 'gtColor'"
            (click)="onselectState(x.event, true, false, false, $event)"
            style="cursor: pointer;"
            class="toolpadding"
          >
            <div class="active-color-outer-circle">
              <div class="active-color-inner-circle dynamic_svgfill"></div>
            </div>
            <svg
              width="7px"
              height="7px"
              class="subShapeRotations"
              [ngClass]="[toolbarSideState ? 'subMenuSelected' : '']"
              viewBox="0 0 6 6"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <title>01E1D487-ECDE-45BA-BD9D-BDD02C7727D9</title>
              <desc>Created with sketchtool.</desc>
              <g
                id="Sprites"
                stroke="none"
                stroke-width="1"
                fill="none"
                fill-rule="evenodd"
              >
                <g
                  id="SpriteSheet---Tools"
                  transform="translate(-29.000000, -415.000000)"
                  id="menuitem5"
                  class="svg_icon"
                >
                  <path
                    d="M30.7071068,415.707107 L34.2928932,419.292893 C34.6834175,419.683418 34.6834175,420.316582 34.2928932,420.707107 C34.1053568,420.894643 33.8510029,421 33.5857864,421 L30,421 C29.4477153,421 29,420.552285 29,420 L29,416.414214 C29,415.861929 29.4477153,415.414214 30,415.414214 C30.2652165,415.414214 30.5195704,415.51957 30.7071068,415.707107 Z"
                    id="ic.Tool.ExpandMenu.Active"
                  ></path>
                </g>
              </g>
            </svg>
          </div>
          <!-- for color div icon has been used -->
          <!-- focus menu btn -->
          <div
            title="Focus"
            class="toolpadding tool-focus"
            *ngIf="x.event == 'gtFocus'"
            [ngClass]="[focusToolState ? 'changecolor' : '']"
            (click)="onselectState(x.event, true, false, false, $event)"
            style="cursor: pointer;"
            [innerHTML]="transform(x.icon)"
          ></div>
          <!-- focus menu btn -->
          <!--earlier space for submenu -->
        </div>
      </div>
      <!-- if tool enabled end-->
    </div>
  </div>
  <!-- scroller end -->

  <!-- duplicates of all tool, todo cloned -->
  <div *ngIf="!multiColumnLayout">
    <!-- scroller start -->
    <div
      *ngFor="let x of toolsData; let i = index"
      id="lasttoolid"
      class="tool-container"
    >
      <!-- if tool enabled start -->
      <div *ngIf="x.enabled">
        <div
          class="dropdown-items"
          [ngClass]="[
            x.submenu && toolbarSideState
              ? 'dropdown-submenu pull-right'
              : 'dropdown-items',
            x.submenu && !toolbarSideState
              ? 'dropdown-submenu pull-left'
              : 'dropdown-items'
          ]"
          [@fadeInOut]="appendSubjectClass && x.subid ? 'fly' : ''"
          [attr.id]="i * 40"
        >
          <div
            class="toolpadding"
            [attr.title]="x.tooltip"
            [ngClass]="[
              previousTool == x.event
                ? 'changecolor'
                : defaultTool == x.event
                ? 'changecolor'
                : ''
            ]"
            [innerHTML]="transform(x.icon)"
            (click)="
              onselectState(
                x.event,
                true,
                x.submenu
                  ? true
                  : x.submenu && x.event == 'gtPen'
                  ? false
                  : false,
                false,
                $event
              )
            "
            *ngIf="x.event != 'gtColor' && x.event != 'gtFocus'"
          ></div>
          <!-- for color div icon has been used                   -->
          <div
            title="color"
            *ngIf="x.event == 'gtColor'"
            (click)="onselectState(x.event, true, false, false, $event)"
            style="cursor: pointer;"
            class="toolpadding"
          >
            <div class="active-color-outer-circle">
              <div class="active-color-inner-circle dynamic_svgfill"></div>
            </div>
            <svg
              width="7px"
              height="7px"
              class="subShapeRotations"
              [ngClass]="[toolbarSideState ? 'subMenuSelected' : '']"
              viewBox="0 0 6 6"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <title>01E1D487-ECDE-45BA-BD9D-BDD02C7727D9</title>
              <desc>Created with sketchtool.</desc>
              <g
                id="Sprites"
                stroke="none"
                stroke-width="1"
                fill="none"
                fill-rule="evenodd"
              >
                <g
                  id="SpriteSheet---Tools"
                  transform="translate(-29.000000, -415.000000)"
                  id="menuitem5"
                  class="svg_icon"
                >
                  <path
                    d="M30.7071068,415.707107 L34.2928932,419.292893 C34.6834175,419.683418 34.6834175,420.316582 34.2928932,420.707107 C34.1053568,420.894643 33.8510029,421 33.5857864,421 L30,421 C29.4477153,421 29,420.552285 29,420 L29,416.414214 C29,415.861929 29.4477153,415.414214 30,415.414214 C30.2652165,415.414214 30.5195704,415.51957 30.7071068,415.707107 Z"
                    id="ic.Tool.ExpandMenu.Active"
                  ></path>
                </g>
              </g>
            </svg>
          </div>
          <!-- for color div icon has been used -->
          <!-- focus menu btn -->
          <div
            title="Focus"
            class="toolpadding tool-focus"
            *ngIf="x.event == 'gtFocus'"
            [ngClass]="[focusToolState ? 'changecolor' : '']"
            (click)="onselectState(x.event, true, false, false, $event)"
            style="cursor: pointer;"
            [innerHTML]="transform(x.icon)"
          ></div>
          <!-- focus menu btn -->
          <!--earlier space for submenu -->
        </div>
      </div>
      <!-- if tool enabled end-->
    </div>
  </div>
</div>
