::-webkit-scrollbar {
  width: 0 !important;
}
.dropdown-submenu {
  position: relative;
}
#bgPattern {
  pointer-events: none;
}
.custcolor {
  color: var(--tool-text-color-primary);
  padding-top: 5px;
  padding-left: 5px;
}
@keyframes slide {
  0% {
    transform: translate3d(30px, 0, 0);
  }
  100% {
    transform: translate3d(-30px, 0, 0);
  }
}
.tool {
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: var(--toolHeight);
}

.nav > .dropdown-items:first-child .toolpadding,
.nav > .tool-container:first-child .toolpadding {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.toolpadding {
  height: 50px;
  width: 44px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  svg {
    position: absolute;
    float: left;
    left: -18px;
    bottom: 5px;
    pointer-events: none;
  }
}
.changecolor {
  background-color: var(--selected-tool-background-color) !important;
}

.dropdown-items {
  padding: 0px;
  width: 100%;
}

.active-color-outer-circle {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: solid 2px var(--tool-text-color-primary);
  margin: 10px auto;
  pointer-events: none;
}

.active-color-inner-circle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid var(--tool-color-border);
}
.userborder {
  border-top: 1px solid var(--border-color);
}
::selection {
  background: none;
}

.tool-focus {
  &.changecolor {
    ::ng-deep .svg_icon {
      fill: url(#tool-gradient-blue) #447799;
    }
  }
}

.multi-column {
  width: 110px;
  .nav {
    width: 100%;
    .toolpadding {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    > .tool-container:nth-child(1) .toolpadding {
      border-top-right-radius: 0px;
    }
    > .tool-container:nth-child(2) .toolpadding {
      border-top-right-radius: 5px;
    }
    .top-static-tool + .tool-container .toolpadding {
      border-top-right-radius: 0px !important;
    }
    > .dropdown-items {
      width: 100%;
      display: flex;
      justify-content: center;
      .toolpadding {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .tool-container {
      width: 50%;
    }
  }

  .subMenuSelected {
    position: absolute;
    float: left;
    left: -18px;
    bottom: 5px;
    pointer-events: none;
  }
  // .toolpadding svg {
  //   position: absolute;
  //   float: left;
  //   left: -18px;
  //   bottom: 5px;
  //   pointer-events: none;
  // }
}

#gtMath{
  width:200px;
}