<!-- <div>Question editor works.!</div> -->
<!-- <div class="fbox bor-bot">
  <input type="text" nbInput fieldSize="giant" fullWidth status="basic" placeholder="Compose the question…" />
  <input type="text" nbInput fieldSize="small" fullWidth status="basic" placeholder="Type question’s feedback here.." />
</div>

<div class="fbox">
  <label>Answers</label>
  <input type="text" nbInput fieldSize="small" fullWidth status="basic"
    placeholder="Type the first answer option here…" />
</div> -->

<!-- <div *ngIf="!globalPreviewState"> -->
<ng-template #targetRefView></ng-template>
<!-- </div> -->
