.button {
  background-color: #4caf50;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {
  background-color: #008cba;
}
.button3 {
  background-color: #f44336;
}
.button4 {
  background-color: #e7e7e7;
  color: black;
}
.button5 {
  background-color: #555555;
}

.fbox {
  padding: 20px;

  &.bor-bot {
    border-bottom: 1px solid rgba(48, 52, 57, 0.1);
  }

  input {
    border: 0 !important;
    box-shadow: none !important;
    padding-left: 0;
    padding-right: 0;
  }
  label {
    font-size: 15px;
    color: #000;
  }

  input[fieldsize='giant'] {
    font-size: 25px !important;
    font-weight: normal;

    &::placeholder {
      font-size: 25px !important;
      font-weight: normal;
    }

    &:-ms-input-placeholder {
      font-size: 25px !important;
      font-weight: normal;
    }

    &::-ms-input-placeholder {
      font-size: 25px !important;
      font-weight: normal;
    }
  }
}
