@import '~libs/core/src/lib/css/variables';

:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: $error-layover-z-index;
  overflow: hidden;
  &.no-background {
    background: none;
  }
}

.error-layover-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.error-layover-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  .icon {
    width: 200px;
    margin: 0px auto;
  }
  ::ng-deep .icon-exclamation {
    fill: #fff;
  }
  .message {
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
  }
  &.medium {
    .icon {
      width: 120px;
    }
    .message {
      font-size: 18px;
    }
  }
  &.small {
    .icon {
      width: 80px;
    }
    .message {
      font-size: 16px;
    }
  }
}
