<div class="error-layover-container">
  <div class="error-layover-content {{ size }}">
    <div class="icon">
      <svg-icon src="assets/icons/icon-exclamation.svg"></svg-icon>
    </div>
    <div class="message">
      {{ message }}
    </div>
  </div>
</div>
