ng-autocomplete{
    // opacity: 0.5;
    color: #000000;
    font-size: 16px;
    letter-spacing: -0.33px;
    line-height: 20px;
    height: 50px;
    width: 80%;
    max-width: 280px;
    border: 1px solid #cecece;
    border-radius: 5px;
    background-color: #ffffff;
    margin: 0 0 2vh;
    ::ng-deep {
        .autocomplete-container{
            box-shadow: none;
            margin-bottom: 15px;
            .not-found{
                border: none;
            }
        }
    }
}