<div class="signIn_Panel">
  <p class="signIn_p">
    Sign In
  </p>
</div>

<div class="header_title" *ngIf="!errorMessage">
  <p class="welcome_p">Welcome to Tata ClassEdge</p>
</div>
<div class="signin_with_account_div" *ngIf="!errorMessage">
  <p class="signin_with_account_p">
    Please sign in using your account details
  </p>
</div>
<div class="bad_credential_div" *ngIf="errorMessage">
  <p class="bad_credential_p">
    {{ errorMessage }}
  </p>
</div>

<form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
  <ng-autocomplete 
      #auto
      [data]="data" 
      [searchKeyword]="keyword" 
      (selected)='selectEvent($event)'
      (inputChanged)='getServerResponse($event)' 
      [itemTemplate]="itemTemplate" 
      (inputCleared)="searchCleared()"
      [notFoundTemplate]="notFoundTemplate" 
      [debounceTime]="600" 
      [isLoading]="isLoadingResult" 
      [minQueryLength]="2" 
      placeholder="School Name"
      formControlName="orgId"
  >
  </ng-autocomplete>

  <ng-template #itemTemplate let-item>
      <a href="javascript:void(0)">
        <span [innerHTML]="item"></span>
      </a>
  </ng-template>

  <ng-template #notFoundTemplate let-notFound>
      {{errorMsg}}
  </ng-template>
  
  <input
    id="login-username"
    type="email"
    placeholder="User ID"
    formControlName="emailId"
    #email
    [class.highlightField]="email.value.length > 0"
    (focus)="setKeyboardFocus($event)"
    (keyup)="updateFieldValue('emailId', email.value)"
  />
  <input
    id="login-password"
    type="password"
    placeholder="Password"
    formControlName="password"
    #password
    [class.highlightField]="password.value.length > 0"
    (focus)="setKeyboardFocus($event)"
    (keyup)="updateFieldValue('password', password.value)"
  />
  <tce-loading-layover
    *ngIf="isFetching"
    size="medium"
    noBackgroundColor="true"
    noOverlay="true"
    darkMode="true"
    message="Signing You In"
    style="margin-bottom: 10px;"
  ></tce-loading-layover>
  <div class="signIn_Button" *ngIf="!isFetching">
    <button
      [disabled]="!loginForm.valid"
      class="signin_button_login "
      [ngClass]="!loginForm.valid == true ? 'signInDisable' : 'signInEnable'"
    >
      <p>Sign In</p>
    </button>
  </div>
</form>

<div class="bottomDiv" *ngIf="!isFetching">
  <div class="or_div">
    <div class="rectangle"></div>
    <div class="or_text">OR</div>
    <div class="rectangle"></div>
  </div>
  <div class="signin_with_account_div">
    <p
      class="signin_with_account_p skip_pin_creation "
      (click)="signInWithPin()"
    >
      Sign in with Pin
    </p>
  </div>
  <!-- <div class="signin_with_account_div">
    <p
      class="signin_with_account_p skip_pin_creation "
      (click)="changePassword()"
    >
      Change Password
    </p>
  </div> -->
  <!-- <div class="signin_with_account_div">
    <p class="signin_with_account_p skip_pin_creation " (click)="changePIN()">
      Change PIN
    </p>
  </div> -->
</div>
