.metaData {
  padding: 5%;
  height: 100%;
  /* 100% Full-height */
  width: 40%;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 999;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: 0;
  background-color: darkgray;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  -webkit-transition: 1s;
  transition: 1s;
  /* 0.5 second transition effect to slide in the sidenav */
}
/*# sourceMappingURL=metadata-layout.component.css.map */
