:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
:host > ::ng-deep * {
  width: 100%;
  min-width: 100%;
}

.tab-nav {
  display: flex;
  flex-wrap: wrap;

  &.bg-dark {
    background: #0f1114;
  }

  & > .tab {
    flex: 1;

    & > a {
      color: rgba(255, 255, 255, 0.5);
      display: inline-block;
      padding: 20px 20px 10px;
      border-bottom: 2px solid #22262a;
      cursor: pointer;
      font-weight: bold;
      font-size: 16px;
      text-align: center;
      height: 100%;

      &.active {
        color: #ffffff;
        padding-bottom: 13px;
        border-bottom: 2px solid #71b9ff;
      }
    }
  }

  .search {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .searchAnchor {
    padding: 15px;
    display: flex;
    align-items: center;

    .hide {
      display: none;
    }

    .cancel {
      font-size: 12px;
      color: #fff;
    }
  }

  .searchInput {
    flex: 1;
    background: transparent;
    color: #ffffff;
    border: none;
    padding: 0 10px;
    width: 100%;
    font-size: 16px;
  }

  .search-input-wrapper {
    position: relative;
    flex: 1;
    padding: 10px 0 10px 20px;

    .search-input-box {
      border: 1px solid #303439;
      border-radius: 5px;
      background-color: #22262a;
      padding: 8px 25px;

      .searchIcon {
        position: absolute;
        left: 30px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        height: 16px;
      }

      .closeIcon {
        position: absolute;
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        height: 20px;
        cursor: pointer;

        svg {
          height: 20px;
          width: 20px;
        }
        svg g {
          fill: #fff;
        }
      }
    }
  }
}
