<div class="tab-nav" [class.bg-dark]="searchActive">
  <div
    *ngFor="let tab of tabContent"
    (click)="selectTab(tab)"
    class="tab"
    [ngStyle]="{ display: searchActive ? 'none' : '' }"
  >
    <a [class.active]="tab.active">{{ tab.tabTitle }}</a>
  </div>
  <div *ngIf="searchActive" class="search-input-wrapper">
    <div class="search-input-box">
      <svg-icon
        src="assets/images/playlist/searchIcon.svg"
        class="searchIcon"
        [applyCss]="true"
      ></svg-icon>
      <input
        #inputElement
        class="searchInput"
        type="text"
        placeholder="Search Table of Contents"
        [value]="searchText"
        (keyup)="searchChanged($event.target.value)"
        (focus)="setKeyboardFocus($event)"
        autofocus
      />
      <svg-icon
        [hidden]="inputElement?.value === ''"
        src="assets/images/ic.CloseModal.svg"
        class="closeIcon"
        [applyCss]="true"
        (click)="clearSearch($event)"
      ></svg-icon>
    </div>
  </div>

  <div class="search">
    <a class="searchAnchor" *ngIf="searchEnabled" (click)="toggleSearch()">
      <svg-icon
        [class.hide]="searchActive"
        src="assets/images/playlist/searchIcon.svg"
      ></svg-icon>
      <span [class.hide]="!searchActive" class="cancel">Cancel</span>
    </a>
  </div>
</div>
<ng-content *ngIf="!searchActive" select="tce-tab-content"></ng-content>
<ng-content *ngIf="searchActive" select="tce-tab-search-content"> </ng-content>
