<!-- <p>qb-question-card-list works!</p> -->
<div>
  <!-- another loader animation till card ready -->
  <!-- <div class="cssload-loader-walk" *ngIf="!isAllQuestionsLoaded">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <span class="cssload-loader-walk-text">{{loaderQCountDisplay}}</span>
  </div>

  <div *ngIf="noQuestionsAvailable" class="status-message">
    <div class="status-message-img"></div>
    <div class="status-message-text">{{statusMessage}}</div>
  </div> -->
  <!-- end of loader and no question found icon -->
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" *ngFor="let question of allQuestionData; let i = index">
      <tce-qb-question-card-view *ngIf="allQuestionData" [viewType]="'questionBank'"
        [quizQuestionList]="quizQuestionList" [showCheckBox]="showCheckBox" [question]="question" [index]="i"
        (openpopup)="openPopup($event)" (dltQuestion)="deleteQuestion($event)">
      </tce-qb-question-card-view>
    </div>
  </div>
</div>