<div class="signIn_Panel">
  <p class="signIn_p">
    Sign In
  </p>
</div>
<div class="form_Panel">
  <div class="header_title" *ngIf="passwordChanged">
    <p class="welcome_p">Change/Set PIN</p>
  </div>

  <div class="signin_with_account_div" *ngIf="passwordChanged">
    <p class="signin_with_account_p">
      Would you like to set numeric PIN for quicker login?
    </p>
  </div>

  <div class="signIn_Button" *ngIf="passwordChanged">
    <button
      class="signin_button_login signInEnable "
      (click)="setPin = true; passwordChanged = false"
    >
      <p>Set Pin</p>
    </button>
  </div>

  <div class="usePassword" *ngIf="passwordChanged" (click)="skipSetPin()">
    <a class="auto_gen_a">No, I want to use password and skip for now</a>
  </div>

  <div class="header_title" *ngIf="setPin">
    <p class="welcome_p">Set Pin</p>
  </div>

  <div class="header_title" *ngIf="verifyPin">
    <p class="welcome_p">Verify Pin</p>
  </div>

  <div class="signin_with_account_div" *ngIf="setPin">
    <p class="signin_with_account_p">
      Set your numeric PIN for quicker login
    </p>
  </div>

  <div class="signin_with_account_div" *ngIf="verifyPin && !errorMessage">
    <p class="signin_with_account_p">
      Verify your new PIN by entering it below.
    </p>
  </div>

  <div class="bad_credential_div" *ngIf="errorMessage">
    <p class="bad_credential_p">
      <!-- {{errorMessage}} -->
      {{ errorMessage }}
    </p>
  </div>

  <div class="pin-form-container" *ngIf="setPin">
    <form [formGroup]="setPinForm" (ngSubmit)="onSetPinSubmit()" fxLayout="row">
      <div class="otp-box-container">
        <div *ngIf="!autoGeneratedValue">
          <input
            type="number"
            id="otp1"
            (keyup)="updateFieldValue('otp1', $event)"
            tceNumberRestrict
            (focus)="setKeyboardFocus($event)"
            (blur)="onBlur($event)"
            required
            formControlName="otp1"
            [pattern]="unamePattern"
            minlength="1"
            maxlength="1"
            name="first_in"
            class="inputboxotp enteredPin"
            autocomplete="off"
            autofocus
            numbersOnly
            disableArrows
          />

          <input
            type="number"
            id="otp2"
            formControlName="otp2"
            (keyup)="updateFieldValue('otp2', $event)"
            tceNumberRestrict
            (focus)="setKeyboardFocus($event)"
            (blur)="onBlur($event)"
            required
            [pattern]="unamePattern"
            minlength="1"
            maxlength="1"
            name="second_in"
            class="inputboxotp"
            autocomplete="off"
            numbersOnly
            disableArrows
            [class.enteredPin]="setPinForm.get('otp2').value"
            [class.emptyPin]="!setPinForm.get('otp2').value"
          />

          <input
            (keyup)="updateFieldValue('otp3', $event)"
            tceNumberRestrict
            (focus)="setKeyboardFocus($event)"
            (blur)="onBlur($event)"
            type="number"
            id="otp3"
            formControlName="otp3"
            required
            [pattern]="unamePattern"
            minlength="1"
            name="third_in"
            maxlength="1"
            class="inputboxotp emptyPin"
            autocomplete="off"
            numbersOnly
            disableArrows
            [class.enteredPin]="setPinForm.get('otp3').value"
            [class.emptyPin]="!setPinForm.get('otp3').value"
          />

          <input
            (keyup)="updateFieldValue('otp4', $event)"
            tceNumberRestrict
            (focus)="setKeyboardFocus($event)"
            (blur)="onBlur($event)"
            type="number"
            id="otp4"
            formControlName="otp4"
            required
            [pattern]="unamePattern"
            minlength="1"
            name="forth_in"
            maxlength="1"
            class="inputboxotp emptyPin"
            autocomplete="off"
            numbersOnly
            disableArrows
            [class.enteredPin]="setPinForm.get('otp4').value"
            [class.emptyPin]="!setPinForm.get('otp4').value"
          />

          <input
            (keyup)="updateFieldValue('otp5', $event)"
            tceNumberRestrict
            (focus)="setKeyboardFocus($event)"
            (blur)="onBlur($event)"
            type="number"
            id="otp5"
            formControlName="otp5"
            required
            [pattern]="unamePattern"
            minlength="1"
            maxlength="1"
            class="inputboxotp emptyPin"
            autocomplete="off"
            numbersOnly
            disableArrows
            [class.enteredPin]="setPinForm.get('otp5').value"
            [class.emptyPin]="!setPinForm.get('otp5').value"
          />
        </div>
        <button
          *ngIf="setPin"
          [disabled]="!setPinForm.valid"
          class="signin_button_login "
          [ngClass]="
            !setPinForm.valid == true ? 'signInDisable' : 'signInEnable'
          "
        >
          <p>Next</p>
        </button>
      </div>
    </form>
  </div>

  <div class="pin-form-container" *ngIf="verifyPin">
    <form
      [formGroup]="verifyPinForm"
      (ngSubmit)="onVerifyPinSubmit()"
      fxLayout="row"
    >
      <div class="otp-box-container">
        <div *ngIf="!autoGeneratedValue">
          <input
            type="password"
            id="otpv1"
            (keyup)="updateFieldValue('otpv1', $event)"
            tceNumberRestrict
            (focus)="setKeyboardFocus($event)"
            (blur)="onBlur($event)"
            required
            formControlName="otpv1"
            [pattern]="unamePattern"
            minlength="1"
            maxlength="1"
            name="first_in"
            class="inputboxotp enteredPin"
            autocomplete="off"
            autofocus
            numbersOnly
            disableArrows
          />

          <input
            type="password"
            id="otpv2"
            formControlName="otpv2"
            (keyup)="updateFieldValue('otpv2', $event)"
            tceNumberRestrict
            (focus)="setKeyboardFocus($event)"
            (blur)="onBlur($event)"
            required
            [pattern]="unamePattern"
            minlength="1"
            maxlength="1"
            name="second_in"
            class="inputboxotp"
            autocomplete="off"
            numbersOnly
            disableArrows
            [class.enteredPin]="verifyPinForm.get('otpv2').value"
            [class.emptyPin]="!verifyPinForm.get('otpv2').value"
          />

          <input
            (keyup)="updateFieldValue('otpv3', $event)"
            tceNumberRestrict
            (focus)="setKeyboardFocus($event)"
            (blur)="onBlur($event)"
            type="password"
            id="otpv3"
            formControlName="otpv3"
            required
            [pattern]="unamePattern"
            minlength="1"
            name="third_in"
            maxlength="1"
            class="inputboxotp emptyPin"
            autocomplete="off"
            numbersOnly
            disableArrows
            [class.enteredPin]="verifyPinForm.get('otpv3').value"
            [class.emptyPin]="!verifyPinForm.get('otpv3').value"
          />

          <input
            (keyup)="updateFieldValue('otpv4', $event)"
            tceNumberRestrict
            (focus)="setKeyboardFocus($event)"
            (blur)="onBlur($event)"
            type="password"
            id="otpv4"
            formControlName="otpv4"
            required
            [pattern]="unamePattern"
            minlength="1"
            name="forth_in"
            maxlength="1"
            class="inputboxotp emptyPin"
            autocomplete="off"
            numbersOnly
            disableArrows
            [class.enteredPin]="verifyPinForm.get('otpv4').value"
            [class.emptyPin]="!verifyPinForm.get('otpv4').value"
          />

          <input
            (keyup)="updateFieldValue('otpv5', $event)"
            tceNumberRestrict
            (focus)="setKeyboardFocus($event)"
            (blur)="onBlur($event)"
            type="password"
            id="otpv5"
            formControlName="otpv5"
            required
            [pattern]="unamePattern"
            minlength="1"
            maxlength="1"
            class="inputboxotp emptyPin"
            autocomplete="off"
            numbersOnly
            disableArrows
            [class.enteredPin]="verifyPinForm.get('otpv5').value"
            [class.emptyPin]="!verifyPinForm.get('otpv5').value"
          />
        </div>
        <tce-loading-layover
          *ngIf="isFetching"
          size="medium"
          noBackgroundColor="true"
          noOverlay="true"
          darkMode="true"
          message="Setting PIN"
        ></tce-loading-layover>
        <button
          [disabled]="!verifyPinForm.valid"
          class="signin_button_login "
          [ngClass]="
            !verifyPinForm.valid == true ? 'signInDisable' : 'signInEnable'
          "
          *ngIf="!isFetching"
        >
          <p>Set PIN</p>
        </button>
      </div>
    </form>
  </div>
  <div class="bad_credential_div" *ngIf="autoGenError">
    <p class="bad_credential_p">
      <!-- {{errorMessage}} -->
      {{ autoGenErrorMessage }}
    </p>
  </div>
  <tce-loading-layover
    *ngIf="autoGenerateIsFetching"
    size="medium"
    noBackgroundColor="true"
    noOverlay="true"
    darkMode="true"
    message="Generating PIN"
    class="auto-generate-pin"
  ></tce-loading-layover>
  <div
    class="auto_gen_div"
    *ngIf="setPin && !autoGenerateIsFetching"
    (click)="autoGeneratePin()"
  >
    <a class="auto_gen_a ">Auto-Generate PIN</a>
  </div>
</div>

<div class="signin_bottom" *ngIf="passwordChanged || setPin || verifyPin">
  <div class="rectangle"></div>
  <div>
    <div class="signin_with_account_div">
      <p class="signin_with_account_p" *ngIf="!setPinForm.valid">
        You can always activate and set PIN login by going to your account
        settings.
      </p>
      <p
        class="signin_with_account_p skip_pin_creation "
        *ngIf="setPinForm.valid || verifyPin"
        (click)="cancelButton()"
      >
        Skip PIN creation
      </p>
    </div>
  </div>
</div>
<div class="signin_with_account_div">
  <p
    class="signin_with_account_p skip_pin_creation "
    (click)="loginWithPassword()"
  >
    Sign in with Password
  </p>
</div>
