.signIn_Button {
  margin: 2vh 0;
}
.usePassword {
  margin: 3% auto;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;

  a {
    color: #248ef6;
    font-size: 16px;
    line-height: 22px;
    text-decoration: underline;
  }
}

.auto_gen_div {
  text-align: center;
  margin-bottom: 2vh;
}

.skip_pin_creation,
.auto_gen_a {
  color: #1d5ba0;
  font-family: 'Open Sans';
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

.next_Button {
  text-align: center;
  margin: 17% auto;
}

.signInDisable {
  background-color: rgba(0, 0, 0, 0.12);
  p {
    color: #000000;
    opacity: 0.5;
  }
}

.signInEnable {
  background: linear-gradient(180deg, #6d71ff 0%, #248ef6 100%);
  p {
    color: white !important;
  }
  :hover {
    cursor: pointer;
  }
}

tce-loading-layover.auto-generate-pin {
  margin-bottom: 10px;
}
