<div
  id="resourceSetting"
  (click)="openResourcList()"
  class="filter-option"
  *ngIf="!showEditOption"
>
  <svg-icon
    class="three-dot-filter-menu"
    src="assets/images/playlist/open_resource_filter_three_dots.svg"
  ></svg-icon>
</div>
<div
  id="finish"
  class="donetext"
  *ngIf="showEditOption"
  (click)="doneWithEdit()"
>
  <svg-icon src="assets/images/rightSign.svg"></svg-icon> &nbsp;&nbsp; Finished
  Editing
</div>
<tce-flyout
  class="content-filter-menu"
  *ngIf="showFilterMenu"
  [@slideInOut]="animationFlag"
>
  <div class="filter-menu-header">
    <div class="menu-filter-resources">Filter Resources</div>
    <!-- <div class="menu-filter-done" (click)="showFilterMenu = false">Done</div> -->
    <div class="menu-filter-done" id="selectAllFilter">
      <input
        class="select-all-checkbox"
        type="checkbox"
        name="menu"
        (click)="selectAll()"
        [(ngModel)]="allSelected"
      />
    </div>
  </div>
  <div class="flyout-menu">
    <ul class="menu-list">
      <div *ngFor="let menu of filteredMenu">
        <li
          class="list-details"
          *ngIf="menu.resourceCount > 0"
          (click)="allSelected = false; toggleFilter(menu)"
          [attr.id]="menu.name"
        >
          <div class="menu-image">
            <img [src]="menu.image" />
          </div>
          <div class="menu-type">
            {{ menu.name }}
            {{ menu.resourceCount > 0 ? '(' + menu.resourceCount + ')' : '' }}
          </div>
          <div class="menu-checkbox">
            <input type="checkbox" name="menu" [checked]="menu.selected" />
          </div>
        </li>
      </div>
      <div class="sperator" style="width: 100%;"></div>
      <div class="filter-menu-header marginHeadPlaylist">Playlist Options</div>
      <div
        class="pb-10"
        *ngFor="let cPlaylist of collectionPlaylist"
        [attr.id]="cPlaylist.name"
      >
        <div
          class="row"
          (click)="allSelected = false; selectedPlaylist(cPlaylist.name)"
          style="cursor: pointer;"
        >
          <div class="col-3 marginContaintPlaylist">
            <img [src]="cPlaylist.svgSrc" />
          </div>
          <div class="col-9" style="margin: 8px 0;">
            <span class="cust_color"
              ><b>{{ cPlaylist.name }}</b></span
            >
          </div>
        </div>
      </div>
    </ul>
  </div>
</tce-flyout>
<div *ngIf="!showEditOption">
  <!-- add and close resource icon start -->
  <div
    class="addResourceIcon"
    title="Add Resource"
    id="addResource"
    *ngIf="showAddResource && resourcePlaylistOpen"
    (click)="openCreateLib()"
    [@slideInOut]="animationFlag"
  >
    <svg-icon src="assets/images/myPlusAddRessource.svg"> </svg-icon>
  </div>
  <div
    class="addResourceIcon"
    title="Close"
    *ngIf="!showAddResource"
    (click)="closeAll()"
    id="closeAddResource"
  >
    <svg-icon src="assets/images/myCloseAddResource.svg"> </svg-icon>
  </div>
  <!-- add and close resource icon end -->
  <!-- create tab and lib tab start -->
  <tce-flyout 
    class="content-playList-addResource"
    *ngIf="!showAddResource && !clickCreateResource"
    [@slideInOut]="animationFlag"
  >
    <div class="row" style="margin: 10px 0 0 0;">
      <div class="col-12"><span class="title-label">Add Resources</span></div>
    </div>
    <div class="row" style="margin: 10px 18px 0px -2px;">
      <div class="col-12">
        <div class="row title-label-svg" style="cursor: pointer;">
          <div class="col-6" (click)="createResource()" id="createResource" title="Create New Resource">
            <div class="bg">
              <svg-icon
                class="createResourceIcon"
                src="assets/images/ic.Create.svg"
              ></svg-icon
              ><span>CREATE</span>
            </div>
          </div>
          <div class="col-6" (click)="openLib()" id="openSearch" title="Add Library Resource">
            <div class="bg">
              <img
                class="createResourceIcon tempImgClass"
                src="assets/images/ic.Library.PNG"
              /><span>LIBRARY</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </tce-flyout>
  <!-- create tab and lib tab end -->
</div>

<!-- reset start-->
<tce-flyout class="content-playList-reset" *ngIf="showReset">
  <div class="row" style="margin: 10px 0 0 0;">
    <div class="col-12 title-label">Reset Playlist</div>
    <div class="col-12 pb-10">
      <!-- <p class="title-containt">
        Are you sure you want to reset your playlist? All customisations and
        manually added resources will be lost.
      </p> -->
      <p class="title-containt">
        Are you sure you want to reset your playlist? resources will re-arrange to default state.
      </p>
    </div>
  </div>
  <div class="sperator"></div>
  <div class="row" style="padding-top: 10px;">
    <div class="col-12 pb-10">
      <div class="row" style="cursor: pointer;">
        <div
          class="col-6 title-label"
          (click)="cancelResetResource()"
          id="cancelReset"
        >
          <div style="text-align: end;">Cancel</div>
        </div>
        <div class="col-6" (click)="resetResource()" id="resetResourceList">
          <label> Reset Playlist</label>
        </div>
      </div>
    </div>
  </div>
</tce-flyout>
<!-- reset end -->
