.filter-option {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  position: absolute;
  top: -29px;
  right: 10px;
  height: 14px;
  cursor: pointer;

  width: 20px;
  .three-dot-filter-menu {
    transform: rotate(90deg);
    position: absolute;
    left: 6px;
    pointer-events: none;
    &:hover {
      cursor: pointer;
    }
  }
}

.content-filter-menu {
  position: absolute;
  width: 290px;
  height: auto;
  bottom: calc(100% + 40px);
  right: -10px;
  min-height: 140px;
  .flyout-menu{
    max-height: 54vh;
    overflow: auto;
  
    ul.menu-list {
      padding: 16px;
      height: auto;
      font-size: 14px;
      font-weight: bold;
      line-height: 18px;
      padding-bottom: 0;
      li.list-details {
        display: flex;
        justify-content: space-around;
        height: auto;
        margin-bottom: 14px;
        cursor: pointer;
      }
      .sperator {
        height: 1px;
        width: 80%;
        position: absolute;
        right: 0;
        background-color: #303439;
      }
      .select-all-panel {
        display: flex;
        padding: 16px 0;
        height: 40px;
        .select-all {
          position: relative;
          left: 5px;
        }
        .select-all-checkbox {
          position: absolute;
          right: 16px;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .menu-image {
        margin: 0 10px 0 0;
      }
      .menu-type {
        margin: auto 0;
        color: #ffffff;
      }
      .menu-checkbox {
        margin: 10px 0 0 auto;
        input {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  &::before {
    left: calc(84% - 1px);
    border-width: 15px;
  }
  &::after {
    left: 84%;
    border-width: 15px;
  }
}
input {
  height: 18px;
  width: 18px;
  background-color: #ffffff;
  &:checked {
    background-color: #ffffff;
  }
}
.filter-menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1a1c20;
  height: 48px;
  box-shadow: inset 0 -1px 0 0 #303439;
  color: #ffffff;
  padding: 0px 15px;

  .menu-filter-resources {
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
  }
  .menu-filter-done {
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    &:hover {
      cursor: pointer;
    }
  }
}

.marginHeadPlaylist {
  margin: 0px -15px 10px -15px;
}

.marginContaintPlaylist {
  margin-right: -25px;
}
.pb-10 {
  padding-bottom: 10px;
}
.content-playList-reset {
  position: absolute;
  width: 250px;
  height: 180px;
  bottom: calc(100% + 43px);
  right: 5px;
  font-weight: 600;
  &::before {
    left: calc(82% - 1px);
    border-width: 17px;
  }
  &::after {
    left: 82%;
    border-width: 15px;
  }
  .sperator {
    height: 1px;
    width: 100%;
    position: absolute;
    right: 0;
    background-color: #303439;
  }
  .title-label {
    opacity: 0.5;
    color: #ffffff;
    font-family: Quicksand;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
  }
  .title-containt {
    color: #ffffff;
    font-family: Quicksand;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
  }
}
.content-playList-addResource {
  position: fixed;
  width: 237px;
  height: 150px;
  top: calc(100% + -255px);
  right: 15px;
  font-weight: 600;
  &::before {
    left: calc(82% - 1px);
    border-width: 17px;
  }
  &::after {
    left: 82%;
    border-width: 15px;
  }
  .title-label {
    color: #ffffff;
    font-family: Quicksand;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
  }
  .bg {
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    border: 1px solid #292c2f;
    border-radius: 10px;
    background-color: #000000;
  }
  .title-label-svg {
    color: #ffffff;
    font-family: Quicksand;
    font-size: 11px;
    letter-spacing: 1.5px;
    line-height: 90px;
    text-align: center;
  }
}
.resetPLaylist {
  text-align: justify;
  /* padding: 9px; */
  margin-left: 10px;
  margin-right: 10px;
}
.addResourceIcon {
  position: fixed;
  z-index: 300;
  right: 23px;
  // background: linear-gradient(90deg, rgba(1, 1, 1, 0) 0%, #000000 100%);
  cursor: pointer;
  pointer-events: auto;
  bottom: 40px;
  animation: scaleInOut;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.addResourceIcon:hover {
  animation-name: scaleInOut;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
}

@keyframes scaleInOut {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.4);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.content-playList-addResourceList {
  position: absolute;
  width: 217px;
  height: 280px;
  bottom: calc(100% + -30px);
  right: 20px;
  font-weight: 600;
  &::before {
    left: calc(82% - 1px);
    border-width: 17px;
  }
  &::after {
    left: 82%;
    border-width: 15px;
  }
  .title-label {
    opacity: 0.5;
    color: #ffffff;
    font-family: Quicksand;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
  }
  .shape {
    height: 20px;
    width: 18px;
    background: linear-gradient(180deg, #6d71ff 0%, #248ef6 100%);
  }
  .title-containt {
    color: #ffffff;
    font-family: Quicksand;
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    cursor: pointer;
  }
  .sperator {
    height: 1px;
    width: 100%;
    position: absolute;
    right: 0;
    background-color: #303439;
  }
  .icon-guide {
    height: 24px;
    width: 24px;
    background: linear-gradient(180deg, #6d71ff 0%, #248ef6 100%);
    border-radius: 50%;
  }
}

.cust_color {
  color: #ffffff;
}

.donetext {
  color: var(--text-color-primary);
  cursor: pointer;
  position: absolute;
  top: -25px;
  right: 15px;
}
.createResourceIcon {
  height: 25px;
  width: 35px;
  margin: auto;
  display: block;
}
.tempImgClass {
  height: 50px;
  width: 50px;
  margin-bottom: -33px;
  margin-top: 10px;
}
