textarea {
  background: url('http://i.imgur.com/2cOaJ.png');
  background-attachment: local;
  background-repeat: no-repeat;
  padding-left: 35px;
  padding-top: 10px;
  border-color: #ccc;
}

.modal-title {
  color: black !important;
}
/*# sourceMappingURL=source-json-layout.component.css.map */
