<div
  id="whiteboardContainer"
  class="overflow-hidden"
  [ngStyle]="{
    cursor: selectedTool === toolType.Pan ? 'grab' : 'default',
    'z-index': '100'
  }"
>
  <svg
    id="drawingBoard"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:ev="http://www.w3.org/2001/xml-events"
    width="500px"
    height="800px"
  >
    <g #panGroup id="panGroup"></g>
  </svg>
</div>
<div id="debug_txt">test</div>
