#whiteboardContainer {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
}

#eraserCursorIcon {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

#debug_txt {
  position: absolute;
  z-index: 9999;
  width: 200px;
  background-color: lightgrey;
  height: 90%;
  overflow: scroll;
  scroll-behavior: smooth;
  opacity: 0.9;
  display: none;
}

#drawingBoard {
  position: relative;
  width: 100%;
  height: 109%;
}

.btn-primary {
  position: relative;
  display: inline-block;
  margin: 2px;
  background-color: lightgray;
  cursor: pointer;
  padding: 5px;
}

.blackAndWhiteBtn {
  position: relative;
  display: inline-block;
  margin: 2px;
  background-color: lightblue;
  cursor: pointer;
  padding: 5px;
}

.myrow {
  position: absolute;
  bottom: 3%;
  right: 39%;
}

.stateproperty {
  color: lightgreen;
  font-size: 30px;
  text-align: center;
  padding: 20px;
}

path {
  stroke-dasharray: 2740;
  stroke-dashoffset: 2740;
  animation: dash 1s linear forwards infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 2740;
  }
  to {
    stroke-dashoffset: 0;
  }
}
