.myclose{
    position: absolute;
    padding: 2px 4px;
    color: black;
    left: 329px;
    top: -21px;
    height: 34px;
    width: 34px;
    background: deepskyblue;
    border-radius: 25px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 50px;
    offset-rotate: 
90deg
;
    transform: rotate(
45deg
);
  }

  .mymove {
    position: absolute;
    padding: 2px 4px;
    color: black;
    left: 368px;
    font-weight: bold;
    top: -22px;
    height: 35px;
    width: 35px;
    background: orange;
    border-radius: 25px;
    line-height: 26px;
    text-align: center;
    cursor: -webkit-grab;
    cursor: crosshair;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 10px;
  }

  .myRulerBoard{
    border:1px solid red;
}