<div #widget>
  <div style="color:gray;">math ruler coming soon!</div>
  <div id="myclose" class="myclose"  (click)="destroyPlayer.emit()">+</div>
  <!-- <div id="mymove" class="mymove" 
  (mousedown)="moveBtnDown($event)" 
  (mousemove)="moveBtnMove($event)" 
  (mouseup)="moveBtnUp($event)">move</div> -->
  
    
    <svg id="svgDraw" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events"  x="0" y="0" width="400px" height="105px" >

          <!-- FOR ruler -->
        <rect  id = "mainRuler" stroke="white" stroke-width="1" fill="transparent" x="0" y="10" height="80"/>

        <!-- FOR rangeRight -->
        <rect  id = "rangeRight" width="10" stroke="black" y="10" height="80" stroke-width="1" fill="white"/>

        <!-- FOR rangeLeft -->
        <rect  id = "rangeLeft" width="10" stroke="black" y="10" height="80" stroke-width="1" fill="white"/>

        <!-- FOR rulerExtendButton -->
        <rect  id = "rulerExtendButton"  stroke="black" stroke-width="1" y="10" width="20" height="80" fill="black"/>

        <!-- FOR rulerRotateButton -->
        <rect  id = "rulerRotateButton" width="20" height= "20" y="70" stroke="red" stroke-width="1" fill="red"/>

        <!-- FOR drawLineSelector -->
        <rect  id = "drawLineSelector" width="20" height= "20" y="50" stroke="blue" stroke-width="1" fill="blue"/>

        
        
        
        
    </svg>
  </div>