.lrn-compass-route{
    stroke: #979797;
    fill: transparent;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-dasharray: 0,9;
}

.radusValue{
    position: absolute;
    color: #9ea1a4;
    font-size: 14px;
    top: 223px;
    left: 170px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.mymove {
    position: absolute;
    padding: 2px 4px;
    color: #fafafa;
    left: 185px;
    top: 185px;
    height: 35px;
    width: 35px;
    background: transparent;
    border-radius: 25px;
    line-height: 20px;
    text-align: center;
    cursor: -webkit-grab;
    cursor: crosshair;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 25px;
  }

  .myclose{
    position: absolute;
    padding: 2px 4px;
    color: #fafafa;
    left: 213px;
    top: 202px;
    height: 24px;
    width: 24px;
    background: #161515;
    border-radius: 25px;
    line-height: 13px;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 22px;
    offset-rotate: (90deg);
    transform: rotate(45deg);
  }

  .common-compass-controls{
    // cursor: pointer;
  }
  #centerHandle{
    cursor:move;
  }
  #plotterHandle{
    // cursor: crosshair;
  }