<div #widget>
    <!-- <div id="mymove" class="mymove"></div> -->
    <div id="myclose" class="myclose"  (click)="destroyPlayer.emit()">+</div>
    <div id="radusValue" class="radusValue">{{radiusToCm}}</div>  
    
    
    
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink" 
      xmlns:ev="http://www.w3.org/2001/xml-events"
      width="600px" height="600px"
      id="svgDraw"
    >
    <g #myPanGroup >
      <!-- PLOTTER HANDLE -->
      <g class="pointer-group" id="806pointergroup">
        <circle class="common-compass-controls" id = "plotterHandle" cx="500" cy="250" r="15" opacity="0.7" stroke="gray" fill="dimgray"/>
      </g>  
      <!-- START POSITION HANDLE -->
      <g>
        <circle  class="common-compass-controls" id = "startPositionHandle" cx="150" cy="250" r="8" stroke="#979797" fill="url(#806icon3)"/>
        <defs>
          <pattern id="806icon3" width="20" height="20"><svg width="16px" height="16px" viewBox="0 0 14 14" version="1.1"><path fill="dimgray" d="M7,14 C3.13400675,14 0,10.8659932 0,7 C0,3.13400675 3.13400675,0 7, 0 C10.8659932,0 14,3.13400675 14,7 C14,10.8659932 10.8659932,14 7, 14 Z M4.66666667,8.16666667 L7,11.6666667 L9.33333333,8.16666667 L4.66666667,8.16666667 Z M4.66666667,5.83333333 L9.33333333,5.83333333 L7,2.33333333 L4.66666667,5.83333333 Z"/></svg></pattern>
        </defs>
      </g>
      <!-- RADIUS HANDLE -->
      <g>
        <circle class="common-compass-controls" id = "radiusHandle" cx="250" cy="250" r="17"  fill="url(#806icon2)"/>
        <defs>
          <pattern id="806icon2" width="20" height="20"><svg version="1.1" x="0px" y="0px" viewBox="0 0 32 32" width="33" height="33"><circle stroke="#979797" cx="16" cy="16" r="16" fill="dimgray"/><g><g transform="translate(-410.000000, -452.000000)"><g transform="translate(207.000000, 318.000000)"><g transform="translate(197.000000, 125.000000)"><path fill-rule="evenodd" clip-rule="evenodd" fill="black" class="st1" d="M20.6,32h-1.4V18h1.4V32z M24.9,32h-1.4V18h1.4V32z M16.3,22.2v5.6L12, 25L16.3,22.2z M27.7,27.8v-5.6L32,25L27.7,27.8z"/></g></g></g></g></svg></pattern>
        </defs>
      </g>  
      <!-- CENTER HANDLE -->
      <g>
        <circle class="common-compass-controls" id = "centerHandle" cx="200" cy="200" r="17" stroke="#979797"  fill="url(#806icon1)"/>  
        <defs><pattern id="806icon1" width="20" height="20"><svg version="1.1" x="0px" y="0px" viewBox="0 0 31 31" width="33" height="33"><circle cx="16" cy="16" r="16" fill="#FFFFFF" opacity="0.5"></circle><g><g transform="translate(-338.000000, -447.000000)"><g transform="translate(207.000000, 318.000000)"><g transform="translate(131.000000, 129.000000)"><path opacity="0.7" fill-rule="evenodd" clip-rule="evenodd" fill="#2e3237" d="M15.9,4l4,3h-8L15.9,4z M28,16l-3,4v-8L28,16z M15.9,28l-4-3h8L15.9, 28z M4,16l3-4v8L4,16z"></path><circle class="st2" cx="15.9" cy="16" r="2.5" fill-rule="evenodd" clip-rule="evenodd" fill="#333333" stroke="#FFFFFF"></circle></g></g></g></g></svg></pattern></defs>
        </g>
    </g>    
  </svg>
</div>