<tce-loading-layover
  *ngIf="isLoading"
  size="medium"
  message="Loading Resources for Topic"
  noBackgroundColor="true"
></tce-loading-layover>
<tce-error-layover
  *ngIf="errorMessage"
  [message]="errorMessage"
  size="small"
  noBackgroundColor="true"
></tce-error-layover>

<ng-container *ngIf="!isLoading && !errorMessage">
  <div class="resource-nav-wrapper">
    <div class="row">
      <div
        class=""
        [ngClass]="
          showResourceNavArrows &&
          playerDrawerOpen &&
          resources &&
          resources.length > 0
            ? 'col-11'
            : 'col-12'
        "
      >
        <!-- *ngIf="playerDrawerOpen" -->
        <tce-resource-filter-panel></tce-resource-filter-panel>
      </div>
      <div
        class="col-1"
        *ngIf="
          showResourceNavArrows &&
          playerDrawerOpen &&
          resources &&
          resources.length > 0
        "
      >
        <div class="resource-nav-section">
          <svg-icon
            id="scrollLeft"
            class="previous-arrow arrow"
            src="assets/images/playlist/resource_arrow.svg"
            [svgStyle]="{
              fill: isAtBeginningOfResources
                ? '#808080'
                : 'var(--text-color-primary)'
            }"
            tceLongPress
            (longPressEvent)="scrollEvent('left', $event)"
          ></svg-icon>
          <svg-icon
            class="arrow"
            id="scrollRight"
            src="assets/images/playlist/resource_arrow.svg"
            [svgStyle]="{
              fill: isAtEndOfResources ? '#808080' : 'var(--text-color-primary)'
            }"
            tceLongPress
            (longPressEvent)="scrollEvent('right', $event)"
          ></svg-icon>
        </div>
      </div>
    </div>
  </div>
  <div
    class="resource-card-wrapper"
    cdkDropListOrientation="horizontal"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    #resourcesList="cdkDropList"
    [cdkDropListData]="resources"
  >
    <ng-container
      *ngFor="let resource of resources; let i = index; let first = first"
    >
      <div
        cdkDrag
        [cdkDragDisabled]="!editmodeResourece"
        class="resource-card placeholder"
        [ngClass]="[
          activeResourceId === resource.resourceId ? 'active' : '',
          editmodeResourece ? 'editmode' : ''
        ]"
        [class.first]="first"
        (click)="handleResourceClick(resource)"
        [attr.tcetype]="resources[i].tcetype"
        [attr.mimetype]="resources[i].metaData.mimeType"
        [attr.subtype]="resources[i].metaData.subType"
        *ngIf="resource.show"
      >
        <div class="placeholder" *cdkDragPlaceholder></div>
        <div
          class="image"
          [ngStyle]="{
            'background-image':
              'url(' + getResourceThumbnailIcon(resource, 'thumbnail') + ')'
          }"
        >
          <div
            class="foreground-image"
            [ngStyle]="{
              'background-image':
                'linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.55)), url(' +
                getResourceThumbnail(resource.thumbnailParams) +
                ')'
            }"
          ></div>
        </div>
        <div class="title">{{ resource.title }}</div>
        <img
          class="type-icon"
          *ngIf="getResourceThumbnailIcon(resource, 'thumbnail')"
          [src]="getResourceThumbnailIcon(resource, 'icon')"
        />
        <img
          *ngIf="
            openResourceIds.includes(resource.resourceId) && !editmodeResourece
          "
          class="close-icon"
          [attr.id]="'closeSelectedResource-' + resource.title"
          (click)="handleResourceCloseClick($event, resource)"
          src="assets/images/playlist/icons/ic.Playlist.CollapseResource.svg"
        />
        <img
          *ngIf="resource?.isShared === 1"
          class="share-icon"
          src="assets/images/playlist/share-new.svg"
        />
        <img
          *ngIf="resource?.isShared === 0"
          class="share-icon"
          src="assets/images/playlist/unshare.svg"
        />
        <div
          *ngIf="editmodeResourece"
          style="height: 100%;width: 100%;position: absolute;"
        >
          <img
            class="close-icon"
            [attr.id]="'SelectedResourceRemove-' + resource.title"
            *ngIf="
              !resource.isOwner && checkCustomResource(resource.resourceId)
            "
            (click)="
              selectedResourceRemove(resource.resourceId, true, $event, 'close')
            "
            src="assets/images/ic.Playlist.DeleteResource.svg"
          />
          <img
            class="delete-icon"
            [attr.id]="'SelectedResourceOwnerOption-' + resource.title"
            *ngIf="resource.isOwner"
            (click)="
              setSelectedResourceIsOwnerOption(
                resource.resourceId,
                true,
                $event,resource
              )
            "
            src="assets/images/playlist/open_resource_filter_three_dots.svg"
          />
          <!-- <img
            class="update-icon"
            *ngIf="resource.isOwner"
            (click)="selectedResourceUpdate(resource)"
            src="assets/images/playlist/edit.svg"
          /> -->
        </div>
        <div
          style="position: fixed;"
          *ngIf="
            deleteResource == resource.resourceId &&
            selectedResourcIsOwnerOption
          "
        >
          <tce-flyout class="content-playList-ownerOption">
            <ul>
              <li *ngIf="resource.resourceType !== 'quiz' " [attr.id]="'editResource-' + resource.title">
                <a (click)="selectedResourceUpdate($event, resource)">Edit</a>
              </li>
              <li [attr.id]="'deleteResource-' + resource.title">
                <a
                  (click)="
                    selectedResourceRemove(resource.resourceId,true,$event, 'delete')"
                  >Delete</a
                >
              </li>
              <li [attr.id]="'cancelSelectedResourceSetting-' + resource.title">
                <a (click)="selectedResourceRemove('', false, $event, 'cancel')"
                  >Cancel</a
                >
              </li>
              <!-- <li>
                <tce-slide-button
                  (toggle)=""
                  [labelname]="'Shared'"
                  [toggleBtnChecked]=""
                >
                </tce-slide-button>
              </li> -->
            </ul>
          </tce-flyout>
        </div>
        <div
          style="position: fixed;"
          *ngIf="deleteResource == resource.resourceId && selectedResourceDelet"
        >
          <!-- <tce-flyout
            class="content-playList-closeCurrent"
            style="padding: 10px;"
          >
            <div style="padding:10px">
              <p>Are you sure you'd like to remove this resource?</p>
            </div>
            <div
              style="padding:5px; text-align: center;background-color: black;
            color: white;"
              (click)="removeResource($event, resource.resourceId)"
            >
              yes
            </div>
            <div
              style="padding:5px; text-align: center;"
              (click)="selectedResourceRemove('', false)"
            >
              cancel
            </div>
          </tce-flyout> -->
          <tce-flyout class="content-playList-reset">
            <div class="row" style="margin: 10px 0 0 0;">
              <div class="col-12 title-label" *ngIf="!resource.isOwner">
                Remove Resource
              </div>
              <div class="col-12 title-label" *ngIf="resource.isOwner">
                Delete Resource
              </div>
              <div class="col-12 pb-10">
                <p class="title-containt" *ngIf="!resource.isOwner">
                  Are you sure you'd like to remove this resource?
                </p>
                <p class="title-containt" *ngIf="resource.isOwner">
                  Are you sure you'd like to Delete this resource?
                </p>
              </div>
            </div>
            <div class="sperator"></div>
            <div class="row" style="padding-top: 10px;">
              <div class="col-12 pb-10">
                <div class="row" style="cursor: pointer;">
                  <div
                    class="col-6 title-label"
                    [attr.id]="'cancelRemoveDelete-' + resource.title"
                    (click)="
                      selectedResourceRemove('', false, $event, 'remove')
                    "
                  >
                    <div style="text-align: end;">Cancel</div>
                  </div>
                  <div
                    class="col-6 remove"
                    [attr.id]="'removeResource-' + resource.title"
                    (click)="removeResource($event, resource.resourceId)"
                    *ngIf="!resource.isOwner"
                  >
                    <div> Remove</div>
                  </div>
                  <div
                    class="col-6"
                    [attr.id]="'deleteResource-' + resource.title"
                    (click)="selectedDeleteResource($event, resource)"
                    *ngIf="resource.isOwner"
                  >
                    <label> Delete</label>
                  </div>
                </div>
              </div>
            </div>
          </tce-flyout>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
