/* Global imports */
@import '~apps/tce-teacher/src/assets/stylesheet/imports';

$resource-card-border-radius: 10px;
:host {
  width: 100%;
  min-width: 0;
  position: relative;
}

.resource-card-wrapper {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 8px 0;
  margin-left: 9px;
  position: relative;
}

.resource-card-wrapper::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.resource-nav-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: -38px;
  right: 20px;
  width: 36px;
  height: 34px;
}

.first {
  margin-left: 5px !important;
}

.previous-arrow {
  transform: rotate(180deg);
  padding-top: 3px;
}

.arrow {
  cursor: pointer;
}

.resource-card {
  position: relative;
  width: 145px;
  height: 95px;
  margin: 0 5px;
  flex-shrink: 0;
  border-radius: $resource-card-border-radius;
  box-sizing: content-box;
  border: 4px solid transparent;
  cursor: pointer;
}

.resource-card:after {
  content: '';
  position: absolute;
  top: -9px;
  left: -9px;
  right: -9px;
  bottom: -9px;
  border-radius: 17px;
  background-color: transparent;
  z-index: -1;
}

.resource-card.active {
  border-radius: 14px;

  border: 4px solid black;
}

.resource-card.active:after {
  content: '';
  position: absolute;
  top: -9px;
  left: -9px;
  right: -9px;
  bottom: -9px;
  border-radius: 17px;
  background-color: #6d71ff;
  background-image: linear-gradient(#6d71ff, #248ef6);
  z-index: -1;
}

.close-icon {
  position: absolute;
    top: 1px;
    bottom: 0;
    right: 5px;
    width: 17px;
    height: 24px;
    border-radius: 4px;
}

.delete-icon {
  position: absolute;
    top: 5px;
    bottom: 0;
    right: 2px;
    border-radius: 4px;
    padding: 5px;
    width: 24px;
    height: 24px;

}

.type-icon {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 34px;
  height: 34px;
  border-radius: 4px;
}

.image {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0;
  border-radius: $resource-card-border-radius;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  & > .foreground-image {
    width: 100%;
    height: 100%;
    border-radius: $resource-card-border-radius;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.title {
  padding: 0 10px;
  bottom: 10px;
  font-weight: 700;
  font-size: 13px;
  line-height: 1rem;
  height: 2rem;
  position: absolute;
  color: #fff;
  /* autoprefixer: ignore next */
  display: -webkit-box;
  /* autoprefixer: ignore next */
  -webkit-line-clamp: 2;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  word-break: break-all;
}
.editmode {
  border-style: dashed;
  border: 1px dashed #ffffff;
  border-radius: 12px;
  width: 151px;
  height: 101px;
  box-sizing: border-box;
  animation-name: none;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.content-playList-closeCurrent {
  position: absolute;
  width: 138px;
  height: 170px;
  bottom: calc(100% + 8px);
  right: -200px;
  font-weight: 600;
  &::before {
    left: calc(41% - 1px);
    border-width: 17px;
    border-color: #ffffff transparent transparent transparent;
  }
  &::after {
    left: 40%;
    border-width: 15px;
    border-color: #ffffff transparent transparent transparent;
  }
}
.wrapper {
  margin: 25px auto;
  max-width: 600px;
  text-align: center;
  padding: 0 20px;
}
.container {
  width: 45%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}
.movie-list {
  width: 80%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: inline-block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 25px;
}
.movie-block {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}
.cdk-drag-preview {
  width: 165px !important;
  height: 115px !important;
  box-sizing: border-box;
  border-radius: 12px;
  animation: none;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
  opacity: 1;
  border-style: dashed;
  border: 1px dashed #ffffff;
  border-radius: 12px;
  animation-name: none;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.movie-block:last-child {
  border: none;
}
.movie-list.cdk-drop-list-dragging .movie-block:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.placeholder {
  min-height: 60px;
  min-width: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.share-icon {
  position: absolute;
  bottom: 0px;
  right: 10px;
  width: 17px;
  height: 34px;
  border-radius: 4px;
  opacity: 0.9;
}

.update-icon {
  position: absolute;

  bottom: 5px;
  left: 5px;
  width: 34px;
  height: 34px;
  border-radius: 4px;
  background-color: white;
}
.content-playList-reset {
  position: absolute;
  width: 173px;
  height: 145px;
  bottom: calc(100% + 15px);
  //left: -20px;
  left: var(--resourceLeft);
  font-weight: 600;
  &::before {
    left: calc(82% - 1px);
    border-width: 17px;
  }
  &::after {
    left: 82%;
    border-width: 15px;
  }
  .sperator {
    height: 1px;
    width: 100%;
    position: absolute;
    right: 0;
    background-color: #303439;
  }
  .title-label {
    opacity: 0.5;
    color: #ffffff;
    font-family: Quicksand;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
  }

  .remove{
    cursor: pointer;
  }
  .title-containt {
    color: #ffffff;
    font-family: Quicksand;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
  }
}
.content-playList-ownerOption {
  position: absolute;
  width: 130px;
  //height: 125px;
  height: auto;
  bottom: calc(100% + 15px);
  //left: 10px;
  left: var(--resourceLeft);
  font-weight: 600;
  text-align: center;
  &::before {
    left: calc(82% - 1px);
    border-width: 17px;
  }
  &::after {
    left: 82%;
    border-width: 15px;
  }
  .sperator {
    height: 1px;
    width: 100%;
    position: absolute;
    right: 0;
    background-color: #303439;
  }

  li {
    //border-bottom: 1px solid var(--canvas-handle-color);
    padding: 10px 0;
    color: var(--tool-text-color-primary);
    font-size: 14px;
    cursor: pointer;
    border-bottom: 1px solid #2d3237;
    &:last-child {
      border-bottom: none;
    }
  }
}

.download-icon {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 34px;
  height: 34px;
  background-color: white;
  border-radius: 4px;
  transform: rotate(90deg);
}
