@import 'bootstrap';
@import 'libs/question-bank/src/lib/assets/css/common.scss';

::ng-deep .baseClass {
  background-color: none;
}

::ng-deep .tokenClass {
  background-color: lightblue;
  border: 1px solid #40aacc;
  cursor: pointer;
}

::ng-deep .selectClass {
  // background-color: greenyellow;
  // cursor: inherit;
  cursor: pointer;
}

::ng-deep .selectClass:hover {
  background-color: rgb(252, 252, 211);
  border: 1px solid red;
}

::ng-deep .selectedClass {
  background-color: rgb(254, 250, 152);
  border: 1px solid red !important;
}

::ng-deep .answerdClass {
  background-color: rgb(254, 250, 152);
  border: 1px solid $red !important;
}

::ng-deep .correctAnswer {
  background-color: lightgreen;
  border-left: 0px solid $green;
  // padding-left: 2px;
  // padding-right: 2px;
}

::ng-deep .wrongAnswer {
  background-color: rgb(236, 183, 183);
  border-left: 0px solid $red;
  // padding-left: 5px;
  // padding-right: 5px;
}
.main-div {
  box-shadow: none;
  .row {
    margin: auto !important;
  }
}
.btn-div {
  display: flex;
  padding: 5px 10px 5px 5px;
  background: $off-grey;
  align-items: center;
  .btn-list {
    button {
      background: transparent;
      border: 1px solid #ddd;
      margin-right: 10px;
      padding: 5px 15px;
    }
    button:focus,
    button:hover,
    button:active {
      box-shadow: inset 0 0 0 1px #ccc, inset 0px 2px 12px #888;
      background-color: #ccc !important;
      border-color: #ccc;
      color: #fff;
      outline: none !important;
    }
  }
}
.edit-div {
  border: 1px solid $off-grey;
  padding: 15px;
}
.token-div {
  border: 1px solid $off-grey;
  padding: 15px;
  padding-bottom: 25px;
  .qstem-div {
    margin-top: 10px;
    margin-left: -15px;
    margin-right: -15px;
  }
}
.qb-feedback-padding-left {
  padding-left: 11px;
}
.qb-qstem-border {
  border-bottom: 1px solid rgba(48, 52, 57, 0.1);
}
.qstem {
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  @extend .col-md-12, .pd-0;
  @extend .col-sm-12, .pd-0;
  @extend .col-12;
}
::ng-deep .qb-qstem-font .ql-container .ql-editor p,
::ng-deep .qb-qstem-font .ql-container .ql-editor.ql-blank::before {
  font-size: 25px !important;
  line-height: 31px;
}
::ng-deep .qb-opt-font .ql-container .ql-editor p,
::ng-deep .qb-opt-font .ql-container .ql-editor.ql-blank::before {
  font-size: 18px !important;
  line-height: 40px;
}
:host ::ng-deep .qstem .ql-container.ql-snow,
:host ::ng-deep .qstem .quill-editor {
  border: 0px;
}
.qb-addOptDiv {
  padding: 10px 24px 0 24px;
  z-index: 1;
  .qb-answers {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    font-size: 15px;
  }
  button {
    background: transparent;
    border: none;
    padding: 0;
    .qb-highlight-mode {
      background: linear-gradient(90deg, #6d71ff 0%, #248ef6 100%);
      border-radius: 50%;
      display: inline-block;
      padding: 4px 6px;
      svg {
        width: 16px;
        height: 16px;
        fill: $white;
      }
    }
    .qb-highlight-icon-text {
      font-weight: 700;
      font-size: 15px;
      color: #000;
    }
    &:hover {
      background: none;
      border: none;
      box-shadow: none;
      outline: none !important;
    }
  }
}

:host ::ng-deep .qb-sample-answer-edit .qb-feedback-div textarea {
  padding-left: 0 !important;
  font-size: 18px !important;
  line-height: 22px;
  max-height: calc(100vh - 610px);
  min-height: calc(100vh - 610px);
  resize: none;
}
// ::ng-deep ::selection {
//   color: red;
//   background: yellow;
//   border-left: 1px solid blue;
//   border-right: 1px solid blue;
//   padding: 0 2px;
// }
