/* Global imports */
@import '~apps/tce-teacher/src/assets/stylesheet/imports';

:host {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
:host.-disable-pointer-events {
  pointer-events: none;
  ::ng-deep tce-video-player .test_switch {
    pointer-events: none !important;
  }
}
:host .player-container {
  position: relative;
  width: 100%;
  height: 100%;
}
:host .player-container > .player-container-inner {
  position: absolute;
  width: 0;
  height: $player-track-height;
  left: $player-track-offset-left;
  top: $player-offset-top;
  display: flex;
  flex-wrap: nowrap;
  z-index: $foreground-z-index;
}
