<div class="col-12">
  <div class=" mytoolbar">
    <!-- add button start-->
    <!-- <div
      class="dropdown-items top-static-tool toolbarPosition"
      *ngIf="gtAddtoolbar.event"
    >
      <div
        class="toolpadding"
        [ngClass]="{
          changecolor:
            selectedTool == gtAddtoolbar.event && !gtAddtoolbar.submenu
        }"
        [innerHTML]="transform(gtAddtoolbar.icon)"
      ></div>
    </div> -->
    <!-- add button end-->
    <!--    tools start    -->
    <tce-tools
      (menuselected)="onMenuSelected($event)"
      [toolsData]="toolsData"
      [multiColumnLayout]="multiColumnLayout"
      [toolbarSideState]="toolbarSideState"
      [previousTool]="previousTool"
      [defaultTool]="defaultTool"
      [focusToolState]="focusToolState"
      [appendSubjectClass]="appendSubjectClass"
      [getSelectedTool]="getSelectedTool"
      [currentTool]="currentTool"
    ></tce-tools>
    <!--    tools end    -->
    <!-- user profile -->
    <div class="dropdown-items user-avatar toolbarPosition">
      <div
        class="toolpadding userborder"
        title="user"
        (click)="clicktoshowProfile($event)"
      >
        <img
          [src]="userProfileImg"
          alt="image"
          class="userimg"
          (click)="shownUserData()"
        />
      </div>
    </div>
    <!-- down arrow -->
    <div
      *ngIf="toolsData.length >= minimumScrollNumber && !multiColumnLayout"
      (click)="doScroll($event)"
      class="toobarScrollButton"
      id="clicked"
      tceLongPress
      (onLongPress)="onLongPress()"
      (onLongPressing)="onLongPressing($event)"
      title="scroll"
    >
      <svg-icon src="assets/images/ic.Tool.Menu.Collapse.svg"></svg-icon>
    </div>
    <!-- start of all submenu -->
    <tce-sub-tools
      [showProfileDropdown]="showProfileDropdown"
      [isLoggedIn]="isLoggedIn"
      [userData]="userData"
      [toolbarSideState]="toolbarSideState"
      [toolsData]="toolsData"
      [selectedTool]="selectedTool"
      [toolState]="toolState"
      [currentSubTool]="currentSubTool"
      (subMenuSelected)="onSubMenuSelected($event)"
      [eraseByElementSelection]="eraseByElementSelection"
      [themesOption]="themesOption"
      (OnChangeColorState)="emitOnChangeColor($event)"
      (OnChangePenState)="onChangePenEmit($event)"
    ></tce-sub-tools>
    <!-- end of all submenu -->
  </div>
</div>
