.mytoolbar {
  color: white;
  box-sizing: border-box;
  height: auto;
  border-radius: 10px;
  border: 1px solid var(--tool-submenu-border);
  background-color: var(--tool-submenu-background-color);
  box-shadow: 8px 0 15px 0 var(--tool-box-shadow-color);
  transition: all var(--animation-timing-medium) ease-in !important;
  pointer-events: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.dropdown-items {
  padding: 0px;
  width: 100%;
}

.dropdown-items.top-static-tool,
.dropdown-items.user-avatar {
  position: relative;
  box-shadow: 0 0 15px #000;
}

.dropdown-items:focus,
.dropdown-items:hover {
  background-color: transparent;
}

.dropdown-items {
  padding: 0px;
  width: 100%;
}

.toolbarPosition {
  display: flex;
  justify-content: center;
}

.toolpadding {
  height: 50px;
  width: 44px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.changecolor {
  background-color: var(--selected-tool-background-color) !important;
}
.userborder {
  border-top: 1px solid var(--border-color);
}

.toobarScrollButton {
  cursor: pointer;
  background-color: var(--selected-tool-background-color);
  margin: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 8px 15px;
}

.userimg {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 6px;
  right: 6px;
}
::selection {
  background: none;
}
