<tce-tab-box
  [searchEnabled]="true"
  (searchTextChanged)="setSearchText($event)"
  [searchItemSelected]="itemSelected.asObservable()"
>
  <tce-tab-content tabTitle="Chapters">
    <tce-chapter-topic-selection
      (lessonPlanClick)="onLessonPlanClick()"
    ></tce-chapter-topic-selection>
  </tce-tab-content>
  <tce-tab-search-content>
    <tce-chapter-search-selection
      [searchText]="searchText"
      (itemSelected)="searchItemSelected()"
    ></tce-chapter-search-selection>
  </tce-tab-search-content>
</tce-tab-box>
