// @import "bootstrap/variables";
// @import "bootstrap/mixins";
@import 'bootstrap';
@import 'libs/question-bank/src/lib/assets/css/common.scss';

.qb-main-div {
  margin: 0px 0 0;
  background-color: transparent;
  box-shadow: none;
  .row {
    margin: auto !important;
  }
}
// button {
//   width: 150px;
//   background: 0 0 !important;
//   padding: 10px;
//   margin-top: -6px;
// }
.correctResponseDiv {
  padding: 15px;
  background: #e5ffd1;
  border-radius: 10px;
}
.response-divs {
  padding: 0px !important;
  margin-bottom: 15px;
}
h6 {
  margin-bottom: 15px;
  .fa-plus {
    color: $blue;
    float: right;
    padding-right: 15px;
  }
}
p {
  color: #fff;
  background: #4caf50;
  padding: 1rem;
  margin: 0;
  margin-bottom: 0.2rem;
  border-radius: 0.2rem;
}
select {
  width: 100%;
}
option {
  word-break: break-all;
  width: 200px;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.options {
  position: relative;
  min-height: 40px;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 15px 40px;
  margin-bottom: 15px;
}
.options-row {
  min-height: 60px;
  padding: 15px;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  background: #f0f0f0;
  justify-content: center;
  text-align: center;
}
.icon-div {
  position: absolute;
  top: -8px;
  right: 12%;
  background: #fff;
}
.shuffle-div-row,
.pointsDiv {
  display: flex;
  justify-content: flex-end;
}
.shuffle-div-row {
  background: #f0f0f0;
  padding: 20px 15px 15px;
}

.quizDiv {
  margin-left: 5px;
}

.options {
  margin-bottom: 15px;
}

.gButtons {
  padding-left: 10%;
}

.qb-qstem {
  @extend .col-md-12;
  @extend .col-sm-12;
  @extend .col-12;
}
.qb-dashboard-edit-div {
  @extend .col-md-11;
  min-height: 260px;
}
.qb-mcq-div {
  @extend .col-md-12;
  @extend .mb-15;
}
.q-image {
  @extend .col-md-6;
  @extend .col-sm-6;
  @extend .col-12;
}

.vertical {
  position: relative;
  // padding:2%;
  .optionsDiv {
    @extend .col-md-12;
    @extend .col-sm-12;
    @extend .col-12;
    .options {
      @extend .col-md-12;
      @extend .col-sm-12;
      @extend .col-12;
      display: flex;
      align-items: center;
      .opt-innerdiv {
        width: 97%;
        border-right: 1px solid #ddd;
      }
    }
  }
  .o-image {
    @extend .col-md-4;
    @extend .col-sm-4;
    @extend .col-6;
  }
  .pointsDiv {
    @extend .col-md-4;
    @extend .col-sm-4;
    @extend .col-4;
  }
}

.horizontal {
  position: relative;
  // padding:2%;
  .optionsDiv {
    @extend .col-md-12;
    @extend .col-sm-12;
    @extend .col-12;

    .options {
      @extend .col-md-3;
      @extend .col-sm-3;
      @extend .col-5;
    }
  }
  .o-image {
    @extend .col-md-6;
    @extend .col-sm-6;
    @extend .col-6;
  }
  .pointsDiv {
    @extend .col-md-4;
    @extend .col-sm-4;
    @extend .col-4;
  }
}

.grid {
  position: relative;
  // padding:2%;
  .optionsDiv {
    @extend .col-md-12;
    @extend .col-sm-12;
    @extend .col-12;

    .options {
      @extend .col-md-5;
      @extend .col-sm-5;
      @extend .col-5;
    }
  }
  .o-image {
    @extend .col-md-4;
    @extend .col-sm-4;
    @extend .col-6;
  }
  .pointsDiv {
    @extend .col-md-4;
    @extend .col-sm-4;
    @extend .col-4;
  }
}

.mobile {
  @extend .col-md-4;
  @extend .offset-md-4;
  border: 1px solid;
  border-radius: 10px;
  // padding: 5px;
  .qb-qstem {
    @extend .col-md-12;
  }
  .optionsDiv {
    @extend .col-md-12;
    padding-left: 20px;
    .options {
      @extend .col-md-5;
      // margin-bottom: 10px;
    }
  }
  .o-image {
    @extend .col-md-6;
  }
}

.mobile-ls {
  @extend .col-md-8;
  @extend .offset-md-2;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  padding-left: 20px;
  .qb-qstem {
    @extend .col-md-12;
  }
  .optionsDiv {
    @extend .col-md-12;
    padding-left: 20px;
    .options {
      @extend .col-md-5;
    }
  }
  .o-image {
    @extend .col-md-6;
  }
}

.remove-icon {
  margin-left: 10px;
  margin-right: -5px;
}
.drag-icon {
  color: #0069d9;
}

#contain {
  border: 1px solid #ddd;
  border-radius: 10px;
}

#canvas {
  width: 100%;
  // min-height:600px;
  height: 600px;
  max-height: 100%;
  border: 1px solid #ddd;
  // border-radius:10px;
  // margin: 0 auto;
  // background: url('https://assets.learnosity.com/demos/docs/colored_world_map.png') no-repeat;
  background-size: contain;
  background-position: center;
}
.rectangle {
  border: 3px double grey;
  position: absolute;
  text-align: center;
  padding: 5px;
  min-height: 30px;
  display: flex;
  align-items: center;
  background: #ffffffad;
  select {
    p {
      width: 170px;
      overflow: hidden;
      white-space: no-wrap;
      text-overflow: ellipsis;
    }
  }
  input {
    width: 100%;
  }
}
.rectangle:hover {
  cursor: copy;
}

.deleteSpot {
  // width: 10px;
  // height: 10px;
  // background: red;
  // color: white;
  // position:absolute;
  // right: 0;
  // bottom: 0;
  font-size: 10px;
  padding: 1px 5px;
  text-align: center;
  background: red;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  right: -8px;
  bottom: -8px;
  cursor: pointer;
}

.border-black {
  color: black !important;
}

.spot:before {
  content: '\f111';
  font-family: FONTAWESOME;
  font-size: 10px;
  line-height: 17px;
  padding: 0 4px;
  text-align: center;
  background: #ffdada;
  border: 2px solid #e14747;
  border-radius: 50%;
  color: #e14747;
  position: absolute;
  left: -40px;
  top: 9px;
}

.incorrect {
  border: 3px double #e14747;
  background-color: #ffdada !important;
}

.correct {
  border: 3px double #65a00d;
  background-color: #ebf6e7 !important;
}
.correct select {
  background: #ebf6e7;
  border: none;
  outline: none !important;
}
.incorrect select {
  background: #ffdada;
  border: none;
  outline: none !important;
}
.incorrect-ans {
  border: 1px solid #ffdada;
  border-left: 3px solid #e14747;
  background: #ffdada;
}
.correct-ans {
  border: 1px solid #ebf6e7;
  border-left: 3px solid #65a00d;
  background: #ebf6e7;
}

.drag-box {
  width: 170px;
  min-height: 28px;
  padding: 0px;
  // border: 1px solid #000;
  // width: 93%;
  // height: 93%;
  // position: absolute;
}

.number {
  float: left;
  color: white;
  background-color: gray;
  padding: 0 5px 0 5px;
}

.right-spot:before {
  right: -40px;
  left: auto;
}

.qb-btn-div {
  display: flex;
  align-items: center;
  .qb-btn-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    button {
      background: transparent;
      border: none;
      padding: 0;
      .qb-btn-svg-div {
        background: linear-gradient(90deg, #6d71ff 0%, #248ef6 100%);
        border-radius: 50%;
        display: inline-block;
        padding: 4px 6px;
        svg {
          width: 16px;
          height: 16px;
          fill: $white;
        }
      }
      &:hover {
        background: none;
        border: none;
        box-shadow: none;
        outline: none !important;
      }
    }
    .qb-inner-buttons {
      button {
        &:last-child {
          margin-right: 0px;
        }
      }
    }

    .qb-hotspot-icon-text {
      font-weight: 500;
      font-size: 15px;
      line-height: 19px;
    }
    /*may need in future*/
    // button:focus,
    // button:hover,
    // button:active {
    //   box-shadow: inset 0 0 0 1px #ccc, inset 0px 2px 12px #888;
    //   background-color: #ccc !important;
    //   border-color: #ccc;
    //   color: #fff;
    //   outline: none !important;
    // }
  }
}

.qb-hotspot-wrapper {
  max-height: calc(100vh - 435px);
  overflow-y: auto;

  .qb-hotspot-div {
    position: relative;
    .qb-hotspot-svg {
      // border: 1px solid #eee;
      border-radius: 8px;
      width: 100%;
      max-width: 100%;
      // max-height: inherit;
      display: none;
    }
  }
  .qb-hotspot-btn-div {
    position: relative;
    width: 100%;
    min-height: 250px;
    overflow: auto;
    background: #ececec;
    border: 1px solid#e0e0e0;
    border-radius: 10px;
    height: 100%;
    cursor: pointer;
    // display: none;
    h6 {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      span:first-child {
        background: linear-gradient(90deg, #6d71ff 0%, #248ef6 100%);
        border-radius: 50%;
        display: inline-block;
        padding: 4px 6px;
        nb-icon {
          width: 16px;
          height: 16px;
          color: $white;
          line-height: 10px;
          top: -2px;
          position: relative;
        }
      }
    }
    .qb-hotspot-add-image {
      font-weight: 700;
      font-size: 15px;
    }
  }
}

.qb-qstem-border {
  border-bottom: 1px solid rgba(48, 52, 57, 0.1);
}
.prl-10 {
  padding: 0px 10px;
}

:host ::ng-deep .qb-qstem .ql-container.ql-snow,
:host ::ng-deep .qb-qstem .quill-editor {
  border: 0px !important;
}
.qb-feedback-padding-left {
  padding-left: 11px;
}
.p-23 {
  padding: 0 23px;
}
::ng-deep .qb-qstem-font .ql-container .ql-editor p,
::ng-deep .qb-qstem-font .ql-container .ql-editor.ql-blank::before {
  font-size: 25px !important;
  line-height: 31px;
}
::ng-deep .qb-opt-font .ql-container .ql-editor p,
::ng-deep .qb-opt-font .ql-container .ql-editor.ql-blank::before {
  font-size: 18px !important;
  line-height: 40px;
}
