/* You can add global styles to this file, and also import other style files */
@import '~libs/core/src/lib/css/reset';
@import './assets/stylesheet/imports';
// @import './app/features/lesson-plan/lesson-plan.component.scss';
@import '~ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import '~@angular/cdk/overlay-prebuilt.css';
$font-family-primary: 'Quicksand';


html,
body,
tce-root {
  height: 100%;
  width: 100%;
  font-family: $font-family-primary;
  font-size: 1rem;
}

tce-planning-mode-view {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --submenu-background-color: #1a1c20; // light grey
  --submenu-border: #303439;

  --text-color-primary: #fff;
  --text-color-secondary: #999;
  --box-shadow-color: rgba(0, 0, 0, 0.5); // dark grey
  --highlight-color: #ff00007a;

  --button-color: #000;
  --border-color: #292c2f;
  --selected-tool-color: white;
  --selected-tool-background-color: #000;
  --canvas-handle-color: rgba(255, 255, 255, 0.25);
  --selected-tool-background-color-svg: #6d71ff;
  --selected-tool-background-color-svg2: #248ef6;
  --selected-tool-submenu-color: #e2e2e2;
  --tce-background-logo: url('assets/images/tce-logo@3x.png');
  --player-drawer-gradient: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 17%,
    rgba(0, 0, 0, 0.6236695361738445) 33%,
    rgba(0, 0, 0, 0.31834740732230393) 52%,
    rgba(0, 0, 0, 0.1922969871542367) 76%,
    rgba(0, 0, 0, 0.04103648295255602) 94%,
    rgba(0, 0, 0, 0) 100%
  );
  --rotate0: rotate(0deg);
  --rotate90: rotate(0deg);
  --rotate180: rotate(0deg);
  --rotate270: rotate(0deg);
  --mf: 24px;
  --animation-timing-short: 100ms;
  --animation-timing-medium: 300ms;
  --animation-timing-long: 500ms;
  --animation-timing-x-long: 1000ms;

  --animation-timing-delay-x-short: 50ms;
  --animation-timing-delay-medium: 200ms;
  --page-bg-black: #1a1c20;
  --page-box-bg: #c4c4c4;
  --header-color: #595288;
  --page-bg-gray: #f0f1f3;
  --primary-color: #595288;

  --lef-nav-bg: #fff;
  --link: #248EF6;
}

.topicWidth nb-accordion-item nb-accordion-item-header nb-icon {
  top: 12px !important;
}

button:focus {
  outline: none;
}

.mat-tab-label {
  min-width: 1px !important;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  // color: #3d4852;
}

body{
  line-height: 1 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eee;
  width: 0;
}

.mainLogin {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: radial-gradient(circle, #3e444b 0%, #000000 100%);
  z-index: 10;
  padding: 0;
  .mainLogin_Panel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.main_login_whiteboard {
  position: absolute;
  /* // overflow: auto; */
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: radial-gradient(circle, #3e444b 0%, #000000 100%) !important;
  z-index: 10;
  padding: 0;
}

.signIn_p {
  font-size: 38px;
  font-family: Playfair Display;
  font-weight: 900;
  line-height: 51px;
  clear: both;
  color: #000000;
}

.flyout-menu-list-header {
  display: flex;
  background-color: #0f1114;
  box-shadow: inset 0 1px 0 0 #303439, inset 0 -1px 0 0 #303439;
  height: 51px;
  padding: 1em;
  color: #ffffff;
  & > div {
    border-right: 1px solid #303439;
    padding-right: 15px;
    padding-left: 15px;

    &:last-child {
      border-right: 0px;
    }
  }
}

/* Styles Added By TCE Team For Toolbard */
.svg_icon {
  fill: var(--tool-text-color-primary);
}
.svg_rect {
  stroke: var(--tool-text-color-primary);
}
.svg_circle {
  stroke: var(--tool-text-color-primary);
  fill: var(--button-color);
}
.svg_icon_pan {
  stop-color: var(--tool-text-color-primary);
}
.svg_red {
  fill: red;
}
.svg_green {
  fill: green;
}
.svg_blue {
  fill: blue;
}
.svg_yellow {
  fill: yellow;
}
.svg_aqua {
  fill: Aqua;
}
.svg_white {
  fill: Silver;
}
.dynamic_svgfill {
  background-color: var(--selected-tool-color);
}
.shapeRotations {
  transform: var(--rotate0);
}
.subShapeRotations {
  transform: var(--rotate270);
  margin-left: var(--mf) !important;
}
.subSelectedRotations {
  transform: rotate(270deg);
  margin-left: var(--mf) !important;
}

.left{
  .subShapeRotations{
    transform: rotate(273deg)!important;
    left: auto!important;
    right: 2px!important;
  }
  
}


*,
::after,
::before {
  box-sizing: border-box;
}
.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}
.float-right {
  float: right !important;
}
.float-left {
  float: left !important;
}
.align-items-center {
  align-items: center !important;
}
.d-flex {
  display: flex !important;
}
.align-items-start {
  align-items: flex-start !important;
}
.align-items-end {
  align-items: flex-end;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-end {
  justify-content: flex-end;
}

.bs-popover-right {
  margin-left: 0.5rem;
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  
}
svg{
  vertical-align: inherit !important;
}
.p-2 {
  padding: 0.5rem !important;
}
.dropdown {
  position: relative;
}
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
.dropdown-toggle {
  white-space: nowrap;
}
.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: var(--text-color-primary);
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color var(--animation-timing-short) ease-in-out,
    background-color var(--animation-timing-short) ease-in-out,
    border-color var(--animation-timing-short) ease-in-out,
    box-shadow var(--animation-timing-short) ease-in-out;
}
[type='button'],
[type='reset'],
[type='submit'],
button {
  -webkit-appearance: button;
}
button,
select {
  text-transform: none;
}
button,
input {
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: '';
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.dropdown-menus {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.dropdown-items {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}
.pl-3,
.px-3 {
  padding-left: 1rem !important;
}
.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}
.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}
.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.flex-column {
  flex-direction: column !important;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/* Set the Whiteboard z-index */
#whiteboardContainer {
  z-index: $whiteboard-z-index;
}

/* BEGIN - Toast Container Styles */
.toast-container.toast-top-center {
  margin-top: 10px;
}
/* END - Toast Container Styles */
.changecolor svg .svg_rect {
  stroke: var(--selected-tool-background-color-svg) !important;
  /* fill: blue; */
}

.changecolor .shapeRotations .svg_icon {
  fill: var(--selected-tool-background-color-svg) !important;
}
.submenucolor svg.svg_icon,
.submenucolor svg .svg_icon {
  fill: var(--selected-tool-submenu-color) !important;
}

.animation-disabled iframe {
  transition: none !important;
  animation-name: none;
}
.changecolor svg .svg_rect {
  stroke: var(--selected-tool-background-color-svg) !important;
  /* fill: blue; */
}

.changecolor svg .svg_iconDefault {
  fill: var(--selected-tool-background-color-svg) !important;
  /* fill: blue; */
}
.fillcolor {
  fill: var(--text-color-primary);
}
// .cdk-drag-preview {
// }

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
}
g#MVP-Deliverables {
  font-size: 100px;
}
.nb-theme-default li {
  color: none;
}
.nb-theme-default nb-layout-header.fixed ~ .layout-container {
  padding-top: 76px;
  //background: var(--header-color);
  background: #22262a;
}
/*sub-toggle sidebar*/
.mainDiv .layout-container .main-container.main-container-fixed {
  position: static !important;
}

.selectedQuestionType .optionSelected button.select-button.placeholder {
  background-color: black !important;
  color: white !important;
  width: 100%;
  font-size: 13px;
  border: 1px solid #303439 !important;
  border-radius: 5px;
  height: 50px;
}

.selectedQuestionType
  .optionSelected
  button.select-button
  .cdk-focused
  .cdk-mouse-focused
  .placeholder {
  background-color: black;
}

.selectedQuestionType .optionSelected button.select-button.placeholder:hover {
  background-color: #292c2f;
}

.customFilterTop .selectOption button.select-button.placeholder {
  color: black !important;
  font-weight: 500;
  font-size: 15px;
  font-family: Quicksand;
  background-color: white !important;
}

.customFilterTop .selectOption button.select-button.placeholder nb-icon {
  color: black !important;
  
}

// .nbContainer nb-sidebar.compacted nb-menu .menu-item a.active {
//   background: #fff !important;
//   // padding: 10px !important;
//   // border-radius: 25px !important;
// }

.nbContainer nb-sidebar.compacted nb-menu .menu-item a {
  background-color: #e1e3e6;
  padding: 0 !important;
  border-radius: 25px !important;
  width: 44px;
  height: 44px;
  position: relative;
}

// .nbContainer nb-sidebar.compacted nb-menu .menu-item a.active .menu-icon {
//   color: var(--header-color);
//   margin: auto 0;
// }

// .nbContainer nb-sidebar.compacted nb-menu .menu-item a .menu-icon {
//   color: white;
//   margin: auto 0;
// }
// .nbContainer nb-sidebar.compacted nb-menu li.menu-item {
//   padding: 10px 0 !important;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border: 0;
// }

.nbContainer nb-sidebar.compacted nb-menu .menu-item a.active::before {
  left: -5px !important;
  // background-color: #fff;
}
.nbContainer nb-sidebar.compacted nb-menu .menu-item a.active .menu-icon{
  position: relative;
  z-index: 1;
  color: #fff!important;
  margin: 0;
}
.nbContainer nb-sidebar.compacted nb-menu .menu-item a.active::after {
  
  background: linear-gradient(90deg, #6D71FF 0%, #248EF6 100%);
}



.nbContainer nb-sidebar.compacted nb-menu .menu-item a .menu-icon{
  position: relative;
  z-index: 1;
  color: #fff!important;
  margin: 0;
}
.nbContainer nb-sidebar.compacted nb-menu .menu-item a::after {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  background:#E7E7E7;
}


.plan-mode-login .mainLogin_Panel {
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  height: 525px !important;
}
// .nbContainer nb-sidebar.compacted nb-menu .menu-item a nb-icon{
//   margin: auto 0;
//   color: darkgray;
// }

.pl-0{ padding-left: 0!important }
.nb-theme-default nb-sidebar .scrollable{
  display: flex;
  flex-direction: column;
  justify-content: space-between
}


.menu-sidebar .menu-item{
  margin: 0 0 10px;
}

@import '~apps/tce-teacher/src/assets/stylesheet/imports';



.lesson-plan-plate {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.header-pad-wrap {
  padding: 0 15px;
}
.header-container {
  position: relative;
  padding: 1.5rem 0.5rem 1rem;
  border-bottom: 2px solid #303439;
}

.chapter {
  line-height: 28px;
  height: 28px;
  font-size: 22px;
  font-weight: bold;
  width: 100%;
  margin-bottom: 5px;
}

.topic {
  line-height: 18px;
  height: 18px;
  font-size: 14px;
  opacity: 0.75;
}

.lesson-plan-header {
  flex-basis: auto;
  width: 100%;
  height: 14vh;
}


.activities,
.challenge,
.interDisciplinary,
.introduction,
.reinforcement,
.teachingStategy {
  height: 18px;
  color: #909294;
  font-family: Quicksand;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}



.lesson-plan-content {
  padding: 0.5rem 0.5rem 70px 0.5rem;
 ol,li{
   list-style: disc;
 }

 print{
   display: none;
 }

 h3,b{
   font-weight: bold;
 }

 dl,
ol,
p,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul,
ol {
  display: block;
  list-style-type: disc  !important;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;

  activity{
    display: none;
  }
}

.resources{
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.overview{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}
.coverage{
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;

}
strong, .resources_inner_heading{
  font-size: 18px;
  text-transform: capitalize;
  display: flex;
  margin-top: 8px;
}

}

.tooltip-example {
  text-align: center;
  padding: 0 50px;
}
.tooltip-example [tooltip] {
  display: inline-block;
  margin: 50px 20px;
  width: 180px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 5px;
  line-height: 50px;
  text-align: center;
}
.ng-tooltip {
  position: absolute;
  max-width: 150px;
  font-size: 14px;
  text-align: center;
  color: #0f1114;
  padding: 3px 8px;
  background: #ced1e2;
  border-radius: 4px;
  z-index: 1000;
  opacity: 0;
  cursor: pointer;
}
.ng-tooltip:after {
  content: '';
  position: absolute;
  border-style: solid;
}
.ng-tooltip-top:after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: #ced1e2 transparent transparent transparent;
}
.ng-tooltip-bottom:after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: transparent transparent black transparent;
}
.ng-tooltip-left:after {
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-color: transparent transparent transparent black;
}
.ng-tooltip-right:after {
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-color: transparent black transparent transparent;
}
.ng-tooltip-show {
  opacity: 1;
}

.hide {
  display: none;
}

.separator {
  background-color: rgba(255, 255, 255, 0.25);
  width: 1px;
  height: 35px;
  margin: 0 10px;
}

.icon-close {
  display: block;
  line-height: 0;
  cursor: pointer;
  position: relative;
}
.icon-close svg g {
  fill: #fff;
}

.utility-wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: -20px;
  margin: 0 auto;
}

.nb-theme-default a {
    color:inherit;
    text-decoration: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
}

.nb-theme-default li {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
.resource-card-wrapper{
  scrollbar-width: none !important;
}

.questionEditor {

  &:before {
    top: 0 !important;
  }
  &::after {
    transform: rotate(180deg);
    top: -21px !important;
    margin-left: 50px !important;
  }
}

.butn{
color: var(--text-color-primary) !important;
}

.content-playList-addResourceList-optionContaint .form-control{
  background-color: #16181c !important;
}


//@import '../../../libs/planning-mode/src/lib/modules/planning-dashboard/css/_admin-dashboard.scss';
