<div class="welcome-msg">
  <svg-icon
    src="assets/images/WB.Tagline.Hello.svg"
    [svgStyle]="{ fill: 'var(--text-color-primary)' }"
  ></svg-icon
  ><img src="" alt="" />
</div>
<div class="selection-container">
  <tce-subject-selector-container
    firstTimeUser="true"
    [currentMode]="true"
  ></tce-subject-selector-container>
</div>
<div class="get-started-text">
  Get started by choosing your first class!
</div>
