:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: var(--text-color-primary);
  text-align: center;
}

.welcome-msg {
  margin-bottom: 30px;
}

.selection-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
