<div style="padding:5px" *ngFor="let x of myFavoritesList">
  <div>
    <h4>{{ x.title }}</h4>
    <span>+</span>
  </div>

  <div class="row" style="padding: 10px 20px;">
    <div class="col-3" *ngFor="let y of x.resource" style="height: 100px;">
      {{ y.resourceName }}
    </div>
  </div>
</div>
