<div class="qb-quill-toolbar overlap-leader-line">
  <div>
    <svg (click)="bold()" width="11" height="14" viewBox="0 0 11 14" fill="none" xmlns="http://www.w3.org/2000/svg"
      nbTooltip="Bold" nbTooltipPlacement="bottom">
      <path
        d="M7.84 5.824C8.49956 6.08533 9.03467 6.48355 9.44533 7.01867C9.86845 7.55378 10.08 8.24444 10.08 9.09066C10.08 10.5716 9.65689 11.6044 8.81067 12.1893C7.96445 12.7742 6.95645 13.0667 5.78667 13.0667H1.13867C0.815111 13.0667 0.541333 12.9609 0.317333 12.7493C0.105778 12.5253 0 12.2516 0 11.928V1.13867C0 0.815111 0.105778 0.547556 0.317333 0.336C0.541333 0.112 0.815111 0 1.13867 0H5.84267C8.20711 0 9.38933 1.10756 9.38933 3.32267C9.38933 3.88267 9.25245 4.38044 8.97867 4.816C8.71733 5.23911 8.33778 5.57511 7.84 5.824ZM6.96267 3.73333C6.96267 3.22311 6.832 2.84356 6.57067 2.59467C6.32178 2.33333 5.96711 2.20267 5.50667 2.20267H2.42667V5.11467H5.56267C5.936 5.11467 6.25956 4.99022 6.53333 4.74133C6.81956 4.49244 6.96267 4.15644 6.96267 3.73333ZM5.78667 10.92C6.37156 10.92 6.82578 10.7644 7.14933 10.4533C7.48533 10.1422 7.65333 9.688 7.65333 9.09066C7.65333 8.35644 7.46044 7.87733 7.07467 7.65333C6.68889 7.42933 6.216 7.31733 5.656 7.31733H2.42667V10.92H5.78667Z"
        fill="url(#paint0_linear)" />
      <defs>
        <linearGradient id="paint0_linear" x1="5.04" y1="0" x2="5.04" y2="13.0667" gradientUnits="userSpaceOnUse">
          <stop stop-color="#6D71FF" />
          <stop offset="1" stop-color="#248EF6" />
        </linearGradient>
      </defs>
    </svg>
  </div>
  <!-- Italic -->
  <div>
    <svg (click)="italic()" width="5" height="14" viewBox="0 0 5 14" fill="none" xmlns="http://www.w3.org/2000/svg"
      nbTooltip="Italic" nbTooltipPlacement="bottom">
      <path
        d="M2.08627 12.04L4.02761 1.02667C4.12094 0.466667 3.74761 0 3.16894 0C2.60894 0 2.06761 0.466667 1.95561 1.02667L0.0142729 12.04C-0.0790603 12.6 0.294273 13.0667 0.87294 13.0667C1.43294 13.0667 1.99294 12.6 2.08627 12.04Z"
        fill="url(#paint0_linear)" />
      <defs>
        <linearGradient id="paint0_linear" x1="2.02094" y1="0" x2="2.02094" y2="13.0667" gradientUnits="userSpaceOnUse">
          <stop stop-color="#6D71FF" />
          <stop offset="1" stop-color="#248EF6" />
        </linearGradient>
      </defs>
    </svg>
  </div>
  <!-- underline -->
  <div>
    <svg (click)="underline()" width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg"
      nbTooltip="Underline" nbTooltipPlacement="bottom">
      <path
        d="M10.6773 0C11.0009 0 11.2622 0.105778 11.4613 0.317334C11.6604 0.528889 11.76 0.802666 11.76 1.13867V7.896C11.76 8.92889 11.5422 9.84356 11.1067 10.64C10.6711 11.4364 10.0613 12.0587 9.27733 12.5067C8.49333 12.9547 7.59733 13.1787 6.58933 13.1787C5.58133 13.1787 4.67911 12.9547 3.88267 12.5067C3.09867 12.0587 2.48889 11.4364 2.05333 10.64C1.61778 9.84356 1.4 8.92889 1.4 7.896V1.13867C1.4 0.815111 1.512 0.547556 1.736 0.336C1.96 0.112 2.24622 0 2.59467 0C2.89333 0 3.15467 0.112 3.37867 0.336C3.60267 0.547556 3.71467 0.815111 3.71467 1.13867V7.896C3.71467 8.49333 3.84533 9.02845 4.10667 9.50133C4.368 9.96178 4.71644 10.3164 5.152 10.5653C5.6 10.8142 6.07911 10.9387 6.58933 10.9387C7.12444 10.9387 7.62222 10.8142 8.08267 10.5653C8.55556 10.3164 8.92889 9.96178 9.20267 9.50133C9.48889 9.02845 9.632 8.49333 9.632 7.896V1.13867C9.632 0.802666 9.72533 0.528889 9.912 0.317334C10.0987 0.105778 10.3538 0 10.6773 0Z"
        fill="url(#paint0_linear)" />
      <path d="M0 14.952H13.16V15.8853H0V14.952Z" fill="url(#paint1_linear)" />
      <defs>
        <linearGradient id="paint0_linear" x1="6.58" y1="0" x2="6.58" y2="15.8853" gradientUnits="userSpaceOnUse">
          <stop stop-color="#6D71FF" />
          <stop offset="1" stop-color="#248EF6" />
        </linearGradient>
        <linearGradient id="paint1_linear" x1="6.58" y1="0" x2="6.58" y2="15.8853" gradientUnits="userSpaceOnUse">
          <stop stop-color="#6D71FF" />
          <stop offset="1" stop-color="#248EF6" />
        </linearGradient>
      </defs>
    </svg>
  </div>
  <!-- Color -->
  <div class="position-relative">
    <input (change)="changeColor($event)" class="qb-quill-colorpicker" type="color" />
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"
      nbTooltip="Text Color" nbTooltipPlacement="bottom">
      <path
        d="M19 10C19 5.02944 14.9706 1 10 1C5.02944 1 1 5.02944 1 10C1 14.9706 5.02944 19 10 19C14.9706 19 19 14.9706 19 10Z"
        stroke="url(#paint0_linear)" stroke-width="2" stroke-linecap="round" />
      <defs>
        <linearGradient id="paint0_linear" x1="2" y1="10" x2="18" y2="10" gradientUnits="userSpaceOnUse">
          <stop stop-color="#6D71FF" />
          <stop offset="1" stop-color="#248EF6" />
        </linearGradient>
      </defs>
    </svg>
  </div>

  <div class="qb-tool-divider"></div>
  <!-- Numbered List -->
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="16" height="16" x="0" y="0"
      viewBox="0 0 381.304 381.304" style="enable-background:new 0 0 512 512" xml:space="preserve"
      nbTooltip="Numbered List" nbTooltipPlacement="bottom" (click)="numberedList()">
      <g>
        <g xmlns="http://www.w3.org/2000/svg">
          <path
            d="M121.203,37.858c0-7.791,6.319-14.103,14.104-14.103H367.2c7.784,0,14.104,6.312,14.104,14.103   s-6.312,14.103-14.104,14.103H135.307C127.522,51.961,121.203,45.649,121.203,37.858z M135.307,120.908h150.426   c7.79,0,14.104-6.315,14.104-14.104c0-7.79-6.313-14.103-14.104-14.103H135.307c-7.785,0-14.104,6.307-14.104,14.103   C121.203,114.598,127.522,120.908,135.307,120.908z M367.2,269.75H135.307c-7.785,0-14.104,6.312-14.104,14.104   c0,7.79,6.319,14.103,14.104,14.103H367.2c7.784,0,14.104-6.312,14.104-14.103C381.304,276.062,374.984,269.75,367.2,269.75z    M285.727,338.693h-150.42c-7.785,0-14.104,6.307-14.104,14.104c0,7.79,6.319,14.103,14.104,14.103h150.426   c7.79,0,14.104-6.312,14.104-14.103C299.836,345.005,293.517,338.693,285.727,338.693z M33.866,127.838h22.387V14.405H37.921   c-0.521,5.925-0.068,10.689-4.696,14.277c-4.631,3.591-14.363,5.382-23.158,5.382H6.871v15.681h26.995V127.838z M25.603,345.147   l28.115-20.912c9.69-6.655,16.056-12.826,19.109-18.524c3.05-5.697,4.569-11.821,4.569-18.377c0-10.716-3.585-19.357-10.737-25.941   c-7.161-6.579-16.568-9.865-28.23-9.865c-11.245,0-20.241,3.328-26.982,9.989c-6.75,6.655-10.113,16.691-10.113,30.115H23.02   c0-8.015,1.416-13.548,4.253-16.621c2.834-3.067,6.721-4.604,11.665-4.604s8.854,1.561,11.741,4.676   c2.888,3.12,4.327,6.998,4.327,11.632c0,4.628-1.336,8.808-4.02,12.555c-2.675,3.747-10.125,10.071-22.352,18.962   c-10.453,7.648-24.154,16.964-28.393,23.726L0,364.96h77.632v-19.813H25.603L25.603,345.147z"
            fill="#248ef6" data-original="#000000" />
        </g>
      </g>
    </svg>
  </div>
  <!-- Bulletpoint List -->
  <div>
    <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg"
      nbTooltip="Bulletpoint List" nbTooltipPlacement="bottom" (click)="bulletList()">
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M5.33334 2.66667C5.33334 4.13943 4.13944 5.33333 2.66668 5.33333C1.19392 5.33333 1.0252e-05 4.13943 1.0252e-05 2.66667C1.0252e-05 1.19391 1.19392 0 2.66668 0C4.13944 0 5.33334 1.19391 5.33334 2.66667ZM7.16667 0.933324C6.89052 0.933324 6.66667 1.15718 6.66667 1.43332C6.66667 1.70947 6.89052 1.93332 7.16667 1.93332H16.8333C17.1095 1.93332 17.3333 1.70947 17.3333 1.43332C17.3333 1.15718 17.1095 0.933324 16.8333 0.933324H7.16667ZM7.16667 3.26667C6.89052 3.26667 6.66667 3.49053 6.66667 3.76667C6.66667 4.04281 6.89052 4.26667 7.16667 4.26667H15.5C15.7761 4.26667 16 4.04281 16 3.76667C16 3.49053 15.7761 3.26667 15.5 3.26667H7.16667ZM7.16666 10.2667C6.89051 10.2667 6.66666 10.4905 6.66666 10.7667C6.66666 11.0428 6.89051 11.2667 7.16666 11.2667H16.8333C17.1095 11.2667 17.3333 11.0428 17.3333 10.7667C17.3333 10.4905 17.1095 10.2667 16.8333 10.2667H7.16666ZM6.66666 13.1C6.66666 12.8238 6.89051 12.6 7.16666 12.6H15.5C15.7761 12.6 16 12.8238 16 13.1C16 13.3761 15.7761 13.6 15.5 13.6H7.16666C6.89051 13.6 6.66666 13.3761 6.66666 13.1ZM2.66667 14.6667C4.13943 14.6667 5.33333 13.4728 5.33333 12C5.33333 10.5272 4.13943 9.33333 2.66667 9.33333C1.19391 9.33333 0 10.5272 0 12C0 13.4728 1.19391 14.6667 2.66667 14.6667Z"
        fill="url(#paint0_linear)" />
      <defs>
        <linearGradient id="paint0_linear" x1="8.66667" y1="0" x2="8.66667" y2="14.6667" gradientUnits="userSpaceOnUse">
          <stop stop-color="#6D71FF" />
          <stop offset="1" stop-color="#248EF6" />
        </linearGradient>
      </defs>
    </svg>
  </div>

  <div class="qb-tool-divider"></div>

  <!-- Align Left -->
  <div>
    <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg" (click)="alignLeft()"
      nbTooltip="Left Align" nbTooltipPlacement="bottom">
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M0 0.75C0 0.335786 0.335786 0 0.75 0H16.5833C16.9975 0 17.3333 0.335786 17.3333 0.75C17.3333 1.16421 16.9975 1.5 16.5833 1.5H0.75C0.335786 1.5 0 1.16421 0 0.75ZM0.0133362 14.0833C0.0133362 13.6691 0.349123 13.3333 0.763336 13.3333H16.5967C17.0109 13.3333 17.3467 13.6691 17.3467 14.0833C17.3467 14.4975 17.0109 14.8333 16.5967 14.8333H0.763336C0.349123 14.8333 0.0133362 14.4975 0.0133362 14.0833ZM10.4167 9.5C10.4167 9.91421 10.0809 10.25 9.66667 10.25L0.766667 10.25C0.352454 10.25 0.0166669 9.91422 0.0166667 9.50001C0.0166665 9.08579 0.352453 8.75 0.766666 8.75L9.66667 8.75C10.0809 8.75 10.4167 9.08579 10.4167 9.5ZM0.0166669 5.5C0.0166669 5.08579 0.352453 4.75 0.766667 4.75H9.66667C10.0809 4.75 10.4167 5.08579 10.4167 5.5C10.4167 5.91421 10.0809 6.25 9.66667 6.25H0.766667C0.352453 6.25 0.0166669 5.91421 0.0166669 5.5Z"
        fill="url(#paint0_linear)" />
      <defs>
        <linearGradient id="paint0_linear" x1="8.67334" y1="0" x2="8.67334" y2="14.8333" gradientUnits="userSpaceOnUse">
          <stop stop-color="#6D71FF" />
          <stop offset="1" stop-color="#248EF6" />
        </linearGradient>
      </defs>
    </svg>
  </div>
  <!-- Align Center -->
  <div>
    <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg"
      (click)="alignCenter()" nbTooltip="Centre Align" nbTooltipPlacement="bottom">
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M1.01725e-05 0.75C1.01725e-05 0.335786 0.335797 0 0.75001 0H16.5833C16.9976 0 17.3333 0.335786 17.3333 0.75C17.3333 1.16421 16.9976 1.5 16.5833 1.5H0.75001C0.335797 1.5 1.01725e-05 1.16421 1.01725e-05 0.75ZM0 14.0833C0 13.6691 0.335786 13.3333 0.75 13.3333H16.5833C16.9975 13.3333 17.3333 13.6691 17.3333 14.0833C17.3333 14.4975 16.9975 14.8333 16.5833 14.8333H0.75C0.335786 14.8333 0 14.4975 0 14.0833ZM3.41668 5.5C3.41668 5.08579 3.75246 4.75 4.16668 4.75H13.1667C13.5809 4.75 13.9167 5.08579 13.9167 5.5C13.9167 5.91421 13.5809 6.25 13.1667 6.25H4.16668C3.75246 6.25 3.41668 5.91421 3.41668 5.5ZM3.41668 9.5C3.41668 9.08579 3.75246 8.75 4.16668 8.75H13.1667C13.5809 8.75 13.9167 9.08579 13.9167 9.5C13.9167 9.91421 13.5809 10.25 13.1667 10.25H4.16668C3.75246 10.25 3.41668 9.91421 3.41668 9.5Z"
        fill="url(#paint0_linear)" />
      <defs>
        <linearGradient id="paint0_linear" x1="8.66667" y1="0" x2="8.66667" y2="14.8333" gradientUnits="userSpaceOnUse">
          <stop stop-color="#6D71FF" />
          <stop offset="1" stop-color="#248EF6" />
        </linearGradient>
      </defs>
    </svg>
  </div>
  <!-- Align Right -->
  <div>
    <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg"
      (click)="alignRight()" nbTooltip="Right Align" nbTooltipPlacement="bottom">
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M0 0.75C0 0.335786 0.335786 0 0.75 0H16.5833C16.9975 0 17.3333 0.335786 17.3333 0.75C17.3333 1.16421 16.9975 1.5 16.5833 1.5H0.75C0.335786 1.5 0 1.16421 0 0.75ZM0 14.0833C0 13.6691 0.335786 13.3333 0.75 13.3333H16.5833C16.9975 13.3333 17.3333 13.6691 17.3333 14.0833C17.3333 14.4975 16.9975 14.8333 16.5833 14.8333H0.75C0.335786 14.8333 0 14.4975 0 14.0833ZM5.75 5.5C5.75 5.08579 6.08579 4.75 6.5 4.75H16.5C16.9142 4.75 17.25 5.08579 17.25 5.5C17.25 5.91421 16.9142 6.25 16.5 6.25H6.5C6.08579 6.25 5.75 5.91421 5.75 5.5ZM5.75 9.5C5.75 9.08579 6.08579 8.75 6.5 8.75H16.5C16.9142 8.75 17.25 9.08579 17.25 9.5C17.25 9.91421 16.9142 10.25 16.5 10.25H6.5C6.08579 10.25 5.75 9.91421 5.75 9.5Z"
        fill="url(#paint0_linear)" />
      <defs>
        <linearGradient id="paint0_linear" x1="8.66667" y1="0" x2="8.66667" y2="14.8333" gradientUnits="userSpaceOnUse">
          <stop stop-color="#6D71FF" />
          <stop offset="1" stop-color="#248EF6" />
        </linearGradient>
      </defs>
    </svg>
  </div>

  <div class="qb-tool-divider"></div>

  <!-- Add Link -->
  <div class="position-relative">
    <div *ngIf="addLinkOption" class="qb-quill-link shadow d-flex align-items-center justif-content-center">
      <div>
        <input type="text" placeholder="Enter Link" [(ngModel)]="addedLink" />
      </div>
      <div><span (click)="addLink()" class="ml-2">Save</span></div>
    </div>
    <svg width="18" height="7" viewBox="0 0 18 7" fill="none" xmlns="http://www.w3.org/2000/svg" nbTooltip="Add Link"
      nbTooltipPlacement="bottom" (click)="openLink()">
      <path
        d="M16.6274 0.867685C16.0709 0.323352 15.3067 -0.00900542 14.4686 0.000185822L12.0804 0.0267153C10.8901 0.0399377 9.86828 0.740679 9.38073 1.74543L11.0963 1.72638C11.3751 1.51381 11.7185 1.38172 12.0954 1.37753L14.4836 1.351C14.949 1.34607 15.3741 1.53081 15.6832 1.8331C15.9923 2.13539 16.1864 2.55577 16.1913 3.02123C16.2014 3.95238 15.4525 4.71816 14.5216 4.72851L12.1334 4.75504C11.7565 4.75922 11.4107 4.63479 11.1268 4.42847L9.41028 4.44754C9.56115 4.74156 9.75561 5.00951 9.98959 5.23835C10.5462 5.78272 11.3101 6.11516 12.1484 6.10585L14.5366 6.07932C16.2128 6.06094 17.5608 4.68225 17.5422 3.00622C17.5326 2.16821 17.1839 1.41202 16.6274 0.867685ZM12.1045 2.57494C11.9754 2.45596 11.805 2.39193 11.6295 2.39641L5.89785 2.46008C5.80797 2.45925 5.71884 2.47636 5.63566 2.51041C5.55248 2.54446 5.47694 2.59476 5.41344 2.65838C5.34995 2.72199 5.29979 2.79763 5.26589 2.88087C5.232 2.96411 5.21505 3.05328 5.21605 3.14315C5.21705 3.23302 5.23597 3.32179 5.27171 3.40426C5.30744 3.48672 5.35927 3.56123 5.42416 3.62342C5.48905 3.6856 5.5657 3.73422 5.64961 3.76641C5.73353 3.7986 5.82302 3.81373 5.91285 3.8109L11.6445 3.74723C11.7806 3.74765 11.9137 3.70693 12.0263 3.63041C12.1389 3.5539 12.2257 3.44515 12.2755 3.31842C12.3252 3.1917 12.3355 3.05291 12.305 2.92024C12.2745 2.78757 12.2046 2.66721 12.1045 2.57494ZM7.65614 1.0793C7.0935 0.470077 6.2873 0.0912485 5.39441 0.100988L3.00623 0.127518C1.3302 0.146137 -0.0184282 1.52506 0.000190486 3.20109C0.00973864 4.0391 0.359073 4.79503 0.915423 5.33916C1.47177 5.88328 2.2355 6.21551 3.07375 6.2062L5.46194 6.17967C6.65221 6.16644 7.67453 5.46616 8.16208 4.46141L6.44557 4.48047C6.16681 4.69304 5.82333 4.82513 5.44647 4.82932L3.05829 4.85585C2.12714 4.86643 1.36111 4.11724 1.35101 3.18609C1.3409 2.25493 2.08986 1.48915 3.02077 1.47881L5.40896 1.45228C5.78581 1.44809 6.13237 1.57229 6.41602 1.77837L8.1316 1.75931C8.00416 1.51089 7.84369 1.28238 7.65614 1.0793Z"
        fill="url(#paint0_linear)" />
      <defs>
        <linearGradient id="paint0_linear" x1="8.77117" y1="0" x2="8.77117" y2="6.20639" gradientUnits="userSpaceOnUse">
          <stop stop-color="#6D71FF" />
          <stop offset="1" stop-color="#248EF6" />
        </linearGradient>
      </defs>
    </svg>
  </div>

  <!-- Add Image -->
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="19" height="19" x="0" y="0" viewBox="0 0 512 512"
      style="enable-background:new 0 0 512 512" xml:space="preserve" nbTooltip="Add Image" nbTooltipPlacement="bottom"
      (click)="uploadImage()">
      <g>
        <path xmlns="http://www.w3.org/2000/svg"
          d="m482 15c0-8.285156-6.714844-15-15-15h-452c-8.285156 0-15 6.714844-15 15v422c0 8.285156 6.714844 15 15 15h297.144531c16.882813 35.441406 53.054688 60 94.855469 60 57.898438 0 105-47.101562 105-105 0-28.542969-11.453125-54.457031-30-73.402344zm-452 407v-392h422v282.144531c-9.328125-4.445312-19.410156-7.546875-30-9.070312v-227.074219c0-8.285156-6.714844-15-15-15h-331c-8.285156 0-15 6.714844-15 15v301c0 8.285156 6.714844 14.988281 15 14.988281h227.074219c-.703125 4.902344-1.074219 9.917969-1.074219 15.011719s.371094 10.097656 1.074219 15zm282.144531-60h-221.144531v-39.570312l60-72 42.972656 51.570312h-27.972656c-8.285156 0-15 6.714844-15 15s6.714844 14.988281 15 14.988281h60 .007812c4.664063 0 9.136719-2.21875 11.945313-5.925781l78.980469-104.152344 62.769531 83.695313c-29.855469 8.046875-54.488281 28.953125-67.558594 56.394531zm79.855469-90-63-84c-2.824219-3.765625-7.253906-5.988281-11.960938-6-.011718 0-.023437 0-.039062 0-4.691406 0-9.117188 2.195312-11.953125 5.9375l-79.601563 104.96875-62.921874-75.507812c-2.847657-3.421876-7.070313-5.398438-11.523438-5.398438-4.449219 0-8.671875 1.980469-11.523438 5.398438l-48.476562 58.171874v-184.570312h301zm15 210c-41.355469 0-75-33.644531-75-75s33.644531-74.996094 74.996094-75h.015625.011719c41.34375.011719 74.976562 33.652344 74.976562 75 0 41.355469-33.644531 75-75 75zm0 0"
          fill="#248ef6" data-original="#000000" />
        <path xmlns="http://www.w3.org/2000/svg"
          d="m437 392h-15v-15c0-8.285156-6.714844-15-15-15s-15 6.714844-15 15v15h-15c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15h15v15c0 8.285156 6.714844 15 15 15s15-6.714844 15-15v-15h15c8.285156 0 15-6.714844 15-15s-6.714844-15-15-15zm0 0"
          fill="#248ef6" data-original="#000000" />
        <path xmlns="http://www.w3.org/2000/svg"
          d="m196 212c24.8125 0 45-20.1875 45-45s-20.1875-45-45-45-45 20.1875-45 45 20.1875 45 45 45zm0-60c8.269531 0 15 6.730469 15 15s-6.730469 15-15 15-15-6.730469-15-15 6.730469-15 15-15zm0 0"
          fill="#248ef6" data-original="#000000" />
      </g>
    </svg>
  </div>
  <!-- Add File -->
  <div>
    <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg" nbTooltip="Add File"
      nbTooltipPlacement="bottom">
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M7.04552 0H1.53631C0.69134 0 0 0.69134 0 1.53631V13.8268C0 14.6718 0.69134 15.3631 1.53631 15.3631H7.09068V11.3451H12.2905V5.24497C12.2905 4.83784 12.1284 4.44685 11.8404 4.15879L8.13169 0.450139C7.84364 0.162081 7.45265 0 7.04552 0ZM11.1383 5.37709H6.9134V1.15223L11.1383 5.37709ZM15.1706 12.067C15.6013 12.0622 15.9939 12.233 16.2798 12.5127C16.5658 12.7924 16.745 13.181 16.7499 13.6115C16.7594 14.4727 16.0668 15.1811 15.2055 15.1906L13.9784 15.2042C13.5477 15.209 13.1552 15.0382 12.8692 14.7585C12.749 14.6409 12.6491 14.5032 12.5715 14.3521L13.4535 14.3423C13.5994 14.4483 13.7771 14.5123 13.9707 14.5101L15.1978 14.4965C15.6762 14.4912 16.061 14.0977 16.0558 13.6193C16.0533 13.3801 15.9535 13.1641 15.7947 13.0088C15.6359 12.8534 15.4175 12.7585 15.1783 12.7611L13.9512 12.7747C13.7576 12.7768 13.5811 12.8447 13.4378 12.9539L12.5563 12.9637C12.8069 12.4475 13.3319 12.0874 13.9435 12.0806L15.1706 12.067ZM13.7118 13.2982C13.802 13.2959 13.8895 13.3288 13.9559 13.3899C14.0073 13.4373 14.0432 13.4992 14.0589 13.5674C14.0746 13.6355 14.0693 13.7068 14.0437 13.772C14.0182 13.8371 13.9736 13.8929 13.9157 13.9323C13.8578 13.9716 13.7895 13.9925 13.7195 13.9923L10.7745 14.025C10.7283 14.0265 10.6823 14.0187 10.6392 14.0021C10.5961 13.9856 10.5567 13.9606 10.5234 13.9287C10.49 13.8967 10.4634 13.8584 10.445 13.8161C10.4267 13.7737 10.417 13.7281 10.4164 13.6819C10.4159 13.6357 10.4246 13.5899 10.442 13.5471C10.4595 13.5044 10.4852 13.4655 10.5179 13.4328C10.5505 13.4001 10.5893 13.3743 10.632 13.3568C10.6748 13.3393 10.7206 13.3305 10.7668 13.3309L13.7118 13.2982ZM10.5081 12.1188C10.9669 12.1138 11.3811 12.3084 11.6702 12.6214C11.7666 12.7258 11.849 12.8432 11.9145 12.9708L11.033 12.9806C10.8873 12.8748 10.7092 12.8109 10.5156 12.8131L9.28846 12.8267C8.81013 12.832 8.4253 13.2255 8.43049 13.704C8.43569 14.1824 8.82928 14.5674 9.30773 14.5619L10.5348 14.5483C10.7285 14.5461 10.905 14.4783 11.0482 14.369L11.9302 14.3592C11.6797 14.8755 11.1544 15.2353 10.5428 15.2421L9.31568 15.2558C8.88496 15.2605 8.49255 15.0898 8.20668 14.8103C7.92081 14.5307 7.74132 14.1423 7.73641 13.7117C7.72685 12.8505 8.4198 12.142 9.28098 12.1324L10.5081 12.1188Z"
        fill="url(#paint0_linear)" />
      <defs>
        <linearGradient id="paint0_linear" x1="8.37498" y1="0" x2="8.37498" y2="15.3631" gradientUnits="userSpaceOnUse">
          <stop stop-color="#6D71FF" />
          <stop offset="1" stop-color="#248EF6" />
        </linearGradient>
      </defs>
    </svg>
  </div>
  <!-- Add Math Formula -->
  <div class="position-relative">
    <div *ngIf="addMathFormulaOption"
      class="qb-quill-math-formula shadow d-flex align-items-center justif-content-center">
      <div>
        <input type="text" placeholder="Enter Math Formula" [(ngModel)]="mathFormula" />
      </div>
      <div>
        <span (click)="addMathFormula()" class="ml-2">Save</span>
      </div>
    </div>

    <svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg"
      nbTooltip="Add Math Formula" nbTooltipPlacement="bottom" (click)="
        addMathFormulaOption = !addMathFormulaOption; addLinkOption = false
      ">
      <path
        d="M4.15827 2.184C4.19561 2.16533 4.19561 2.16533 4.28894 2.128C4.36361 2.09067 4.53161 2.072 4.77427 2.072C5.33427 2.072 5.87561 1.60533 5.98761 1.04533C6.08094 0.466667 5.70761 0 5.12894 0C4.75561 0 4.38227 0.037334 3.99027 0.168C3.41161 0.317334 2.79561 0.765334 2.44094 1.30667C2.06761 1.86667 1.88094 2.44533 1.76894 3.136L1.71294 3.39733H1.22761C0.667606 3.39733 0.126273 3.864 0.0142729 4.424C-0.0790603 5.00267 0.294273 5.46933 0.87294 5.46933H1.35827L0.20094 12.04C0.0889396 12.6187 0.48094 13.0667 1.04094 13.0667C1.61961 13.0667 2.16094 12.6187 2.25427 12.04L3.41161 5.46933H3.97161C4.53161 5.46933 5.07294 5.00267 5.18494 4.424C5.27827 3.864 4.90494 3.39733 4.32627 3.39733H3.78494L3.82227 3.136C3.95294 2.44533 4.13961 2.20267 4.15827 2.184Z"
        fill="url(#paint0_linear)" />
      <path
        d="M8.54078 9.248C8.32745 9.06667 7.96478 9.12 7.75145 9.376L6.42878 10.816L5.62878 9.376C5.47945 9.12 5.13812 9.06667 4.86078 9.248C4.58345 9.42933 4.46612 9.78133 4.60478 10.0373L5.56478 11.7653L3.98612 13.504C3.76212 13.7493 3.76212 14.1013 3.97545 14.2827C4.06078 14.3573 4.17812 14.3893 4.28478 14.3893C4.46612 14.3893 4.63678 14.3147 4.78612 14.1653L6.08745 12.7147L6.88745 14.1653C6.98345 14.3147 7.14345 14.3893 7.30345 14.3893C7.42078 14.3893 7.53812 14.3573 7.65545 14.2827C7.94345 14.1013 8.05012 13.7493 7.91145 13.504L6.95145 11.7653L8.53012 10.0373C8.75412 9.78133 8.76478 9.42933 8.54078 9.248Z"
        fill="url(#paint1_linear)" />
      <defs>
        <linearGradient id="paint0_linear" x1="4.35177" y1="0" x2="4.35177" y2="14.3893" gradientUnits="userSpaceOnUse">
          <stop stop-color="#6D71FF" />
          <stop offset="1" stop-color="#248EF6" />
        </linearGradient>
        <linearGradient id="paint1_linear" x1="4.35177" y1="0" x2="4.35177" y2="14.3893" gradientUnits="userSpaceOnUse">
          <stop stop-color="#6D71FF" />
          <stop offset="1" stop-color="#248EF6" />
        </linearGradient>
      </defs>
    </svg>
  </div>
  <!-- Add Resource -->
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="19" height="19" x="0" y="0" viewBox="0 0 512 512"
      style="enable-background:new 0 0 512 512" xml:space="preserve" nbTooltip="Add Resource"
      nbTooltipPlacement="bottom">
      <g>
        <path xmlns="http://www.w3.org/2000/svg"
          d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm112 277.332031h-90.667969v90.667969c0 11.777344-9.554687 21.332031-21.332031 21.332031s-21.332031-9.554687-21.332031-21.332031v-90.667969h-90.667969c-11.777344 0-21.332031-9.554687-21.332031-21.332031s9.554687-21.332031 21.332031-21.332031h90.667969v-90.667969c0-11.777344 9.554687-21.332031 21.332031-21.332031s21.332031 9.554687 21.332031 21.332031v90.667969h90.667969c11.777344 0 21.332031 9.554687 21.332031 21.332031s-9.554687 21.332031-21.332031 21.332031zm0 0"
          fill="#248ef6" data-original="#000000" />
      </g>
    </svg>
  </div>

  <div class="d-flex align-items-center qb-quill-options-layout">
    <select (change)="changeOptionLayout($event)">
      <option value="horizontal" [selected]="optionLayout === 'horizontal'">Horizontal</option>
      <option value="vertical" [selected]="optionLayout === 'vertical'">Vertical</option>
      <option value="grid" [selected]="optionLayout === 'grid'">Grid</option>
    </select>
  </div>
</div>

<div *ngIf="componentName">
  <app-image-upload-modal-layout [name]="componentName">
  </app-image-upload-modal-layout>
</div>