<tce-loading-layover *ngIf="isLoading"></tce-loading-layover>
<tce-error-layover
  *ngIf="errorMessage"
  [message]="errorMessage"
></tce-error-layover>
<div class="customVideo-player-container">
  <div class="maincontainer">
    <video
      *ngIf="videopath"
      class="video-js"
      id="customPlayer"
      [poster]="poster"
      style="width: inherit;height: inherit;"
      data-setup="{}"
      controls=""
      controls
      disablepictureinpicture
      controlslist="nodownload"
    >
      <source [src]="videopath" type="video/mp4" />
      <div
        class="vjs-poster"
        tabindex="-1"
        aria-disabled="false"
        [ngStyle]="{ 'background-image': 'url(' + poster + ')' }"
      ></div>
    </video>
  </div>
</div>
