@import '../../../../../../apps/tce-teacher/src/assets/videojs/7.6.5/video-js.css';
.customVideo-player-container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #22262a;
  position: relative;
}

.maincontainer {
  height: 100%;
  width: 100%;
  pointer-events: auto;
}

.vjs-volume-panel.vjs-control.vjs-volume-panel-vertical {
  display: none;
}

video::-webkit-media-controls-volume-slider {
  display: none;
}

video::-webkit-media-controls-mute-button {
  display: none;
}
