<div class="questionSelectorContainer">
  <div class="questionSelectorBody mt-2">
    <div class="qb-selected-question-type">
      <label class="q-label mb-0" style="padding-bottom: 10px;">Question Type</label>
      <!-- <nb-select [(selected)]="selectedQuestionType" (selectedChange)="selectedQuestionTypeEvent($event)"
        placeholder="Select One" (click)="showOpengradeSubject(false, false)">
        <nb-option *ngFor="let questionType of questionTypeList" [value]="questionType.path">{{ questionType.title }}
        </nb-option>
      </nb-select> -->
      <!-- <select name="question-type" (change)="selectedQuestionTypeEvent($event.target.value)" id="question-type">
        <option *ngFor="let questionType of questionTypeList" [selected]="questionType === selectedQuestionType"
          [value]="questionType.path">{{ questionType.title }}
        </option>
      </select> -->
      <button *ngIf="selectedQuestionType" class="dropbtn form-control dropdown-toggle" id="questionTypeId"
        (click)="showOpengradeSubject(false, false)" data-toggle="dropdown">
        {{selectedQuestionType.title}}
      </button>
      <div *ngIf="questionTypeDropdown" class="dropdown-content">
        <a *ngFor="let questionType of questionTypeList" (click)="selectedQuestionTypeEvent(questionType)">
          {{ questionType.title }}
        </a>
      </div>
    </div>
    <div class="qb-selected-question-type" (click)="showOpengradeSubject(true, false)">
      <!-- <label class=" q-label mb-0">Subject</label> -->
      <label for="gradeSubject">Grade & Subject</label>
      <input id="gradeSubject" class="form-control" [value]="selectedGradeSub" [attr.disabled]="true" />
    </div>
    <!-- <tce-flyout class="content-playList-addResourceList-subjectGrade" *ngIf="showOpengradeSubject"
      [@slideInOutX]="animationFlag">
      <tce-common-grade-subject-selectore [allGrade]="availableGrades" [allSubject]="availableSubjects"
        [selectGrade]="selectedGradeLevel" [selectSubject]="selectedSubject"
        (valueChangeGradeSubject)="displayvalueGradeSubject($event)" [currentType]="'teaching'">
      </tce-common-grade-subject-selectore>
    </tce-flyout> -->

    <div class="qb-selected-question-type" (click)="showOpengradeSubject(false, true)">
      <!-- <label class="q-label mb-0">Chapter</label>
      <nb-select selected="1" placeholder="Select One">
        <nb-option value="1">12 | Forces & Laws of Motion</nb-option>
        <nb-option value="2">Option 2</nb-option>
        <nb-option value="3">Option 3</nb-option>
        <nb-option value="4">Option 4</nb-option>
        >
      </nb-select> -->
      <label for="chapterTopic">Chapter & Topic</label>
      <input id="chapterTopic" class="form-control" [value]="selectedChapterTopic" [attr.disabled]="true" />
    </div>
    <!-- <tce-flyout class="content-playList-addResourceList-gradeSubject" *ngIf="showOpenChapterTopic"
      [@slideInOutX]="animationFlag">
      <tce-common-chapter-topic-selectore [allChapters]="availableChapters" [allTopics]="availableTopics"
        [selectChapter]="selectedChapter" [selectTopic]="selectedTopic"
        (valueChangeChapterTopic)="displayvalueChapterTopic($event)">
      </tce-common-chapter-topic-selectore>
    </tce-flyout> -->

    <!-- <div class="qb-selected-question-type">
      <label class="q-label mb-0">Topic</label>
      <nb-select selected="1" placeholder="Select One">
        <nb-option value="1">12.1 | Physical and Chemical Changes</nb-option>
        <nb-option value="2">Option 2</nb-option>
        <nb-option value="3">Option 3</nb-option>
        <nb-option value="4">Option 4</nb-option>
      </nb-select>
    </div> -->

    <!-- commented By usman on 31March. will be used later -->

    <!-- <div class="qb-selected-question-type">
      <label class="q-label mb-0">Diffculty</label>
      <nb-select selected="1" placeholder="Select One">
        <nb-option value="1">Hard</nb-option>
        <nb-option value="2">Option 2</nb-option>
        <nb-option value="3">Option 3</nb-option>
        <nb-option value="4">Option 4</nb-option>
      </nb-select>
    </div>
    <div class="qb-selected-question-type">
      <label class="q-label mb-0">Privacy</label>
      <nb-select selected="1" placeholder="Select One">
        <nb-option value="1">Public</nb-option>
        <nb-option value="2">Option 2</nb-option>
        <nb-option value="3">Option 3</nb-option>
        <nb-option value="4">Option 4</nb-option>
        >
      </nb-select>
    </div> -->
    <!-- <div>
      <label class="qb-privacy-text mb-0">Label explaining Privacy settings
      </label>
    </div> -->
  </div>
</div>