:host ::ng-deep nb-select.appearance-outline.status-basic .select-button,
:host ::ng-deep [nbInput].status-basic {
  box-shadow: none !important;
}
nb-select {
  width: 100% !important;
  position: relative;
  border-radius: 5px;
  margin-top: 5px;
  border: 1px solid #303439;
}
:host ::ng-deep nb-select.appearance-outline.status-basic .select-button {
  background-color: #000 !important;
  border: 1px solid #000 !important;
  color: #fff;

  nb-icon {
    color: #fff;
  }
}

.questionSelectorContainer {
  overflow-y: auto;
  padding-right: 10px;

  .questionSelectorBody {
    min-height: auto;
    max-height: calc(100vh - 200px);

    .qb-selected-question-type {
      margin-bottom: 15px;
      color: white;

      .q-label {
        color: #fff;
        display: block;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
      }
      .form-control{
        color: #fff;
        background-color: #000;
        border-color: #000;
        text-align: left;
      }
    }

    .qb-privacy-text {
      color: #fff;
      font-size: 13px;
      font-weight: 400;
      opacity: 0.5;
      line-height: 19px;
    }
  }
}
.questionSelectorHeader {
  display: flex;
  padding-top: 36px;

  .h4 {
    color: #000;
    margin: 0 0 25px;
    font-size: 20px;
  }
}

// .content-playList-addResourceList-gradeSubject {
//   position: absolute;
//   width: var(--add-resource-width);
//   height: var(--add-resource-height1);
//   right: var(--add-resource-right);
//   font-weight: 600;
//   top: var(--add-resource-top1);
//   &::before {
//     left: var(--add-resource-beforAfter-left);
//     border-width: 17px;
//     top: var(--add-resource-beforAfter-top1);
//     transform: var(--add-resource-beforAfter-transform);
//   }
//   &::after {
//     left: var(--add-resource-beforAfter-left);
//     border-width: 17px;
//     top: var(--add-resource-beforAfter-top1);
//     transform: var(--add-resource-beforAfter-transform);
//   }
// }

// .content-playList-addResourceList-subjectGrade {
//   position: absolute;
//   width: var(--add-resource-width);
//   height: var(--add-resource-height);
//   right: var(--add-resource-right);
//   font-weight: 600;
//   top: var(--add-resource-top);
//   &::before {
//     left: var(--add-resource-beforAfter-left);
//     border-width: 17px;
//     top: var(--add-resource-beforAfter-top);
//     transform: var(--add-resource-beforAfter-transform);
//   }
//   &::after {
//     left: var(--add-resource-beforAfter-left);
//     border-width: 17px;
//     top: var(--add-resource-beforAfter-top);
//     transform: var(--add-resource-beforAfter-transform);
//   }
// }

.dropdown-content {
  position: absolute;
  background-color: #fff;
  width: 100%;
  overflow: auto;
  margin-top: 8px;
  border: 1px solid #e4e9f2;
  z-index: 1;
  border-radius: 4px;
  min-height:100px;
  max-height:150px;
  overflow:auto
}

.dropdown-content a {
  color: #222b45;
  text-decoration: none;
  display: block;
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.4375rem 1rem;
  &:hover {
    background-color: rgba(143, 155, 179, 0.16);
    color: #222b45;
  }
}

.qb-dropdownBar {
  color: #222b45;
  font-weight: 500;
  font-size: 15px;
  font-family: Quicksand;
  background-color: white;
  border: 1px solid #e4e9f2;
  border-radius: 25px;
  width: 200px;
  text-align: left;
  padding: 7px 15px;
  &:hover {
    outline: none !important;
  }
}
