.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: auto; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  bottom: 0;
}

.btn-primary{
  background: linear-gradient(90deg, #6d71ff 0%, #248ef6 100%) !important;
  border-radius: 5px;
  
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.save-btn-top{
  position: absolute;
  right: 25px;
  bottom: 4px
}
