<!-- <table [nbTreeGrid]="data" equalColumnsWidth>
  <tr
    nbTreeGridRow
    *nbTreeGridRowDef="let row; columns: allColumns"
    (click)="customEvent(row.data)"
  ></tr>

  <ng-container [nbTreeGridColumnDef]="customColumn">
    <td nbTreeGridCell *nbTreeGridCellDef="let row">
      <nb-tree-grid-row-toggle
        [expanded]="row.expanded"
        *ngIf="row.data"
        (click)="customEvent(row.data)"
      >
      </nb-tree-grid-row-toggle>

      {{ row.data.name }}
    </td>
  </ng-container>

  <ng-container
    *ngFor="let column of defaultColumns"
    [nbTreeGridColumnDef]="column"
  >
    <td nbTreeGridCell *nbTreeGridCellDef="let row">{{ row.data[column] }}</td>
  </ng-container>
</table> -->
<!-- <li *ngFor="let item of data" style="list-style-type: none;">
  <tce-tree-menu [title]="item.data" [children]="item.children" (getCurrentSelection)="getCurrentData($event)"></tce-tree-menu>
</li> -->
<div style="float: right;">
  <!-- <button nbButton status="primary" (click)="saveUpdateJson()">Save</button> -->
  <button  class="btn btn-primary save-btn-top" (click)="saveUpdateJson()">
    Save 
 </button>
</div>
<tce-tree-menu
  [children]="data"
  [currentGradeID]="currentGradeId"
  [currentSubjectID]="currentSubjectID"
  (getCurrentSelection)="getCurrentData($event)"
></tce-tree-menu>
<div class="modal" [ngStyle]="{ display: showSearchPanel ? 'block' : 'none' }">
  <ng-container #searchResult></ng-container>
</div>
