@import 'libs/question-bank/src/lib/assets/css/common.scss';

.qb-feedback-div {
  span {
    font-size: 14px;
    color: #737373;
    padding: 0px 10px;
  }
  input {
    padding: 5px;
    border: 1px solid $light-white-one;
    border-radius: 4px;
    border: none;
    width: 100%;
    color: $dark-black;
    font-weight: 500;
  }
  textarea {
    width: 100%;
    padding-left: 4px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    &::placeholder {
      color: rgba(0, 0, 0, 0.25) !important;
    }
  }
}
.qb-feedback-correct {
  // padding-top: 10px;
  padding: 10px;
  text-transform: capitalize;
  font-size: 15px;
}
