/* Global imports */
@import '~libs/core/src/lib/css/variables';

.worksheet-player-container {
  position: relative;
  // border: solid 1px gray;
  background-color: tranparent;
  //background-color: #2f333a;
  height: 100%;
}

#viewerContainer {
  // overflow: hidden !important;
  height: 100%;
}

.mypage-link {
  color: var(--button-color);
}

.viewerContainer {
  width: 50%;
}

#viewerContainer::-webkit-scrollbar {
  display: none !important;
  width: 0px;
}

#viewerContainer {
  overflow: hidden !important;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
}

#pdfViewer {
  position: absolute;
  overflow-y: scroll;
  background-color: rgb(0, 0, 0);
  top: 0;
  bottom: 0;
  left: 0;
  right: -17px;
}

.worksheet-scroller {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 90px;
  width: 46px;
  border: 1px solid var(--border-color);
  border-radius: 22px;
  background-color: var(--submenu-background-color);
  z-index: 10;
}

.printIcon{
  background: #22262A;
  left: 6px;
  position: relative;
  width: 34px;
  height: 34px;
}

.ebookscrollbar-upbutton {
  background-color: var(--button-color);
  border: 1px solid var(--border-color);
  border-radius: 29px;
  height: 26px;
  width: 26px;
  position: absolute;
  top: 9px;
  left: 9px;
  padding: 0;
  img {
    width: 26px;
    height: 26px;
    position: absolute;
    left: -5px;
  }
}

.ebookscrollbar-upbutton-icon {
  height: inherit;
  width: inherit;
  color: white;
  position: absolute;
  top: -1px;
  left: 4px;
}

.ebookscrollbar-downbutton {
  background-color: var(--button-color);
  border: 1px solid var(--border-color);
  border-radius: 29px;
  height: 26px;
  width: 26px;
  position: absolute;
  bottom: 10px;
  left: 9px;
  padding: 0;
  img {
    width: 26px;
    height: 26px;
    position: absolute;
    left: -5px;
    top: 14px;
  }
}

.ebookscrollbar-downbutton-icon {
  height: inherit;
  width: inherit;
  color: white;
  left: 4px;
  bottom: 13px;
  position: absolute;
}

.pdfContentArea {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.pdfContentArea::-webkit-scrollbar {
  width: 0 !important;
}

.pagination {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 13;
  bottom: 3vh;
  text-align: center;
  z-index: $player-layover-elements-z-index;
}

.worksheet_btn {
  padding: 0 0 0 7px;
  height: 33px;
}

.icon-answers {
  height: 31px;
}
.icon-answers svg {
  height: 31px;
  width: 25px;
}

.icon-answers.show-answers #answer-toggle {
  fill: #07ffd6;
}

.separator {
  background-color: rgba(255, 255, 255, 0.25);
  width: 1px;
  height: 35px;
  margin: 0 10px;
}
.downloadIcon {
  
  //background: red;
  padding: 2px;
  margin-left: 12px;
  width: 30px;
}

