<div id="mainWorksheet" class="worksheet-player-container">
  <tce-loading-layover *ngIf="isLoading"></tce-loading-layover>
  <tce-error-layover
    *ngIf="errorMessage"
    [message]="errorMessage"
  ></tce-error-layover>
  <!-- lib @tce/viewer-pdf-->
  <tce-view-pdf
    #pdfView
    [pdfId]="pdfId"
    [src]="pdfSource"
    [renderText]="true"
    [currentPage]="pdfCurrentPage"
    [showAll]="true"
    [numEbookPages]="numEbookPages"
    (emitPdfLoadComplete)="getPageData($event)"
    (emitPdfRendered)="pdfRendered($event)"
    (emitScrollPageChange)="updatePdfPage($event)"
  >
  </tce-view-pdf>

  <tce-utility-bar>
    <tce-scroll
      [scrollContainerRef]="scrollContainerRef"
      (emitScroll)="triggerScroll($event)"
    ></tce-scroll>
    <div class="separator" *ngIf="this.pdfPageCount > 1"></div>
    <tce-pagination-controls
      [pages]="numEbookPages"
      [initialPage]="pdfCurrentPage.pageNumber"
      [selectedPage]="pdfCurrentPage"
      (changePage)="goToPage($event)"
      *ngIf="this.pdfPageCount > 1"
    ></tce-pagination-controls>
    <div class="separator" *ngIf="showAnswerButton"></div>
    <div
      style="justify-content: center;display: flex;"
      *ngIf="showAnswerButton"
    >
      <button mat-button (click)="toggleState()" class="btn worksheet_btn">
        <svg-icon
          class="icon-answers"
          [class.show-answers]="activeWorksheetPage === 'answer'"
          src="assets/images/ic.AnswerToggle.svg"
          [applyCss]="true"
        ></svg-icon>
      </button>
    </div>

    <div class="separator" *ngIf="showDownloadOption"></div>
    <button class="printIcon" mat-button (click)="printDocument($event)">
      <svg-icon
          src="assets/images/ic.Print.svg"
          [applyCss]="true"
        ></svg-icon>
    </button>
    <div
      style="justify-content: center;display: flex;"
      *ngIf="showDownloadOption"
    >
      <button
        mat-button
        (click)="downloadPdf($event)"
        class="btn worksheet_btn downloadIcon"
      >
        <svg-icon
          class="arrow-icon scrolldown"
          src="assets/images/ic.DownloadNew.svg"
          [applyCss]="true"
        ></svg-icon>
      </button>
     
    </div>
  </tce-utility-bar>
</div>
