<div
  [class]="layout"
  [ngClass]="{
    mobile: deviceView == 'mobile',
    'mobile-ls': deviceView == 'mobile_ls'
  }"
  class="container p-0"
>
  <div class="qb-main-div p-0">
    <h5 *ngIf="this.dashboardPreviewState">{{ templateName }}</h5>
    <div class="row">
      <div
        class="p-0"
        [ngClass]="{
          'qb-dashboard-edit-div': !dashboardPreviewShow,
          'qb-mcq-div': dashboardPreviewShow
        }"
      >
        <div
          *ngIf="!previewShow"
          class="qb-cust-quill"
          id="cust_quill"
          style="width:100%;"
        >
          <tce-quill-toolbar></tce-quill-toolbar>
        </div>

        <div
          class="row"
          [ngClass]="{ 'qb-qstem-border pt-2': previewShow === false }"
        >
          <div class="qb-qstem m-0 px-2 pb-2">
            <div>
              <dc-qstem
                [qstem]="qstem"
                [stemName]="'qStem'"
                [previewState]="previewState"
                (onQstemContentUpdate)="onQstemContentUpdate($event)"
              >
              </dc-qstem>
              <div *ngIf="!previewShow" class="qb-feedback-padding-left">
                <feedback-layout
                  [showAnsState]="answerState"
                  [feedback]="qstem"
                  [previewState]="previewShow"
                  (feedbackUpdate)="feedbackStemUpdate($event)"
                  [placeholder]="'Type question’s feedback here..'"
                >
                </feedback-layout>
              </div>
            </div>
          </div>
        </div>

        <div class="qb-main-inner-content">
          <div *ngIf="!previewShow" class="d-flex flex-end mt-3 mb-3 p-23">
            <div class="qb-btn-div">
              <div class="qb-btn-list">
                <button>
                  <div class="qb-btn-svg-div">
                    <svg
                      height="512pt"
                      viewBox="0 -18 512 512"
                      width="512pt"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="m432 0h-352c-44.113281 0-80 35.886719-80 80v280c0 44.113281 35.886719 80 80 80h189.480469.035156.023437 21.460938c11.046875 0 20-8.953125 20-20s-8.953125-20-20-20h-11.664062l-45.984376-59.65625 145.144532-184.617188 93.503906 111.546876v23.726562c0 11.046875 8.953125 20 20 20s20-8.953125 20-20v-211c0-44.113281-35.886719-80-80-80zm-38.671875 111.152344c-3.871094-4.617188-9.628906-7.226563-15.640625-7.148438-6.027344.09375-11.6875 2.898438-15.410156 7.636719l-154.117188 196.023437-52.320312-67.875c-3.785156-4.910156-9.636719-7.789062-15.839844-7.789062-.003906 0-.007812 0-.011719 0-6.203125.003906-12.058593 2.886719-15.839843 7.804688l-44.015626 57.21875c-6.734374 8.757812-5.097656 21.3125 3.65625 28.046874 8.757813 6.738282 21.3125 5.097657 28.046876-3.65625l28.179687-36.632812 88.816406 115.21875h-148.832031c-22.054688 0-40-17.945312-40-40v-280c0-22.054688 17.945312-40 40-40h352c22.054688 0 40 17.945312 40 40v125.007812zm-253.328125-39.152344c-33.085938 0-60 26.914062-60 60s26.914062 60 60 60 60-26.914062 60-60-26.914062-60-60-60zm0 80c-11.027344 0-20-8.972656-20-20s8.972656-20 20-20 20 8.972656 20 20-8.972656 20-20 20zm283.390625 150.296875c-2.363281-2.375-5.285156-4.113281-8.496094-5.066406l-79.226562-23.410157c-6.996094-2.066406-14.558594-.164062-19.742188 4.96875-5.183593 5.132813-7.160156 12.675782-5.160156 19.691407l22.863281 80.222656c.929688 3.265625 2.675782 6.238281 5.070313 8.640625l70.875 71.082031c11.332031 11.332031 26.398437 17.574219 42.425781 17.574219s31.09375-6.242188 42.425781-17.574219 17.574219-26.398437 17.574219-42.425781-6.242188-31.09375-17.550781-42.402344zm-64.191406 20.1875 39.460937 11.660156 34.816406 34.9375-27.847656 28.738281-34.949218-35.054687zm106.941406 107.65625c-7.796875 7.796875-20.484375 7.800781-28.261719.023437l-4-4.015624 27.839844-28.730469 4.421875 4.441406c3.78125 3.777344 5.859375 8.796875 5.859375 14.140625s-2.078125 10.363281-5.859375 14.140625zm0 0"
                      />
                    </svg>
                  </div>
                  &nbsp;<span class="qb-hotspot-icon-text">Edit Image</span>
                </button>
              </div>
            </div>
          </div>

          <div class="qb-hotspot-wrapper p-23">
            <div class="qb-hotspot-div">
              <svg width="100%" #container class="qb-hotspot-svg">
                <g
                  transform="rotate(0,0,0)"
                  style="z-index: 0; cursor: inherit;"
                >
                  <image
                    width="100%"
                    #imgG
                    x="0"
                    y="0"
                    href=""
                    style="opacity: 1;"
                  ></image>
                  <!-- <rect x="0" y="0" width="653" height="345.15714285714284" style="fill: none; stroke: none;"></rect> -->
                </g>

                <line
                  #line
                  x1="0"
                  y1="0"
                  x2="0"
                  y2="0"
                  style="z-index: 0; cursor: inherit; stroke: black; stroke-width: 2px; stroke-opacity: 1; stroke-dasharray: 6, 8; stroke-linecap: round; stroke-linejoin: round;"
                ></line>

                <g #polygonG></g>
                <g #circleG></g>
                <g #numberG></g>
              </svg>
            </div>
            <div
              class="qb-hotspot-btn-div"
              *ngIf="!previewShow"
              (click)="imageUpload()"
            >
              <h6>
                <span class="position-relative qb-btn-svg-div"
                  ><nb-icon icon="plus-outline"></nb-icon
                ></span>
                &nbsp;<span class="qb-hotspot-add-image">Add Images</span>
              </h6>
            </div>
          </div>

          <div class="mt-3 mb-3 p-23">
            <div class="qb-btn-div">
              <div class="qb-btn-list">
                <button (click)="drawClicked()">
                  <div class="qb-btn-svg-div">
                    <svg
                      version="1.1"
                      id="Capa_1"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      x="0px"
                      y="0px"
                      viewBox="0 0 512 512"
                      style="enable-background:new 0 0 512 512;"
                      xml:space="preserve"
                    >
                      <g>
                        <g>
                          <path
                            d="M499.377,46.402c-8.014-8.006-18.662-12.485-29.985-12.613c-0.166-0.002-0.331-0.003-0.496-0.003
			c-11.142,0-21.698,4.229-29.771,11.945L198.872,275.458c25.716,6.555,47.683,23.057,62.044,47.196
			c4.376,7.356,7.859,15.143,10.453,23.179l228.691-239.172C507.759,98.604,512,88.031,512,76.89
			C512,65.383,507.522,54.56,499.377,46.402z"
                          />
                        </g>
                      </g>
                      <g>
                        <g>
                          <path
                            d="M176.588,302.344c-1.209-0.051-2.418-0.076-3.626-0.076c-20.273,0-40.381,7.05-56.784,18.851
			c-19.772,14.225-27.656,34.656-42.174,53.27C55.8,397.728,27.795,409.14,0,416.923c16.187,42.781,76.32,60.297,115.752,61.24
			c1.416,0.034,2.839,0.051,4.273,0.051c44.646,0,97.233-16.594,118.755-60.522C262.408,369.468,233.284,304.717,176.588,302.344z"
                          />
                        </g>
                      </g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                    </svg>
                  </div>
                  &nbsp;<span class="qb-hotspot-icon-text">Draw</span>
                </button>
                <div class="qb-inner-buttons">
                  <button>
                    <div class="qb-btn-svg-div">
                      <svg
                        version="1.1"
                        id="Layer_1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px"
                        y="0px"
                        viewBox="0 0 512 512"
                        style="enable-background:new 0 0 512 512;"
                        xml:space="preserve"
                      >
                        <g>
                          <g>
                            <g>
                              <path
                                d="M286.557,434.075c-13.245-0.2-26.446-1.87-39.157-4.964c-11.91-2.827-23.997,4.474-26.891,16.406
				c-2.872,11.954,4.474,23.997,16.406,26.891c15.917,3.851,32.39,5.921,48.952,6.188h0.356c12.132,0,22.061-9.728,22.261-21.905
				C308.663,444.382,298.868,434.275,286.557,434.075z"
                              />
                              <path
                                d="M177.101,394.25c-10.24-8.326-19.567-17.809-27.737-28.182c-7.613-9.639-21.593-11.264-31.254-3.695
				c-9.661,7.613-11.309,21.615-3.695,31.276c10.173,12.911,21.793,24.732,34.571,35.128c4.118,3.361,9.105,4.986,14.024,4.986
				c6.5,0,12.889-2.805,17.297-8.192C188.053,416.043,186.628,402.019,177.101,394.25z"
                              />
                              <path
                                d="M488.976,284.793c-11.887-3.094-24.064,4.029-27.158,15.939c-3.317,12.778-8.058,25.199-14.091,36.886
				c-5.632,10.93-1.358,24.353,9.55,29.985c3.295,1.692,6.767,2.493,10.195,2.493c8.081,0,15.85-4.408,19.812-12.065
				c7.546-14.625,13.468-30.119,17.631-46.08C508.009,300.042,500.863,287.888,488.976,284.793z"
                              />
                              <path
                                d="M397.283,397.723c-10.552,8.014-21.927,14.848-33.903,20.324c-11.153,5.12-16.072,18.343-10.975,29.518
				c3.74,8.17,11.821,13,20.257,13c3.094,0,6.255-0.646,9.261-2.026c14.937-6.834,29.184-15.382,42.318-25.4
				c9.773-7.435,11.665-21.415,4.23-31.187C421.013,392.18,407.033,390.243,397.283,397.723z"
                              />
                              <path
                                d="M171.567,249.492c8.693-8.693,8.693-22.788,0-31.482c-8.693-8.693-22.788-8.693-31.482,0l-28.53,28.53
				c4.923-93.959,82.649-168.615,177.836-168.615c98.364,0,178.087,79.723,178.087,178.087c0,12.294,9.967,22.261,22.261,22.261
				S512,268.307,512,256.012c0-122.953-99.656-222.609-222.609-222.609c-119.929,0-217.675,94.819-222.411,213.585l-28.978-28.978
				c-8.693-8.693-22.788-8.693-31.482,0c-8.693,8.693-8.693,22.788,0,31.482l66.783,66.783c5.433,5.433,12.975,7.47,19.991,6.113
				c0.207,0.006,0.411,0.027,0.619,0.027c1.603,0,3.25-0.178,4.92-0.534c8.481-1.923,14.735-8.459,16.71-16.362L171.567,249.492z"
                              />
                            </g>
                          </g>
                        </g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                      </svg>
                    </div>
                    &nbsp;<span class="qb-hotspot-icon-text">Undo</span>
                  </button>
                  <button class="pl-4">
                    <div class="qb-btn-svg-div">
                      <svg
                        version="1.1"
                        id="Capa_1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px"
                        y="0px"
                        viewBox="0 0 61.5 61.5"
                        style="enable-background:new 0 0 61.5 61.5;"
                        xml:space="preserve"
                      >
                        <g>
                          <g id="group-29svg">
                            <path
                              id="path-1_20_"
                              d="M27.853,58.623c-1.765,0-3.53-0.167-5.25-0.494c-0.813-0.156-1.347-0.942-1.192-1.757
			c0.156-0.815,0.948-1.348,1.755-1.193c1.534,0.293,3.111,0.442,4.687,0.442c0.828,0,1.5,0.672,1.5,1.501
			C29.353,57.951,28.681,58.623,27.853,58.623z M18.093,56.756c-0.185,0-0.373-0.035-0.555-0.107
			c-1.632-0.651-3.21-1.463-4.694-2.414c-0.697-0.447-0.9-1.376-0.453-2.074c0.447-0.699,1.375-0.902,2.072-0.454
			c1.323,0.848,2.731,1.572,4.186,2.153c0.77,0.307,1.145,1.18,0.838,1.95C19.253,56.398,18.689,56.756,18.093,56.756z
			 M9.724,51.391c-0.371,0-0.742-0.136-1.032-0.411c-1.273-1.208-2.441-2.546-3.47-3.976c-0.483-0.672-0.331-1.611,0.342-2.095
			c0.672-0.484,1.61-0.332,2.094,0.342c0.918,1.277,1.961,2.471,3.098,3.55c0.601,0.57,0.626,1.52,0.057,2.122
			C10.518,51.235,10.122,51.391,9.724,51.391z M3.925,43.316c-0.566,0-1.108-0.323-1.362-0.871c-0.737-1.596-1.326-3.272-1.75-4.981
			c-0.199-0.805,0.291-1.619,1.095-1.819c0.811-0.2,1.618,0.292,1.817,1.096c0.378,1.525,0.903,3.02,1.561,4.443
			c0.347,0.752,0.02,1.645-0.732,1.993C4.35,43.271,4.136,43.316,3.925,43.316z M1.536,33.663c-0.793,0-1.455-0.621-1.497-1.422
			C0.013,31.747,0,31.25,0,30.75c0-0.829,0.672-1.501,1.5-1.501S3,29.921,3,30.75c0,0.448,0.011,0.893,0.035,1.334
			c0.043,0.828-0.593,1.534-1.42,1.577C1.588,33.663,1.562,33.663,1.536,33.663z"
                            />
                            <path
                              id="path-2_19_"
                              d="M1.5,32.251c-0.828,0-1.5-0.672-1.5-1.501C0,15.381,12.495,2.877,27.853,2.877
			c13.896,0,25.763,10.378,27.605,24.14c0.11,0.822-0.466,1.576-1.288,1.687c-0.816,0.109-1.576-0.467-1.685-1.289
			C50.841,15.138,40.253,5.879,27.853,5.879C14.149,5.879,3,17.036,3,30.75C3,31.579,2.328,32.251,1.5,32.251z"
                            />
                            <path
                              id="path-3_18_"
                              d="M54.619,21.383l4.669-1.489c1.106-0.352,2.287,0.531,2.208,1.69c-0.019,0.276-0.082,0.588-0.217,0.85
			l-4.252,8.231c-0.428,0.827-1.445,1.147-2.272,0.719l-8.23-4.264c-0.262-0.135-0.488-0.336-0.664-0.55
			c-0.733-0.9-0.281-2.305,0.824-2.658l4.921-1.568L54.619,21.383z"
                            />
                          </g>
                        </g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                      </svg>
                    </div>
                    &nbsp;<span class="qb-hotspot-icon-text">Redo</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <app-image-upload-modal-layout
  [name]="'upload'"
></app-image-upload-modal-layout> -->
