<div class="nav-header">
  <div class="choose-grade-nav">
    Choose a Grade
    <div class="nav-header-divider"></div>
  </div>
  <div class="choose-subject-nav">Choose a Subject</div>
</div>
<div class="subject-selector-containers">
  <div class="choose-grades">
    <div class="menu-container">
      <div *ngFor="let gradeLevel of availableGrades" class="grade-selector" [class.selected]="
          selectedGradeLevel && gradeLevel.id === selectedGradeLevel.id
        " (click)="clickToSelectGrade(gradeLevel)">
        {{ gradeLevel.title }}
      </div>
    </div>
  </div>
  <div class="choose-subjects">
    <div class="menu-container">
      <div *ngFor="let subject of availableSubjects; let i = index" class="subject-selector" [class.selected]="
          selectedSubject && selectedSubject.subjectId === subject.subjectId
        " (click)="clickToSelectSubject(subject)">
        {{ subject.title }}
      </div>
    </div>
  </div>
</div>