/* Global imports */
@import '~apps/tce-teacher/src/assets/stylesheet/imports';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 51px;
  min-height: 51px;
  background-color: #0f1114;
  color: #ffffff;
  line-height: 18px;
  font-size: 14px;
}

.choose-grade-nav {
  padding-left: 20px;
  width: 49%;
}

.choose-subject-nav {
  padding-left: 20px;
  width: 50%;
}

.nav-header-divider {
  width: 1px;
  height: 21px;
  background-color: #303439;
  float: right;
}

.menu-container {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0px;
}

.subject-selector-containers {
  display: flex;
  height: 100%;
  //   width: 60vw;
}

/*** Grade selection ***/

.choose-grades {
  overflow-y: auto;
  height: calc(100% - 51px);
  width: 50%;
  border-right: solid 1px #303439;
}

.grade-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  border-radius: 17px;
  background-color: #000000;
  color: #ffffff;
  padding: 0 15px;
  font-size: 14px;
  font-weight: bold;
  margin: 0 10px 10px 0;
  cursor: pointer;
}

/*** Division selection ***/

.choose-division {
  width: 20%;
  border-right: solid 1px #303439;
}

.division-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  background-color: #000000;
  border-radius: 50%;
  margin: 0 10px 10px 0;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

/*** Subject selection ***/
.subject-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  border-radius: 17px;
  background-color: #000000;
  color: #ffffff;
  padding: 0 15px;
  margin: 0 10px 10px 0;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
}

.choose-subjects {
  overflow-y: auto;
  height: calc(100% - 51px);
  width: 50%;
  border-left: solid 1px #303439;
}

.selected {
  background-color: #248ef6;
  color: #000000;
}

$base-color: rgba(221, 221, 221, 0.1);
$ghost-color: #ecebebf1;
$animation-duration: 1000ms;
$gradient-offset: 52 + 16;
@keyframes ghost-lines {
  0% {
    background-position: -100px;
  }
  40% {
    background-position: 40vw;
  }
  100% {
    background-position: 60vw;
  }
}
.ghostRows {
  background-image: linear-gradient(
    90deg,
    $base-color 0px,
    $ghost-color 40px,
    $base-color 80px
  );
  background-size: 80vw;
  height: 20px !important;
  background-color: gray;
  margin: 10px;
  border-radius: 4px 4px 4px 4px;
  animation: ghost-lines $animation-duration infinite linear;
}
