@import 'bootstrap';
@import 'libs/question-bank/src/lib/assets/css/common.scss';

.question-card {
  background-color: white;
  border: 0.0625rem solid #e4e9f2;
  border-radius: 0.25rem;
  
  color: #222b45;
  font-family: Open Sans, sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin-bottom: 1.875rem;
  
  box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 34%);
  -webkit-box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 34%);
  max-height: 145px;
  min-height: 145px;
  overflow: auto;
  width: 100%;
  transition: all .2s ease-in-out;
}
.question-card:hover {
  border: 2px solid #4182f9;
  transform: scale(1.05);
}

// .editFlyout {
//   z-index: 150;
//   position: absolute;
//   top: 50px;
//   width: 130px;
//   right: 13px;
//   &:before {
//     top: 0;
//   }
//   &::after {
//     transform: rotate(180deg);
//     top: -21px;
//     margin-left: 50px;
//   }
// }

// .customPaddingTop {
//   padding-top: 8px;
//   position: relative;
// }

// .icon-color {
//   color: darkgray;
// }

// .customLi {
//   list-style: disc;
//   margin-left: 23px;
//   font-size: 13px;
// }
// .customUl {
//   display: flex;
//   li {
//     font-size: 13px;
//   }
// }

// .custom-qb-view-div {
//   li {
//     list-style-type: none;
//     margin-left: 3px;
//     svg {
//       width: 5px;
//       height: 5px;
//     }
//   }
// }

// .customMoreIcon {
//   padding-top: 5px;
//   margin-right: -30px;
//   height: 49px;
//   float: right;
// }

// .qb-submenu {
//   position: relative;
//   right: -5px;
// }

// .qb-menu {
//   position: absolute;
//   right: 35px;
//   top: 0;
//   width: 20px;
// }

// .questions-card {
//   box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.06);
//   border-radius: 5px;
//   cursor: pointer;
//   padding: 19px 15px 0px 15px;
//   .qb-type-icon {
//     border-right: 1px solid rgba(0, 0, 0, 0.1);
//     padding-left: 12px;
//     padding-right: 12px;
//   }
//   .qb-lock-icon {
//     padding-left: 12px;
//     padding-right: 12px;
//   }
//   .qb-select-questions {
//     position: relative;
//     top: 3px;
//   }
//   .questionType {
//     font-weight: 800;
//     font-size: 12px;
//     font-family: Quicksand;
//     line-height: 15px;
//     color: rgba(0, 0, 0, 0.7);
//     position: relative;
//     top: 5px;
//   }
//   .qb-question-image {
//     min-width: 45px;
//     border-radius: 4px;
//     max-width: 100px;
//     max-height: 70px;
//   }
//   .qb-ques-container {
//     min-height: 45px;
//   }
// }

// .questionData {
//   font-weight: 800;
//   font-size: 14px;
//   color: black;
//   font-family: Quicksand;
// }

// .questionEditor {
//   padding: 5px;
// }

// .listMargin {
//   margin: 3px 5px 3px 5px;
//   color: white;
//   font-size: 14px;
// }

// li.listMargin:hover,
// li.listMargin:active {
//   text-decoration: underline;
//   cursor: pointer;
// }
@import 'bootstrap';
.customPaddingTop {
  padding-top: 8px;
  position: relative;
}

.iconBack {
  background: black;
  height: 43px;
  width: 47px;
  border-radius: 4px;
}

.questionData {
  font-weight: 800;
  font-size: 14px;
  color: black;
  font-family: Quicksand;
}

.icon-color {
  color: darkgray;
}

.customLi {
  list-style: disc;
  margin-left: 23px;
  font-size: 13px;
}
.customUl {
  display: flex;
  li {
    font-size: 13px;
  }
}
.customTileIcon {
  background: black;
  height: 24px;
  width: 24px;
  border-radius: 3px;
}
.customMoreIcon {
  position: relative;
  // right: -46px;
  cursor: pointer;
}

.customCardHeight {
  max-height: 145px;
  min-height: 145px;
  overflow: auto;
  //animation: mymove 0.5s;
}

.button {
  background-color: #4caf50;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {
  background-color: #008cba;
}
.button3 {
  background-color: #f44336;
}
.button4 {
  background-color: #e7e7e7;
  color: black;
}
.button5 {
  background-color: #555555;
}

.listMargin {
  margin: 3px 5px 3px 5px;
  color: white;
  font-size: 14px;
}

li.listMargin:hover,
li.listMargin:active {
  text-decoration: underline;
  cursor: pointer;
}

.editFlyout {
  z-index: 150;
  position: absolute;
  top: 50px;
  width: 130px;
  right: 13px;
  &:before {
    top: 0;
  }
  &::after {
    transform: rotate(180deg);
    top: -21px;
    margin-left: 50px;
  }
}
.questionEditor {
  padding: 5px;
}

.listLabel {
  margin: 5px;
}

.question-header {
  color: #000000;
  font-family: Quicksand;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 38px;
}

.filter-position {
  float: right;
}

.sort {
  padding-left: 10px;
  border-left: 1px solid black;
  cursor: pointer;
  font-size: 14px;
  color: gray;
  font-weight: bold;
  cursor: pointer;
}

.select-text {
  font-size: 14px;
  color: #248ef6;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 5px;
  cursor: pointer;
}
.arrowHeader {
  margin-left: 5px;
}

.question-card {
  box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 34%);
  border-radius: 5px;
  cursor: pointer;
  padding: 19px 15px 0px 15px;
  animation: mymove 1s;
  .qb-type-icon {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 12px;
    padding-right: 12px;
  }
  .qb-lock-icon {
    padding-left: 12px;
    padding-right: 12px;
  }
  .qb-select-questions {
    position: relative;
    top: 3px;
  }
  .questionType {
    font-weight: 800;
    font-size: 12px;
    font-family: Quicksand;
    line-height: 12px;
    color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 5px;
  }
  .qb-question-image {
    min-width: 45px;
    border-radius: 4px;
    max-width: 100px;
    max-height: 70px;
  }
  .qb-ques-container {
    min-height: 45px;
  }
}
.qb-card-disabled-cursor {
  cursor: pointer;
}
.qb-dashboard-wrapper {
  //overflow: auto;
  //height: calc(100vh - 222px);
  padding: 1rem 1.5rem;
  //padding-top: 5px;
  .qb-sort-filter {
    padding: 0;
    height: 20px;
    background-color: transparent;
    border: none;
    width: 115px;
    box-shadow: none;
    color: #248ef6 !important;
    border-radius: 5px;
    option {
      padding: 5px;
      color: #000;
    }
  }
}
::ng-deep .nb-theme-default nb-card {
  border: 1px solid #fff;
  border-radius: 5px;
  background: #ffffff;
  // box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.34);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.34);
}

@keyframes mymove {
  // from {
  //   transform: scale(0);
  // }
  // to {
  //   transform: scale(1);
  // }
  0% {
    transform:  scale(0);
  }
  50% {
    transform:  scale(1.2);
  }
  100% {
    transform:  scale(1);
  }
}
::ng-deep .nb-theme-default nb-checkbox.qb-select-questions .custom-checkbox {
  border: 2px solid #248ef6;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #fff;
  width: 15px;
  height: 15px;
}
::ng-deep .nb-theme-default nb-checkbox.qb-select-questions nb-icon {
  width: 85%;
}
.qb-selected-questions-modifier {
  flex-direction: row;
  padding: 20px 40px;
  position: fixed;
  left: 12.5%;
  bottom: 5%;
  width: 75%;
  margin: 0 auto;
  background: #22262a;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4), 0px 20px 100px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.qb-submenu {
  position: relative;
  right: -5px;
}

.qb-menu {
  width: 20px;
}

.customMoreIcon {
  // padding-top: 5px;
  // margin-right: -30px;
  // height: 49px;
  float: right;
}

.custom-qb-view-div {
  li {
    list-style-type: none;
    margin-left: 3px;
    svg {
      width: 5px;
      height: 5px;
    }
  }
}

.qb-opt-radio-div-preview {
  position: relative;
  input {
    cursor: pointer;
    width: 20px !important;
    height: 20px !important;
    border-radius: 3px;
    white-space: nowrap;
    z-index: 999;
    opacity: 0;
    top: 2px;
  }
  @include checkbox(
    0px,
    18px,
    1px,
    3px,
    2px,
    0px,
    $white,
    $white,
    $blue,
    $blue,
    $blue,
    $dark-black,
    $blue
  );
}
