<div class="row m-0 align-items-center justify-content-between">
  <div class="question-card">
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <div class="qb-opt-radio-div-preview">
          <input [checked]="checkedQuestion" type="checkbox" *ngIf="showCheckBox"
            (change)="selectQuestions($event, question)" />
          <label class="normal-checkbox" for="question.questionId"></label>
        </div>
        <div class="qb-type-icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="14" height="14" x="0" y="0"
            viewBox="0 0 60.123 60.123" style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
            <g>
              <g xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M57.124,51.893H16.92c-1.657,0-3-1.343-3-3s1.343-3,3-3h40.203c1.657,0,3,1.343,3,3S58.781,51.893,57.124,51.893z"
                  fill="#bfbfbf" data-original="#000000" />
                <path
                  d="M57.124,33.062H16.92c-1.657,0-3-1.343-3-3s1.343-3,3-3h40.203c1.657,0,3,1.343,3,3   C60.124,31.719,58.781,33.062,57.124,33.062z"
                  fill="#bfbfbf" data-original="#000000" />
                <path
                  d="M57.124,14.231H16.92c-1.657,0-3-1.343-3-3s1.343-3,3-3h40.203c1.657,0,3,1.343,3,3S58.781,14.231,57.124,14.231z"
                  fill="#bfbfbf" data-original="#000000" />
                <circle cx="4.029" cy="11.463" r="4.029" fill="#bfbfbf" data-original="#000000" />
                <circle cx="4.029" cy="30.062" r="4.029" fill="#bfbfbf" data-original="#000000" />
                <circle cx="4.029" cy="48.661" r="4.029" fill="#bfbfbf" data-original="#000000" />
              </g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
            </g>
          </svg>
        </div>
        <div class="qb-lock-icon" *ngIf="!question.questionSourceType">
          <!-- <nb-icon class="icon-color" icon="lock"></nb-icon> -->
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="14" height="14" x="0" y="0" viewBox="0 0 24 24"
            style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
            <g>
              <path xmlns="http://www.w3.org/2000/svg"
                d="m18.75 9h-.75v-3c0-3.309-2.691-6-6-6s-6 2.691-6 6v3h-.75c-1.24 0-2.25 1.009-2.25 2.25v10.5c0 1.241 1.01 2.25 2.25 2.25h13.5c1.24 0 2.25-1.009 2.25-2.25v-10.5c0-1.241-1.01-2.25-2.25-2.25zm-10.75-3c0-2.206 1.794-4 4-4s4 1.794 4 4v3h-8zm5 10.722v2.278c0 .552-.447 1-1 1s-1-.448-1-1v-2.278c-.595-.347-1-.985-1-1.722 0-1.103.897-2 2-2s2 .897 2 2c0 .737-.405 1.375-1 1.722z"
                fill="#bfbfbf" data-original="#000000" class="" />
            </g>
          </svg>
        </div>
        <div class="qb-lock-icon" *ngIf="question.questionSourceType">
          <!-- <nb-icon icon="unlock"></nb-icon> -->
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="14" height="14" x="0" y="0"
            viewBox="0 0 512.65 512.65" style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
            <g>
              <g xmlns="http://www.w3.org/2000/svg">
                <g>
                  <path
                    d="M409.925,205.45h-230.4v-74.24c0-38.4,25.6-71.68,61.44-79.36c48.64-7.68,92.16,28.16,92.16,76.8    c0,15.36,12.8,25.6,25.6,25.6c12.8,0,25.6-10.24,25.6-25.6c0-74.24-64-135.68-140.8-128c-66.56,7.68-115.2,66.56-115.2,133.12    v71.68h-25.6c-12.8,0-25.6,10.24-25.6,25.6v256c0,12.8,12.8,25.6,25.6,25.6h307.2c15.36,0,25.6-12.8,25.6-25.6v-256    C435.525,215.69,425.285,205.45,409.925,205.45z M281.925,376.97v33.28c0,15.36-10.24,25.6-25.6,25.6s-25.6-10.24-25.6-25.6    v-33.28c-15.36-10.24-25.6-25.6-25.6-43.52c0-33.28,30.72-56.32,64-48.64c17.92,5.12,33.28,20.48,38.4,38.4    C312.645,346.25,299.845,366.73,281.925,376.97z"
                    fill="#bfbfbf" data-original="#000000" class="" />
                </g>
              </g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
            </g>
          </svg>
        </div>
        <div *ngIf="question.questionSourceType === 'tata'" class="questionType">
          TCE
        </div>
        <div *ngIf="question.questionSourceType === 'custom'" class="questionType">
          My Question
        </div>
      </div>
      <div id="question-more-option" class="qb-menu" *ngIf="question.questionSourceType === 'custom'">
        <div id="question-more-option" *ngIf="question.questionSourceType" (click)="openQuestionEditor(index)">
          <img id="question-more-option" class="customMoreIcon" src="assets/images/ic.MoreOption.svg" />
        </div>
      </div>
    </div>

    <div class="customPaddingTop" (click)="openPopup('preview', question)">
      <div class="align-items-center justify-content-between d-flex qb-ques-container">
        <div class="questionData" *ngIf="question.questionDetails && question.questionDetails.qtext"
          [innerHtml]="question.questionDetails['questionTitle']">
          <!-- {{ question.questionDetails['questionTitle'] | slice: 0:30 }} -->
          <!-- <span *ngIf="question.questionDetails['questionTitle'].length > 30">...</span> -->
        </div>
        <div class="questionData" *ngIf="question.questionDetails && question.questionDetails.data">
          {{ question.questionDetails['questionTitle'] | slice: 0:30 }}
          <!-- <span *ngIf="question.questionDetails['questionTitle'].length > 30">...</span> -->
        </div>
        <div *ngIf="
            question.questionSourceType && question.questionDetails['image']
          ">
          <img class="qb-question-image" [src]="question.questionDetails['image']" />
        </div>
      </div>
    </div>

    <!-- commented by Usman on 11/5/21. will be used later-->
    <!-- <div class="customPaddingTop">
      <ul class="customUl m-0 custom-qb-view-div">
        <li>8</li>
        <li class="customLi">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
            <g>
              <g>
                <path d="M256,0C115.39,0,0,115.39,0,256s115.39,256,256,256s256-115.39,256-256S396.61,0,256,0z" />
              </g>
            </g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
          </svg>
          ch7
        </li>
        <li class="customLi">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
            <g>
              <g>
                <path d="M256,0C115.39,0,0,115.39,0,256s115.39,256,256,256s256-115.39,256-256S396.61,0,256,0z" />
              </g>
            </g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
          </svg>
          Name Of Topic
        </li>
      </ul>
    </div> -->
    <div *ngIf="(index === edit_id && viewType === 'questionBank') || (index === qEditId && viewType === 'quiz')"
      class="editFlyout">
      <tce-flyout class="questionEditor" [attr.id]="'openQuestionOf_' + edit_id">
        <ul>
          <li class="listMargin" (click)="openPopup('edit', question)">
            Edit Question
          </li>
          <li *ngIf="viewType === 'questionBank'" class="listMargin" (click)="deleteQuestion(question.questionId)">
            Delete Question
          </li>
        </ul>
      </tce-flyout>
    </div>
  </div>
</div>