#dashboard {
	font: 75%/1em Tahoma, Verdana, Helvetica, Arial;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #dce9f9;
}
#header {
    margin-top: 20px;
    width: 100%;
}
#headerBlockDiv {
    height: 68px;
    margin: 0 auto;
    position: relative;
    width: 95%;
    z-index: 2;
}
.headerBlock {
    background-color: #FFFFFF;
    border: 1px solid #C2D5EA;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 0 10px #7095bf;
}
#logo {
    float: left;
    height: 100%;
    position: relative;
    width: 120px;
}
#logo img {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}
#reportTitleDiv {
    height: 100%;
    left: 120px;
    position: absolute;
    right: 5px;
}
#headerSplitterDiv {
    background-color: #c3d5eb;
    float: left;
    height: 100%;
    position: relative;
    width: 1px;
    z-index: 2000;
}
#titleDiv {
    background-color: #e8f2fe;
    border: 0 solid #000000;
    border-radius: 0 8px 8px 0;
    float: right;
    height: 54px;
    position: relative;
    top: 7px;
    width: 100%;
    z-index: 0;
}
.title {
	font: 2.5em Tahoma, Verdana, Helvetica, Arial;
	font-weight: bold;
	color: #226b9e;
}
#titleDiv > span {
    display: block;
    margin-top: 8px;
    margin-left: 20px;
}
#filterPanel {
	position: relative;
}
#filterHolderDiv {
	height: 64px;
    margin: 0 auto;
    position: relative;
    width: 94%;
    z-index: 0;
}
.filterHolder {
	background-color: #a8cbf3;
	border-bottom: 2px solid #FFFFFF;
	box-shadow: 0 0 10px #818181;
}
#resetHolderDiv {
	width: 54px;
	height: 100%;
	float: left;
	position: relative;
}
.resetHolder {
	background-color: #8cbdf5;
}
#resetBtn {
	width: 32px;
	height: 32px;
	position: relative;
	top: 16px;
	left: 10px;
}
.btnClass {
	background: -moz-linear-gradient(center top , #FFFFFF 5%, #E6E6E6 100%) repeat scroll 0 0 #FFFFFF;
    border: 1px solid #909090;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 8px 1px #618fc4;
    cursor: pointer;
}
.btnClass:hover {
	background: -moz-linear-gradient(center top , #E6E6E6 5%, #FFFFFF 100%) repeat scroll 0 0 #FFFFFF;
}
#resetArrowDiv {
	width: 9px;
	height: 100%;
	background-image:url('ui-reports/images/reset_panel_triangle.png');
	background-repeat: no-repeat;
	background-position: center;
	float: left;
    position: relative;
}
#filter {
	float: left;
    position: relative;
    width: 70%;
    margin-top: -8px;
}
#filter > div {
    float: left;
    top: 15px;
    margin-left: 10px;
    position: relative;
}
#filter > div > button {
	height: 20px;
	font: 1em Tahoma, Verdana, Helvetica, Arial;
	color: #4d4d4d !important;
	margin-bottom: 10px;
}
#filter > div > button:hover:after {
	background: url("ui-reports/images/close_filter_icon.png") repeat scroll 0 0 transparent;
    content: "";
    height: 15px;
    position: absolute;
    top: -6px;
    right: -6px;
    width: 15px;
}
#filter > div > button > span {
	top: -1px;
	position: relative;
}
#searchHolderDiv {
	width: 215px;
	height: 100%;
	float: right;
	position: relative;
}
.searchHolder {
	background-color: #8cbdf5;
}
#schoolSearchDiv {
	height: 28px;
	background-image:url('ui-reports/images/serach_icon.jpg');
 	background-repeat:no-repeat;
 	border: 1px solid #aaadb2;
 	margin-top: 16px;
	margin-left: 13px;
	display: inline-block;
}
#school {
	border: none;
    height: 26px;
    margin-left: 28px;
    width: 160px;
}
#regionPanelDiv {
	width: 94%;
	height: 58px;
	margin: 0 auto;
	position: relative;
	z-index: -1;
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
}
.regionPanel {
	background-color: #f3efec;	
}
.regionTitle {
	position: relative;
	left: 16px;
	top: 14px;
	font: 2em Tahoma, Verdana, Helvetica, Arial;
	color: #6a665b;
	text-align: left;
}
#splitterDiv {
	width: 94%;
	height: 3px;
	margin: 0 auto;
	position: relative;
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
}
.splitter {
	background-color: #FFFFFF;
}
#donutHolderDiv {
	width: 94%;
	margin: 0 auto;
	position: relative;
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	background-color: #FFFFFF;
}
.donutChart {
	width: 950px;
	height: 238px;
	margin: 0 auto;
}
.legend {
	display: inline;
	width: auto;
	height: auto;
	margin-top: 10px;
	margin-left: 10px;
}
.pie {
	display: inline;
	width: auto;
	height: auto;
	margin-right: 10px;
	margin-top: 25px;
}
#dataDiv {
	width: 94%;
	height: 568px;
	margin: 0 auto;
	position: relative;
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
}
.dataDiv {
	background-color: #FFFFFF;
}
#mapHolderDiv {
    float: left;
    background-color: #f9f8f4;
    position: relative;
}
.mapHolder {
	height: 568px;
    width: 50%;
}
#map {
    margin: -10px auto;
    width: 470px;
}
#stateListDiv {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 15px;
	margin-bottom: 15px;
	border-collapse: collapse;
	background-color: #FFFFFF;
}
#stateListHeaderDiv {
	background-color: #C6DBEF; 
	text-align: center;
	border: 1px solid #333333;
}
.stateColumn {
	width: 100px;
	text-align: left;
	height: :;px;
	border: 1px solid #333333;
	padding-left: 12px;
}
.schoolCountColumn {
	width: 100px;
	text-align: center;
	height: 16px;
	border: 1px solid #333333;	
}
#legend {
	position: absolute;
	bottom: -5px;
	left: 10px;
}
ul {
	list-style-type: none;
	overflow: hidden;
	padding: 0;
	margin: 0 0 0 5px;
	clear: both;
	display: block;
}
#legend li {
	float: left;
	margin-right: 1px;
	width: 20px;
	height: 20px;
	margin-top: 10px;
	line-height: 20px;
	display: list-item;
	text-align: -webkit-match-parent;
}
#legend p.more {
	float: right;
	margin-top: 5px;
}
#legend p.less {
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

#legend .q1-9{
	background: #DEEBF7;
}

#legend .q2-9{
	background: #C6DBEF;
}

#legend .q3-9{
	background: #9ECAE1;
}

#legend .q4-9{
	background: #6BAED6;
}

#legend .q5-9{
	background: #4292C6;
}

#legend .q6-9{
	background: #2171B5;
}
#legend .q7-9{
	background: #08519C;
}

#legend .q8-9{
	background: #08306B;
}
#mapSplitterDiv {
    background-color: #C5C5C5;
    height: 100%;
    position: absolute;
    width: 1px;
    z-index: 1;
    right: 0;
    top: 0;
}
.chartHolder {
	width: 50%;
	position: relative;
	float: left;
	border-bottom: 1px solid #C5C5C5;
}
.vPieChartHolder {
	height: 284px;
	border-bottom: 1px solid #C5C5C5;
}
.hPieChartHolder {
	width: 50%;
	position: relative;
	float: left;
	border-bottom: 1px solid #C5C5C5;
}
.chartTitleHolder {
	height: 62px;
	background-color: #f9f8f4;
	border-bottom: 1px solid #EFEFEF;
}
.chartTitle {
	position: relative;
	top: 15px;
	font: 1.5em Tahoma, Verdana, Helvetica, Arial;
	font-weight: bold;
	color: #6b645a;
	text-align: center;
}
#contentChartDiv, #connectivityChartDiv {
	height: 222px;
}
.barChartHolder {
	width:94%;
	height: 452px;
	margin: 0 auto;
	position: relative;
	background-color: #FFFFFF;
	border-top: 1px solid #C5C5C5;
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
}
.pieChart {
	width: 450px;
	margin: 0 auto;
    position: relative;
}
.barChart {
	width: 925px;
	height: 370px;
	margin: 0 auto;
}
#dataTabelDiv, #dataErrorTabelDiv {
	width:94%;
	margin: 0 auto;
	position: relative;
	background-color: #FFFFFF;
	border-top: 1px solid #C5C5C5;
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
}
.dataTabelTitle {
	position: relative;
	top: 10px;
	font: 2.8em Tahoma, Verdana, Helvetica, Arial;
	color: #6a665b;
	text-align: center;
}

#india path{
	stroke: #000;
  	stroke-width: .7px;
  	opacity: 1;
}
#india path:hover {
	opacity: 1;
	stroke-width: 1.5px;
	stroke: #522504;
	fill: #ffae00;
}

#india path.clicked {
	fill: #ffae00;
}

#india rect, text{
	pointer-events: none
}

.map-holder {
   width: 600px;
   height: 1000px;
    display: inline-block;
    float: left;
}
div.tooltip {   
  position: absolute;           
  text-align: center;                             
  height: 16px;                 
  padding: 2px;             
  font: 12px Tahoma, Verdana, Helvetica, Arial;        
  background: #FFFFFF;   
  border: 1px solid #333333;      
  border-radius: 12px;           
  pointer-events: none;
  padding-left: 10px;
  padding-right: 10px; 
  z-index: 3000;
  box-shadow: 0 0 10px #818181;     
}

.Blues .q0-9{fill:rgb(247,251,255)}
.Blues .q1-9{fill:rgb(222,235,247)}
.Blues .q2-9{fill:rgb(198,219,239)}
.Blues .q3-9{fill:rgb(158,202,225)}
.Blues .q4-9{fill:rgb(107,174,214)}
.Blues .q5-9{fill:rgb(66,146,198)}
.Blues .q6-9{fill:rgb(33,113,181)}
.Blues .q7-9{fill:rgb(8,81,156)}
.Blues .q8-9{fill:rgb(8,48,107)}

.nv-x g .tick line{
	opacity:0 !important;
}

.nvd3 .nv-legend .nv-series {
	cursor: default;
}
.preloaderStyle{
	left:0;
	top:0;
	position:absolute;
	width:100%;
	height:100%;
	background: rgba(0,0,0,.6);
	z-index:10;
}
.preloadPanel{	
	line-height: 80px;
	text-align:center;
	position: relative;
	left: 40%;
	top: 8%;
	border-radius:8px;
	width:250px;
	height:85px;
}

.monthSelectOpt{
	width: 100px;
	background: transparent;    
    padding: 2px;
    font-size: 14px;
    line-height: 1;
    border: 1;
    border-color:#999999;
    border-radius: 0;
    font: 1.2em Tahoma, Verdana, Helvetica, Arial;
}

#monthSelectDiv {
	width: 135px;
	height: 100%;
	float: right;
	position: relative;
	margin-top: 14px;
}
#regionTitleDiv {
	float: left;
	position: relative;
}
#viewMode {
	width: 80px;
	height: 100%;
	float: right;
	position: relative;
}
#viwButton {
	width: 50px;
	height: 25px;
	font: 1.2em Tahoma, Verdana, Helvetica, Arial;
	color: #4d4d4d !important;
	margin-top: 18px;
	margin-left: 12px;
	margin-right: 15px;
}
.viewBtnClass {
	background: -moz-linear-gradient(center top , #FFFFFF 5%, #E6E6E6 100%) repeat scroll 0 0 #FFFFFF;
    border: 1px solid #909090;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 8px 1px #c1c0bf;
    cursor: pointer;
}
#viwButton > span {
	top: -1px;
	position: relative;
}
#viewsPanel {
	width: 250px;
	height:135px;
	background: #FFFFFF;
	border: 1px solid #909090;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 8px 1px #c1c0bf;
    position: absolute;
	left:0;
	top:0;
	z-index: 10;
	visibility: hidden;
}
#checkBoxDiv {
	margin-left: 15px;
	margin-top: 10px;
}
.arc {
	stroke: #fff;
}
.titleClass {
	font-weight: bold;
}
#dataErrorTabelDiv table.display thead th {
	text-align: left;
}
.overflow {
	height: 107px;
}