.mainContent {
	padding: 127px 0px 50px 0px;
	float: left;
	width: 940px;
}

.resoursebox {
	width: 943px;
	float: left;
}

.subjectDrop {
	font-size: 12px;
	color: #272727;
	width: 157px;
	display: block;
	padding: 3px 6px;
	float: left;
	position: absolute;
	z-index: 99;
	margin: 11px 0 0 -16px;
}

.attachLessonBoxtop1 {
	background: url(/ce-static/images/common/topselectbox.png) no-repeat
		left top;
	display: block;
	width: 197px;
	height: 13px;
}

.attachLessonBoxbg {
	background: url(/ce-static/images/common/topselectbg.png) repeat-y left
		top;
	display: block;
	width: 176px;
	padding: 3px 7px 3px 10px;
}

.clearfix {
	content: ".";
	display: block;
	height: 1px;
	clear: both;
	visibility: hidden;
}

.attachLessonBoxbottom {
	background: url(/ce-static/images/common/topselectbottom.png) no-repeat
		left top;
	display: block;
	width: 197px;
	height: 6px;
}

.viewDropdown {
	background: url(/ce-static/images/common/dropdown.png) no-repeat left
		top;
	width: 164px;
	height: 30px;
	float: right;
	font-size: 12px;
	color: #fff;
	padding: 8px 0 0 10px; 0
	cursor: default;
	font-weight: bold;
}

.marr10 {
	margin-right: 10px;
}

.marb20 {
	margin-bottom: 20px;
}

.subjectDrop1 {
	font-size: 12px;
	color: #272727;
	width: 157px;
	padding: 3px 6px;
	float: left;
	position: absolute;
	z-index: 99;
	margin: 11px 0 0 -16px;
}

.navigation .seperator {
	float: left;
	padding: 10px 0px 0px 0px;
	background: url(/ce-static/images/common/nav_bg.png) no-repeat left top;
	display: block;
	width: 2px;
	height: 28px;
}

.footer ul li.seperator {
	float: left;
	display: inline-block;
	border-left: 1px solid #c3c3c3;
	height: 10px;
	margin: 3px 0 0 0;
}

.gameedgeicon {
	background: url(/ce-static/images/common/icon.png) no-repeat left -80px;
	width: 20px;
	height: 20px;
	float: left;
	padding: 0 10px 0 0;
}

.gameedgtopicbg {
	font-size: 12px;
	color: #fff;
	background: url(/ce-static/images/common/subnav_img.png) no-repeat left
		-81px;
	width: 109px;
	height: 13px;
	display: block;
	padding: 9px 10px 9px 20px;
	float: left;
	cursor: default;
	margin: 0 0 0 -13px;
	font-weight: bold;
}

.gameedgtopicbgc {
	 background: url("/ce-static/images/common/game_topic.png") no-repeat scroll left center transparent;
    color: #FFFFFF;
    cursor: default;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 15px;
    margin: 0 0 0 -13px;
    padding: 9px 10px 9px 20px;
    width: 220px;
}

.gameedgsubjectbg {
	font-size: 12px;
	color: #fff;
	background: url(/ce-static/images/common/subnav1_img.png) no-repeat left
		top;
	width: 119px;
	height: 13px;
	display: block;
	padding: 9px 10px;
	float: left;
	cursor: default;
	margin: 0;
	font-weight: bold;
}

.floatright {
	float: right !important;
}

.bluelink1 {
	color: #1897fd !important;
	font-size: 12px;
	text-decoration: none;
}

#links {
	display: none;
}

.blackseperator {
	color: #94989a;
	font-size: 12px;
	text-decoration: none;
	padding: 0 5px;
}

.blackseperator {
	color: #94989a;
	font-size: 12px;
	text-decoration: none;
	padding: 0 5px;
}

.deletelink {
	color: #da511f;
	font-size: 12px;
	text-decoration: none;
}

.gameedgetool {
	width: 892px;
	float: left;
}

.gameedgetool .band{
	background: url(/ce-static/images/common/resoursebg.png) repeat-x left
		top #e7f4ff;
	border: 1px solid #cbddf0;
	float: left;
	font-size: 12px;
	color: #4c4c4c;
	padding: 5px;
	width: 892px;
	-moz-border-radius: 3px; /* firefox mozilla*/
	-webkit-border-radius: 3px; /*safari, chrome*/
	border-radius: 3px; /*opera*/
	margin: 0 0 5px 0;
}

.gameedgetool .div.seperator {
	background: url(/ce-static/images/common/icon.png) no-repeat left -115px;
	width: 10px;
	height: 35px;
	float: left;
	margin: -10px 0 -13px 0;
}
/*
.gameedgetool li:hover {
	background: #dff2ff;
	border: 1px solid #cbddf0;
	float: left;
	font-size: 12px;
	color: #4c4c4c;
	padding: 5px;
	width: 892px;
	border-radius: 3px;
	margin: 0 0 5px 0;
}

.gameedgetool li:hover #links {
	display: block;
}
*/
.gameicon {
	background: url(/ce-static/images/common/gameicon.jpg) no-repeat left
		top;
	width: 20px;
	height: 20px;
	float: left;
}

.floatright {
	float: right !important;
}

.blackseperator {
	color: #94989a;
	font-size: 12px;
	text-decoration: none;
	padding: 0 5px;
}

.star {
	background: url(/ce-static/images/common/icon.png) no-repeat left top;
	width: 20px;
	height: 14px;
	float: left;
}

.star:hover {
	background: url(/ce-static/images/common/icon.png) no-repeat left -40px;
	width: 20px;
	height: 14px;
	float: left;
}

.attachListBoxbg {
	background: url(/ce-static/images/common/resoursebg.png) repeat-x left
		top #e7f4ff;
	border: 1px solid #cbddf0;
	float: left;
	font-size: 12px;
	color: #4c4c4c;
	padding: 2px;
	width: 160px;
	-moz-border-radius: 3px; /* firefox mozilla*/
	-webkit-border-radius: 3px; /*safari, chrome*/
	border-radius: 3px; /*opera*/
	margin: 0 0 5px 0;
}

.attachListBoxbg1 {
	background: url(/ce-static/images/common/resoursebg.png) repeat-x left
		top #e7f4ff;
	border: 1px solid #cbddf0;
	float: left;
	font-size: 12px;
	color: #4c4c4c;
	padding: 2px;
	width: 150px;
	-moz-border-radius: 3px; /* firefox mozilla*/
	-webkit-border-radius: 3px; /*safari, chrome*/
	border-radius: 3px; /*opera*/
	margin: 0 0 5px 0;
}