
	 .events{ width:256px; float: left; margin:0 0 0 0px;}
	 .events li{ float: left; list-style-type: none; font-size:12px; color:#646464; margin:5px 0px 5px 0px;}
	 .events li .label56{font-size:13px; color:#515151; font-weight:bold; width:56px; text-align:right; margin:0 10px 0 0; float:left;}
	 .events li .label155{font-size:12px; color:#515151;  width:155px; text-align:left;  float:left;}

	 .tipsblock{ width:250px; float: left; font-size:12px; color:#646464;}
	 .tipsblock .img1{ background:url(../images/classedge/tips_img.png) no-repeat left top; width:103px; height:89px; display:block; float:left;}
	 .tipsblock .img2{ background: url(../images/classedge/tips2_img.png) no-repeat left top; width:103px; height:89px; display:block; float:left;}
	 .tipsblock .heading{ color:#515151; font-size:13px; font-weight:bold; clear:right;}


	 .calenderbg{ width:39px; display:block; height:23px; padding:10px 0px 10px 10px; float:left;}
	 .calendericon{ background:url(/ce-static/images/presentation/icon_sprite.png) no-repeat left -179px; display: block; width:30px; height:27px;}
	 .calendericon:hover{ background:url(/classedge-v2-theme/images/classedge/icon_sprite.png) no-repeat left -452px; display: block; width:30px; height:27px;}

	 .prevweekbg{ display: block; width:49px; height:24px; float:left; padding:9px 7px 10px 5px; font-size:11px; color:#fff; }
	 .prevweekbg:hover{  background: url(/ce-static/images/presentation/calender_Topbg.png) 0px -250px; font-size:11px; color:#fff; }


	  .prevweekarrow{ background: url(/classedge-v2-theme/images/classedge/icon_sprite.png) no-repeat left -259px; display: block; width:14px; height:33px; float:left; font-size:11px; color:#fff; padding:0 0 0 12px;   text-shadow: 0 1px 0 #1467ad, 0 1px 0 rgba(34, 100, 16, 0.75); }
	  .prevweekarrow:hover{ background: url(/classedge-v2-theme/images/classedge/icon_sprite.png) no-repeat left -259px; display: block; width:14px; height:33px; float:left; font-size:11px; color:#fff; padding:0 0 0 12px;   text-shadow: 0 1px 0 #1467ad, 0 1px 0 rgba(34, 100, 16, 0.75); }


	  .nextweekbg{ background:url(/ce-static/images/presentation/calender_Topbg.png) no-repeat left -630px; display: block; width:38px; height:24px; float:left; padding:9px 4px 10px 16px; }
	  .nextweekbg:hover{  background: url(/ce-static/images/presentation/calender_Topbg.png) 1px -250px; font-size:11px; color:#fff; }

	  .nextweekarrow{ background: url(/classedge-v2-theme/images/classedge/icon_sprite.png) no-repeat 32px -215px; display: block; width:25px; height:33px; float:right; font-size:11px; color:#fff; padding:0 12px 0 0 ;   text-shadow: 0 1px 0 #1467ad, 0 1px 0 rgba(34, 100, 16, 0.75); }
	  .nextweekarrow:hover{ background: url(/classedge-v2-theme/images/classedge/icon_sprite.png) no-repeat 32px -215px; display: block; width:25px; height:33px; float:right; font-size:11px; color:#fff; padding:0 12px 0 0 ; }



	 .eyebg{ width:38px; display:block; height:23px; padding:10px 4px 10px 10px; float:right;}
	 .eyeicon{ background:url(/classedge-v2-theme/images/classedge/icon_sprite.png) no-repeat left -133px; display: block; width:30px; height:27px;}
	 .eyeicon:hover{ background:url(/classedge-v2-theme/images/classedge/icon_sprite.png) no-repeat left -406px; display: block; width:30px; height:27px;}



	 .monday{ background:url(/ce-static/images/presentation/calender_Topbg.png) no-repeat left -180px; display:block; width:30px; height:24px; float:left; padding:14px 10px 6px 10px; font-size:13px; color:#000000;}
	 .day{ width:53px; display:block; height:19px; padding:14px 0px 10px 0px; float: left;  font-size:13px; color:#000000; text-align:center;}
	  .day:hover{ background:url(/ce-static/images/presentation/day_hover.png) no-repeat left top; width:53px; display:block; height:19px; padding:14px 0px 10px 0px; float: left;  font-size:13px; color:#000000; text-align:center;}
	  .day .todayflag{ background:url(/classedge-v2-theme/images/classedge/icon_sprite.png) no-repeat left -362px; display: block; position:relative; height:14px; width:48px; margin:-20px 0 0 -11px;}

	   .day1{ width:53px; display:block; height:19px; padding:14px 0px 10px 0px; float: left;  font-size:13px; color:#000000; text-align:center;}
	  .day1:hover{ background:url(/ce-static/images/presentation/day_hover.png) no-repeat -1px top; width:53px; display:block; height:19px; padding:14px 0px 10px 0px; float: left;  font-size:13px; color:#000000; text-align:center;}

	    .now{ width:53px; display:block;  float: left;  font-size:13px; color:#000000; text-align:center;}
		.now .today_dayflag{ background:url(/classedge-v2-theme/images/classedge/icon_sprite.png) no-repeat left -362px; display: block; position:relative; height:14px; width:52px; margin:-14px 0 0 0px;}



	 .today{ background:url(/ce-static/images/presentation/calender_Topbg.png) no-repeat left 0px; display:block; width:89px; height:38px; float:left; padding:6px 7px 0 9px; font-size:13px; color:#000000;}
	 .today .blacktext14{ font-size:14px; color:#000000; float:left; font-weight:bold;}
	 .today .blacktext13{ font-size:13px; color:#000000; float:left; font-weight:bold; line-height:30px;}
	 .today .blacktext13a{ font-size:12px; color:#000000; float:left; font-weight:bold; line-height:30px; letter-spacing:-1.2px;}
	 .today .blacktext12{ font-size:12px; color:#000000; float:left;}
	 .today .seperator{ background:url(/classedge-v2-theme/images/classedge/icon_sprite.png) no-repeat left -86px; display:inline-block; float: left; width:2px; height:32px; margin:0 7px 0 5px;}
	.today .todayflag{ background:url(/classedge-v2-theme/images/classedge/icon_sprite.png) no-repeat left -362px; display: block; position:relative; height:14px; width:52px; margin:-20px 0 6px -9px;}


	 .wed{ background:url(/ce-static/images/presentation/calender_Topbg.png) no-repeat left -180px; display:block; width:30px; height:24px; float:left; padding:14px 10px 6px 10px; font-size:13px; color:#000000;}

	 .thu{ background:url(/ce-static/images/presentation/calender_Topbg.png) no-repeat left -180px; display:block; width:30px; height:24px; float:left; padding:14px 10px 6px 10px; font-size:13px; color:#000000;}

	 .fri{ background:url(/ce-static/images/presentation/calender_Topbg.png) no-repeat left -180px; display:block; width:30px; height:24px; float:left; padding:14px 10px 6px 10px; font-size:13px; color:#000000;}

	 .sat{ background:url(/ce-static/images/presentation/calender_Topbg.png) no-repeat left -270px; display:block; width:30px; height:24px; float:left; padding:14px 10px 6px 10px; font-size:13px; color:#000000;}




	 .row{ background:url(/classedge-v2-theme/images/classedge/h-line.png) repeat-x left bottom; width:593px; height:1px; display:block; height:44px; font-size:11px; padding:0 ;}


	 .row li{ width:558px; float:left;  padding:0 5px 0 10px; height:43px; cursor: pointer;}

	 .row li:hover{ width:579px; float:left;  background-color:#dff2ff;}

	 .row li .row1{ font-size:11px; color:#727272; }

	 .row li .row1 li{ font-size:12px; color:#727272; }

	 .time{ font-size:11px; color:#727272; vertical-align:bottom; width:40px; padding:23px 5px 0 10px; float:left; height:20px; }

	 .row1 li.time{ font-size:11px; color:#727272; vertical-align:bottom; width:40px; padding:23px 0 0 0; float:left; height:20px; }
	 .row1 li.class{ font-size:13px; color:#505050; font-weight:bold; float:left; line-height:18px; width:55px; padding:0px; text-align:left; word-wrap: break-word}
	 .row1 li.division{ font-size:13px; color:#505050; font-weight:bold; float:left; line-height:18px; width:20px; padding:0px; text-align:left; word-wrap: break-word}
	 .row1 li.subject{ font-size:13px; color:#505050; font-weight:bold; float:left; line-height:18px; width:110px; padding:0px;  text-align:left; word-wrap: break-word}
	  .row1 li.lesson{ font-size:12px; color:#000000; float:left; line-height:18px; width:202px; padding:0px;  text-align:left;}
	  .row1 li.lesson1{ font-size:12px; color:#000000; float:left; line-height:18px; width:202px; padding:0px;  text-align:left;}
	  .row1 li.default{ font-size:11px; color:#4b4b4b; float:left; line-height:17px; width:120px; padding:0px ;  text-align:left;cursor: pointer;}
	  .row1 li.default_singleicon{ font-size:11px; color:#4b4b4b; float:left; line-height:36px; width:100px; padding:0px ;  text-align:left;}
	  .row1 li.default1{ font-size:11px; color:#4b4b4b; float:left; line-height:17px; width:136px; padding:0px ;  text-align:left;}

	   .row1 li.default1Expand{ font-size:11px; color:#4b4b4b; float:left; line-height:17px; width:136px; padding:10px 0 0 0 ;  text-align:left;}


	  .row1 li .defaulticon{ font-size:11px; color:#4b4b4b;  padding:0px 0 0 15px; height:20px;text-align:left; background:url(/ce-static/images/presentation/icon_sprite.png) no-repeat left -295px; display:inline-block;width:140px;}
	   .row1 li .defaulticon_singleicon{ font-size:11px; color:#4b4b4b;  padding:0px 0 0 15px; text-align:left; background:url(/ce-static/images/presentation/icon_sprite.png) no-repeat left -295px; display:inline-block; line-height:20px;}


	  .row1 li .usericon{ font-size:11px; color:#4b4b4b;  padding:0px 0 0 15px; height:20px;text-align:left; background:url(/ce-static/images/presentation/icon_sprite.png) no-repeat left -324px; display:inline-block;width:140px;}

	   .row1 li .defaulticonblue{ font-size:11px; color:#0079e1;  padding:0px 0 0 15px; height:20px;text-align:left; background:url(/ce-static/images/presentation/icon_sprite.png) no-repeat left -295px; display:inline-block;}

	    .row1 li .usericonblue{ font-size:11px; color:#0079e1;  padding:0px 0 0 15px; height:20px;text-align:left; background:url(/ce-static/images/presentation/icon_sprite.png) no-repeat left -324px; display:inline-block;}

	 .break{ font-size:11px; color:#727272;  background-color:#ecf1f3; border:1px solid #dde4de; height:40px; width:577px; display:block; padding:0 5px 0 10px; margin:-2px 0 0;}
	 .break li{ font-size:11px; color:#727272;  }

	 .break li.time{ font-size:11px; color:#727272; vertical-align:bottom; width:40px; padding:6px 0 0 0; float:left; }
	  .break li.class{ font-size:11px; color:#a5a8aa;  float:left;  width:40px; padding:4px 0 0 0; text-align:left;}






	 .row li:hover .planSessionButton{ display:block;}

	 #row_1{ background-color:#dff2ff;}

	 .rowexpanded{  width:580px; font-size:12px; padding:0 5px 5px 10px; display:block; background: url("/ce-static/images/presentation/h-line.png") repeat-x scroll left bottom #F4FBE9;}
	 .rowexpand{  width:190px;  padding:5px 0 0 6px ; display:block; background-color:#F4FBE9; color:#000000; margin:-5px 0 0 0;}
	 .rowexpand li{ width:190px; float:left;   cursor: text; line-height:14px !important; }
	.rowexpand li .graytext{font-size:12px; color:#8e908b !important; padding:0 3px 0 0; }
	 .graytext{font-size:12px; color:#8e908b; padding:0 3px 0 0; }

	 .viewboxbg{ background:url(/ce-static/images/presentation/viewbox_bg.png) no-repeat left top;width:143px; height:80px; float: right; z-index:99px; position: absolute; margin: 40px 0 0 479px; padding:17px 0 0 20px;}
	 .viewboxbg li{ float: left; width:140px; list-style-type:none; padding:3px 0; font-size:13px; color:#505050;}
	span.checked{ background:url(/ce-static/images/presentation/checkboxbg.png) no-repeat left top !important; width:20px; height:15px; display:block; float:left; }
 span.unchecked{ background:url(/ce-static/images/presentation/checkboxbg.png) no-repeat left -24px !important; width:20px; height:15px; display:block; float:left; }


 .calenderboxbg{ background: url(/ce-static/images/presentation/calender_bg.png) no-repeat left top; width:184px; height:204px;  z-index:9999; position: absolute; margin: 40px 0 0 3px; padding:10px 10px 17px;}

	.calenderboxbg .date {color: #FFFFFF; font-size: 13px; padding: 0 0 10px; text-align: center; }

	.calenderboxbg .monthbg{ font-size:12px; color:#272727; background:url(/ce-static/images/presentation/calenderbg.png) no-repeat left top; width:88px; height:23px; display:block; padding:3px 10px; float:left; cursor:default;}

	 .monthDrop{ font-size:12px; color:#272727; width:91px; display:block; padding:3px 6px; float:left; position:absolute; z-index:99; left:11px; top:58px; background-color:#daecff; border:1px solid #bad4e9;}
	.monthDrop li{ font-size:12px; color:#272727;  padding:3px; float:left; width:100%; cursor: default;}



	.calenderboxbg .yearbg{ font-size:12px; color:#272727; background:url(/ce-static/images/presentation/calenderbg.png) no-repeat left -70px; width:52px; height:23px; display:block; padding:3px 10px; float:left; cursor:default;}

	 .yearDrop{ font-size:12px; color:#272727; width:56px; display:block; padding:3px 6px; float:left; position:absolute; z-index:99; right:15px; top:58px; background-color:#daecff; border:1px solid #bad4e9;}
	.yearDrop li{ font-size:12px; color:#272727;  padding:3px; float:left; width:100%; cursor: default;}

	 .calenderTBL{  width:182px; float:left; }
	 .calenderTBL td{width:24px; float:left; height:16px; border-top:1px solid #cccccc; border-left:1px solid #cccccc; border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; background:url(/ce-static/images/presentation/calenderbg.png) no-repeat left -279px; text-align:center; padding:4px 0 0 0; }
	 .calenderTBL td.borderR{border-right:1px solid #cccccc;}
	 .calenderTBL td.borderB{border-bottom:1px solid #cccccc;}


	  .calenderTBL td.blank{width:24px; float:left; height:16px; background:url(/ce-static/images/presentation/calenderbg.png) no-repeat left -210px; padding:4px 0 0 0; color:A9A9A9; }
	   .calenderTBL td.holiday{width:24px; float:left; height:16px; background:url(/ce-static/images/presentation/calenderbg.png) no-repeat left -350px; padding:4px 0 0 0; }
	   .calenderTBL td.today1{width:24px; float:left; height:16px; background:url(/ce-static/images/presentation/calenderbg.png) no-repeat left -420px; padding:4px 0 0 0; }
	   .calenderTBL td.graytext{font-size:12px; color:#737373; }


	 .calenderTBL th{width:24px; float:left; height:16px; font-size:12px; color:#000000; border-top:1px solid #cccccc; border-left:1px solid #cccccc; border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; background:url(/ce-static/images/presentation/calenderbg.png) no-repeat left -140px; text-align:center; padding:4px 0 0 0; }
	 .calenderTBL th.graytext{font-size:12px; color:#737373; }


	 .calenderTBL th.borderR{border-right:1px solid #cccccc;}

	.activity{ width:221px; float: left; margin:0 0 0 17px;}
	.activity li{  float: left; margin:0px;  width:221px; line-height:25px;}
	.activity li.line{  background:url(../images/classedge/h-line.png) repeat-x left top; display:block; width:221px; height:3px;}
	.activity li label.text{  float: left; margin:0px;  text-decoration: none; font-size:11px; color:#404040; width:193px;text-shadow: 0 1px 1px #ffffff, 0 1px 1px rgba(255, 255, 255, 0.35); }

.activity li label.rightnumber{  float: left; margin:0px;  text-decoration: none; font-size:14px; color:#404040; width:28px;text-shadow: 0 1px 1px #ffffff, 0 1px 1px rgba(255, 255, 255, 0.35); text-align:right; font-weight:bold; }

	  .editButton{ background:url(/ce-static/images/presentation/calender_Topbg.png) no-repeat left -76px; display:inline-block; width:44px; height:21px; display:block; padding:8px 0 0 10px; margin:5px 0 0; float:right; font-size:12px; color:#fff;text-shadow: 0 1px 0 #2b97e9, 0 1px 0 rgba(34, 100, 16, 0.75);}
	  .editButton:hover{ color:#fff;  background:url(/ce-static/images/presentation/calender_Topbg.png) no-repeat left -132px;}


	   .planSessionButton{ background:url(/ce-static/images/presentation/calender_Topbg.png) no-repeat left -76px; display:inline-block; width:44px; height:31px; display:none; padding:8px 0 0 10px; margin:5px 0 0; float:right; font-size:12px; color:#fff;text-shadow: 0 1px 0 #2b97e9, 0 1px 0 rgba(34, 100, 16, 0.75);}
	  .planSessionButton:hover{ color:#fff; background:url(/ce-static/images/presentation/calender_Topbg.png) no-repeat left -132px; }


	  #basic-modal-content {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000000; cursor: default; opacity:0.5; /* css standard */ filter:alpha(opacity=50); /* IE patch */}

/* Container */
#simplemodal-container {height:570px; width:848px; color:#333333; padding:0px 0px; font-size:12px;}
#simplemodal-container .topbg {padding:24px 0 0 29px; height:35px; background:url(/ce-static/images/presentation/topbg.png) no-repeat left top; display:block; font-size:18px; color:#4c4c4c; text-shadow: 1px 1px 0px #edf4f9, 0px 1px 0px rgba(237, 244, 349, 0.40); letter-spacing: 1px;width:819px; font-weight:bold;}
#simplemodal-container .bottombg {padding:15px 20px 10px 29px; height:39px !important; background: url(/ce-static/images/presentation/bottombg.png) no-repeat left bottom; display:block; width:799px; float:left;}

#simplemodal-container .middlebg {padding:20px 25px 20px 29px; background: url(/ce-static/images/presentation/bg.png) repeat-y left top; font-size:18px; color:#4c4c4c;  width:800px; display:block; float:left;  margin:0;}

#simplemodal-container .alertbox{ width:752px; background:#fffce0; border:1px solid #fff38d; padding:10px 11px; line-height:20px; }

.alertbox .fs13{ font-size:13px; color:#4c4c4c; text-decoration:none;}
.alertbox .fs14{ font-size:14px; color:#4c4c4c; text-decoration:none;}
.alertbox .bold{ font-weight:bold;}
 .alertbox a.closebutton{ background:url(/ce-static/images/presentation/alert_close.png) no-repeat left top; width:15px; height:15px; display:inline; z-index:3200; position:absolute; top:1px; right:-691px; cursor:pointer; float:right;}



#simplemodal-container .fs16{ font-size:16px; color:#4c4c4c; text-decoration:none; float:left;  white-space: nowrap;}
#simplemodal-container .w200{ float: left; width:200px;}

#simplemodal-container  .todayflag{ background: url(/ce-static/images/presentation/todayflag.png) no-repeat left top; display:inline-block;
 height:19px; width:48px; float:left;}

 #simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#4c4c4c;}
#simplemodal-container a.modalCloseImg {background: url(../images/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h2 {font-size:14px; color:#CC092F; text-decoration:none;}

 /* editTBL css*/

 .editTBL{ width:772px; float: left; }
.editTBL th{ padding:0px; border: 1px solid #cbddf0;  background-color:#f2f7f9; font-size:14px; color:#4c4c4c; font-weight:bold; margin:0px; height:26px; }


.editTBL th .lesson{ color:#3f3f3f; font-style: italic; font-size:14px; font-weight:normal;}
.editTBL th.mart20{ padding:20px 10px 0 10px !important; font-size:14px; color:#4c4c4c; font-weight:bold; }
.editTBL th.pad10{ padding:5px 10px !important; font-size:14px; color:#4c4c4c; font-weight:bold;  }

.editTBL th.whitebg{ background-color:#fff !important;}

.editTBL td.bordershadow{ border-left:1px solid #cbddf0; border-right:1px solid #cbddf0; border-bottom:1px solid #cbddf0; border-top:1px dotted #b7b7b7 !important; }
.editTBL th a{ color:#3f3f3f;  font-size:14px; font-weight:bold;}
.editTBL th a:hover{ color:#3f3f3f;  font-size:14px; font-weight:bold;}

.lessonTBL{ width:311px;  -webkit-box-shadow: 0 1px 4px #dbdbdb, 0 0 0 rgba(219, 219, 219, 0.35); -moz-box-shadow: 0 1px 4px #dbdbdb, 0 0 0 rgba(219, 219, 219, 0.35);box-shadow: 0 1px 4px #dbdbdb, 0 0 0 rgba(219, 219, 219, 0.35);}
.lessonTBL td{ width:200px; padding:12px 10px 12px 10px; }


.lesson1{ font-size:14px; color:#767676; width:300px; float:left;height: 140px;;overflow-y: auto; overflow-x: hidden;}
 .lesson1 li{ float: left; width: 280px; list-style-type:none; padding:3px 0; font-size:14px; color:#767676; cursor: default;}
.lesson1 li span.checked{ background:url(/ce-static/images/presentation/checkboxbg.png) no-repeat left top !important;  display:block; float:left; color:#3f3f3f; font-size:14px; padding:0 0 0 20px; width:auto; }
 .lesson1 li span.unchecked{ background:url(/ce-static/images/presentation/checkboxbg.png) no-repeat left -24px !important; padding:0 0 0 20px; display:block; float:left; color:#767676; font-size:14px; width:auto; }

.dotborderleft{ border-left: 1px dotted #b7b7b7;}
.dotborderbottom{ border-bottom: 1px dotted #b7b7b7;}


.add{ font-size:14px; color:#3f3f3f; width:200px; float:left; margin:0 0 20px 0;height: 140px;;overflow-y: auto; overflow-x: hidden;}
 .add li{ float: left; width: 182px; list-style-type:none; padding:7px 0; font-size:14px; color:#3f3f3f; cursor: default;}
.add li span.checked{ background:url(/ce-static/images/presentation/checkboxbg.png) no-repeat left top !important;  display:block; float:left; color:#3f3f3f; font-size:14px; padding:0 0 0 25px; width:auto; }
 .add li span.unchecked{ background:url(/ce-static/images/presentation/checkboxbg.png) no-repeat left -24px !important; padding:0 0 0 25px; display:block; float:left; color:#3f3f3f; font-size:14px; width:auto; }

  .add li .default{ float: left; background:url(/ce-static/images/presentation/icons.png) no-repeat left top; display:block; padding:0 0 0 27px; font-size:14px; color:#3f3f3f; }

  .add li .new{ float: left; background:url(/ce-static/images/presentation/icons.png) no-repeat left -39px;  display:block; padding:0 0 0 27px; font-size:14px; color:#3f3f3f; line-height:23px; }
  .attachLessonBoxtop{ background:url(/ce-static/images/common/topselecttop.png) no-repeat left top; display:block; width:197px; height:6px;}
   .attachLessonBoxtop1{ background: url(/ce-static/images/common/topselectbox.png) no-repeat left top; display:block; width:197px; height:13px;}

  .attachLessonBoxbottom{ background: url(/ce-static/images/common/topselectbottom.png) no-repeat left top; display:block; width:197px; height:6px; }
   .attachLessonBoxbg{ background: url(/ce-static/images/common/topselectbg.png) repeat-y left top; display:block; width:176px;padding:3px 7px 3px 10px; }


   .attachLessonBox{width:165px; z-index:99px; position: absolute; bottom:0px; margin:0 0 63px 175px ;}
	 .attachLessonBox li{ float: left; width:147px; list-style-type:none; padding:3px 0; font-size:12px; color:#505050;}
	 .attachLessonBox li a{ font-size:12px; color:#505050;  text-decoration:none;}
	 .attachLessonBox li a:hover{  font-size:12px; color:#505050;  text-decoration:none;}

	 .addouterBox{width:165px; z-index:99px; position: absolute; margin:10px 0 0 0 ;}
	 .addBox{width:165px;  margin:0 0 ;}
	 .addBox li{ float: left; width:147px; list-style-type:none; padding:3px 0; }
	  .addBox li a{ float: left;  font-size:12px; color:#000; text-decoration:none;}
	  .addBox li a:hover{ float: left;  font-size:12px; color:#000;  text-decoration:none;}



	 .classDivBox{width:165px; z-index:99px; position: absolute;  margin:20px 0 0px -10px;}
	 .classDivBox li{ float: left; width:147px; list-style-type:none; padding:3px 0; font-size:12px; color:#505050;}
	 .bluebg{ background:url(/ce-static/images/presentation/bluebg.png) repeat-x l top; width:150px; height:20px;}

.month1bg{ font-size:12px; color:#272727; background:url(/ce-static/images/presentation/calenderbg.png) no-repeat left top; width:88px; height:23px; display:block; padding:3px 10px; float:left; cursor:default; margin:7px 0 0 0;}
 .month1Drop{ font-size:12px; color:#272727; width:91px; display:block; padding:3px 6px; float:left; position:absolute; z-index:99; left:11px; background-color:#daecff; border:1px solid #bad4e9;overflow-y:auto;height:100px;}
	.month1Drop li{ font-size:12px; color:#272727;  padding:3px; float:left; width:100%; cursor: default;}

	 .divisionDrop{font-size:12px; color:#272727; width:91px; display:block; padding:3px 6px; float:left; position:absolute; z-index:99; left:11px; background-color:#daecff; border:1px solid #bad4e9;overflow-y:auto;height:100px;}
	 .divisionDrop li{font-size:12px; color:#272727;  padding:3px; float:left; width:100%; cursor: default;}


	 .allottedclasses{ width:177px; float: left; padding:5px 0px; margin:0px;}
	 .allottedclasses li{ width:177px; float: left; padding:5px 0 5px 11px; margin:0px; list-style-type:none; font-size:12px; color:#000;}

.dropdown_l_top{ background:url(/ce-static/images/presentation/l_top.png) no-repeat left top; width:5px; height:6px; display:block; float:left;}
.dropdown_l_bottom{ background:url(/ce-static/images/presentation/l_bottom.png) no-repeat left top; width:5px; height:6px; display:block; float:left;}
.dropdown_r_bottom{ background:url(/ce-static/images/presentation/r_bottom.png) no-repeat left top; width:5px; height:6px; display:block; float:left;}
.dropdown_r_top{ background:url(/ce-static/images/presentation/r_top.png) no-repeat left top; width:5px; height:6px; display:block; float:left;}

.dropdown_t_bg{ background:url(/ce-static/images/presentation/t_bg.png) repeat-x left top; display:block; float:left; height:6px;}
.dropdown_b_bg{ background:url(/ce-static/images/presentation/b_bg.png) repeat-x left top; display:block; float:left; height:6px;}
.dropdown_l_bg{ background:url(/ce-static/images/presentation/l_bg.png) repeat-y left top; display:block; float:left; height:6px;}
.dropdown_r_bg{ background:url(/ce-static/images/presentation/r_bg.png) repeat-y left top; display:block; float:left; height:6px;}

/* Globallike Detailsbutton*/
.cancelButton span {background: url(/ce-static/images/presentation/button_left.png) no-repeat 0 0; display: block; line-height: 10px; padding: 5px 0 8px 10px; color: #fff; font-size:12px;}
.cancelButton {background: url(/ce-static/images/presentation/button_right.png) no-repeat top right; display: block;	float: left; height: 23px; padding-right: 12px; text-decoration: none;
			font-size:11px;  margin: 0px 8px 0 0 ;text-shadow: 0 1px 1px #386c99, 0 1px 1px rgba(19, 92, 153, 0.35); }
.cancelButton:hover span	{background: url(/ce-static/images/presentation/button_left.png) no-repeat 0 0; color: #fff;}
.cancelButton:hover{background: url(/ce-static/images/presentation/button_right.png) no-repeat top right;}

/* Globallike Detailsbutton*/
.cancelButton1 span {background: url(/ce-static/images/presentation/button_left.png) no-repeat 0 0; display: block; line-height: 10px; padding: 5px 0 8px 10px; color: #fff; font-size:12px;}
.cancelButton1 {background: url(/ce-static/images/presentation/button_right.png) no-repeat top right; display: block;	float: left; height: 23px; padding-right: 12px; text-decoration: none;
			font-size:11px;  margin: 6px 8px 0 0 ;text-shadow: 0 1px 1px #386c99, 0 1px 1px rgba(19, 92, 153, 0.35); }
.cancelButton1:hover span	{background: url(/ce-static/images/presentation/button_left.png) no-repeat 0 0; color: #fff;}
.cancelButton1:hover{background: url(/ce-static/images/presentation/button_right.png) no-repeat top right;}


/* Globallike Detailsbutton*/
.arrowButton span {background: url(/ce-static/images/presentation/button_left.png) no-repeat 0 0; display: block; line-height: 10px; padding: 5px 3px 8px 10px; color: #fff; font-size:12px;}
.arrowButton {background: url(/ce-static/images/presentation/arrowbutton_right.png) no-repeat top right; display: block;	float: left; height: 23px; padding-right: 22px; text-decoration: none;
			font-size:11px;  margin: 0px 8px 0 0 ;text-shadow: 0 1px 1px #386c99, 0 1px 1px rgba(19, 92, 153, 0.35); }
.arrowButton:hover span	{background: url(/ce-static/images/presentation/button_left.png) no-repeat 0 0; color: #fff;}
.arrowButton:hover{background: url(/ce-static/images/presentation/arrowbutton_right.png) no-repeat top right;}

/* Globallike Detailsbutton*/
.arrowButton1 span {background: url(/ce-static/images/presentation/button_left.png) no-repeat 0 0; display: block; line-height: 10px; padding: 5px 3px 8px 10px; color: #fff; font-size:12px; }
.arrowButton1 {background: url(/ce-static/images/presentation/arrowbutton_right.png) no-repeat top right; display: block;	float: left; height: 23px; padding-right: 22px; text-decoration: none;position:relative; top:14px; left:225px; font-size:11px;  margin: 0px 8px 0 0 ;text-shadow: 0 1px 1px #386c99, 0 1px 1px rgba(19, 92, 153, 0.35); }
.arrowButton1:hover span	{background: url(/ce-static/images/presentation/button_left.png) no-repeat 0 0; color: #fff;}
.arrowButton1:hover{background: url(/ce-static/images/presentation/arrowbutton_right.png) no-repeat top right;}




/*  Scrollbar */
/* Height & width for the container - The rest is done by the jQuery part. */
  div[rel='scrollcontent1'] { width: 100%; height: 445px;}

  /* Basic CSS for the elements - If rel is "scrollcontent1", style its scrollbar by referring to ".scrollcontent-content", ".scrollcontent-bar", etc. */
  .scrollcontent1-content { /* background: #eee; */ } /* for vertical content, no explicit width is required for inner DIV */
  .scrollcontent1-bar { width: 11px; background: #fff; border-radius: 0px; border:1px solid #eff2fa; box-shadow: inset 0px 0px 5px #444444; overflow: hidden; }
  .scrollcontent1-drag { background: url(/ce-static/images/presentation/scroll.png) no-repeat left top; height:116px !important; cursor: pointer; }


.attachListBoxbg {
	background: url(/ce-static/images/common/resoursebg.png) repeat-x left
		top #e7f4ff;
	border: 1px solid #cbddf0;
	float: left;
	font-size: 12px;
	color: #4c4c4c;
	padding: 2px;
	width: 160px;
	-moz-border-radius: 3px; /* firefox mozilla*/
	-webkit-border-radius: 3px; /*safari, chrome*/
	border-radius: 3px; /*opera*/
	margin: 0 0 5px 0;
}

.gameLesson{
	height: 270px;
	width: 585px;
}

.gameList{
	color: #3F3F3F;
	float: left;
	font-size: 13px;
	font-weight: bold;
	padding: 0 0 9px;
}

.add td{ float: left; width: 182px; list-style-type:none; padding:7px 0; font-size:14px; color:#3f3f3f; cursor: default;}
.add td .new{ float: left; background:url(/ce-static/images/presentation/icons.png) no-repeat left -39px;  display:block; padding:0 0 0 27px; font-size:14px; color:#3f3f3f; line-height:23px; }
.add td .default{ float: left; background:url(/ce-static/images/presentation/icons.png) no-repeat left top; display:block; padding:0 0 0 27px; font-size:14px; color:#3f3f3f; }
.filterClass {
	font-size: 15px;
	font-family: Arial, Verdana, sans-serif;
	padding: 4px;
	vertical-align: middle;
}

.listClass {
	width: 100px;
	padding: 3px 0;
	font-size: 13px;
}
.viewBox_bg {
background: url(/ce-static/images/presentation/viewbox_bg.png) no-repeat 9px -5px;
background-size: 115px 67px;
width: 143px;
height: 75px;
float: left;
z-index: 99px;
position: absolute;
margin: 40px 0 0 0;
padding: 8px 0 0 15px;
}
