@charset "utf-8";
/*
@font-face
{
	font-family: 'ceMyRiadPro';
	src: url('fonts/MYRIADPRO-REGULAR.OTF');
	font-weight: normal;
	font-style: normal;
}
*/
.dummyDiv{
	/*padding-top:400px;*/
}
img{
	vertical-align:baseline !important;
}

.preloaderStyle{
	left:0;
	top:0;
	position:absolute;
	width:100%;
	height:100%;
	background: rgba(0,0,0,.6);
	z-index:10;
}
.preloadPanel{	
	line-height: 80px;
	text-align:center;
	/*font-family:Tahoma;
	font-size:14px;*/
	position: relative;
	/**left: 40%;*/
	top: 50%;
	border-radius:8px;
	width:250px;
	height:85px;
	/*background-color: #D0D0D0;
	border:1px solid #777777;*/ 
}
.closeBtnDiv{
	cursor:pointer;
	margin-right:5px;
	margin-top: -23px;
	position: relative;
	float: right;
}
.copyrightDiv{
	margin:0 auto;
	position:absolute;
	width:95%;
	visibility:hidden;
}
.copyrightDiv #todayDate{
	float:right;
}
.copyrightDiv #copyRight{
	float:left;
}
/* To hide chart vertical lines */
#contributionChart .nv-x g .tick line,#featureUtilzationChart .nv-x g .tick line{
	opacity:0 !important;
}
/* To hide chart vertical lines */
#classCapacityUtilizationChart .nv-x g .tick line,#edgeCapacityUtilizationChart .nv-x g .tick line{
	opacity:0 !important;
}
/* To hide chart vertical lines */
#userUtilChartDiv .nv-x g .tick line,#userUtilChartDiv .nv-x g .tick line{
	opacity:0 !important;
}
/*
 * Chart tool tip style
 */
.subjectToolTip{
	font-size:10px;
	position:absolute;
	background-color: #fff;
	border:1px solid gray;
	margin:10px auto;
	padding:5px;
	pointer-events:none;
}
/*
 * User chart styles
 */
.btnBar{
	margin-top: 15px;
	/*background-color: #E0E0E0;*/
	/*width: 100%;
	height: 26px;*/
}
.btnBar .sortBtn{
	position:absolute;
	margin-left:150px;
	visibility: hidden;
}
.btnBar a{
	float: left;
}
.btnBar table{
	margin-left: 15%;
	width:75%;
}
.btnBar td.col1{
	width:15%;
}
.btnBar td.cols{
	width:41%;
}
#userChartBar {
	list-style-type: none;
	margin:0;
	padding:0;
	line-height:140%;
}
#userChartBar li{
	float:left;
}
.btnBar a:link, 
.btnBar a:visited{
	font-weight: bold;
	color:#000 !important;
	font-family:Tahoma !important;
	font-size:0.9em !important;
	/*background-color:#98bf21;*/
	text-align:center;
	padding:4px;
	text-decoration: none !important;
}
.btnBar a{
	display:block;
	width:150px;
}


#userchart .axis text {
  font: 10px sans-serif;
}

#userchart .axis path,
#userchart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.barlogins{
	fill: steelblue;
  	fill-opacity: .9;
}

.barhits {
  fill: skyblue;
  fill-opacity: .9;
}
.bartime {
  fill: orange;
  fill-opacity: .9;
}

#userchart .y.axis path {
  /*display: none;*/
}

#userchart label {
  position: absolute;
  top: 10px;
  right: 10px;
}
/* EnD */
/* popup chart css */
#terminalChartModal{
	margin: 0 auto;
	position:absolute;
	height: 455px;
	/*top: -540px;*/	
	background-color: rgba(255,255,255,0.75);
	width: 100%;
	padding-top: 30px;
	visibility: hidden;
}
#terminalChartWindow{
	
	margin: 0 auto;
	position: relative;
	border: 3px solid #CCCCCC;
	width: 87%;
	top:7px;
	/*background-color:#fff;
	top:-475px;
	visibility: hidden;*/
}
#terminalTitle{
	position: absolute;
	left: 10px;
	top: 10px;
	font-weight: bold;
}
#userChartsMain{
	top: -490px;
}

.monthlyChartModal{
	margin: 0 auto;
	position: relative;
	
	background-color: rgba(255,255,255,0.75);
	width: 100%;
	height: 85%;
	visibility: hidden;
}
.monthlyChartWindow{
	margin: 0 auto;
	position: relative;
	border: 3px solid #CCCCCC;
	width: 87%;
	top:7px;
	/*background-color:#fff;
	top:-475px;
	
	
	visibility: hidden;*/
}
.userTitleBar{
	width: 100%;
	position: relative;
	background-color: #CCCCCC;
	height:7px;
}
#popupclosebtn{
	cursor: pointer;
	float:right;
}
#terminalpopupclosebtn{
	cursor:pointer;
	float:right;
}
#usernameTitle{
	position: absolute;
	left: 10px;
	top: 10px;
	font-weight: bold;
}

/*
 *  monthly terminal time spent
 */
#terminalMonthlyChart {
	margin: 0 auto;
	
	background-color: #fff;
	top: -480px;
}
#terminalMonthlyChart path {
	stroke-width: 1;
	fill: none;
}

#terminalMonthlyChart .data1 {
	stroke: steelblue;
	stroke-width: 2;
}
 
#terminalMonthlyChart .data2 {
	stroke: orange;
	stroke-width: 2;
}
 
#terminalMonthlyChart .axis {
  shape-rendering: crispEdges;
}
 
#terminalMonthlyChart .x.axis line {
  stroke: lightgrey;
}
 
#terminalMonthlyChart .x.axis .minor {
  stroke-opacity: .5;
}
 
#terminalMonthlyChart .x.axis path {
  display: none;
}

#terminalMonthlyChart .x.axis text {
	font-size: 14;
}
 
#terminalMonthlyChart .y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}
 
#terminalMonthlyChart .y.axis text {
	font-size: 14;
}
 
#terminalMonthlyChart .y.axisRight text {
	fill: orange;
}

#terminalMonthlyChart .y.axisLeft text {
	fill: steelblue;
}			
			
/* END user month terminal time spent*/
/*
 * User month chart 
 */
#userMonthChart {
	margin: 0 auto;
	position: relative;
	background-color: #fff;
	/*top: -490px;*/
}
#userMonthChart path {
	stroke-width: 1;
	fill: none;
}

#userMonthChart .data1 {
	stroke: steelblue;
	stroke-width: 2;
}
 
#userMonthChart .data2 {
	stroke: orange;
	stroke-width: 2;
}
 
#userMonthChart .axis {
  shape-rendering: crispEdges;
}
 
#userMonthChart .x.axis line {
  stroke: lightgrey;
}
 
#userMonthChart .x.axis .minor {
  stroke-opacity: .5;
}
 
#userMonthChart .x.axis path {
  display: none;
}

#userMonthChart .x.axis text {
	font-size: 14;
}
 
#userMonthChart .y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}
 
#userMonthChart .y.axis text {
	font-size: 14;
}
 
#userMonthChart .y.axisRight text {
	fill: orange;
}

#userMonthChart .y.axisLeft text {
	fill: steelblue;
}			
			
/* END user month chart */

/*
 * User month chart login hits
 */
#userMonthLoginChart {
	margin: 0 auto;
	/*position: relative;*/
	background-color: #fff;
	/*top: -480px;*/
}
#userMonthLoginChart path {
	stroke-width: 1;
	fill: none;
}

#userMonthLoginChart .data1 {
	stroke: steelblue;
	stroke-width: 2;
}
 
#userMonthLoginChart .data2 {
	stroke: orange;
	stroke-width: 2;
}
 
#userMonthLoginChart .axis {
  shape-rendering: crispEdges;
}
 
#userMonthLoginChart .x.axis line {
  stroke: lightgrey;
}
 
#userMonthLoginChart .x.axis .minor {
  stroke-opacity: .5;
}
 
#userMonthLoginChart .x.axis path {
  display: none;
}

#userMonthLoginChart .x.axis text {
	font-size: 14;
}
 
#userMonthLoginChart .y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}
 
#userMonthLoginChart .y.axis text {
	font-size: 14;
}
 
#userMonthLoginChart .y.axisRight text {
	fill: orange;
}

#userMonthLoginChart .y.axisLeft text {
	fill: steelblue;
}			
			
/* END user month chart - login hits*/

/*
 * User month chart time spent
 */
#userMonthTimeChart {
	margin: 0 auto;
	position: relative;
	background-color: #fff;
	/*top: -480px;*/
}
#userMonthTimeChart path {
	stroke-width: 1;
	fill: none;
}

#userMonthTimeChart .data1 {
	stroke: orange;
	stroke-width: 2;
}
 
#userMonthTimeChart .data2 {
	stroke: orange;
	stroke-width: 2;
}
 
#userMonthTimeChart .axis {
  shape-rendering: crispEdges;
}
 
#userMonthTimeChart .x.axis line {
  stroke: lightgrey;
}
 
#userMonthTimeChart .x.axis .minor {
  stroke-opacity: .5;
}
 
#userMonthTimeChart .x.axis path {
  display: none;
}

#userMonthTimeChart .x.axis text {
	font-size: 14;
}
 
#userMonthTimeChart .y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}
 
#userMonthTimeChart .y.axis text {
	font-size: 14;
}
 
#userMonthTimeChart .y.axisRight text {
	fill: orange;
}

#userMonthTimeChart .y.axisLeft text {
	fill: steelblue;
}			
			
/* END user month chart - time spent*/

/*
 * User month chart assets hits
 */
#userMonthAssetChart {
	margin: 0 auto;
	position: relative;
	background-color: #fff;
	/*top: -480px;*/
}
#userMonthAssetChart path {
	stroke-width: 1;
	fill: none;
}

#userMonthAssetChart .data1 {
	stroke: skyblue;
	stroke-width: 2;
}
 
#userMonthAssetChart .data2 {
	stroke: orange;
	stroke-width: 2;
}
 
#userMonthAssetChart .axis {
  shape-rendering: crispEdges;
}
 
#userMonthAssetChart .x.axis line {
  stroke: lightgrey;
}
 
#userMonthAssetChart .x.axis .minor {
  stroke-opacity: .5;
}
 
#userMonthAssetChart .x.axis path {
  display: none;
}

#userMonthAssetChart .x.axis text {
	font-size: 14;
}
 
#userMonthAssetChart .y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}
 
#userMonthAssetChart .y.axis text {
	font-size: 14;
}
 
#userMonthAssetChart .y.axisRight text {
	fill: orange;
}

#userMonthAssetChart .y.axisLeft text {
	fill: steelblue;
}			
			
/* END user month chart - Assets hits*/

.monthSelectOpt{
	background: transparent;    
    padding: 2px;
    font-size: 14px;
    line-height: 1;
    border: 1;
    border-color:#999999;
    border-radius: 0;
    /*height: 34px;*/
    /*-webkit-appearance: none;*/
	width: 100px;
	height: 24px;
}

#header {
	/*z-index:2;*/
	margin-top:10px;
	/*top:20px;*/
	width:100%;
	/*position:fixed;*/
	/*margin-top:10px;*/
}

#headerBlock {
	z-index:-2;
	position: relative;
	margin:0 auto;
	width:99%;
	height:140px;
	/*margin-top: 20px;*/
}
#tabIcon{
	cursor:pointer;
	position: absolute;
	left: 10px;
	top: -17px;
}
#btnHolder {
	z-index: 1;
	top: -8px;	
	text-align:center;
	background-color:#A1C3EA;	
	border: solid 1px #7FA8D8;	
	position: relative;
	margin:0 auto;
	width:99%;
	height:45px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright:0px;
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:8px;
	-webkit-border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-webkit-border-bottom-left-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
#btnContainer{
	margin-top:20px;
}
#point{
	z-index:2;
	position: relative;
	top: -9px;
	text-align: center;
}
#point-grey{
	position:relative;
	top:-1px;
	text-align:center;
}
.pgbreak{
	text-align: center;
	padding-bottom: 30px;
	padding-top: 30px;
}
/*
#btnHolder:before{
	content: "";
	margin: 0 auto;
	position: relative;
	bottom: -66px;	
	border-width: 20px 20px 0;
	border-style: solid;
	border-color: #7FA8D8 transparent;
	display: block;
	width: 0;
}
#btnHolder:after{
	content: "";
	margin: 0 auto;
	position: relative;
	bottom: -19px;	
	border-width: 19px 19px 0;
	border-style: solid;
	border-color: #A1C3EA transparent;
	display: block;
	width: 0;
}
*/

#chartOptionsBtn{
	margin-top:5px;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;	
	width:100%;
	background-color:#E0E0E0;
}
.chartOptionsStyle{
	margin-top:5px;
	text-align:center;	
	width:100%;
	background-color:#E0E0E0;
	/*position: relative;
	margin:0 auto;*/
}

#btnPanel{
	text-align:center;
	top:12px;
	width:100%;
	position: relative;
	margin:0 auto;
}
.btn-sections{
	
}
.bottomPanelTable{
	position: relative;
	/*bottom: -7px;
	 padding:4px; */
	background-color: #F2EFEB;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright:0px;
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:8px;
	-webkit-border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-webkit-border-bottom-left-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.tableDataMain{
	clear: none !important;
	float:left;
	height:100px;
    position: relative;
    left:0;
    top: 40px;
    width: 40%;
}
.tableData{
	clear: none !important;
	float:left;
	height:100px;
    position: relative;
    left:0;
    top: 40px;
    width: 30%;
}
/*
#schoolDetails{
	height: 100px;
    position: absolute;
    left:0;
    top: 46px;
    width: 50%;
} 
#contentDetails{
	height: 100px;
    position: absolute;
    right:0;
    top: 46px;
    width: 50%;
} 
*/
.headerBlockDiv {
	background-color:#FFFFFF;
	border:solid 1px #C2D5EA;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	
	-moz-box-shadow: 0px 0px 10px #C3C3C3;
	-webkit-box-shadow: 0px 0px 10px #C3C3C3;
	box-shadow: 0px 0px 10px #C3C3C3;
}

.sTitle{
	/*font-family: "Arial Narrow";*/
	font-family:Tahoma;
	font-size: 20pt;
	color: #216B9D;
}
#schoolTitle{
	line-height:40px;
    left: 5px;
    position: absolute;
}

#logo{
	position:relative;
	float:left;
	width: 180px;
	height: 100%;
}
#logo img{
	padding-top:40px;	
	height:80px;
	position:absolute;
	margin:auto;
	top:0;
	bottom: 0;
	left:0;
	right: 0;	
}
#detailsDiv{
	z-index:-1;
	height: 100%;
    left: 180px;
    position: absolute;
    right: 0;	
}
#topBar{
	z-index: 1;
}
#schoolTitleDiv{
	width: 100%;
	height: 35px;
	float: right;
	position:absolute;
	background-color:#D6E8FC;
	border:solid 0px #000000;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright:8px;
	-moz-border-radius-bottomleft:0px;
	-moz-border-radius-bottomright:0px;
	-webkit-border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-webkit-border-bottom-left-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}
#schoolTitleSpacer{
	
}
/* Chart styles */
#blankDiv{
	position: fixed;
	top: 0px;
	z-index:1;
	padding-top:50px;
	width:100%;
	background-color:#FFFFFF;
}
#contentDiv{
	margin-left:auto;
	margin-right:auto;
	margin-top:175px;	
	width:94%;
	height:100%;
	background-color:#EFF6FE;
	/*margin: 0 auto;*/
}
#containerDiv{
	padding-top: 50px;
	margin-left:auto;
	margin-right:auto;
	margin-top:-40px;	
	width:98%;
	height:100%;
	background-color:#EFF6FE;
	/*margin: 0 auto;*/
}
#summaryTableDiv{
	margin-top:25px;
	margin-bottom:25px;
}
/* TABLE STYLES */
#summaryTable{		
	background-color: #FFFFFF;
	border-collapse:collapse;
	width: 96%;	
	position: relative;
	margin: 0 auto;
	font-family: Tahoma !important;
	
}
#summaryTable td
{
	height:45px;
	border:1px solid #CCCCCC;
}
#summaryTable th
{
	height:45px;
	border:1px solid #CCCCCC;
	background-color:#DDDDDD;	
}
#utilizationTable {
	/*visibility:hidden;*/
	background-color: #FFFFFF;
	padding-top:20px;
	height:480px;
	width: 96%;
	top: -490px;
	position: relative;
	margin: 0 auto;
}
#utilizationTable>div {	
	position:absolute !important;
}
#classCapacityUtilTable{
	top: -460px;
	background-color: #FFFFFF;
	padding-top: 25px;
	height: 400px;
	width: 97%;	
	position: relative;
	margin: 0 auto;
}
#classCapacityUtilTable>div{	
	width:100%;
	position:absolute !important;
}
#edgeCapacityUtilTable{
	top: -460px;
	background-color: #FFFFFF;
	padding-top: 25px;
	height: 400px;
	width: 97%;	
	position: relative;
	margin: 0 auto;
}
#edgeCapacityUtilTable>div{	
	width:100%;
	position:absolute !important;
}
#featureTable, 
#contributionTable{
	background-color: #FFFFFF;
	padding-top: 25px;
	height: 215px;
	width: 97%;
	top: -260px;
	position: relative;
	margin: 0 auto;
}
#featureTable>div,
#contributionTable>div{	
	width:100%;
	position:absolute !important;
}

#usageHeatTable {
	background-color: #FFFFFF;
	padding-top: 25px;
	height: 545px;
	width: 96%;
	top: -585px;
	position: relative;
	margin: 0 auto;
}
#usageHeatTable>div{	
	position:absolute !important;
}

/* CHART STYLES */
.chartDiv{
	background-color:#FFFFFF;
	border:solid 1px #d0d0d0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	
	-moz-box-shadow: 0px 0px 10px #C3C3C3;
	-webkit-box-shadow: 0px 0px 10px #C3C3C3;
	box-shadow: 0px 0px 10px #C3C3C3;
	/*margin-bottom: 50px;*/
	margin-left:auto;
	margin-right:auto;
	width:95%;
}
.chartPanel{
	font-family:Tahoma;
	font-size:13pt;
	font-weight:normal;	
	color:#5c5c5c;
	width: 100%;
	height: 45px;	
	position: relative;
	margin:0 auto;
	text-align:center;
	background-color:#F2EFEB;
	border:solid 0px #000000;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright:8px;
	-moz-border-radius-bottomleft:0px;
	-moz-border-radius-bottomright:0px;
	-webkit-border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-webkit-border-bottom-left-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}
.chartTitle{
	line-height: 45px;
}
.chartSubPanel{
	font-family:Tahoma;
	font-size:10pt;
	font-weight:normal;	
	color:#5c5c5c;
	width: 100%;
	height: 25px;	
	position: relative;
	margin:0 auto;
	text-align:center;
	background-color:#F2EFEB;
	border:solid 0px #000000;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright:8px;
	-moz-border-radius-bottomleft:0px;
	-moz-border-radius-bottomright:0px;
	-webkit-border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-webkit-border-bottom-left-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}
.chartSubTitle{
	line-height: 25px;
}
.chartBg{
	margin-left:100px;
	margin-top:-225px;
	width:77%;
	height:64%;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzEiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMTAwJSIgeTE9IjEwMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCIgc3RvcC1jb2xvcj0iI2Q1OTA5ZiIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iI2JmZjNjOSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNnMSkiIC8+PC9zdmc+);
	background-image: -webkit-gradient(linear, center bottom, center top, color-stop(0%, #d5909f), color-stop(100%, #bff3c9));
	background-image: -webkit-linear-gradient(bottom, #d5909f 0%, #bff3c9 100%);
	background-image: -moz-linear-gradient(bottom, #d5909f 0%, #bff3c9 100%);
	background-image: -ms-linear-gradient(bottom, #d5909f 0%, #bff3c9 100%);
	background-image: -o-linear-gradient(bottom, #d5909f 0%, #bff3c9 100%);
	background-image: linear-gradient(to top, #d5909f 0%, #bff3c9 100%);
}
#loginChart svg{
	margin-top: -50px;
	height:200px !important;
	margin-bottom:10px;
}
#serverHitChart svg{
	margin-top: -25px;
	height:200px !important;
	margin-bottom:10px;
}
#mthResourceChart svg {
			
	height: 400px;
	margin-bottom:10px;
}
#chart svg {
		
	height: 400px;
	margin-bottom:10px;
}
#contributionChart svg{	
	height: 245px;
	/*margin-bottom:10px;*/
}
#featureUtilzationChart svg{
	height: 245px;
	/*margin-bottom:10px;*/
}
#contributionChart{
	height:310px;
	float:right;
	margin-right:3%;
}
#featureUtilzationChart{
	height:310px;
	float:left;
	margin-left:3%;
}
#contentMatrixBubbleChart{
	height:700px;
	margin-bottom: 50px;
	position: relative;
}

#contentMatrixBubbleChart svg{
	/*height:550px;*/
	width:600px;
	height:600px;	
	margin-bottom:10px;
	margin:0 auto;
	clear:both;
}
.twoChartsDiv{
	background-color:#FFFFFF;
	border:solid 1px #d0d0d0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	
	-moz-box-shadow: 0px 0px 10px #C3C3C3;
	-webkit-box-shadow: 0px 0px 10px #C3C3C3;
	box-shadow: 0px 0px 10px #C3C3C3;
	/*margin-bottom: 50px;*/
	margin-left:auto;
	margin-right:auto;
	width:45%;
}
.threeChartsDiv{
	background-color:#FFFFFF;
	border:solid 1px #d0d0d0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	
	-moz-box-shadow: 0px 0px 10px #C3C3C3;
	-webkit-box-shadow: 0px 0px 10px #C3C3C3;
	box-shadow: 0px 0px 10px #C3C3C3;
	/*margin-bottom: 50px;*/
	margin-left:auto;
	margin-right:auto;
	width:45%;
}

#activeUserIndexChart {
	margin-top:15px;
	margin-bottom:15px;
	height:250px;
	float:left;
	margin-left: 30px;
}
#activeUserIndexChart svg{
	/*margin-top: 15px;*/
	height: 240px;
	margin-bottom: 15px;
}
#activeAssetUsageChart {
	margin-top:15px;
	margin-bottom:15px;
	height:250px;
	float: right;
	margin-right: 30px;
}
#activeAssetUsageChart svg{
	/*margin-top: 15px;*/
	height: 240px;
	margin-bottom: 15px;
}
#capacityUtilizationChart {
	/*margin-top:15px;*/
	margin-bottom:15px;
	height:250px;
	float:left;
	margin-left: 30px;
}
#capacityUtilizationChart svg{
	/*margin-top: 15px;*/
	height: 240px;
	margin-bottom: 15px;
}
#overallUtilizationChart {
	/*margin-top:15px;*/
	margin-bottom:15px;
	height:250px;
	float: right;
	margin-right: 30px;

}
#overallUtilizationChart svg{
	/*margin-top: 15px;*/
	height: 240px;
	margin-bottom: 15px;
}

#userUtilzationChart {
	height:600px;
}
#userchart {	
	height: 450px;
	overflow-y: scroll;
	overflow:auto;
}
#userchart svg text {
	font: normal 10px Arial !important;
}
#userUtilChartDiv svg{
	width:95%;
	/*height:700px;*/
	margin-bottom:10px;
	margin:0 auto;
}

#classCapacityUtilizationChart {
	height:500px;	
	float:left;
	margin-left:3%;
}
#classCapacityUtilization {
	/*height:500px;*/	
	float:left;
	
}
#classCapacityUtilization svg{
	height:425px;
	width:95%;
	margin-bottom:10px;
	margin:0 auto;
}
#classOverAllCapacityDiv{
	height:100px;
	margin-top:410px;
	
}
#classOverAllCapacityDiv svg{
	height:100px;
	width:95%;	
	margin:0 auto;
}
#edgeCapacityUtilizationChart {
	height:500px;
	float:right;
	margin-right:3%;	
}
#edgeCapacityUtilization {	
	float:right;	
}
#edgeCapacityUtilization svg{
	height:425px;
	width:95%;
	margin-bottom:10px;
	margin:0 auto;
}
#edgeOverAllCapacityDiv{
	height:100px;
	margin-top:410px;
	
}
#edgeOverAllCapacityDiv svg{
	height:100px;
	width:95%;	
	margin:0 auto;
}
.helpIcn{
	float: left;	
}
.details{
	/*width:80px;*/
	position: relative;
	margin-top: -30px;
	float: right;
	margin-right: 15px;
}
.detailsNoMonth{
	right: 0;
	top: 4px;	
	position: absolute;	
	margin-right: 10px;
}
.monthTitle{
	font-size:12px !important;
	display:inline-block;
	float:left;
	margin-left: 5px;
}
.center{
	margin-left:auto;
	margin-right:auto;
	width:100%;
}
.printBtnClass{
	position:relative;
	top:-13px;
	margin-left:5px;
	margin-right:-4px;
	-moz-box-shadow: 0px 0px 8px 1px #8CAACC;
	-webkit-box-shadow: 0px 0px 8px 1px #8CAACC;
	box-shadow: 0px 0px 8px 1px #8CAACC;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #e6e6e6) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #e6e6e6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6');
	background-color:#ffffff;
	
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright:0px;
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:8px;
	-webkit-border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-webkit-border-bottom-left-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;	

	border:1px solid #b0b0b0;
	display:inline;
	color:#777777 !important;
	font-family:Tahoma !important;
	font-size:11px;
	font-weight:normal;
	padding:3px 4px;
	text-decoration:none !important; 
	text-shadow:1px 1px 0px #ffffff !important;
	cursor:pointer;
}.printBtnClass:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e6e6e6), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #e6e6e6 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#ffffff');
	background-color:#e6e6e6;
}.printBtnClass:active {
	position:relative;
	/*top:1px;*/
}.printBtnClass:checked{
	
}
.navBtnClass {	
	margin-left:0px;
	margin-right:0px;
	-moz-box-shadow: 0px 0px 8px 1px #8CAACC;
	-webkit-box-shadow: 0px 0px 8px 1px #8CAACC;
	box-shadow: 0px 0px 8px 1px #8CAACC;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #e6e6e6) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #e6e6e6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6');
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #b0b0b0;
	display:inline-block;
	color:#0007A3 !important;
	font-family:Tahoma !important;
	font-size:13px;
	font-weight:normal;
	padding:4px 5px;
	text-decoration:none !important; 
	text-shadow:1px 1px 0px #ffffff !important;
	cursor:pointer;
}.navBtnClass:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e6e6e6), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #e6e6e6 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#ffffff');
	background-color:#e6e6e6;
}.navBtnClass:active {
	position:relative;
	/*top:1px;*/
}.navBtnClass:checked{
	
}
.navBtnClass.down {
	margin-left:5px;
	margin-right:5px;
	-moz-box-shadow:inset 0px 0px 8px 1px #0d63a5;
	-webkit-box-shadow:inset 0px 0px 8px 1px #0d63a5;
	box-shadow: 0px 0px 8px 1px #c3c3c3;
	box-shadow:inset 0px 0px 8px 1px #0d63a5;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #45a1da), color-stop(1, #1172ae) );
	background:-moz-linear-gradient( center top, #45a1da 5%, #1172ae 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#45a1da', endColorstr='#1172ae');
	background-color:#45a1da;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #0960a3;
	display:inline-block;
	color:#ffffff !important;
	font-family:Tahoma !important;
	font-size:14px;
	font-weight:normal;
	padding:5px 6px;
	text-decoration:none !important;
	text-shadow:1px -1px 0px #124e73 !important;
	cursor:pointer;
}.navBtnClassSel:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1172ae), color-stop(1, #45a1da) );
	background:-moz-linear-gradient( center top, #1172ae 5%, #45a1da 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1172ae', endColorstr='#45a1da');
	background-color:#1172ae;
}.navBtnClassSel:active {
	
}

.btnClass {	
	margin-left:5px;
	margin-right:5px;
	-moz-box-shadow: 0px 0px 8px 1px #c3c3c3;
	-webkit-box-shadow: 0px 0px 8px 1px #c3c3c3;
	box-shadow: 0px 0px 8px 1px #c3c3c3;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #e6e6e6) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #e6e6e6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6');
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #b0b0b0;
	display:inline-block;
	color:#777777 !important;
	font-family:Tahoma !important;
	font-size:16px;
	font-weight:normal;
	padding:6px 20px;
	text-decoration:none !important; 
	text-shadow:1px 1px 0px #ffffff !important;
	cursor:pointer;
}.btnClass:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e6e6e6), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #e6e6e6 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#ffffff');
	background-color:#e6e6e6;
}.btnClass:active {
	position:relative;
	/*top:1px;*/
}.btnClass:checked{
	
}
/**/
.btnClass.down {
	margin-left:5px;
	margin-right:5px;
	-moz-box-shadow:inset 0px 0px 8px 1px #0d63a5;
	-webkit-box-shadow:inset 0px 0px 8px 1px #0d63a5;
	box-shadow: 0px 0px 8px 1px #c3c3c3;
	box-shadow:inset 0px 0px 8px 1px #0d63a5;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #45a1da), color-stop(1, #1172ae) );
	background:-moz-linear-gradient( center top, #45a1da 5%, #1172ae 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#45a1da', endColorstr='#1172ae');
	background-color:#45a1da;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #0960a3;
	display:inline-block;
	color:#ffffff !important;
	font-family:Tahoma !important;
	font-size:16px;
	font-weight:normal;
	padding:6px 20px;
	text-decoration:none !important;
	text-shadow:1px -1px 0px #124e73 !important;
	cursor:pointer;
}.btnClassSel:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1172ae), color-stop(1, #45a1da) );
	background:-moz-linear-gradient( center top, #1172ae 5%, #45a1da 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1172ae', endColorstr='#45a1da');
	background-color:#1172ae;
}.btnClassSel:active {
	
}

.subBtnClass {	
	margin-left:8px;
	margin-right:0px;
	-moz-box-shadow: 0px 0px 8px 1px #8CAACC;
	-webkit-box-shadow: 0px 0px 8px 1px #8CAACC;
	box-shadow: 0px 0px 8px 1px #8CAACC;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #e6e6e6) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #e6e6e6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6');
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #b0b0b0;
	display:inline-block;
	color:#0007A3 !important;
	font-family:Tahoma !important;
	font-size:13px;
	font-weight:normal;
	padding:4px 5px;
	text-decoration:none !important; 
	text-shadow:1px 1px 0px #ffffff !important;
	cursor:pointer;
}.subBtnClass:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e6e6e6), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #e6e6e6 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#ffffff');
	background-color:#e6e6e6;
}.subBtnClass:active {
	position:relative;
	/*top:1px;*/
}.subBtnClass:checked{
	
}

/* CSS Document */
.detailsTitleMain{
	width:50%;
	font-family:Tahoma;
	font-size:10pt;
	font-weight:bold;
	color:#5C5C5C;
}
.detailsTitle{
	width:70%;
	font-family:Tahoma;
	font-size:10pt;
	font-weight:bold;
	color:#5C5C5C;
}
.detailsTxt{
	font-family:Tahoma;
	font-size:10pt;
	font-weight:normal;
	color:#5C5C5C;
}

.monthTxtStyle{
	opacity:0;
	z-index:15;
	display:block;
	width:100%;
	top:50%;
	bottom:50%;
	position:absolute;
	font-family:Tahoma;
	text-align:center;
	font-weight:bold;
	color:#C3C3C3;
}
.mthYrTxt{
	float:right;
	margin-right:15px;
	padding-top: 4px;
}
.reportMonth{
	font-family:Tahoma;
	font-size:10pt;
	/*font-weight:bold;*/
	color:#5C5C5C;
	
}
.reportMonthTxt{
	font-family:Tahoma;
	font-size:10pt;	
	color:#5C5C5C;	
}
.reportHeading {
	font-family:Tahoma;
	font-size:1.5em;
	font-weight:bold;	
}

.metadataHeadings {
	font-family:Tahoma;
	font-size:1.05em;
	font-weight:bold;	
}

.tableHeading {
	font-family:Tahoma;
	font-size:1em;
	font-weight:bold;	
}

.rowHeading {
	font-family:Tahoma;
	font-size:0.8em;
	font-weight:bold;	
}

.columnHeading {
	font-family:Tahoma;
	font-size:0.8em;
	font-weight:bold;	
}

.tableData {
	font-family:Tahoma;
	font-size:0.8em;
}
.userTrendStyle{
	/* border:1px solid #999999; */
	margin-top: 5px;
	text-align:center;
}
.utilTrendTable{
	width:100%;
	/*padding-top:10px;
	padding-bottom:10px;
	border:1px solid #999999;*/
	border-collapse:collapse;
	margin: 0 auto;
}

.nvd3 .nv-groups path.nv-line {
	stroke-width:2px;
}

/* Summary styles */
.summaryStatusSpan{
	margin-left: 15px;
}
.poor div{
	width:10px;
	height:20px;
	background-color: #d00e0d;
	display: inline-block;
	position: absolute;
}
.inconsistent div{
	width:10px;
	height:20px;
	background-color: #ff6c00;
	display: inline-block;
	position: absolute;
}
.fair div{
	width:10px;
	height:20px;
	background-color: #f9d426;
	display: inline-block;
	position: absolute;
}
.good div{
	width:10px;
	height:20px;
	background-color: #81db44;
	display: inline-block;
	position: absolute;
}
.excellent div{
	width:10px;
	height:20px;
	background-color: #009900;
	/*background-color: #00FF00 ;*/	
	display: inline-block;
	position: absolute;
}
/*
 * Heat map slider
 */
.heatmapSliderDiv {
	position: absolute;
	padding: 20px;
	border: 1px solid #C5C5C5;
	width: 35%;
	float: right;
	right: 15px;
	margin-top: 50px;
	height: 65px;
	visibility: hidden;
	background-color: rgba(225,225,225,.95);
}
#heatmapFiltersDiv{
	background-color: rgba(225,225,225,.95);
	position: absolute;
	padding: 15px;
	border: 1px solid #C5C5C5;
	width: 40%;
	float: right;
	right: 70px;
	margin-top: 50px;
	visibility: hidden;
}
.filterDivs{
	font-family:Tahoma;
	font-size:10pt;
	float:left;
	width:30%;
	margin-left:10px;
}
.filterBtn{
	position: absolute;
	right: 10px;
	bottom: 10px;
}
.subButtons {
	position: absolute;
	right: 32px;
	top: 65px;
}
#sliderCloseBtn{
	position: absolute;
	right: 10px;
	top: 68px;
}

/**
 * HELP WINDOW * 
 */
.helpWin{
	z-index:5;
	/*visibility:hidden;*/
	position:absolute;
	width:500px;
	/*min-height:50px;*/
	background-color:#CCC;
	border:solid 1px gray;
	/*-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;*/
}

.helpWin span{
	display: block;
	margin:15px;
}

/**/
.ui-slider-tick-mark{
    display:inline-block;
    width:1px;
    background:black;
    height:10px;
    position:absolute;
    top:15px;    
}
.ui-slider-tick-text{
	width:50px;
	display:inline-block;            
    position:absolute;
    top:25px;
    font-family:Tahoma;
    font-size:9pt;   
}

#monthrange{
	font-family:Tahoma;
	font-size: 10pt;
}
/* Filter button css */
#filterRangeBtns{	
	position: absolute;
	float: left;
	left: 90px;
	top: 9px;
}
.filterRangeBtn {
	visibility:hidden;
	/*position:absolute;*/	
	margin-left:0px;
	margin-right:10px;
	-moz-box-shadow: 0px 0px 5px 0px #8CAACC;
	-webkit-box-shadow: 0px 0px 5px 0px #8CAACC;
	box-shadow: 0px 0px 5px 0px #8CAACC;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #e6e6e6) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #e6e6e6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6');
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #b0b0b0;
	display:inline-block;
	color:#0007A3 !important;
	font-family:Tahoma !important;
	font-size:13px;
	font-weight:normal;
	padding:2px 5px;
	text-decoration:none !important; 
	text-shadow:1px 1px 0px #ffffff !important;
	cursor:pointer;
}.filterRangeBtn:active {
	position:relative;
	/*top:1px;*/
}.filterRangeBtn:hover:after{
	background: url("ui-reports/images/close_filter_icon.png") repeat scroll 0 0 transparent;
    content: "";
    height: 15px;
    position: absolute;
    top: -6px;
    
    width: 15px;
}
/*
.filterRangeBtn {
	height: 20px;
	font: 1em Tahoma, Verdana, Helvetica, Arial;
	color: #4d4d4d !important;
	margin-bottom: 10px;
}
.filterRangeBtn:hover:after {
	background: url("ui-reports/images/close_filter_icon.png") repeat scroll 0 0 transparent;
    content: "";
    height: 15px;
    position: absolute;
    top: -6px;
    right: -6px;
    width: 15px;
}
*/