#dashboard {
font: 75%/1em Tahoma, Verdana, Helvetica, Arial;
color: #333;
}
#header {
    margin-top: 10px;
    width: 100%;
}
#headerBlockDiv {
    height: 68px;
    margin: 0 auto;
    position: relative;
    /*width: 99%;*/
    z-index: 2;
}
.headerBlock {
    background-color: #FFFFFF;
    border: 1px solid #C2D5EA;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 0 10px #7095bf;
}
#logo {
    float: left;
    height: 100%;
    position: relative;
    width: 120px;
}
#logo img {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}
#reportTitleDiv {
    height: 100%;
    left: 120px;
    position: absolute;
    right: 5px;
}
#headerSplitterDiv {
    background-color: #c3d5eb;
    float: left;
    height: 100%;
    position: relative;
    width: 1px;
    z-index: 2000;
}
#titleDiv {
    background-color: #e8f2fe;
    border: 0 solid #000000;
    border-radius: 0 8px 8px 0;
    float: right;
    height: 54px;
    position: relative;
    top: 7px;
    width: 100%;
    z-index: 0;
}
.title {
	font: 2em Tahoma, Verdana, Helvetica, Arial;
	font-weight: bold;
	color: #226b9e;
}
#titleDiv > span {
    display: block;
    margin-top: 12px;
    margin-left: 20px;
}
#datePanelDiv {
	height: 50px;
    margin: 0 auto;
    position: relative;
    /*width: 98%;*/
	/** Chaged to 1 from 0 for LX */
    z-index: 1;
}
.datePanel {
	background-color: #a8cbf3;
	border-bottom: 2px solid #FFFFFF;
	box-shadow: 0 0 10px #818181;
}
#containerDiv {
	/*width: 98%;*/
	height: 100%;
	margin: 0 auto;
	position: relative;
	border: 1px solid #d0d0d0;
	padding-top: 20px;*/
}
.container {
	background-color: #EFF6FE;	
}
#date {
	padding-top:14px;
	padding-bottom:10px;	
	/*width:30%;*/
	position: absolute;
	margin-left: 10px;
	z-index: 1;
}
#chartOptionsBtn{
	padding-top:12px;
	padding-bottom:10px;	
	/*width:70%;*/
	position: relative;
	margin: 0 auto;
}
.chartOptionsStyle{
	margin-top:5px;
	text-align:center;	
	width:100%;
	/*background-color:#E0E0E0;
	position: relative;
	margin:0 auto;*/
}
#refreshHolderDiv {
	width: 54px;
	height: 100%;
	float: left;
	position: relative;
	z-index: 2;
}
#refreshBtn {
	/*width: 32px;
	height: 32px;*/
	color: #0007A3;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    padding: 4px;
	width: 75px;
	margin: 3px;
	/*top: 10px;
	left: 10px;*/
	/*-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";*/
}
.btnClass {
	background: -moz-linear-gradient(center top , #FFFFFF 5%, #E6E6E6 100%) repeat scroll 0 0 #FFFFFF;
    border: 1px solid #909090;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 8px 1px #C3C3C3;
    cursor: pointer;
}
.btnClass:hover {
	background: -moz-linear-gradient(center top , #E6E6E6 5%, #FFFFFF 100%) repeat scroll 0 0 #FFFFFF;
}

.navBtnClass {	
	margin-left:5px;
	margin-right:5px;
	-moz-box-shadow: 0px 0px 8px 1px #c3c3c3;
	-webkit-box-shadow: 0px 0px 8px 1px #c3c3c3;
	box-shadow: 0px 0px 8px 1px #c3c3c3;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #e6e6e6) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #e6e6e6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6');
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #b0b0b0;
	display:inline-block;
	color:#777777 !important;
	font-family:Tahoma !important;
	font-size:16px;
	font-weight:normal;
	padding:6px 20px;
	text-decoration:none !important; 
	text-shadow:1px 1px 0px #ffffff !important;
	cursor:pointer;
}.navBtnClass:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e6e6e6), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #e6e6e6 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#ffffff');
	background-color:#e6e6e6;
}.navBtnClass:active {
	position:relative;
	/*top:1px;*/
}.navBtnClass:checked{
	
}
/**/
.navBtnClass.down {
	margin-left:5px;
	margin-right:5px;
	-moz-box-shadow:inset 0px 0px 8px 1px #0d63a5;
	-webkit-box-shadow:inset 0px 0px 8px 1px #0d63a5;
	box-shadow: 0px 0px 8px 1px #c3c3c3;
	box-shadow:inset 0px 0px 8px 1px #0d63a5;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #45a1da), color-stop(1, #1172ae) );
	background:-moz-linear-gradient( center top, #45a1da 5%, #1172ae 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#45a1da', endColorstr='#1172ae');
	background-color:#45a1da;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #0960a3;
	display:inline-block;
	color:#ffffff !important;
	font-family:Tahoma !important;
	font-size:16px;
	font-weight:normal;
	padding:6px 20px;
	text-decoration:none !important;
	text-shadow:1px -1px 0px #124e73 !important;
	cursor:default;
}.navBtnClassSel:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1172ae), color-stop(1, #45a1da) );
	background:-moz-linear-gradient( center top, #1172ae 5%, #45a1da 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1172ae', endColorstr='#45a1da');
	background-color:#1172ae;
}.navBtnClassSel:active {
	
}
.navBtnHolder {
	padding: 10px;
}
.chartDiv{
	background-color:#FFFFFF;
	border:solid 1px #d0d0d0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0px 0px 10px #C3C3C3;
	-webkit-box-shadow: 0px 0px 10px #C3C3C3;
	box-shadow: 0px 0px 10px #C3C3C3;
	margin-bottom: 20px;
	margin-left:auto;
	margin-right:auto;
	width:98%;
	height: 620px;
}
.chartPanel{
	font-family:Tahoma;
	font-size:12pt;
	font-weight:normal;	
	color:#5c5c5c;
	width: 100%;
	height: 45px;	
	position: relative;
	margin:0 auto;
	text-align:center;
	background-color:#F2EFEB;
	border:solid 0px #000000;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright:8px;
	-moz-border-radius-bottomleft:0px;
	-moz-border-radius-bottomright:0px;
	-webkit-border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-webkit-border-bottom-left-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}
.chartTitle{
	line-height: 26px;
	font: 1.8em Tahoma, Verdana, Helvetica, Arial;
	color: #216B9D;
}
#tabIcon{
	cursor:pointer;
	position: absolute;
	left: 10px;
	top: -17px;
}

#userSummary, #roomSummary {
    margin: 0 auto;
    position: relative;
    width: 100%;
    margin-top: 5px;
	text-align: center;
	background-color: #E0E0E0;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 13px
}
.summaryTable {
	width: 100%;
	border-collapse: collapse;
    border-spacing: 2px;
	border-color: gray;
}
.axis path,
    .axis line {
      fill: none;
      stroke: black;
      stroke-width: 2;
      shape-rendering: crispEdges;
    }

    .axis text {
      font-family: sans-serif;
      font-size: 10px;
      font-weight: bold;
    }
    .currenttime-label {
      font-family: sans-serif;
      font-size: 10px;
      font-weight: bold;
    }

    .timeline-label {
      font-family: sans-serif;
      font-size: 12px;
    }
    .axis {
      transform: translate(0px,40px);
      -ms-transform: translate(0px,40px); /* IE 9 */
      -webkit-transform: translate(0px,40px); /* Safari and Chrome */
      -o-transform: translate(0px,40px); /* Opera */
      -moz-transform: translate(0px,40px); /* Firefox */
    }
#usertimeline, #terminaltimeline {
	/*width: 700px;*/
	width: 98%;
	/*height: 520px;*/
	margin: 44px 25px;
    position: relative;
}
#userChartContainer, #terminalChartContainer{
	/*height:600px;
	margin-bottom: 50px;*/
	position: relative;
}
#userTable, #terminalTable{
	background-color: #FFFFFF;
	width: 98%;
	position: relative;
	margin: 0 auto;
	margin-top: 28px;
}
/*#userTable>div, #terminalTable>div{	
	position:absolute !important;
}*/
.chartDiv{
	background-color:#FFFFFF;
	border:solid 1px #d0d0d0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	position: relative;
	-moz-box-shadow: 0px 0px 10px #C3C3C3;
	-webkit-box-shadow: 0px 0px 10px #C3C3C3;
	box-shadow: 0px 0px 10px #C3C3C3;
	/*margin-bottom: 50px;*/
	margin-left:auto;
	margin-right:auto;
	width:97%;
}
.ui-datepicker-next,.ui-datepicker-prev{display:none;}

#userDetails {
	width: 100%;
	border-collapse: collapse;
	font-size: 11px; 	
}
#userDetails th {
    background-color: #bfe8fe;
    text-align: left;
    padding: 6px;
}
#userDetails td {
    padding: 8px;
}
#sessionTable {
    border-collapse: collapse;
    font-size: 11px; 
}

#sessionTable th {
    background-color: #bfe8fe;
    padding: 8px 0;
}
#sessionTable tr.row-odd {
    background-color: #DCF2FF;
}
#sessionTable tr.row-even {
    background-color: #ffffff;
}
#sessionTable td {
    padding: 8px;
}
#timerPanelDiv {
	background: none repeat scroll 0 0 #FFFFFF;
	box-shadow: 0px 0px 10px #C3C3C3;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	right: 0;
	height: 90px;
	position: absolute;
	text-align: center;
	width: 98px;
}
#timerPanelDiv > p {
	margin-top: 8px;
	display: inline;
}
.viewsHolder {
	float: right;
    margin: 10px 15px;
    position: relative;
}
.viewsHolder > div {
	float: left;
}
.viewsLabel {
	font-weight: bold;
	padding-right: 4px;
	margin-top: 12px;
}
#userRadioBtn, #roomRadioBtn {
	background: #f2f2f2;
	box-shadow: inset 2px 2px 2px 0px #dddddd;
	border-radius: 24px;
	height: 24px;
	padding: 6px 4px 4px;
}
.activeAll {
	cursor: pointer;
	background: none !important;
	-moz-border-radius: 13px;
	border-radius: 13px;
	border: none;
	width: 64px;
	height: 18px !important;
	line-height: 18px !important;
	color: #45a1da;
	margin-right: 0 !important;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	vertical-align: sub;
}
.activeAll.down {
	background-color:#45a1da !important;
	box-shadow: 0px 0px 8px 1px #c3c3c3;
	box-shadow:inset 0px 0px 8px 1px #0d63a5;
	border: 1px solid #45a1da;
	color: #FFFFFF;
	cursor: default;
}
.scrollable {
	border: 1px solid #cacaca;
}
.iText {
	margin: 8px;
	font-size: 12px;
	display: inline-block;
}
.resourse_bg.pos {
	position: relative;
}
.export {
	float: right !important;
	margin-bottom: 5px !important;
	text-decoration: none;
}
#datepicker {
	width: 175px;
    height: 25px;
}
