@charset "utf-8";
/*
@font-face
{
	font-family: 'ceMyRiadPro';
	src: url('fonts/MYRIADPRO-REGULAR.OTF');
	font-weight: normal;
	font-style: normal;
}
*/
@media print {
	.page-break	{ display: block; page-break-before: always; }
	* { text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
}
@page {	
	/*size:11in 8.5in; margin: 2cm;
	width: 1410px !important;*/
	margin: 0.5cm;
	size: landscape;
}
#dt_example{
	width: 1450px !important;
}
.dummyDiv{
	/*padding-top:400px;*/
}
.closeBtnDiv{
	visibility:hidden !important;
}
.copyrightDiv{	
    /*position: fixed;
    top: 200px;*/
    margin:0 auto;
	position:relative;
	width:95%;
	visibility:visible;
}
.copyrightDiv #todayDate{
	float:right;
}
.copyrightDiv #copyRight{
	float:left;
}
/* To hide chart vertical lines */
#contributionChart .nv-x g .tick line,#featureUtilzationChart .nv-x g .tick line{
	opacity:0 !important;
}
.monthSelectOpt{
	background: transparent;    
    padding: 2px;
    font-size: 14px;
    line-height: 1;
    border: 1;
    border-color:#999999;
    border-radius: 0;
    /*height: 34px;*/
    /*-webkit-appearance: none;*/
}

#header {
	/*z-index:2;*/
	margin-top:10px;
	/*top:20px;*/
	width:100%;
	/*position:fixed;*/
	/*margin-top:10px;*/
}

#headerBlock {
	z-index:2;
	position: relative;
	margin:0 auto;
	width:99%;
	height:140px;
	/*margin-top: 20px;*/
}
#tabIcon{
	visibility:hidden;
}
#btnHolder {
	visibility:hidden;
}
#btnContainer{
	margin-top:20px;
}
#point{
	visibility:hidden;
}
#point-grey{
	display:none;
}
.pgbreak{
	text-align: center;
	padding-bottom: 30px;
	padding-top: 30px;
}
.pgbreak img{
	display:none;
}
/*
#btnHolder:before{
	content: "";
	margin: 0 auto;
	position: relative;
	bottom: -66px;	
	border-width: 20px 20px 0;
	border-style: solid;
	border-color: #7FA8D8 transparent;
	display: block;
	width: 0;
}
#btnHolder:after{
	content: "";
	margin: 0 auto;
	position: relative;
	bottom: -19px;	
	border-width: 19px 19px 0;
	border-style: solid;
	border-color: #A1C3EA transparent;
	display: block;
	width: 0;
}
*/

#chartOptionsBtn{
	visibility:hidden;
}
.chartOptionsStyle{
	margin-top:5px;
	text-align:center;	
	width:100%;
	background-color:#E0E0E0;
	/*position: relative;
	margin:0 auto;*/
}

#btnPanel{
	text-align:center;
	top:12px;
	width:100%;
	position: relative;
	margin:0 auto;
}
.btn-sections{
	
}
.bottomPanelTable{
	position: relative;
	/*bottom: -7px;
	 padding:4px; */
	background-color: #F2EFEB;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright:0px;
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:8px;
	-webkit-border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-webkit-border-bottom-left-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.tableDataMain{
	clear: none !important;
	float:left;
	height:100px;
    position: relative;
    left:0;
    top: 40px;
    width: 40%;
}
.tableData{
	clear: none !important;
	float:left;
	height:100px;
    position: relative;
    left:0;
    top: 40px;
    width: 30%;
}
/*
#schoolDetails{
	height: 100px;
    position: absolute;
    left:0;
    top: 46px;
    width: 50%;
} 
#contentDetails{
	height: 100px;
    position: absolute;
    right:0;
    top: 46px;
    width: 50%;
} 
*/
.headerBlockDiv {
	background-color:#FFFFFF;
	border:solid 1px #999999;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	/*
	-moz-box-shadow: 0px 0px 10px #C3C3C3;
	-webkit-box-shadow: 0px 0px 10px #C3C3C3;
	box-shadow: 0px 0px 10px #C3C3C3;
	*/
}

.sTitle{
	/*font-family: "Arial Narrow";*/
	font-family:Tahoma;
	font-size: 20pt;
	color: #216B9D;
}
#schoolTitle{
	line-height:40px;
    left: 5px;
    position: absolute;
}

#logo{
	position:relative;
	float:left;
	width: 180px;
	height: 100%;
}
#logo img{
	padding-top:40px;	
	height:80px;
	position:absolute;
	margin:auto;
	top:0;
	bottom: 0;
	left:0;
	right: 0;	
}
#detailsDiv{
	z-index:-1;
	height: 100%;
    left: 180px;
    position: absolute;
    right: 0;	
}
#topBar{
	z-index: 1;
}
#schoolTitleDiv{
	width: 100%;
	height: 35px;
	float: right;
	position:absolute;
	background-color:#D6E8FC;
	border:solid 0px #000000;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright:8px;
	-moz-border-radius-bottomleft:0px;
	-moz-border-radius-bottomright:0px;
	-webkit-border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-webkit-border-bottom-left-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}
/* Chart styles */
#blankDiv{
	position: fixed;
	top: 0px;
	z-index:1;
	padding-top:50px;
	width:100%;
	background-color:#FFFFFF;
}
#contentDiv{
	margin-left:auto;
	margin-right:auto;
	margin-top:175px;	
	width:94%;
	height:100%;
	background-color:#EFF6FE;
	/*margin: 0 auto;*/
}
#containerDiv{
	padding-top: 50px;
	margin-left:auto;
	margin-right:auto;
	margin-top:-40px;	
	width:98%;
	height:100%;
	background-color:#EFF6FE;
	/*margin: 0 auto;*/
}
/* TABLE STYLES */
#utilizationTable {
	/*display:block !important;	*/
	background-color: #FFFFFF;
	padding-top:20px;
	height:495px;
	width: 96%;
	top: -490px;
	position: relative;
	margin: 0 auto;
}
/*
#userUtilzationChart svg{
	visibility:hidden;
}
*/
#utilizationTable>div {	
	position:absolute !important;
}
#featureTable, 
#contributionTable{
	background-color: #FFFFFF;
	padding-top: 25px;
	height: 215px;
	width: 97%;
	top: -260px;
	position: relative;
	margin: 0 auto;
}
#featureTable>div,
#contributionTable>div{	
	width:100%;
	position:absolute !important;
}

#usageHeatTable {
	background-color: #FFFFFF;
	padding-top: 25px;
	height: 545px;
	width: 96%;
	top: -585px;
	position: relative;
	margin: 0 auto;
}
#usageHeatTable>div{	
	position:absolute !important;
}

/* CHART STYLES */
.chartDiv{
	background-color:#FFFFFF;
	border:solid 1px #d0d0d0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	/*
	-moz-box-shadow: 0px 0px 10px #C3C3C3;
	-webkit-box-shadow: 0px 0px 10px #C3C3C3;
	box-shadow: 0px 0px 10px #C3C3C3;
	*/
	/*margin-bottom: 50px;*/
	margin-left:auto;
	margin-right:auto;
	width:95%;
}
.chartPanel{
	font-family:Tahoma;
	font-size:13pt;
	font-weight:normal;	
	color:#5c5c5c;
	width: 100%;
	height: 45px;	
	position: relative;
	margin:0 auto;
	text-align:center;
	background-color:#F2EFEB;
	border:solid 0px #000000;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright:8px;
	-moz-border-radius-bottomleft:0px;
	-moz-border-radius-bottomright:0px;
	-webkit-border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-webkit-border-bottom-left-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}
.chartTitle{
	line-height: 45px;
}
#loginChart svg{
	margin-top: -50px;
	height:200px !important;
	margin-bottom:10px;
}
#mthResourceChart svg {
			
	height: 400px;
	margin-bottom:10px;
}

#chart svg {	
	height: 400px;
	margin-bottom:10px;
}
#contributionChart svg{	
	height: 245px;
	/*margin-bottom:10px;*/
}
#featureUtilzationChart svg{
	height: 245px;
	/*margin-bottom:10px;*/
}
#contributionChart{
	height:310px;
	float:right;
	margin-right:3%;
}
#featureUtilzationChart{
	height:310px;
	float:left;
	margin-left:3%;
}
#contentMatrixBubbleChart{
	height:640px;
	margin-bottom: 50px;
}

#contentMatrixBubbleChart svg{
	/*height:550px;*/
	width:600px;
	height:600px;	
	margin-bottom:10px;
	margin:0 auto;
}
.twoChartsDiv{
	background-color:#FFFFFF;
	border:solid 1px #d0d0d0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	/*
	-moz-box-shadow: 0px 0px 10px #C3C3C3;
	-webkit-box-shadow: 0px 0px 10px #C3C3C3;
	box-shadow: 0px 0px 10px #C3C3C3;
	*/
	/*margin-bottom: 50px;*/
	margin-left:auto;
	margin-right:auto;
	width:45%;
}
#userUtilzationChart {
	height:600px;
}
#userchart {	
	height: 450px;
	overflow-y: scroll;
	overflow:auto;
}
#userchart svg text {
	font: normal 10px Arial !important;
}
#userUtilzationChart svg{
	width:95%;	
	/*height: 400px;*/
	margin-bottom:10px;
	margin:0 auto;
}

.monthTitle{
	font-size:12px !important;
	position: relative;
	margin-top: -30px;
	float: right;
	margin-right: 15px;
}
.center{
	margin-left:auto;
	margin-right:auto;
	width:100%;
}

.navBtnClass {	
	margin-left:0px;
	margin-right:0px;
	-moz-box-shadow: 0px 0px 8px 1px #8CAACC;
	-webkit-box-shadow: 0px 0px 8px 1px #8CAACC;
	box-shadow: 0px 0px 8px 1px #8CAACC;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #e6e6e6) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #e6e6e6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6');
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #b0b0b0;
	display:inline-block;
	color:#0007A3 !important;
	font-family:Tahoma !important;
	font-size:13px;
	font-weight:normal;
	padding:4px 5px;
	text-decoration:none !important; 
	text-shadow:1px 1px 0px #ffffff !important;
	cursor:pointer;
}.navBtnClass:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e6e6e6), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #e6e6e6 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#ffffff');
	background-color:#e6e6e6;
}.navBtnClass:active {
	position:relative;
	/*top:1px;*/
}.navBtnClass:checked{
	
}
.navBtnClass.down {
	margin-left:5px;
	margin-right:5px;
	-moz-box-shadow:inset 0px 0px 8px 1px #0d63a5;
	-webkit-box-shadow:inset 0px 0px 8px 1px #0d63a5;
	box-shadow: 0px 0px 8px 1px #c3c3c3;
	box-shadow:inset 0px 0px 8px 1px #0d63a5;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #45a1da), color-stop(1, #1172ae) );
	background:-moz-linear-gradient( center top, #45a1da 5%, #1172ae 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#45a1da', endColorstr='#1172ae');
	background-color:#45a1da;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #0960a3;
	display:inline-block;
	color:#ffffff !important;
	font-family:Tahoma !important;
	font-size:14px;
	font-weight:normal;
	padding:5px 6px;
	text-decoration:none !important;
	text-shadow:1px -1px 0px #124e73 !important;
	cursor:pointer;
}.navBtnClassSel:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1172ae), color-stop(1, #45a1da) );
	background:-moz-linear-gradient( center top, #1172ae 5%, #45a1da 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1172ae', endColorstr='#45a1da');
	background-color:#1172ae;
}.navBtnClassSel:active {
	
}

.btnClass {	
	margin-left:5px;
	margin-right:5px;
	-moz-box-shadow: 0px 0px 8px 1px #c3c3c3;
	-webkit-box-shadow: 0px 0px 8px 1px #c3c3c3;
	box-shadow: 0px 0px 8px 1px #c3c3c3;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #e6e6e6) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #e6e6e6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6');
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #b0b0b0;
	display:inline-block;
	color:#777777 !important;
	font-family:Tahoma !important;
	font-size:16px;
	font-weight:normal;
	padding:6px 20px;
	text-decoration:none !important; 
	text-shadow:1px 1px 0px #ffffff !important;
	cursor:pointer;
}.btnClass:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e6e6e6), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #e6e6e6 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#ffffff');
	background-color:#e6e6e6;
}.btnClass:active {
	position:relative;
	/*top:1px;*/
}.btnClass:checked{
	
}
/**/
.btnClass.down {
	margin-left:5px;
	margin-right:5px;
	-moz-box-shadow:inset 0px 0px 8px 1px #0d63a5;
	-webkit-box-shadow:inset 0px 0px 8px 1px #0d63a5;
	box-shadow: 0px 0px 8px 1px #c3c3c3;
	box-shadow:inset 0px 0px 8px 1px #0d63a5;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #45a1da), color-stop(1, #1172ae) );
	background:-moz-linear-gradient( center top, #45a1da 5%, #1172ae 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#45a1da', endColorstr='#1172ae');
	background-color:#45a1da;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #0960a3;
	display:inline-block;
	color:#ffffff !important;
	font-family:Tahoma !important;
	font-size:16px;
	font-weight:normal;
	padding:6px 20px;
	text-decoration:none !important;
	text-shadow:1px -1px 0px #124e73 !important;
	cursor:pointer;
}.btnClassSel:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1172ae), color-stop(1, #45a1da) );
	background:-moz-linear-gradient( center top, #1172ae 5%, #45a1da 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1172ae', endColorstr='#45a1da');
	background-color:#1172ae;
}.btnClassSel:active {
	
}


/* CSS Document */
.detailsTitleMain{
	width:50%;
	font-family:Tahoma;
	font-size:10pt;
	font-weight:bold;
	color:#5C5C5C;
}
.detailsTitle{
	width:70%;
	font-family:Tahoma;
	font-size:10pt;
	font-weight:bold;
	color:#5C5C5C;
}
.detailsTxt{
	font-family:Tahoma;
	font-size:10pt;
	font-weight:normal;
	color:#5C5C5C;
}

.monthTxtStyle{
	opacity:0;
	z-index:15;
	display:block;
	width:100%;
	top:50%;
	bottom:50%;
	position:absolute;
	font-family:Tahoma;
	text-align:center;
	font-weight:bold;
	color:#C3C3C3;
}
.mthYrTxt{
	float:right;
	margin-right:15px;
	padding-top: 4px;
}
.reportMonth{
	font-family:Tahoma;
	font-size:10pt;
	/*font-weight:bold;*/
	color:#5C5C5C;
	
}
.reportMonthTxt{
	font-family:Tahoma;
	font-size:10pt;	
	color:#5C5C5C;	
}
.reportHeading {
	font-family:Tahoma;
	font-size:1.5em;
	font-weight:bold;	
}

.metadataHeadings {
	font-family:Tahoma;
	font-size:1.05em;
	font-weight:bold;	
}

.tableHeading {
	font-family:Tahoma;
	font-size:1em;
	font-weight:bold;	
}

.rowHeading {
	font-family:Tahoma;
	font-size:0.8em;
	font-weight:bold;	
}

.columnHeading {
	font-family:Tahoma;
	font-size:0.8em;
	font-weight:bold;	
}

.tableData {
	font-family:Tahoma;
	font-size:0.8em;
}
.userTrendStyle{
	/* border:1px solid #999999; */
	margin-top: 5px;
	text-align:center;
}
.utilTrendTable{
	width:100%;
	/*padding-top:10px;
	padding-bottom:10px;
	border:1px solid #999999;*/
	border-collapse:collapse;
	margin: 0 auto;
}

.nvd3 .nv-groups path.nv-line {
	stroke-width:3px;
}
.poor div{
	width:10px;
	height:20px;
	background-color: #d00e0d;
	display: inline-block;
	position: absolute;
}
.inconsistent div{
	width:10px;
	height:20px;
	background-color: #ff6c00;
	display: inline-block;
	position: absolute;
}
.satisfactory div{
	width:10px;
	height:20px;
	background-color: #f9d426;
	display: inline-block;
	position: absolute;
}
.good div{
	width:10px;
	height:20px;
	background-color: #81db44;
	display: inline-block;
	position: absolute;
}
.effective div{
	width:10px;
	height:20px;
	background-color: #009900;
	/*background-color: #00FF00 ;*/	
	display: inline-block;
	position: absolute;
}