/*.wrapper .hasDatepicker {
    position: absolute;
    z-index: 3;
}*/

.wrapper {
    top: 8px;
    right: 12%;
    position: absolute;
    float: right;
    z-index: 2;
}

#jrange input {
    /*width: 200px;*/
    visibility: hidden;
    display: none;
}

#jrange div {
    font-size: 9pt;
}

.date-range-selected>.ui-state-active,
.date-range-selected>.ui-state-default {
    background: none;
    background-color: lightsteelblue;
}


/* BO new custom style for making export buttons aligned */

a#loadExportPopupBtn .ui-icon {
    float: right;
}

.dt-buttons {
    float: right;
}

.dataTables_info,
div#example_paginate {
    display: none;
}

div#example_wrapper {
    clear: none;
    float: right;
    zoom: 0.5;
}

div#example_filter {
    display: none;
}


/* EO new custom style for making export buttons aligned */


/*<!-- BO new excel with tabs -->*/


/*BO Loader*/

#overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.25);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
}

#loaderCells {
    position: relative;
    font-size: 14px;
    bottom: -40%;
    color: #ffffff;
    display: table;
    margin: 0 auto;
}

.boxes {
    display: table-cell;
    position: relative;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 30%;
    left: 46%;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*EO Loader*/


/* BO check loader Styles*/

#loaderCells li {
   position: relative;
    /* necessary for positioning the :after */
    width: 25px;
    background: #ff8700;
    padding: 3px;
    color: white;
    margin: 2px;
    float: left;
    border-radius: 10%;
    border: 1px solid #b95d1c;
}

#loaderCells li.done {
    list-style: none;
    background-color: green;
    /* remove normal bullet for done items */
}


/* EO check loader Styles*/


/* BO popup_box DIV-Styles*/


/*LX changes*/

#popup_box .hasDatepicker {
   top: 20px !important;
}

#popup_box select {
    height: 20px;
    line-height: 20px;
    padding: 1px; /* added for date picker text getting hidden in windows and ubuntu */
}

#popup_box {
    display: none;
    /* Hide the DIV */
    position: absolute;
    /* hack for internet explorer 6 */
    height: 300px;
    width: 250px;
    background: #FFFFFF;
    right: -10px;
    top: 30px;
    z-index: 2;
    /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
    /* margin-left: 15px; */
    /* additional features, can be omitted */
    border: 2px solid #777;
    padding: 15px;
    font-size: 15px;
    -moz-box-shadow: 0 0 5px #4d7097;
    -webkit-box-shadow: 0 0 5px #4d7097;
    box-shadow: 0 0 5px #4d7097;
}

a {
    cursor: pointer;
    text-decoration: none;
}


/* This is for the positioning of the Close Link */

#popupBoxClose {
    font-size: 18px;
    line-height: 15px;
    right: 5px;
    top: 5px;
    position: absolute;
    color: #62b7ff;
}


/* EO popup_box DIV-Styles*/