@CHARSET "ISO-8859-1";

.headerText2 {
	font-size: 14px;
	text-align: center;
	font-weight: bold;
}

.headerText1 {
	font-size: 14px;
	text-align: left;
	font-weight: bold;
}

.text {
	font-size: 12px;
	text-align: left;
}

.titleColor {
	background-color: #C0C0C0;
}

.divSeperator0 {
	background: url(/ce-static/images/common/resoursebg.png) repeat-x left
		top #e7f4ff;
	border: 1px solid #cbddf0;
	font-size: 12px;
	color: #4c4c4c;
	padding: 5px;
	width: 880px;
	-moz-border-radius: 3px; /* firefox mozilla*/
	-webkit-border-radius: 3px; /*safari, chrome*/
	border-radius: 3px; /*opera*/
	margin: 0 0 5px 0;
}

.borderBR {
	border-bottom: 1px solid;
	border-right: 1px solid;
}

.borderBLT {
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-top: 1px solid;
}

.borderBT {
	border-bottom: 1px solid;
	border-top: 1px solid;
}

.borderR {
	border-right: 1px solid;
}

.borderFull {
	border: 1px solid;
}

.borderB {
	border-bottom: 1px solid;
}

.borderL {
	border-left: 1px solid;
}