.resoursebox {
	width: 943px;
	float: left;
}
.w233px {
	width: 280px;
	float: left !important;
	padding: 0 0px 0 0;
}

.padr20 {
	padding: 0 26px 20px 0;
	float: left;
}

.resouses_lightbluetop .graytext {
	color: #505050;
	font-size: 13px;
	line-height: 32px;
	margin: 0 0 0 10px;
}

.subjectbg {
	font-size: 12px;
	color: #fff;
	background: url(/ce-static/images/common/dropdown.png) no-repeat left
		top;
	width: 154px;
	height: 13px;
	display: block;
	padding: 9px 10px;
	float: left;
	cursor: default;
	margin: 0;
}

.subjectDrop {
	font-size: 12px;
	color: #272727;
	width: 157px;
	display: block;
	padding: 3px 6px;
	float: left;
	position: absolute;
	z-index: 99;
	margin: 11px 0 0 -16px;
}

.subjectDrop li {
	font-size: 12px;
	color: #272727;
	padding: 3px;
	float: left;
	cursor: default;
	font-weight: bold;
}

.subjectDrop1 {
	font-size: 12px;
	color: #272727;
	width: 157px;
	padding: 3px 6px;
	float: left;
	position: absolute;
	z-index: 99;
	margin: 11px 0 0 -16px;
}

.subjectDrop1 li {
	font-size: 12px;
	color: #272727;
	padding: 3px;
	float: left;
	width: 100%;
	cursor: default;
}

.attachLessonBoxtop1 {
	background: url(/ce-static/images/common/topselectbox.png) no-repeat
		left top;
	display: block;
	width: 197px;
	height: 13px;
}

.attachLessonBoxbg {
	background: url(/ce-static/images/common/topselectbg.png) repeat-y left
		top;
	display: block;
	width: 176px;
	padding: 3px 7px 3px 10px;
}

.clearfix {
	content: ".";
	display: block;
	height: 1px;
	clear: both;
	visibility: hidden;
}

.attachLessonBoxbottom {
	background: url(/ce-static/images/common/topselectbottom.png) no-repeat
		left top;
	display: block;
	width: 197px;
	height: 6px;
}

.resourse_bg {
	background: url(/ce-static/images/common/bg.png) repeat-y left top;
	width: 902px;
	float: left;
	min-height: 600px;
	padding: 20px;
}

.resourse_bg .black13 {
	font-size: 13px;
	color: #3f3f3f;
	font-weight: bold;
	padding: 0 0 9px 0;
	float: left;
}

.resoursestool {
	width: 280px;
	float: left;
}

.resoursestool li {
	float: left;
	font-size: 12px;
	color: #4c4c4c;
	padding: 2px 0px;
}

.resoursestool li a {
	background: url(/ce-static/images/common/resoursebg.png) repeat left
		top;
	border: 1px solid #cbddf0;
	float: left;
	font-size: 12px;
	color: #4c4c4c;
	padding: 5px;
	width: 280px;
	-moz-border-radius: 3px; /* firefox mozilla*/
	-webkit-border-radius: 3px; /*safari, chrome*/
	border-radius: 3px; /*opera*/
}

.resoursestool li a:hover {
	background-color: #dff2ff;
	border: 1px solid #cbddf0;
	float: left;
	font-size: 12px;
}


.attachListBoxbg {
    background: url("/ce-static/images/common/resoursebg.png") repeat-x scroll left top #E7F4FF;
    border: 1px solid #CBDDF0;
    border-radius: 3px 3px 3px 3px;
    color: #4C4C4C;
    float: left;
    font-size: 12px;
    margin: 0 0 5px;
    padding: 2px;
    width: 160px;
}