@import 'libs/question-bank/src/lib/assets/css/common.scss';

::ng-deep .ql-editor {
  &::placeholder {
    color: rgba(0, 0, 0, 0.25) !important;
  }
  p {
    font-size: 30px;
    font-weight: 500;
    line-height: 37px;
    color: #000;
    word-break: break-word;
  }
}

.mt-30 {
  margin-top: 30px;
}
.mb-15 {
  margin-bottom: 15px;
}
.pd-0 {
  padding: 0px;
}
.qb-main-div {
  margin: 0px 0 0;
  background-color: transparent;
  box-shadow: none;
}
p {
  color: $white;
  background: #4caf50;
  padding: 1rem;
  margin: 0;
  margin-bottom: 0.2rem;
  border-radius: 0.2rem;
}
.pointer {
  color: $red;
}
.drag-icon {
  color: $blue;
}
.qb-icon-div {
  position: relative;
  svg {
    width: 20px;
    height: 20px;
  }
}
.quizDiv {
  margin-left: 5px;
}
.option-div {
  position: relative;
  min-height: 40px;
  padding: 0px;
  padding-left: 0;
  display: flex;
  align-items: center;
}
.option-correct-div {
  @extend .option-div;
  border: 1px solid green;
  .correct-div {
    font-size: 13px;
    color: green;
    position: absolute;
    display: block;
    top: -10px;
    left: 20px;
    padding: 0;
    background: $white;
    font-weight: 700;
  }
}
.option-incorrect-div {
  @extend .option-div;
  border: 1px solid red;
  .incorrect-div {
    font-size: 13px;
    color: red;
    position: absolute;
    display: block;
    top: -10px;
    left: 20px;
    padding: 0;
    background: $white;
    font-weight: 700;
  }
}
.correct {
  border: 1px solid green !important;
}
.incorrect {
  border: 1px solid red !important;
}
.gButtons {
  padding-left: 10%;
}
.left-col {
  @extend .col-md-8, .pd-0;
  @extend .col-sm-8, .pd-0;
}
.right-col {
  background: #fafafa;
  box-shadow: inset -1px 0px 0px #e7e7e7;
  padding: 10px 25px;
  @extend .col-md-4, .pd-0;
  @extend .col-sm-4, .pd-0;
  p {
    color: $dark-black;
    background: none;
  }
}
.qb-cust_quill {
  @extend .col-md-12, .pd-0;
}
.qb-qstem {
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  @extend .col-md-12, .pd-0;
  @extend .col-sm-12, .pd-0;
  @extend .col-12;
}
.q-image {
  @extend .col-md-6;
  @extend .col-sm-6;
  @extend .col-12;
}
.shuffle-div-row,
.pointsDiv {
  display: flex;
  justify-content: space-between;
}
.vertical {
  position: relative;
  .mobile-image-div {
    display: table;
    margin: 0 auto;
    padding-bottom: 25px;
  }
  .qb-options-div {
    @extend .col-md-12;
    @extend .col-sm-12;
    @extend .col-8;
    .qb-options {
      @extend .col-md-12;
      @extend .col-sm-12;
      @extend .col-12;
    }
  }
  .o-image {
    @extend .col-md-4;
    @extend .col-sm-4;
    @extend .col-6;
  }
  .pointsDiv {
    @extend .col-md-3;
    @extend .col-sm-4;
    @extend .col-4;
    .add-opt-btn {
      width: 100%;
      margin-top: -3px;
    }
  }
}
.horizontal {
  position: relative;
  .mobile-image-div {
    display: table;
    margin: 0 auto;
    padding-bottom: 25px;
  }
  .qb-options-div {
    @extend .col-md-12;
    @extend .col-sm-12;
    @extend .col-12;
    @extend .order-last;
    .qb-options {
      @extend .col-md-3;
      @extend .col-sm-3;
      @extend .col-12;
    }
  }
  .qb-qstem {
    @extend .col-md-12, .pd-0;
  }
  .o-image {
    @extend .col-md-6;
    @extend .col-sm-6;
    @extend .col-6;
    display: flex;
  }
  .pointsDiv {
    @extend .col-md-3;
    @extend .col-sm-3;
    @extend .col-3;
  }
}
.grid {
  position: relative;
  .mobile-image-div {
    display: table;
    margin: 0 auto;
    padding-bottom: 25px;
  }
  .qb-options-div {
    @extend .col-md-12;
    @extend .col-sm-12;
    @extend .col-12;
    @extend .order-last;
    .qb-options {
      @extend .col-md-6;
      @extend .col-sm-6;
      @extend .col-12;
    }
  }
  .qb-qstem {
    @extend .col-md-12, .pd-0;
  }
  .o-image {
    @extend .col-md-4;
    @extend .col-sm-4;
    @extend .col-6;
    display: flex;
  }
  .pointsDiv {
    @extend .col-md-3;
    @extend .col-sm-3;
    @extend .col-3;
  }
}
.mobile {
  @extend .col-md-4;
  @extend .offset-md-4;
  -webkit-box-shadow: 0px 0px 27px -22px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 0px 0px 27px -22px rgba(0, 0, 0, 0.72);
  box-shadow: 0px 0px 27px -22px rgba(0, 0, 0, 0.72);
  .mobile-image-div {
    display: table;
    margin: 0 auto;
    padding-bottom: 25px;
  }
  .qb-qstem {
    margin-top: 15px;
    margin-bottom: 15px;
    @extend .col-md-12, .pd-0;
  }
  .qb-options-div {
    @extend .col-md-12;
    @extend .order-last;
    .qb-options {
      @extend .col-md-6;
      @extend .col-12;
    }
  }
  .o-image {
    @extend .col-md-12;
  }
  .pointsDiv {
    @extend .col-md-12;
    @extend .col-sm-12;
    @extend .col-12;
    margin-top: 15px;
  }
}
.mobile-ls {
  @extend .col-md-8;
  @extend .offset-md-2;
  -webkit-box-shadow: 0px 0px 27px -22px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 0px 0px 27px -22px rgba(0, 0, 0, 0.72);
  box-shadow: 0px 0px 27px -22px rgba(0, 0, 0, 0.72);
  padding: 10px;
  .mobile-image-div {
    display: table;
    margin: 0 auto;
    padding-bottom: 25px;
  }
  .qb-qstem {
    margin-top: 15px;
    margin-bottom: 15px;
    @extend .col-md-12, .pd-0;
  }
  .qb-options-div {
    @extend .col-md-12;
    @extend .order-last;
    padding-left: 20px;
    .qb-options {
      @extend .col-md-6;
    }
  }
  .o-image {
    @extend .col-md-6;
  }
  .shuffle-div-row {
    background: $off-grey;
    padding: 20px 130px 12px 0;
  }
}
.qb-dashboard-edit-div {
  @extend .col-md-11;
  min-height: 260px;
}
.qb-mcq-div {
  @extend .col-md-12;
  @extend .mb-15;
}

span.customBtn {
  position: absolute;
  right: 10px;
  z-index: 1;
  top: 9px;
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.material-icons {
  pointer-events: none;
}
:host ::ng-deep .ql-editor {
  min-width: 140px;
}
:host ::ng-deep .ql-editor.ql-blank {
  padding: 10px 0;
  line-height: 16px;
  display: flex;
  align-items: center;
  min-width: 140px;
}
:host ::ng-deep button.ql-custom {
  margin: 0 !important;
  padding: 0 !important;
  color: $off-white !important;
}

:host ::ng-deep .ql-tooltip {
  z-index: 9;
  left: auto !important;
}
:host ::ng-deep .ql-bubble {
  position: relative;
}
:host ::ng-deep .qb-cust_quill .ql-toolbar {
  background: $light-white-two;
  border: 1px solid $dark-grey;
}
:host ::ng-deep .qb-cust_quill .ql-toolbar .ql-formats {
  background: $white;
  border-radius: 2px;
}
:host ::ng-deep .qb-cust_quill .ql-snow.ql-toolbar button,
.ql-snow .ql-toolbar button {
  width: 20px;
  height: 20px;
}
:host ::ng-deep .qb-qstem .ql-container.ql-snow,
:host ::ng-deep .qb-qstem .quill-editor {
  border: 0px;
}

.toolbar {
  display: flex;
  border: 1px solid $light-white-three;
  background: $light-white-two;
  padding: 5px;
  div {
    display: flex;
    background: $white;
    margin: 5px 5px;
    border-radius: 3px;
    svg {
      width: 14px;
      height: 14px;
      padding: 1px;
      margin: 5px;
      cursor: pointer;
    }
  }
  select {
    width: auto;
    margin: 5px;
    height: 25px;
    border-radius: 3px;
    font-size: 11px;
    padding: 0px 5px;
    line-height: initial;
  }
}

.qb-options-div {
  min-height: 140px;
  overflow-y: auto;
  padding: 0 23px !important;
}
.qb-options-preview-div {
  overflow-y: auto;
}
.qb-options-div::-webkit-scrollbar,
.qb-options-preview-div::-webkit-scrollbar {
  width: 4px;
}
.qb-options-div::-webkit-scrollbar-track,
.qb-options-preview-div::-webkit-scrollbar-track {
  background-color: #f9f9f9;
}
.qb-options-div::-webkit-scrollbar-thumb,
.qb-options-preview-div::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.qb-main-div .row {
  margin: auto !important;
}
.qb-main-div .left-panel {
  padding: 0 10px 20px 20px;
}

.qb-main-div .right-panel {
  padding: 20px 20px 45px 25px;
}
.qb-main-div .bgGrey {
  background-color: #f1f1f180;
}
h1,
h2,
h3,
h4,
h5,
h6,
select {
  font-weight: 700 !important;
  color: $dark-black !important;
}
select {
  outline: none !important;
  box-shadow: none !important;
}

.question_overlay {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $white;
  z-index: 1;
  width: 80%;
  padding: 4%;
  height: 100%;
}

.menuList {
  position: absolute;
  right: 10px;
  top: 35px;
  background: $white;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 15px;
  z-index: 99999;
  ul {
    padding: 0;
    li {
      list-style-type: none;
      padding: 5px 10px;
    }
  }
}

.mainMenuList {
  position: absolute;
  right: 25px;
  top: -470px;
  background: $white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 15px 20px;
  ul {
    padding: 15px;
    li {
      list-style-type: none;
      padding: 5px 10px;
    }
  }
}

.d-none {
  display: none;
}
.d-block {
  display: block;
}
.main-add-menu {
  position: relative;
  svg {
    width: 40px;
    height: auto;
    cursor: pointer;
    position: absolute;
    right: 25px;
    bottom: 25px;
  }
}

@mixin submit_questions($padd, $back) {
  white-space: nowrap;
  padding: $padd;
  color: $white !important;
  background: $back;
  border: 1px solid;
  border-radius: 4px;
  height: 50px;
}
.qb-qstem-border {
  border-bottom: 1px solid $light-white-one;
}
.previewOptions {
  border: 1px solid $light-white-one;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  left: -5px;
}
.pl-30 {
  padding-left: 30px;
}
.submit_question {
  @include submit_questions(15px 20px, $dark-black!important);
}
.submit_question_options {
  @include submit_questions(0 10px, $dark-black!important);
  position: relative;
  left: -1px;
  top: -3px;
}
.add_opt {
  position: absolute;
  top: 0;
}

// .qb-options-preview-div {
//   max-height: 325px !important;
// }
.qb-add-opt-div {
  padding: 10px 24px 0 24px;
  z-index: 1;
  .qb-answers {
    color: #4d4d4d;
    font-weight: 500;
  }
}
.qb-header-six {
  cursor: pointer;

  svg {
    width: 16px;
    height: auto;
  }
  span:first-child {
    background: $blue-green-grad;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    nb-icon {
      color: $white;
    }
  }
  span:last-child {
    font-size: 15px !important;
  }
}
// :host ::ng-deep .optionsPreviewDiv {
//   .fib-answers-div {
//     input {
//       border-color: #f8f8f8;
//       background: #f8f8f8;
//     }
//   }
// }
:host ::ng-deep .qb-fib-paragraph .fib-answers-div {
  padding: 12px 15px;
  p {
    font-size: 18px;
    line-height: 60px;
  }
  input {
    margin-bottom: 0 !important;
    width: 75px;
    height: 29px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid;
    // max-width: 300px;
  }
}
:host ::ng-deep .qb-qstem .feedback-div {
  padding-left: 23px;
}
.qb-feedback-padding-left {
  padding-left: 11px;
}
::ng-deep .qb-qstem-font .ql-container .ql-editor p,
::ng-deep .qb-qstem-font .ql-container .ql-editor.ql-blank::before {
  font-size: 25px !important;
  line-height: 31px;
}
::ng-deep .qb-opt-font .ql-container .ql-editor p,
::ng-deep .qb-opt-font .ql-container .ql-editor.ql-blank::before {
  font-size: 18px !important;
  line-height: 60px;
}

::ng-deep .qb-options code {
  border: 1px solid #9c9c9c;
  border-radius: 10px !important;
  background-color: #fff !important;
  color: #000;
  line-height: 50px;
  padding: 0 12px !important;
  font-size: 18px !important;
  font-weight: 500;
  font-family: 'Quicksand' !important;
  white-space: pre;
  max-width: 200px;
  display: inline-block;
  overflow: hidden;
  width: auto;
  vertical-align: middle;
}
::ng-deep .qb-options.qb-fib-options input {
  background: #f8f8f8;
  border-radius: 10px !important;
  border: none !important;
  height: 50px !important;
  white-space: pre;
  max-width: 200px;
  display: inline-block;
  overflow: hidden !important;
  width: auto !important;
  vertical-align: middle;
}
.qb-correct-response-div {
  padding: 12px 15px;
}
