<div
  [class]="layout"
  [ngClass]="{
    mobile: deviceView == 'mobile',
    'mobile-ls': deviceView == 'mobile_ls'
  }"
  class="container p-0"
>
  <div class="qb-main-div p-0">
    <h5 *ngIf="this.dashboardPreviewState">{{ templateName }}</h5>
    <div class="row">
      <div
        class="p-0"
        [ngClass]="{
          'qb-dashboard-edit-div': !dashboardPreviewShow,
          'qb-mcq-div': dashboardPreviewShow
        }"
      >
        <div
          *ngIf="!previewShow"
          class="qb-cust-quill"
          id="cust_quill"
          style="width:100%;"
        >
          <tce-quill-toolbar></tce-quill-toolbar>
        </div>

        <div
          class="row"
          [ngClass]="{ 'qb-qstem-border pt-2': previewShow === false }"
        >
          <div class="qb-qstem m-0 px-2 pb-2">
            <div #qstemRef>
              <dc-qstem
                [qstem]="qstem"
                [previewState]="previewShow"
                [stemName]="'qstem'"
                (onQstemContentUpdate)="onQstemContentUpdate($event)"
              >
              </dc-qstem>
              <div *ngIf="!previewShow" class="qb-feedback-padding-left">
                <feedback-layout
                  [showAnsState]="getShowAnsState"
                  [feedback]="qstem"
                  [previewState]="previewShow"
                  (feedbackUpdate)="feedbackStemUpdate($event)"
                  [placeholder]="'Type question’s feedback here..'"
                >
                </feedback-layout>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="d-flex align-items-center justify-content-between w-100 qb-add-opt-div"
            *ngIf="!previewShow"
          >
            <div class="qb-answers" id="answers" #answers>
              Answers :
            </div>

            <div (click)="addResponseTag('RESPONSE')">
              <h6 class="qb-header-six m-0">
                <span class="position-relative">
                  <nb-icon icon="plus-outline"></nb-icon>
                </span>
                &nbsp;&nbsp;<span>Add Blank Space</span>
              </h6>
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="qb-options qb-fib-options qb-options-div px-0 py-1"
            #optionsDivMaxHt
          >
            <div [hidden]="previewShow || quillLoaded">
              <app-template-markup-layout
                [source]="sourceData"
                [type]="templateType"
                (pushSelectedAns)="getSelectedAns($event)"
                [templateData]="templateMarkUpData"
                [previewState]="previewState"
                [inputName]="inputName"
                [templateType]="templateType"
                (onContentUpdate)="onContentUpdate($event)"
              >
              </app-template-markup-layout>
            </div>
            <div [hidden]="previewShow" class="col-md-12">
              <div class="row">
                <div
                  *ngFor="let opts of possibleResponses; index as i"
                  class="col-md-6"
                >
                  <h6>
                    Responses {{ i + 1 }}
                    <span (click)="addResponse(i, opts)"
                      ><i class="fa fa-plus"></i
                    ></span>
                  </h6>

                  <div
                    class="qb-options-div qb-response-divs"
                    cdkDropList
                    #optsContainer
                    cdkDropListOrientation="{{ layout }}"
                    (cdkDropListDropped)="responseDropped($event, i)"
                    *ngIf="!previewShow"
                  >
                    <div class="row pd-15">
                      <div
                        cdkDrag
                        *ngFor="let opt of opts; index as oIndex"
                        class="qb-options"
                      >
                        <div class="qb-opt-innerdiv">
                          <dc-opt
                            [optData]="opt"
                            [previewState]="previewState"
                            [inputName]="'input-' + i"
                            [optValue]="selectedAnswers"
                            [showAnsState]="getShowAnsState"
                            (onContentUpdate)="onOptUpdate($event, i, oIndex)"
                          >
                          </dc-opt>
                          <div class="qb-icon-div">
                            <i
                              class="fa fa-trash remove-icon"
                              (click)="deleteResponse(opt, i, oIndex)"
                              *ngIf="!previewShow"
                            ></i>
                            &nbsp;&nbsp;
                            <i cdkDragHandle class="fa fa-bars drag-icon"></i>
                          </div>
                        </div>
                        <br />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-md-12 qb-fib-paragraph"
              *ngIf="quillLoaded || previewShow"
            >
              <app-fib-set-correct-ans-options-layout
                [possibleResponses]="possibleResponses"
                [updateResponse]="updateResponse"
                (pushSelectedAns)="getSelectedAns($event)"
                [showAnsState]="getShowAnsState"
                (correctPoints)="correctPoints($event)"
                [type]="templateType"
                [templateMarkUpData]="templateMarkUpData"
                [sourceData]="sourceData"
                [previewState]="previewState"
                [inputName]="inputName"
              >
              </app-fib-set-correct-ans-options-layout>
            </div>
          </div>
          <ng-container *ngIf="!previewShow && templateType == 'fib-drag-drop'">
            <div class="col-md-12">
              <div class="qb-options-row">
                <div
                  *ngFor="let response of possibleResponses; let i; of: index"
                  (click)="clickOpt(response)"
                >
                  <app-classify-option
                    [optData]="response"
                    [previewState]="previewState"
                    (onContentUpdate)="onResponseClick($event)"
                  >
                  </app-classify-option>
                </div>
              </div>
            </div>
          </ng-container>

          <!-- This is points layout.maybe required in future
          <div class="col-md-12">
            <button (click)="addResponseTag('Response')">Add response</button>
            <div class="shuffle-div-row" *ngIf="!previewShow">
              <app-set-correct-ans-layout
                [previewState]="previewState"
                (pushEnteredPoints)="getPointsValue($event)"
                [points]="points"
              >
              </app-set-correct-ans-layout>
            </div>
          </div> -->
        </div>
        <div class="row">
          <ng-container
            *ngIf="
              previewShow &&
              showAnsStateFlag &&
              this.correctAnsPoints != this.points
            "
          >
            <div class="col-md-12">
              <div
                class="qb-correct-response-div"
                *ngIf="templateType == 'fib-text'"
              >
                <app-correct-responses-layout [responses]="selectedAnswers">
                </app-correct-responses-layout>
              </div>
              <div
                class="qb-correct-response-div"
                *ngIf="templateType == 'fib-dropdown'"
              >
                <app-correct-responses-layout
                  [responses]="selectedAnswersLabels"
                >
                </app-correct-responses-layout>
              </div>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="col-md-1 col-sm-1 col-1 pd-0 qb-col-dashboard-edit-div">
        <button
          class="btn btn-outline-primary qb-edit-btn"
          *ngIf="!dashboardPreviewShow"
          (click)="editRedirect()"
        >
          <li class="fa fa-edit"></li>
        </button>
      </div>
    </div>
  </div>

  <br />
</div>
