<div
  class="option"
  [ngClass]="correctnessClass + (isSelected && !isSubmitted ? ' selected' : '')"
>
  <div
    class="answer-status-label correct-text"
    *ngIf="isSubmitted && isCorrect && isSelected"
  >
    Correct!
  </div>
  <div
    class="answer-status-label incorrect-text"
    *ngIf="isSubmitted && !isCorrect && isSelected"
  >
    Incorrect!
  </div>
  <label class="option-label" [for]="randomFieldName + '__' + index">
    <ng-container *ngIf="textLayout()">
      <span class="question-letter">{{
        (index + 10).toString(36).toUpperCase()
      }}</span>
    </ng-container>
    <ng-container *ngIf="imageLayout()">
      <img [src]="option.optionImage" (error)="handleImageError($event)" />
    </ng-container>
    <ng-container *ngIf="textLayout()">
      <ng-container *ngIf="!option.optionImage">
        {{ option.value }}
      </ng-container>
      <span *ngIf="option.optionImage">
        <img [src]="option.optionImage" />
      </span>
    </ng-container>
  </label>
  <input
    *ngIf="!isSubmitted && inputType === 'radio'"
    type="radio"
    formControlName="selected"
    [id]="randomFieldName + '__' + index"
    [value]="option"
  />
  <input
    *ngIf="!isSubmitted && inputType === 'checkbox'"
    type="checkbox"
    [formControl]="typeFormControl"
    [id]="randomFieldName + '__' + index"
    [value]="option"
  />
  <span
    class="option-answered-icon correct-answer-icon"
    *ngIf="isSubmitted && isCorrect"
  >
    <img src="./assets/images/quiz-player/quiz_correct_answer.svg" />
  </span>
  <span
    class="option-answered-icon incorrect-answer-icon"
    *ngIf="isSubmitted && !isCorrect && isSelected"
  >
    <img src="./assets/images/quiz-player/quiz_incorrect_answer.svg" />
  </span>
</div>
