$incorrect-answer: #ce5252;
$correct-answer: #2c9669;

$image-question-option-break: 1200px;

:host {
  min-width: 25%;
  max-width: 50%;
  padding: 1%;

  input[type='radio'],
  input[type='checkbox'] {
    cursor: pointer;
  }

  .option {
    position: relative;
    width: 100%;
    .selected {
      background-color: #f5f7f8;
    }
    .option-label {
      img {
        max-width: 100%;
        max-height: 20vh;
      }
    }
  }

  &.-text-layout {
    width: 50%;
    .option {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 10px;
      padding: 0em 1em;
      height: 100%;
      font-size: 18px;
      border: 1px solid #e5e5e5;
    }
    .option-label {
      padding: 1em 0.5em 1em 0em;
    }
  }

  &.-image-layout {
    max-width: 25%;
    @media screen and (max-width: $image-question-option-break) {
      min-width: 50%;
    }
    .option {
      text-align: center;
      padding: 0.5em;
      border-radius: 5px;
      border: 2px solid transparent;
    }

    .option-label {
      justify-content: center;
      padding-bottom: 1em;
      img {
        border-radius: 5px;
      }
    }

    .option-answered-icon {
      margin: -0.5em auto 0em;
    }
  }
}

.option-label {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  color: #000000;
}

.option-answered-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 26px;
  width: 26px;
  border-radius: 50%;
}

:host .option.correct-answer {
  border: 2px solid $correct-answer;
}

:host .option.incorrect-answer {
  border: 2px solid $incorrect-answer;
}

.correct-answer-icon {
  background-color: $correct-answer;
}

.incorrect-answer-icon {
  background-color: $incorrect-answer;
}

.answer-status-label {
  position: absolute;
  text-transform: uppercase;
  background-color: #ffffff;
  top: -14px;
  left: 50px;
  padding: 0px 5px;
  font-size: 16px;
  font-weight: bold;
  &.incorrect-text,
  &.correct-text {
    left: 50%;
    transform: translateX(-50%);
  }
  &.incorrect-text {
    color: $incorrect-answer;
  }
  &.correct-text {
    color: $correct-answer;
  }
}
