$color_2: #f2f2f2;
$color_3: #248ef6;
$color_4: #ffffff;
$background_color_2: #000000;

:host {
  flex-grow: 1;
}

.image-oval {
  box-sizing: border-box;
  height: 39px;
  width: 39px;
  border-radius: 50%;
}
.ebook_chapter_panel {
  height: 214px !important;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  scrollbar-width: none;
  div {
    font-size: 14px;
    line-height: 27px !important;
  }
}

div.ebook_chapter_panel {
  label {
    margin: 0;
  }
}
.quickFind_icon {
  height: 14px;
  width: 14px;
  margin: 12px;
}
.ebook_searchPanel {
  margin: 10px;
  background-color: #22262a;
  box-shadow: inset -1px 0 0 0 #303439;
}
.ebook_detailsPanel {
  margin: 18px 10px 10px 10px;
}

.bookmenu_icon {
  height: 12px;
  margin: 13px 10px;
  width: 18px;
}
.right_arrow {
  transform: rotate(270deg);
  transition: all var(--animation-timing-medium) ease-in-out;
  width: 20px;
  height: 20px;

  &.open {
    transform: rotate(360deg);
  }
}
.ebook-chapter-details {
  margin: 0;
  height: 27px;
}
.ebook_Panel {
  max-height: 60vh;
  overflow: scroll;
}

/* NEW */
.book-item {
  cursor: pointer;
  width: 100%;
  padding: 10px 5px;
  border-radius: 5px;
  font-size: 14px;
  color: $color_4;
  font-weight: bold;
  line-height: 18px;
  text-transform: capitalize;
  border-bottom: 1px solid #303439;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  transition: padding var(--animation-timing-long) ease-in-out;

  &:last-child {
    border-top: 1px solid transparent;
  }

  &.open {
    background: linear-gradient(180deg, #6d71ff 0%, $color_3 100%);
    box-shadow: inset 0 1px 0 0 rgba(247, 247, 247, 0.12),
      0 8px 16px 0 rgba(10, 74, 183, 0.3), 0 4px 4px 0 rgba(10, 74, 183, 0.15);
    border-bottom: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding: 0px 5px;
  }

  span.book-title {
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: capitalize;
    display: inline-block;
    padding: 0 10px;
    overflow: hidden;
  }
}

.chapter-list {
  overflow-y: hidden;
  max-height: 0px; /* approximate max height */
  transition: max-height var(--animation-timing-long) ease-in-out;
  border-left: 3px solid;
  border-image-source: linear-gradient(180deg, #6d71ff 0%, $color_3 100%);
  border-image-slice: 1;
  padding-left: 8px;
}

.chapter-list.open {
  max-height: 500px;
  margin: 10px 0;
}

.chapter-list-item {
  width: 100%;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  padding: 5px;
  cursor: pointer;

  &.open {
    background: #000;
    color: #71b9ff;
  }

  span {
    display: inline-block;
    overflow: hidden;
  }
  span.chapter-num {
    width: 10%;
  }
  span.chapter-title {
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: capitalize;
    padding-right: 5px;
    overflow: hidden;
  }
  span.chapter-page {
    width: 10%;
  }
}

.jump-to {
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;

  span {
    flex: 1;
    text-align: right;
    display: inline-block;
    padding-right: 10px;
  }

  .input-wrapper {
    background: #000;
    border-radius: 5px;
    display: flex;
    padding: 10px 0;

    .go {
      position: relative;
      background: linear-gradient(
        rgb(109, 113, 255) 0%,
        rgb(36, 142, 246) 100%
      );
      border: none;
      color: #fff;
      border-radius: 5px;
      text-transform: uppercase;
      font-size: 12px;
      padding: 8px;
      margin: 0 10px 0 0;
    }

    input {
      color: #fff;
      padding: 0 10px;
      text-align: center;
      font-size: 14px;
      border: none;
      background: transparent;
      width: 40px;
      padding: 4px 0;
    }
  }
}

.search {
  position: relative;
  margin: 0 0 20px;

  input {
    border: 1px solid #303439;
    border-radius: 5px;
    background-color: #000000;
    width: 100%;
    color: #fff;
    padding: 10px 5px 10px 30px;
    font-size: 14px;
  }

  .searchIcon {
    position: absolute;
    height: 14px;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto;

    svg {
      height: 14px;
      width: 14px;
    }

    // svg g,
    // svg path{
    //   fill: rgba(0,0,0, .5)
    // }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
