<div class="ebook_Panel">
  <div class="ebook_detailsPanel">
    <!-- <div class="search">
      <input type="text" placeholder="Quick Find" />
      <svg-icon
        src="assets/images/ic.ContentActions.Search.svg"
        class="searchIcon"
        [applyCss]="true"
      ></svg-icon>
    </div> -->
    <ul>
      <li *ngFor="let ebook of ebooks; let bookIndex = index">
        <!-- -->
        <div
          class="book-item"
          [ngClass]="{ open: selectedBookIndex == bookIndex }"
          (click)="selectedBookIndex = bookIndex"
        >
          <img
            src="{{ ebook.thumbnail }}"
            class="image-oval"
            [hidden]="selectedBookIndex == bookIndex"
          />
          <img
            class="bookmenu_icon"
            src="assets/images/ic.eBookMenu.png"
            [hidden]="selectedBookIndex != bookIndex"
          />
          <span class="book-title">{{ ebook.title }}</span>
          <img
            src="assets/images/outline_expand.png"
            class="img-booktitle right_arrow"
            [ngClass]="{ open: selectedBookIndex == bookIndex }"
          />
        </div>
        <ul
          class="chapter-list"
          [ngClass]="{ open: selectedBookIndex == bookIndex }"
        >
          <li
            class="chapter-list-item"
            *ngFor="let chapter of ebook.chapters; let chapterIndex = index"
            (click)="selectChapter(ebook, chapter)"
            [class.open]="
              selectedEbook.bookId == ebook.bookId &&
              chapter.chapterNumber == selectedChapter.chapterNumber
            "
          >
            <span class="chapter-num">{{ chapter.chapterNumber }}</span>
            <span class="chapter-title">{{ chapter.chapterTitle }}</span>
            <!-- <span class="chapter-page">{{ chapter.pageNumber }}</span> -->
          </li>
        </ul>
        <div class="jump-to">
          <span>Jump to Page:</span>
          <div class="input-wrapper">
            <form (ngSubmit)="goToPage(goToInput.value)">
              <input
                #goToInput
                type="number"
                (focus)="setKeyboardFocus($event); $event.target.select()"
                tceNumberRestrict
                (keyup)="updateKeyboardValue($event)"
              />
              <button
                class="go"
                *ngIf="goToInput.value.length"
                (click)="goToPage(goToInput.value)"
              >
                Go
              </button>
            </form>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
