<tce-loading-layover *ngIf="isLoading"></tce-loading-layover>
<tce-error-layover *ngIf="errorMessage" [message]="errorMessage"></tce-error-layover>
<div class="quiz-player-container">
  <tce-annotation [stageId]="'quiz-' + resource.resourceId" [canvasContext]="resourceType.QUIZ"></tce-annotation>
  <div class="quiz-content-container">
    <form *ngIf="quizForm" [formGroup]="quizForm" (ngSubmit)="onQuestionSubmit()" class="form-container">
      <ng-container *ngFor="let question of questionsControl?.controls; index as idx">
        <!-- <tce-question-renderer *ngIf="questions.length" [currentQuestionNumber]="currentPage"
          [totalQuestionCount]="questions.length" [questionFormGroup]="question" [question]="questionOnDisplay">
        </tce-question-renderer> -->
        <tce-qb-template-peview [mode]="'teach'" (correctAnswerCheck)="correctAnsCheck($event, idx)"
          (allowSubmitButton)="allowSubmitButton($event)" [templateData]="questionOnDisplay">
        </tce-qb-template-peview>
      </ng-container>
      <div class="button-container">
        <div class="button-box-shadow" [hidden]="questionOnDisplay.type==='plain-text'">
          <!-- <button class="quiz-button" *ngIf="!hasSubmitted; else showNextButton" [disabled]="quizForm.pristine"
            [ngStyle]="{
              'background-color': quizForm.pristine ? '#9cb3f3' : '#2E64F2',
              cursor: quizForm.pristine ? 'default' : 'pointer'
            }">
            Submit Answer
          </button> -->
          <button class="quiz-button" *ngIf="!hasSubmitted; else showNextButton" [disabled]="!allowSubmit" [ngStyle]="{
              'background-color': !allowSubmit ? '#9cb3f3' : '#2E64F2',
              cursor: !allowSubmit ? 'default' : 'pointer'
            }">
            Submit Answer
          </button>
          <ng-template #showNextButton>
            <button class="quiz-button next-question-button" (click)="nextPage()"
              *ngIf="currentPage < questions.length; else quizComplete">
              Next Question
            </button>
            <ng-template #quizComplete>
              <div class="quiz-complete-text">Quiz Complete!</div>
            </ng-template>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
  <div class="utility-wrapper">
    <tce-utility-bar *ngIf="questions.length > 1">
      <tce-pagination-controls [pages]="arrayOfPages" [quizQuestionStatuses]="quizQuestionStatuses"
        (changePage)="handlePageChange($event)" [selectedPage]="{ pageNumber: currentPage, eventType: 'scroll' }">
      </tce-pagination-controls>
    </tce-utility-bar>
  </div>
</div>