.quiz-player-container {
  width: 100%;
  height: 100%;
  padding: 35px 35px 0px;
  background-color: #fff;
  border: 1px solid #22262a;
  position: relative;
}

.quiz-player-container ::ng-deep .question-container {
  padding: 0px 5px;
}

.form-container {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quiz-content-container {
  height: 100%;
  padding-bottom: 110px;
}

.button-container {
  position: absolute;
  overflow: hidden;
  width: 100%;
  padding: 10px 1px 1px 0px;
  bottom: 0px;
  left: 0px;
}

.button-container .button-box-shadow {
  width: 100%;
  height: 100%;
  padding: 25px 40px;
  -moz-box-shadow: 0 -4px 4px rgba(200, 200, 200, 0.3);
  -webkit-box-shadow: 0 -4px 4px rgba(200, 200, 200, 0.3);
  box-shadow: 0 -4px 4px rgba(200, 200, 200, 0.3);
}

.quiz-button {
  width: 221px;
  height: 60px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  line-height: 23px;
  border-radius: 5px;
  font-family: 'Quicksand';
  cursor: pointer;
}

.next-question-button {
  background-color: #2e64f2;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
}

.question-letter {
  display: flex;
  align-items: center;
  font-weight: bold;
  border-right: 1px solid #e9e9e9;
  margin-right: 1em;
  padding-right: 0.3em;
}

.quiz-complete-text {
  font-weight: bold;
  font-size: 20px;
}

.utility-wrapper {
  position: absolute;
  bottom: -55px;
  left: 0;
  right: 0;
}
