<ul>
  <li (click)="profileDetail('custom-modal-1')" *ngIf="isLoggedIn">
    <!-- *ngIf="isLoggedIn" -->
    <div class="mainDivTitle">
      <label class="title-label">Signed in as</label>
    </div>
    <div style="display: flex">
      <div class="imgClass">
        <img [src]="userProfileImg" alt="image" />
      </div>
      <div class="userPositionRight userTextFloat title-label-user">
        <div class="userTextFloat">
          <label keyvalue
            >{{ userData?.firstName }}
            {{ userData?.middleName }}
            {{ userData?.lastName }}</label
          >
        </div>
        <div class="userTextFloat">
          <label>{{ userData?.username }}</label>
        </div>
      </div>
      <div class="userPositionRight arrowIcon">
        <img src="assets/images/ic.userArrow.svg" />
      </div>
    </div>
    <!-- <div class="title-label-user">
      <div class="pb-2">
        <label>Class Roll Call</label>
      </div>
     <div class="pb-2">
      <label>My Timetable</label>
     </div>
      
    </div>
    <div class="rectangle-seprater" style="width: 250px;margin: 10px -5px 0 0;"></div> -->
  </li>
  <!-- thirumani future-use <li (click)="openAdmin()" *ngIf="isLoggedIn" class="adminCss">
    Administrator
  </li> -->
  <li style="border: none;">
    <tce-slide-button
      (toggle)="toggleTheme($event)"
      [labelname]="'Dark Mode'"
      [toggleBtnChecked]="darkTheme"
    >
    </tce-slide-button>
  </li>
  <li>
    <tce-slide-button
      (toggle)="toggleKeyboard($event)"
      [labelname]="'Virtual Keyboard'"
      [toggleBtnChecked]="showKeyboard"
    >
    </tce-slide-button>
  </li>
  <li style="display: inline-block;">
    <div class="mainDivTitle">
      <label class="title-label">Classroom Mode</label>
    </div>
    <div
      class="classroomMainContainer classroomMainDivLeft"
      (click)="setUserMode('teaching')"
    >
      <div
        [ngClass]="
          currentUserState === 'teaching'
            ? 'parentActive classroomMarginLeft'
            : 'teachingMargin'
        "
      >
        <div
          class="classroomContainer"
          [ngClass]="currentUserState === 'teaching' ? 'active' : ''"
        >
        <svg width="110" height="50" viewBox="0 0 110 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="110" height="50" rx="7" fill="#FFF1E2"/>
          <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="110" height="50">
          <rect width="110" height="50" rx="7" fill="white"/>
          </mask>
          <g mask="url(#mask0)">
          <rect y="44" width="110" height="6" fill="#DDDCDB"/>
          <ellipse cx="3.46146" cy="30.9359" rx="3.15385" ry="8.9359" fill="#3A8E5F"/>
          <ellipse cx="7.66662" cy="31.9872" rx="4.4674" ry="7.88462" fill="#52B97F"/>
          <ellipse cx="-0.743534" cy="31.9872" rx="4.4674" ry="7.88462" fill="#43A870"/>
          <path d="M-0.743652 38.8206H7.6666V43.0257C7.6666 45.3481 5.7839 47.2308 3.46148 47.2308C1.13905 47.2308 -0.743652 45.3481 -0.743652 43.0257V38.8206Z" fill="#BC8657"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M58 21C58 22.1046 58.8954 23 60 23H158V-43H58V21Z" fill="#434343"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M61 18C61 19.1046 61.8954 20 63 20H151V-40H61V18Z" fill="#508C63"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M95.9734 11.5302C95.9206 11.6682 95.8677 11.8061 95.8204 11.9348C95.7787 12.0571 95.7075 12.0729 95.6305 11.9808C95.4382 11.7505 95.3002 11.4093 95.5015 10.6657C95.773 9.65416 97.8894 5.09715 98.6559 3.90339C98.7556 3.74195 98.8515 3.73693 98.9562 3.89967C99.1535 4.22579 99.1818 4.76505 98.7375 5.68957C98.6579 5.85899 98.5035 6.15116 98.3271 6.48503C98.1444 6.83096 97.9379 7.22166 97.7665 7.56696C98.0977 7.23718 98.4591 7.02597 98.7707 7.00964C99.7893 6.95626 99.9113 8.36781 99.3288 9.86434C98.8316 11.1521 98.1244 11.8741 97.4293 11.9106C96.7942 11.9438 96.3698 11.6416 96.1265 11.1257C96.0791 11.2543 96.0263 11.3923 95.9734 11.5302ZM75.8324 13.2227C76.5168 12.9825 78.0715 12.6126 78.7678 12.6002C78.9236 12.592 78.9199 12.5201 78.8783 12.4141C78.727 12.0496 78.3681 11.8521 77.7816 11.8948C77.3628 11.9288 76.7566 12.0567 76.1669 12.2678C78.4503 10.8985 80.1461 8.86292 80.5645 7.90371C81.0144 6.85873 80.7894 6.23365 80.3228 5.81349C79.8309 5.37063 79.1227 5.38371 78.5745 5.70084C77.6529 6.22979 76.9891 7.55034 76.8155 8.13623C76.7751 8.28255 76.789 8.31787 76.9454 8.32169C77.474 8.31802 77.7597 8.03868 78.1017 7.45599C78.4658 6.83608 79.3926 5.48973 79.9758 6.072C80.8511 6.9514 78.1806 10.1075 75.0695 12.1932C74.826 12.3621 74.7944 12.4479 74.9029 12.6826C74.9716 12.8472 75.0769 13.0219 75.2288 13.1702C75.3682 13.3071 75.5259 13.3349 75.8324 13.2227ZM70.2143 8.89785C69.5748 10.2164 68.7547 11.9074 68.1443 13.6136C68.1027 13.7359 68.02 13.7643 67.9311 13.6728C67.7281 13.4671 67.6128 13.1007 67.8015 12.3458C68.0016 11.5782 69.0397 9.14457 69.853 7.4677C69.2437 7.53568 69.3062 7.35216 69.4084 7.23866C69.7497 6.8723 70.1591 6.43026 70.4985 6.02795C70.6014 5.92643 70.6846 5.91005 70.8101 6.01162C71.174 6.30498 71.2218 6.7591 70.8116 7.64578C70.6473 8.00497 70.4423 8.42773 70.2143 8.89785L70.2143 8.89785ZM73.3044 10.0987C73.0861 10.5187 72.8684 10.9507 72.7435 11.3177C72.7151 11.4634 72.6444 11.4911 72.5322 11.4129C72.3575 11.2899 72.1381 11.001 72.3362 10.4258C72.342 10.409 72.3476 10.3913 72.3535 10.3729C72.3691 10.3243 72.3861 10.2712 72.4094 10.2177L72.3855 10.2189C71.8336 10.2358 71.5681 9.98539 71.4654 9.63028C71.4358 9.52369 71.456 9.45053 71.6004 9.45498C71.9492 9.46073 72.3793 9.41415 72.7729 9.35748C72.8531 9.1945 72.9332 9.02971 73.0114 8.86885L73.0114 8.86881L73.0117 8.86828L73.0117 8.86827L73.0117 8.8682L73.0117 8.86818L73.0117 8.86817L73.0118 8.86804C73.1346 8.61527 73.2528 8.37222 73.3591 8.16116C73.4355 8.01296 73.5326 8.0319 73.6341 8.13473C73.8371 8.34039 73.9291 8.72009 73.7045 9.24857C74.2684 9.23104 74.5105 9.49473 74.5892 9.8511C74.6189 9.95769 74.622 10.0176 74.4656 10.0138C74.0317 9.98847 73.6501 10.0445 73.3044 10.0987ZM82.8755 11.015C82.3141 11.5371 81.7558 12.1191 81.3078 12.7434C81.2176 12.8563 81.017 12.9269 81.0303 12.7219C81.0449 12.3126 81.2657 11.9405 81.684 11.438C81.9553 11.1113 82.3338 10.767 82.7583 10.3843C82.5794 9.49243 82.3287 8.37603 82.2082 8.37032C82.0638 8.36588 81.6077 8.83439 81.2902 9.65613C81.2479 9.76649 81.1407 9.78413 81.0997 9.69014C81.031 9.52551 81.0651 9.25936 81.1377 9.03926C81.3353 8.45212 81.9983 7.80453 82.6031 7.88098C82.9784 7.93341 83.1467 8.16492 83.2822 8.68655C83.3572 8.97101 83.436 9.32738 83.504 9.70834C84.1235 9.14715 84.7398 8.52604 85.2092 7.85255C85.3209 7.69049 85.4401 7.67222 85.4501 7.86396C85.4709 8.25942 85.2494 8.6195 84.8664 9.10821C84.6293 9.40801 84.1988 9.7949 83.6897 10.2524L83.6199 10.3151C83.6704 10.5434 83.7157 10.7694 83.7573 10.977L83.7573 10.9771L83.7573 10.9773C83.8066 11.2233 83.8507 11.4434 83.8921 11.6106C84.0131 12.085 84.1657 12.2452 84.3101 12.2496C84.7547 12.2504 85.2242 11.3486 85.5334 10.5993C85.5757 10.489 85.6709 10.472 85.7119 10.566C85.7794 10.7066 85.7944 10.9942 85.6436 11.3266C85.3212 12.0524 84.7269 12.6363 84.1277 12.6678C83.4926 12.701 83.1376 12.3471 82.9417 11.36C82.9351 11.3305 82.9281 11.2907 82.9198 11.2441L82.9198 11.244C82.9081 11.1781 82.894 11.0985 82.8755 11.015ZM87.8338 10.5269C87.9587 10.1598 88.1764 9.72783 88.3947 9.30783C88.7404 9.25366 89.122 9.19762 89.5559 9.22294C89.7123 9.22676 89.7092 9.16684 89.6795 9.06025C89.6008 8.70388 89.3586 8.44019 88.7948 8.45773C89.0194 7.92924 88.9274 7.54954 88.7244 7.34388C88.6229 7.24106 88.5258 7.22211 88.4494 7.37031C88.3433 7.58082 88.2255 7.82316 88.103 8.07522L88.1028 8.07557L88.1023 8.07676L88.1022 8.077L88.102 8.07736L88.102 8.07742C88.0237 8.23847 87.9435 8.40346 87.8632 8.56663C87.4696 8.62331 87.0395 8.66988 86.6907 8.66413C86.5463 8.65968 86.5261 8.73284 86.5557 8.83943C86.6584 9.19454 86.9239 9.44499 87.4758 9.42809L87.4997 9.42683C87.4764 9.48032 87.4594 9.53349 87.4438 9.58199L87.4438 9.58202L87.4438 9.5821C87.4379 9.60046 87.4322 9.61816 87.4265 9.63495C87.2284 10.2101 87.4478 10.499 87.6225 10.622C87.7347 10.7003 87.8053 10.6725 87.8338 10.5269ZM95.4162 10.8144C95.1392 11.4898 94.4187 12.1885 93.7578 12.1871C93.1088 12.1851 92.7531 11.8192 92.7236 11.2559C92.3659 11.7674 91.8499 12.239 91.2747 12.2692C90.1602 12.3276 89.8527 10.8176 90.7714 9.31545C91.6679 7.85052 92.5864 7.26165 93.1856 7.23025C93.7009 7.20324 93.9613 7.58614 93.9618 8.05475C94.1025 7.75898 94.2331 7.49979 94.3549 7.30115C94.4546 7.13971 94.5492 7.11072 94.6387 7.21417C94.8298 7.42046 94.9526 7.93073 94.6964 8.54498C94.5925 8.78925 94.4267 9.10709 94.2522 9.44187L94.2522 9.44191C94.0315 9.86512 93.7967 10.3154 93.6547 10.6784C93.3903 11.3652 93.4053 11.8811 93.8115 11.8358C94.3015 11.7861 94.9179 10.9367 95.294 10.0878C95.3483 9.97682 95.4315 9.96044 95.4851 10.0658C95.5387 10.1711 95.5544 10.4707 95.4162 10.8144ZM91.3858 11.8668C90.9178 11.8793 91.0183 10.8166 91.5994 9.75272C92.2026 8.65164 93.0366 7.82686 93.4219 7.84272C93.7713 7.86045 93.7024 8.60909 93.0166 9.96684C92.4607 11.0534 91.8777 11.853 91.3858 11.8668ZM96.8845 11.3743C96.5572 11.3194 96.3813 10.9441 96.3391 10.5978C96.7342 9.65185 97.2572 8.62707 97.767 8.03558C98.107 7.64525 98.3638 7.49961 98.6167 7.51039C98.8935 7.51991 99.0757 8.24337 98.4636 9.63331C97.8414 11.0598 97.309 11.4482 96.8845 11.3743ZM102.996 7.96529C102.748 7.9998 102.523 8.03122 102.318 8.03738C101.766 8.05429 101.512 7.79123 101.422 7.43549C101.391 7.31691 101.413 7.26772 101.545 7.27279C101.877 7.27384 102.269 7.22143 102.647 7.17093C103.008 7.12269 103.356 7.07618 103.626 7.07963C104.215 7.08481 104.469 7.33589 104.547 7.69225C104.577 7.79885 104.557 7.87201 104.4 7.86819C103.869 7.84378 103.403 7.9087 102.996 7.96529ZM103.902 9.14399C104.035 9.14907 104.055 9.07591 104.025 8.96932C103.935 8.61358 103.693 8.36187 103.093 8.36931C102.841 8.37155 102.524 8.41962 102.193 8.46995C101.796 8.53008 101.379 8.59344 101.025 8.58581C100.881 8.58136 100.873 8.65389 100.902 8.76049C100.993 9.11623 101.246 9.3673 101.823 9.36112C102.047 9.35934 102.291 9.31729 102.564 9.2705C102.948 9.20435 103.388 9.12873 103.902 9.14399ZM107.483 6.94468C106.844 8.26318 106.024 9.95422 105.413 11.6604C105.372 11.7827 105.289 11.8111 105.2 11.7196C104.997 11.514 104.882 11.1475 105.07 10.3926C105.27 9.62506 106.309 7.19139 107.122 5.51453C106.513 5.58251 106.575 5.39899 106.677 5.28548C107.019 4.91912 107.428 4.47708 107.767 4.07477C107.87 3.97325 107.953 3.95687 108.079 4.05844C108.443 4.3518 108.491 4.80592 108.081 5.6926C107.916 6.0518 107.711 6.47456 107.483 6.94468ZM111.459 6.42673L111.459 6.4267L111.459 6.42665C111.985 5.79881 112.425 5.27377 112.677 4.94703C113.284 4.15815 113.412 3.61073 113.322 3.26697C113.276 3.0891 113.167 3.07079 113.03 3.21014C111.722 4.61254 108.028 9.09604 107.379 10.4759C107.141 10.981 107.125 11.3544 107.234 11.601C107.301 11.7417 107.408 11.7121 107.463 11.6131C108.252 10.2546 110.13 8.0127 111.459 6.42673ZM116.118 6.46102C116.741 6.88499 117.148 7.7769 116.251 9.45816C115.441 10.9786 114.005 11.3182 113.069 10.8866C112.207 10.4872 112.136 9.58969 112.322 9.00318C112.496 8.44126 112.917 8.21493 113.263 8.17275C113.359 8.15574 113.399 8.23774 113.344 8.33675C112.815 9.25368 112.844 10.2496 113.325 10.5007C113.943 10.8288 114.993 9.99272 115.505 8.99253C116.039 7.94316 116.06 6.96872 115.653 6.77374C115.222 6.56804 114.473 6.95575 113.995 7.67781C113.905 7.80267 113.844 7.79382 113.755 7.70235C113.552 7.49669 113.363 7.08606 113.65 6.38604C113.896 5.79639 114.277 5.04341 114.739 4.22612C114.625 4.12392 114.559 3.99524 114.516 3.87729C114.475 3.77132 114.532 3.72025 114.652 3.71397C115.329 3.70034 116.008 3.54503 116.576 3.41504C116.945 3.33082 117.266 3.25723 117.511 3.23968C118.014 3.20132 118.338 3.43665 118.504 3.83655C118.545 3.94252 118.524 3.99171 118.392 3.99862C117.684 4.03574 117.086 4.17797 116.541 4.30783C116.283 4.36912 116.038 4.42764 115.797 4.47107C115.726 4.48682 115.666 4.48996 115.606 4.4931C115.241 5.10102 114.879 5.74489 114.516 6.38876C115.079 6.13093 115.756 6.21559 116.118 6.46102Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M57 17.133C57 17.133 53.7498 15 53.2882 15H11.7125C11.2508 15 8 17.133 8 17.133H57Z" fill="#C08569"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M15 47C14.4477 47 14 46.5523 14 46V37H16V46C16 46.5523 15.5523 47 15 47ZM49 47C48.4477 47 48 46.5523 48 46V37H50V46C50 46.5523 49.5523 47 49 47Z" fill="#AA7258"/>
          <path d="M48.8398 8V9.32C48.8923 9.34938 48.9442 9.3775 48.9948 9.41C48.9967 9.41125 48.998 9.41375 48.9998 9.415C49.0517 9.38125 49.1055 9.35 49.1598 9.32C49.5773 9.08625 50.0505 8.96 50.5348 8.96C50.6767 8.96 50.8136 8.975 50.9498 8.995C51.1305 8.5875 51.1586 8.19438 51.1598 8.17C51.1623 8.12625 51.1405 8.08188 51.1098 8.05C51.0798 8.01812 51.0342 8 50.9898 8C50.8973 8 50.0717 8.01625 49.5298 8.525C49.368 8.6775 49.2511 8.85125 49.1598 9.025V8H48.8398Z" fill="#55BC79"/>
          <path d="M47.465 9.28003C46.1063 9.28003 45 10.3632 45 11.695C45 14.0907 47.3188 16 48.23 16C48.4969 16 48.7569 15.9388 49 15.815C49.2431 15.9388 49.5031 16 49.77 16C50.7575 16 53 14.3732 53 11.695C53 10.3632 51.8938 9.28003 50.535 9.28003C49.9738 9.28003 49.435 9.46878 49 9.81003C48.565 9.46878 48.0262 9.28003 47.465 9.28003Z" fill="#B54444"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M58 18.386C58 17.694 57.5555 17.1331 57.0065 17.1331H7.99247C7.44433 17.1331 7 17.694 7 18.386V19.7907C7 20.343 7.44772 20.7907 8 20.7907H57C57.5523 20.7907 58 20.343 58 19.7907V18.386Z" fill="#CC8E71"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M9 38.1177C9 38.67 9.44772 39.1177 10 39.1177H55C55.5523 39.1177 56 38.67 56 38.1177V20.7908H9V38.1177Z" fill="#E9B59C"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.79053 48.1177C9.79053 48.67 10.2382 49.1177 10.7905 49.1177H10.9086C11.4609 49.1177 11.9086 48.67 11.9086 48.1177V39.1177H9.79053V48.1177Z" fill="#BA8268"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M52.4531 48.1177C52.4531 48.67 52.9008 49.1177 53.4531 49.1177H53.5709C54.1232 49.1177 54.5709 48.67 54.5709 48.1177V39.1177H52.4531V48.1177Z" fill="#BA8268"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M21.244 13.2538C21.244 13.2538 20.8059 14.1061 21.2941 15.0662H11.2093L11.1592 13.1279L21.244 13.2538Z" fill="#E7E6E6"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.2938 13.9306C11.2938 13.8535 11.2938 13.7673 11.2938 13.6736C11.2938 13.2169 11.6641 13.2539 11.6641 13.2539H21.446V12.7292H11.5632C11.3557 12.7292 11.2117 12.7892 11.1115 12.8762V12.8761L11.1109 12.8766C11.1022 12.8841 11.0939 12.8919 11.0859 12.8998L11.0833 12.9024L11.07 12.9157C10.883 13.1046 10.1595 13.9606 10.9925 15.1709C11.084 15.3287 11.2529 15.4625 11.5632 15.4625H21.446V14.9378H11.6641C11.6641 14.9378 11.2938 14.9747 11.2938 14.5182C11.2938 14.4243 11.2938 14.3381 11.2938 14.2611C11.2938 14.2611 11.2938 14.1293 11.2938 13.9306Z" fill="#DEC965"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M20.8183 8.22046C20.8183 8.22046 20.3806 9.07294 20.8682 10.033H10.7972L10.7471 8.09473L20.8183 8.22046Z" fill="#E7E6E6"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.8817 8.89737C10.8817 8.82041 10.8817 8.73405 10.8817 8.64018C10.8817 8.1837 11.2518 8.22052 11.2518 8.22052H21.0201V7.69604H11.1509C10.9436 7.69604 10.7997 7.75601 10.6997 7.84279L10.6992 7.84331C10.6904 7.85091 10.6822 7.85868 10.6742 7.86663L10.6717 7.86919L10.6582 7.88251C10.4715 8.07137 9.7489 8.92744 10.5809 10.1377C10.6722 10.2955 10.841 10.4293 11.1509 10.4293H21.0201V9.90463H11.2518C11.2518 9.90463 10.8817 9.94153 10.8817 9.48505C10.8817 9.39109 10.8817 9.30499 10.8817 9.22777C10.8817 9.22777 10.8817 9.09606 10.8817 8.89737Z" fill="#56BC92"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5376 12.7293H21.5083V10.4292H10.5376V12.7293Z" fill="#65838A"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.2075 12.2466H14.0292V10.9861H11.2075V12.2466Z" fill="black" fill-opacity="0.3"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12.3496 7.70161H19.6962V5.40137H12.3496V7.70161Z" fill="#B57268"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12.8896 7.28658H14.3431V5.83301H12.8896V7.28658Z" fill="black" fill-opacity="0.1"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M39.1465 10.8591L41.6556 16L36.4111 16.0665L39.1465 10.8591Z" fill="#9E9E9E"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M21.8691 10.8591L19.36 16L24.6045 16.0665L21.8691 10.8591Z" fill="#9E9E9E"/>
          <rect x="22" y="11" width="17" height="5" fill="#9E9E9E" stroke="#9E9E9E" stroke-width="0.3"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M33.4807 14.5398C33.3357 14.8298 33.0107 15.0798 32.6907 15.0798C32.3607 15.0798 32.2107 14.9148 32.2107 14.6548C32.2107 14.3398 32.4557 13.9048 32.6457 13.6098L32.6821 13.547C32.7586 13.4153 32.8111 13.3248 32.7807 13.3248C32.7357 13.3248 32.2607 13.6398 31.9957 14.0698C31.8257 14.3498 31.6457 14.6948 31.5257 14.9948C31.4857 15.0848 31.4107 15.0998 31.3507 15.0248C31.2707 14.9298 31.2007 14.8098 31.3257 14.4798C31.5257 13.9548 32.5157 12.2798 32.9207 11.7598C33.0007 11.6598 33.0757 11.6798 33.1207 11.7798C33.1457 11.8348 33.1607 11.8998 33.1607 11.9698C33.1607 12.1048 33.1007 12.2898 32.9807 12.4998C32.8807 12.6648 32.5707 13.1298 32.5207 13.1998C32.6707 13.0898 32.8457 13.0298 32.9407 13.0298C33.0857 13.0298 33.2307 13.1848 33.2307 13.3798C33.2307 13.4498 33.2157 13.5198 33.1757 13.5898C33.0892 13.7439 33.0176 13.8703 32.9583 13.9749C32.829 14.203 32.7584 14.3276 32.7207 14.4098C32.6757 14.5198 32.6557 14.6248 32.6557 14.7048C32.6557 14.8098 32.6807 14.8748 32.7507 14.8748C32.9257 14.8748 33.1907 14.5198 33.3407 14.2148C33.3757 14.1398 33.4557 14.1298 33.4957 14.2148C33.5207 14.2748 33.5557 14.3898 33.4807 14.5398ZM24.3229 14.9948C24.6129 14.3398 24.9729 13.6748 25.2329 13.2048C25.4479 12.8298 25.5929 12.5398 25.5879 12.3598C25.8579 12.3148 26.1479 12.2698 26.3629 12.2948C26.4779 12.3048 26.4979 12.2448 26.4729 12.1848C26.3979 11.9748 26.1879 11.9148 25.9579 11.9148C25.8275 11.9148 25.5941 11.9421 25.3371 11.9721C25.0224 12.0089 24.6723 12.0498 24.4329 12.0498C24.3629 12.0498 24.3229 12.0798 24.3379 12.1448C24.3929 12.3398 24.6079 12.4548 24.9329 12.4548C24.9985 12.4548 25.0641 12.4461 25.1338 12.4367L25.1479 12.4348C24.7079 13.1148 24.2029 14.1298 24.0779 14.5448C24.0579 14.6098 24.0479 14.6848 24.0479 14.7448C24.0479 14.8698 24.0779 14.9498 24.1529 15.0198C24.2229 15.0898 24.2829 15.0848 24.3229 14.9948ZM26.1036 15.0798C26.4936 15.0748 26.8936 14.8398 27.1036 14.5348C27.1936 14.3998 27.1886 14.2548 27.1736 14.2098C27.1336 14.1098 27.0686 14.1198 27.0136 14.1998C26.8086 14.5098 26.4736 14.8798 26.0936 14.8798C25.9436 14.8798 25.8536 14.7248 25.8536 14.5048C25.8536 14.4148 25.8686 14.3098 25.8986 14.2098C26.0136 14.2848 26.1336 14.3198 26.2536 14.3198C26.6936 14.3198 27.0286 13.7948 27.0286 13.4948C27.0286 13.4298 27.0086 13.3548 26.9786 13.3098C26.9086 13.2098 26.8086 13.1298 26.6686 13.0498C26.6186 13.0198 26.5636 13.0098 26.4936 13.0098C26.2036 13.0098 25.7986 13.2748 25.5386 13.8048C25.4336 14.0048 25.3836 14.1998 25.3836 14.3798C25.3836 14.7798 25.6386 15.0848 26.1036 15.0798ZM25.9686 14.0198C26.0086 14.0448 26.0436 14.0548 26.0786 14.0548C26.1986 14.0548 26.3586 13.9048 26.4586 13.7698C26.6036 13.5748 26.7086 13.3398 26.6536 13.2948C26.5786 13.2348 26.2086 13.5398 25.9686 14.0198ZM28.7143 15.0898C29.0193 15.0898 29.3393 14.8248 29.4693 14.5498C29.5393 14.4048 29.5093 14.2698 29.4893 14.2248C29.4393 14.1198 29.3943 14.1248 29.3393 14.2248C29.1743 14.5498 28.9243 14.8898 28.7443 14.8898C28.6943 14.8898 28.6743 14.8448 28.6743 14.7698C28.6743 14.5355 28.8798 14.1983 29.0478 13.9228C29.12 13.8044 29.1852 13.6975 29.2243 13.6148C29.3543 13.3548 29.3093 13.1348 29.2243 13.0348C29.1643 12.9648 29.0793 12.9698 29.0193 13.0698L28.9243 13.2248C28.8793 13.0948 28.7693 13.0048 28.5893 13.0048C28.3343 13.0048 27.9243 13.2398 27.5243 13.8148C27.3443 14.0648 27.2543 14.3448 27.2543 14.5598C27.2543 14.8548 27.4143 15.0698 27.7093 15.0698C27.9093 15.0698 28.1343 14.9148 28.2793 14.7748C28.3193 14.9598 28.4643 15.0898 28.7143 15.0898ZM27.7043 14.6998C27.7043 14.7898 27.7243 14.8498 27.7743 14.8498C27.9393 14.8498 28.1693 14.5448 28.4143 14.1248C28.6093 13.7848 28.6993 13.5398 28.6993 13.4098C28.6993 13.3498 28.6893 13.3148 28.6393 13.3148C28.5393 13.3148 28.1943 13.6298 27.9393 14.0398C27.7893 14.2748 27.7043 14.5398 27.7043 14.6998ZM30.295 15.0748C30.685 15.0698 31.09 14.8248 31.28 14.5248C31.37 14.3848 31.37 14.2548 31.345 14.1898C31.315 14.1048 31.24 14.1248 31.195 14.1998C30.995 14.4998 30.65 14.8848 30.275 14.8798C30.14 14.8748 30.05 14.7398 30.05 14.5198C30.05 14.3698 30.1 14.1648 30.2 13.9598C30.4 13.5548 30.725 13.2298 30.785 13.2798C30.805 13.2998 30.77 13.3898 30.72 13.4898C30.63 13.6948 30.605 13.7948 30.605 13.8598C30.605 13.9948 30.69 14.0898 30.78 14.1448C30.88 14.1948 30.925 14.1848 30.96 14.0898C30.98 14.0348 31.01 13.9598 31.05 13.8848C31.145 13.6898 31.225 13.5048 31.15 13.3398C31.07 13.1898 30.86 13.0198 30.675 13.0198C30.385 13.0198 29.99 13.2898 29.735 13.8048C29.63 14.0048 29.58 14.2048 29.58 14.3848C29.58 14.7848 29.835 15.0798 30.295 15.0748ZM36.2164 15.0748C36.5114 15.0748 36.8814 14.8598 37.0064 14.5498C37.0714 14.4098 37.0564 14.2698 37.0314 14.2148C36.9814 14.1048 36.9064 14.1248 36.8614 14.2198C36.7114 14.5698 36.4264 14.8748 36.2464 14.8748C36.1764 14.8748 36.1364 14.7898 36.1364 14.6598C36.1364 14.5998 36.1514 14.5098 36.1714 14.4448C36.2614 14.1898 36.5064 13.8498 36.7214 13.5998C36.7814 13.5348 36.8064 13.4698 36.8064 13.4098C36.8064 13.2848 36.7214 13.1498 36.6564 13.0648C36.5964 12.9848 36.5264 13.0198 36.4464 13.0698C36.2814 13.1748 36.1514 13.2448 36.0114 13.2798C36.0664 13.1148 36.1064 12.9648 36.1064 12.8598C36.1064 12.7498 36.0664 12.6848 35.9614 12.6848C35.7914 12.6898 35.4564 13.0548 35.4564 13.3198C35.4564 13.4098 35.5064 13.4848 35.5964 13.5398C35.3314 14.1498 34.8114 14.8698 34.3114 14.8698C34.1714 14.8698 34.0814 14.7198 34.0814 14.4898C34.0814 14.3998 34.0964 14.2948 34.1264 14.1948C34.2414 14.2748 34.3614 14.3048 34.4814 14.3048C34.7014 14.3048 34.8914 14.1798 35.0364 13.9998C35.1714 13.8248 35.2464 13.6198 35.2464 13.4748C35.2464 13.4148 35.2264 13.3548 35.2014 13.3098C35.1214 13.2098 35.0264 13.1348 34.8914 13.0498C34.8414 13.0198 34.7864 13.0098 34.7214 13.0098C34.4364 13.0098 34.0264 13.2898 33.7664 13.7998C33.6664 13.9998 33.6164 14.1998 33.6164 14.3748C33.6164 14.7698 33.8714 15.0698 34.3314 15.0648C34.9414 15.0548 35.4764 14.4448 35.8864 13.5898C35.9964 13.5848 36.1214 13.5648 36.2564 13.5048C36.0564 13.7398 35.8614 14.0148 35.7764 14.2848C35.7414 14.3898 35.7264 14.4798 35.7264 14.5598C35.7264 14.8548 35.9014 15.0748 36.2164 15.0748ZM34.1964 14.0098C34.2364 14.0298 34.2714 14.0398 34.3064 14.0398C34.4364 14.0398 34.5714 13.8948 34.6714 13.7598C34.8114 13.5798 34.9264 13.3348 34.8764 13.2948C34.7864 13.2248 34.4464 13.5148 34.2414 13.9198C34.2164 13.9648 34.2064 13.9848 34.1964 14.0098Z" fill="white"/>
          </g>
          </svg>
          
      
      </div>
      </div>

      <div class="classroomLabel">
        <label>
          Teaching
        </label>
      </div>
    </div>
    <div
      class="classroomMainContainer userPositionRight"
      (click)="setUserMode('planning')"
    >
      <div
        [ngClass]="
          currentUserState === 'planning'
            ? 'parentActive classroomMarginRight'
            : 'learningMargin'
        "
      >
        <div
          class="classroomContainer"
          [ngClass]="currentUserState === 'planning' ? 'active' : ''"
        >
        <svg width="110" height="50" viewBox="0 0 110 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="110" height="50" rx="7" fill="#E2F5FF"/>
          <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="110" height="50">
          <rect width="110" height="50" rx="7" fill="white"/>
          </mask>
          <g mask="url(#mask0)">
          <rect y="38" width="110" height="12" fill="#DDDCDB"/>
          <ellipse cx="91.8798" cy="27.3345" rx="3.34615" ry="9.48077" fill="#3A8E5F"/>
          <ellipse cx="96.3414" cy="28.4499" rx="4.73981" ry="8.36539" fill="#52B97F"/>
          <ellipse cx="87.4185" cy="28.4499" rx="4.73981" ry="8.36539" fill="#43A870"/>
          <path d="M87.4185 35.7H96.3415V40.1615C96.3415 42.6255 94.344 44.623 91.88 44.623C89.416 44.623 87.4185 42.6255 87.4185 40.1615V35.7Z" fill="#BC8657"/>
          <path d="M66.3076 29.0059C66.3076 28.3007 66.8793 27.729 67.5845 27.729H83.0384V46.529C83.0384 47.2342 82.4667 47.8059 81.7615 47.8059H67.5845C66.8793 47.8059 66.3076 47.2342 66.3076 46.529V29.0059Z" fill="#E9B59C"/>
          <path d="M66.7538 29.0059C66.7538 28.5471 67.1257 28.1752 67.5845 28.1752H82.5922V33.1444C82.5922 33.6032 82.2203 33.9752 81.7615 33.9752H67.5845C67.1257 33.9752 66.7538 33.6032 66.7538 33.1444V29.0059Z" stroke="#DDA58B" stroke-width="0.892308"/>
          <rect x="73" y="36.7065" width="4.46154" height="1.11538" rx="0.557692" fill="#C08569"/>
          <path d="M66.7538 41.5597H82.5922V46.5289C82.5922 46.9877 82.2203 47.3597 81.7615 47.3597H67.5845C67.1257 47.3597 66.7538 46.9877 66.7538 46.5289V41.5597Z" stroke="#DDA58B" stroke-width="0.892308"/>
          <rect x="73" y="30.0142" width="4.46154" height="1.11538" rx="0.557692" fill="#C08569"/>
          <rect x="73" y="43.3987" width="4.46154" height="1.11538" rx="0.557692" fill="#C08569"/>
          <path d="M66.7538 34.8675H82.5922V39.8368C82.5922 40.2956 82.2203 40.6675 81.7615 40.6675H67.5845C67.1257 40.6675 66.7538 40.2956 66.7538 39.8368V34.8675Z" stroke="#DDA58B" stroke-width="0.892308"/>
          <path d="M15 27.5471H17.8226V46.2127C17.8226 46.9922 17.1907 47.624 16.4113 47.624C15.6319 47.624 15 46.9922 15 46.2127V27.5471Z" fill="#E9B59C"/>
          <path d="M19.2339 27.5471H22.0565V39.5204C22.0565 40.2999 21.4246 40.9317 20.6452 40.9317C19.8657 40.9317 19.2339 40.2999 19.2339 39.5204V27.5471Z" fill="#D79879"/>
          <rect x="15" y="26.0901" width="69.1538" height="2.82261" rx="1.4113" fill="#CC8E71"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M83.4481 26.2779C83.4481 26.2779 78.9547 21.8164 78.3166 21.8164H20.8382C20.1998 21.8164 15.7056 26.2779 15.7056 26.2779H83.4481Z" fill="#C08569"/>
          <path d="M58.5818 21.7439H38.5049V7.80159C38.5049 7.49207 38.7553 7.2439 39.0626 7.2439H58.0241C58.3336 7.2439 58.5818 7.49207 58.5818 7.80159V21.7439Z" fill="#252C2E"/>
          <path d="M39.6201 8.35938H57.4663V19.5132H39.6201V8.35938Z" fill="#698690"/>
          <path d="M58.9627 21.7012C58.7206 21.4245 58.3709 21.2659 58.0033 21.2659H39.0833C38.7157 21.2659 38.366 21.4245 38.1239 21.7012L37.0086 22.9759C36.2874 23.8001 36.8727 25.09 37.9679 25.09H59.1187C60.2139 25.09 60.7992 23.8001 60.0781 22.9759L58.9627 21.7012Z" fill="#BDDCE3"/>
          <path d="M56.4705 21.6449C56.231 21.4024 55.9044 21.2659 55.5635 21.2659H41.5234C41.1826 21.2659 40.8559 21.4024 40.6164 21.6449C39.8212 22.4502 40.3916 23.8153 41.5234 23.8153H55.5635C56.6953 23.8153 57.2658 22.4502 56.4705 21.6449Z" fill="#6E858F"/>
          <path d="M71.0063 24.1082C71.0063 22.6741 71.8445 21.5007 72.8688 21.5007H76.5938C77.6182 21.5007 78.4563 22.6741 78.4563 24.1082H71.0063Z" fill="#232C2E"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M74.0835 21.5007L79.0501 12.9399L72.8418 5.56836L74.3928 5.5714L80.6011 12.9506L75.6344 21.5007H74.0835Z" fill="#D8D8D8"/>
          <path d="M68.8787 13.9733L64.1449 6.68394C66.7691 4.97978 70.6131 5.0743 71.7966 6.89664C72.98 8.71898 71.5028 12.2692 68.8787 13.9733Z" fill="#5FCEEE"/>
          <path d="M70.3033 5.79377L72.1256 4.61033C72.9275 4.08961 74.0095 4.31962 74.5303 5.12145C75.051 5.92328 74.821 7.00536 74.0191 7.52608L72.1968 8.70952L70.3033 5.79377Z" fill="#1E2C2E"/>
          <path d="M79.4498 14.175C78.7461 14.175 78.2081 13.6369 78.2081 12.9333C78.2081 12.2297 78.7461 11.6917 79.4498 11.6917C80.1534 11.6917 80.6914 12.2297 80.6914 12.9333C80.6914 13.6369 80.1534 14.175 79.4498 14.175Z" fill="#212C2E"/>
          <path d="M72.5803 6.90619L73.3092 6.43281C73.4914 6.31447 73.5553 6.01389 73.437 5.83165C73.3186 5.64942 73.0181 5.58553 72.8358 5.70387L72.1069 6.17725L71.3968 5.08385L70.3034 5.79391L72.1969 8.70966L73.2903 7.9996L72.5803 6.90619Z" fill="black" fill-opacity="0.3"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M65.3922 6.18311L36.2197 27.4026H61.1341L70.1709 13.601L65.3922 6.18311Z" fill="white" fill-opacity="0.12"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M28.1239 20.9077C28.1239 20.9077 27.7366 21.6613 28.1683 22.5101H19.2519L19.2075 20.7964L28.1239 20.9077Z" fill="#E7E6E6"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M19.3267 21.506C19.3267 21.4379 19.3267 21.3616 19.3267 21.2788C19.3267 20.875 19.6541 20.9077 19.6541 20.9077H28.3028V20.4438H19.5649C19.3814 20.4438 19.2541 20.4969 19.1655 20.5737V20.5737L19.165 20.5741C19.1573 20.5808 19.1499 20.5876 19.1429 20.5947L19.1406 20.5969L19.1288 20.6087C18.9635 20.7757 18.3238 21.5326 19.0603 22.6026C19.1412 22.7422 19.2906 22.8604 19.5649 22.8604H28.3028V22.3966H19.6541C19.6541 22.3966 19.3267 22.4292 19.3267 22.0255C19.3267 21.9425 19.3267 21.8663 19.3267 21.7983C19.3267 21.7983 19.3267 21.6817 19.3267 21.506Z" fill="#DEC965"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M27.7482 16.4574C27.7482 16.4574 27.3612 17.2111 27.7923 18.0599H18.8881L18.8438 16.3462L27.7482 16.4574Z" fill="#E7E6E6"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M18.9626 17.0558C18.9626 16.9878 18.9626 16.9114 18.9626 16.8284C18.9626 16.4248 19.2898 16.4574 19.2898 16.4574H27.9264V15.9937H19.2006C19.0173 15.9937 18.8901 16.0467 18.8017 16.1234L18.8012 16.1239C18.7934 16.1306 18.7862 16.1374 18.7791 16.1445L18.7769 16.1467L18.765 16.1585C18.5999 16.3255 17.961 17.0824 18.6966 18.1524C18.7773 18.292 18.9266 18.4102 19.2006 18.4102H27.9264V17.9464H19.2898C19.2898 17.9464 18.9626 17.979 18.9626 17.5754C18.9626 17.4923 18.9626 17.4162 18.9626 17.3479C18.9626 17.3479 18.9626 17.2315 18.9626 17.0558Z" fill="#56BC92"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M18.6582 20.4438H28.3579V18.4102H18.6582V20.4438Z" fill="#65838A"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M19.251 20.0171H21.7458V18.9026H19.251V20.0171Z" fill="black" fill-opacity="0.3"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M20.2603 15.9986H26.7557V13.9648H20.2603V15.9986Z" fill="#B57268"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M20.7378 15.6316H22.0229V14.3464H20.7378V15.6316Z" fill="black" fill-opacity="0.1"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M35.3625 17.8538H29.1542V19.0954C27.7827 19.0954 26.6709 20.2072 26.6709 21.5787C26.6709 22.9502 27.7827 24.062 29.1542 24.062C29.2628 24.062 29.3698 24.0551 29.4747 24.0415C29.9011 24.7951 30.7099 25.3037 31.6375 25.3037H32.8792C34.2507 25.3037 35.3625 24.1919 35.3625 22.8204V17.8538ZM29.1542 20.3371C28.4685 20.3371 27.9126 20.893 27.9126 21.5787C27.9126 22.2645 28.4685 22.8204 29.1542 22.8204V20.3371Z" fill="#232C2E"/>
          <path d="M29.1542 17.8538V17.6038H28.9042V17.8538H29.1542ZM35.3625 17.8538H35.6125V17.6038H35.3625V17.8538ZM29.1542 19.0954V19.3454H29.4042V19.0954H29.1542ZM29.4747 24.0415L29.6923 23.9184L29.6095 23.7721L29.4428 23.7936L29.4747 24.0415ZM29.1542 20.3371H29.4042V20.0871H29.1542V20.3371ZM29.1542 22.8204L29.1542 23.0704H29.4042V22.8204H29.1542ZM29.1542 18.1038H35.3625V17.6038H29.1542V18.1038ZM29.4042 19.0954V17.8538H28.9042V19.0954H29.4042ZM29.1542 18.8454C27.6446 18.8454 26.4209 20.0692 26.4209 21.5787H26.9209C26.9209 20.3453 27.9208 19.3454 29.1542 19.3454V18.8454ZM26.4209 21.5787C26.4209 23.0883 27.6446 24.312 29.1542 24.312V23.812C27.9208 23.812 26.9209 22.8121 26.9209 21.5787H26.4209ZM29.1542 24.312C29.2735 24.312 29.3912 24.3044 29.5067 24.2895L29.4428 23.7936C29.3484 23.8057 29.2521 23.812 29.1542 23.812V24.312ZM31.6375 25.0537C30.8036 25.0537 30.0761 24.5968 29.6923 23.9184L29.2571 24.1647C29.7261 24.9934 30.6162 25.5537 31.6375 25.5537V25.0537ZM32.8792 25.0537H31.6375V25.5537H32.8792V25.0537ZM35.1125 22.8204C35.1125 24.0538 34.1126 25.0537 32.8792 25.0537V25.5537C34.3887 25.5537 35.6125 24.3299 35.6125 22.8204H35.1125ZM35.1125 17.8538V22.8204H35.6125V17.8538H35.1125ZM29.1542 20.0871C28.3304 20.0871 27.6626 20.7549 27.6626 21.5787H28.1626C28.1626 21.031 28.6065 20.5871 29.1542 20.5871V20.0871ZM27.6626 21.5787C27.6626 22.4025 28.3304 23.0704 29.1542 23.0704L29.1542 22.5704C28.6065 22.5704 28.1626 22.1264 28.1626 21.5787H27.6626ZM29.4042 22.8204V20.3371H28.9042V22.8204H29.4042Z" fill="black" fill-opacity="0.03"/>
          <path d="M60.6221 13.6099C60.7315 14.1869 61.2928 16.956 63.2638 16.956C63.8107 16.956 64.3163 16.8085 64.6176 16.5975C64.6569 16.6423 64.6961 16.7021 64.7332 16.8066C64.8282 17.0811 64.8488 17.5293 64.8488 17.9121H65.9055V17.434C65.9055 16.9896 66.3141 16.6423 66.8301 16.4033C67.053 16.6909 67.5214 16.956 68.0188 16.956C69.5502 16.956 70.6605 14.5267 70.6605 14.0879H68.0188C67.086 14.0879 66.4338 14.4296 66.4338 15.3128C66.9271 15.0365 67.7216 15.0122 68.283 15.0589C67.9776 15.0831 67.5937 15.1522 67.1768 15.268C67.1417 15.2773 67.1107 15.2885 67.0777 15.2979C67.0282 15.3128 66.9787 15.3259 66.9291 15.3427C66.7475 15.3968 66.5803 15.4566 66.4338 15.522C66.0953 15.6695 65.7734 15.845 65.5092 16.0747C64.8591 14.9001 63.5589 14.7545 62.7354 14.5659C63.5857 14.5827 64.8261 14.8852 65.3771 15.522C65.3771 14.3866 64.4629 13.6099 63.2638 13.6099H60.6221Z" fill="#00AB6B"/>
          <path d="M62.375 17.7686H68.1113V19.9993C68.1113 21.5833 66.8272 22.8675 65.2431 22.8675C63.6591 22.8675 62.375 21.5833 62.375 19.9993V17.7686Z" fill="#91653F"/>
          </g>
          </svg>
          
      </div>
      </div>

      <div class="classroomLabel">
        <label>
          Planning
        </label>
      </div>
    </div>
  </li>
  <li *ngIf="isLoggedIn" class="signOut" (click)="logOut($event, 'from UI')">
    <div>Sign Out</div>
  </li>
</ul>
