:host {
  width: 100%;
  position: absolute;
  top: var(--userMenuTop);
  //border: 1px solid var(--tool-submenu-border);
  // background-color: var(--tool-submenu-background-color);
  border-radius: 6px;
  // box-shadow: 0 30px 100px 0 var(--tool-box-shadow-color),
  //   0 20px 25px 0 var(--tool-box-shadow-color);
  border: 1px solid #303439;
  background-color: #22262a;
  box-shadow: 0 30px 100px 0 rgba(0, 0, 0, 0.5),
    0 20px 25px 0 rgba(0, 0, 0, 0.5);
}

li {
  border-bottom: 1px solid var(--canvas-handle-color);
  padding: 10px 15px;
  color: var(--tool-text-color-primary);
  font-size: 14px;
  cursor: pointer;
  width: 100%;

  &:last-child {
    border-bottom: none;
  }
}
.imgClass {
  // background-color: red;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  float: right;
}
.userPositionRight {
  float: left;
}
.userTextFloat {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 18px;
  margin-left: 3px;
  width: 90%;
}
.arrowIcon {
  align-items: center;
  display: grid;
}
.mainDivTitle {
  padding-bottom: 10px;
  opacity: 0.7;
}
.classroomMainContainer {
  height: 100%;
  width: 50%;
  max-width: 110px;
}
.classroomMainDivLeft {
  float: left;
  margin-right: 30px;
}
.classroomContainer {
  height: 50px;
  width: 110px;
  background: darkgray;
  border-radius: 5px;
}
// .teachingMargin {
//   margin: 5px 0 13px -7px;
// }
// .learningMargin {
//   margin-left: 5px;
//   margin-bottom: 15px;
//   margin-top: 3px;
// }

.classroomLabel {
  text-align: center;
  line-height: 18px;
  font-size: 15px;
  /* display: list-item; */
  margin: 10px 0px 0px 0px;
}

.active {
  // border-radius: 14px;
  // border: 4px solid #22262a;
  background-color: white;
}

.parentActive {
  display: flex;
  // border: 4px solid #6d71ff;
  box-shadow: 0 0 0px 4px #6d71ff;
  border-radius: 5px;
}
// .classroomMarginRight {
//   margin-right: -5px;
// }
// .classroomMarginLeft {
//   margin-left: -5px;
// }
.adminCss {
  padding: 15px;
}

.signOut {
  margin: 10px;
}
