<div [hidden]="!mode" class=" col-md-12 quill-editor">
  <ng-template #quillContainer></ng-template>
</div>
<!-- <div [hidden]="!mode">
  <input [type]="inputType" [value]="stemData.value" id="{{inputName}}-{{stemData.value}}-mcq" [name]="inputName">
  <label #myContent for="{{inputName}}-{{stemData.value}}-mcq"></label>
</div>

<div [hidden]="mode">
  <div type="text" id="{{inputName}}-{{stemData.value}}-mcq" (click)="onContainerClick()" [hidden]="quillLoaded">
    {{stemData.text}}</div>
  <button (click)="remove(stemData)">Remove</button>
</div> -->
