.scroll-wrapper {
  line-height: 0;
  display: flex;
}
button {
  background: transparent;
  padding: 0 5px;
}

.arrow-icon {
  display: block;
  line-height: 0;
}

.arrow-icon.scrolldown svg {
  width: 25px;
  height: 25px;
  transform: rotate(90deg);
}

.arrow-icon.scrollup svg {
  width: 25px;
  height: 25px;
  transform: rotate(270deg);
}

.arrow-icon svg g {
  fill: #fff;
}
