<div class="scroll-wrapper">
  <button
    #ref
    type="button"
    class="upbutton"
    tceLongPress
    (longPressEvent)="scrollEvent('up', $event)"
    [ngStyle]="{
      opacity: scrollState === 'start' ? '0.5' : '1'
    }"
  >
    <svg-icon
      class="arrow-icon scrollup"
      src="assets/images/ic.Navigate.svg"
      [applyCss]="true"
    ></svg-icon>
  </button>
  <button
    type="button"
    class="downbutton"
    tceLongPress
    (longPressEvent)="scrollEvent('down', $event)"
    [ngStyle]="{
      opacity: scrollState === 'end' ? '0.5' : '1'
    }"
  >
    <svg-icon
      class="arrow-icon scrolldown"
      src="assets/images/ic.Navigate.svg"
      [applyCss]="true"
    ></svg-icon>
  </button>
</div>
