.divColor {
  color: var(--submenu-background-color);
  font-weight: 800;
}

.divRecommended {
  margin: 2px 0px 3px 0;
}


.suggDIvRow{
  margin: 0 -6px;
}

.suggDIv {
  height: 100px;
  background:#888888;
  color: var(--text-color-primary);
  text-align: center;
  /* position: relative; */
  /* vertical-align: bottom; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 6px;
  width: 253px;
  border-radius: 10px;
  cursor: pointer;
}
// .containerMargin {
//   margin: 0 10px;
// }

.mainPlanningModeHeight{
  .divColor { padding: 0; }
}
