<div class="row" [ngClass]="currentType === 'planningMode' ? '' : 'containerMargin'">
  <!--thirumani future-use <div class="col-12 pb-2" *ngIf="currentView == 'libraryView'">
    <label class="divColor">Search Suggestion</label>
  </div>
  <div class="col-12" *ngIf="currentView == 'libraryView'">
    <div class="row suggDIvRow">
      <div
        class="suggDIv"
        *ngFor="let x of staticSuggetion"
        (click)="filterSelectedSuggetion(x.name, 'filterView')"
      >
        <label>{{ x.name }}</label>
      </div>
    </div>
  </div> -->
  <div class="col-12 pb-2 divRecommended">
    <label class="divColor">Recommended Resources</label>
  </div>
  <div class="col-12 divColor">
    <tce-search-resourse-list
      [chapterResources]="currentResourceList"
      [receivedParentStatus]="currentView"
      [FooterState]="showFooter"
      [totalPageCountResource]="totalPageCount"
      (currentResourcePreviewPosition)="
        getCurrentResourcePreviewPosition($event)
      "
      (currentResource)="getCurrentResource($event)"
      [@resourceDisplay]="resourceChange"
      [currentPage]="currentPageNumber"
      (loadData)="getLoadMoreData($event)"
      [currentType]="currentType"
      [currentPlanningResourceState]="currentPlanningResourceState"
    ></tce-search-resourse-list>
  </div>
</div>
