<nb-card class="customHeightAddResource">
  <nb-card-body>
    <div
      style="display: flow-root;
        padding-bottom: 10px;"
    >
      <div (click)="dismiss()" style="float: left; cursor: pointer;">
        <img src="assets/images/ic.RevealModal.svg" class="backIcon" />
        <span>GO Back</span>
      </div>
      <div style="float: right;cursor: pointer;" (click)="destroySearch()">
        <img src="assets/images/ic.CloseModal.svg" />
      </div>
    </div>
    <div>
      <div (click)="scrollLeft()" class="floatIcon leftIcon">
        <img src="assets/images/ic.RevealModal.svg" class="leftIconposition" />
      </div>
      <div (click)="scrollRight()" class="floatIcon rightIcon">
        <img src="assets/images/ic.RevealModal.svg" class="rightIconposition" />
      </div>
    </div>
    <div #widgetsContent class="formListMaincontainer">
      <div class="formWidth" *ngFor="let item of resourceList">
        <tce-form-resource [customResource]="item"></tce-form-resource>
      </div>
    </div>
  </nb-card-body>
</nb-card>
