.customHeightAddResource {
  height: 700px;
  width: 1220px;
  position: relative;
  top: 10px;
}
.backIcon {
  transform: rotate(-90deg);
  margin-right: 10px;
}

.formListMaincontainer {
  overflow: auto;
  display: flex;
}
.formListMaincontainer::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.floatIcon {
  width: 2%;
  position: absolute;
  top: 40%;
}

.leftIcon {
  left: 0;
}
.leftIconposition {
  transform: rotate(-90deg);
}
.rightIconposition {
  transform: rotate(90deg);
}
.rightIcon {
  right: 0;
}
.formWidth {
  width: 30%;
}
