span.customBtn {
  position: absolute;
  right: 10px;
  z-index: 1;
  top: 9px;
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.material-icons {
  pointer-events: none;
}
:host ::ng-deep .ql-editor {
  min-width: 140px;
}
:host ::ng-deep .ql-editor.ql-blank {
  padding: 10px 0px;
  line-height: 16px;
  display: flex;
  align-items: center;
  min-width: 140px;
}
:host ::ng-deep .ql-editor.ql-blank::before {
  left: 0px;
  font-style: inherit;
}

:host ::ng-deep button.ql-custom {
  margin: 0 !important;
  padding: 0 !important;
  color: #ccc !important;
}

:host ::ng-deep .ql-tooltip {
  z-index: 9;
}
:host ::ng-deep .ql-bubble {
  position: relative;
}
:host ::ng-deep .ql-bubble .ql-tooltip {
  z-index: 9;
}
