@import 'libs/question-bank/src/lib/assets/css/common.scss';

.qb-fib-answers-div {
  margin-bottom: 25px;
  // border: 1px solid #ddd;
  padding: 10px;
  padding-top: 25px;
  border-radius: 10px;
  // background: #f9f9f9;
  word-break: break-word;
}
select,
input {
  margin-bottom: 10px !important;
  margin-right: 2px;
  margin-left: 2px;
  border: 1px solid #ced4da;
  border-radius: 10px;
  min-height: 20px;
  padding: 0px 5px;
  outline: 0px !important;
}
select {
  width: 15%;
  word-break: break-all;
}

//may need later
// .correct-div:after {
//   content: 'CORRECT';
//   position: absolute;
//   top: -11px;
//   left: 12px;
//   font-size: 10px;
//   color: green;
//   background: #fff;
//   padding: 0px 2px;
// }

// .incorrect-div:after {
//   content: 'INCORRECT';
//   position: absolute;
//   top: -11px;
//   left: 12px;
//   font-size: 10px;
//   color: $red;
//   background: #fff;
//   padding: 0px 2px;
// }
.correct-div {
  position: absolute;
  top: -12px;
  left: 0px;
  width: 100%;
  height: 50px;
  border: 1px solid #0080008a;
  background: rgb(0 255 0 / 10%);
  border-radius: 10px;
}
.incorrect-div {
  position: absolute;
  top: -12px;
  left: 0px;
  width: 100%;
  height: 50px;
  border: 1px solid #ff000087;
  background: rgb(255 0 0 / 10%);
  border-radius: 10px;
}

.correct {
  border: 2px solid green;
}

.incorrect {
  border: 2px solid $red;
}

.fibDiv {
  border: dashed 1px;
  min-height: 30px;
}
:host ::ng-deep .qb-fib-answers-div p {
  font-weight: 500;
  line-height: 2.4em;
  font-size: 18px;
}
