<form [formGroup]="addResourceOptionsForm" (ngSubmit)="onSubmit()">
  <nb-card class="customCard">
    <nb-card-header>
      <div class="row">
        <div class="col-1">
          <img class="customIconType" [src]="customResource.icon" />
        </div>
        <div class="col-9 textoverflow">
          <span>{{ customResource.item.name }}</span>
          <ul class="resourcUl">
            <li class="resourceLiMargin">
              {{ formatBytes(customResource.item.size, 2) }}
            </li>
            <li class="resourceLi">{{ customResource.type }}</li>
          </ul>
        </div>
        <div class="col-1">
          <nb-icon
            icon="close-outline"
            (click)="closeResource(customResource.item.name)"
          ></nb-icon>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <div>
        <div class="form-group">
          <label for="resourceName" class="labelText">Resource Name</label>
          <input
            class="form-control"
            formControlName="resourceName"
            #resourceName
            required
            [ngClass]="
              f.resourceName.touched && f.resourceName.invalid
                ? 'alert-danger'
                : ''
            "
          />
        </div>
        <!-- <div
            *ngIf="f.name.touched && f.name.invalid"
            class="alert alert-danger"
          >
            <div *ngIf="f.name.errors.required">
              name is required.
            </div>
           
           
          </div>
          <div
          *ngIf="f.name.errors !== null && f.name.errors.incorrect"
            class="alert alert-danger"
          >
          <div >
            {{invalidFormat}}
            </div>
        </div> -->
      </div>
      <div class="row paddingTop">
        <div class="col-6">
          <div class="form-group">
            <label for="resourceType" class="labelText">Resource Type</label>
            <select
              placeholder="Choose Type"
              class="form-control"
              formControlName="resourceType"
              #resourceType
              required
              [ngClass]="
                f.resourceType.touched && f.resourceType.invalid
                  ? 'alert-danger'
                  : ''
              "
            >
              <option value="" disabled selected>Choose Type</option>
              <option [value]="item.name" *ngFor="let item of filteredMenu">{{
                item.name
              }}</option>
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="resourcePrivacy" class="labelText"
              >Resource Privacy</label
            >
            <select
              placeholder="Set Privacy"
              class="form-control"
              formControlName="resourcePrivacy"
              #resourcePrivacy
              required
              [ngClass]="
                f.resourcePrivacy.touched && f.resourcePrivacy.invalid
                  ? 'alert-danger'
                  : ''
              "
            >
              <option value="" disabled selected>Set Privacy</option>
              <option value="1">Public</option>
              <option value="2">Private</option>
            </select>
          </div>
        </div>
      </div>
      <div class="paddingTop">
        <div class="form-group">
          <label for="description" class="labelText">Description</label>
          <textarea
            placeholder="Describe yourself here..."
            class="form-control customTextArea"
            formControlName="description"
            #description
            required
            rows="4"
            [ngClass]="
              f.description.touched && f.description.invalid
                ? 'alert-danger'
                : ''
            "
          ></textarea>
          <span class="labelText"
            >You can edit this information again later</span
          >
        </div>
      </div>
      <div class="paddingTop">
        <div class="form-group divPosition">
          <label for="resourceTags" class="labelText">Resource Tags</label>
          <input
            class="form-control"
            formControlName="resourceTags"
            #resourceTags
          />
          <span class="addIcon" (click)="seperateTag()">
            <nb-icon icon="plus-outline"></nb-icon>
          </span>
          <span class="labelText">Seperate tags with commas or spaces…</span>
        </div>
      </div>
      <div
        class="col-12 row paddingTop"
        *ngIf="seperateTagList && seperateTagList.length > 0"
      >
        <div class="tagMainContainer" *ngFor="let x of seperateTagList">
          <label class="labeltext">{{ x }}</label>
          <img
            class="customImg"
            src="assets/images/ic.Playlist.DeleteResource.svg"
            (click)="removTag(x)"
          />
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="d-flex justify-content-end align-items-center">
        <button
          type="button"
          class="resourceButton"
          (click)="closeResource(customResource.item.name)"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="resourceButton"
          [ngClass]="
            addResourceOptionsForm.invalid ? 'buttonOptacity' : 'activeButton'
          "
          [disabled]="addResourceOptionsForm.invalid"
        >
          Create Resource
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</form>
