.resourceIcon {
  height: 34px;
  width: 29px;
  background: black;
}

.closeResource {
  height: 24px;
  width: 24px;
  background: black;
  position: relative;
  right: -24px;
}

.resourcUl {
  display: flex;
}
.resourceLi {
  list-style: disc;
  color: #797979;
  font-family: 'Quicksand Medium';
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
}
.resourceLiMargin {
  margin-right: 18px;
  color: #797979;
  font-family: 'Quicksand Medium';
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
}
.resourceButton {
  color: #000000;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
  background: white;
}
.buttonOptacity {
  opacity: 0.5;
}
.activeButton {
  border-radius: 5px;
  background-color: #000000;
  color: white;
  padding: 10px;

 
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    
     
    
    background: linear-gradient(90deg, #6D71FF 0%, #248EF6 100%);
    border-radius: 5px;
     

}
.customCard {
  border: none;
  border-right: 0.0625rem solid #e4e9f2;
  padding: 5px;
}

.form-group {
  margin-bottom: 5px;
}

.form-control {
  display: block;
  width: 100%;
  color: black;
  background-image: none;
  box-sizing: border-box;
  height: 40px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #000000;
}

.textoverflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
}
.customIconType {
  position: absolute;
  height: 34px;
  width: 29px;
}
.paddingTop {
  padding-top: 10px;
}

.labelText {
  font-family: Quicksand;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 15px;
}
.customTextArea {
  overflow: auto;
  resize: none;
}

.addIcon {
  position: absolute;
  right: 5px;
  top: 35px;
  background: black;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  color: #ffffff;
}
.divPosition {
  position: relative;
}
.tagMainContainer {
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 0 10px;
  height: 34px;
  width: auto;
  cursor: pointer;
  border-radius: 2px;
  background-color: #000000;
  font-family: Quicksand;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 15px;
  margin: 1px;
}
.labeltext {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
  color: #ffffff;
  font-family: 'Quicksand Medium';
  font-size: 14px;
  line-height: 18px;
}
.customImg {
  padding-left: 5px;
}

.alert-danger {
  border: 1px solid red;
}
