<div *ngIf="!showGhost; else showGhostUI">
  <div class="nav-header">
    <div class="choose-grade-nav">
      Choose a Grade
      <div class="nav-header-divider"></div>
    </div>
    <div class="choose-division-nav">
      Choose a Division
      <div class="nav-header-divider"></div>
    </div>
    <div class="choose-subject-nav">Choose a Subject</div>
  </div>
  <div
    class="subject-selector-container custHeight"
    [ngClass]="!currentMode ? 'custWidth' : ''"
  >
    <div class="choose-grade">
      <div class="menu-container">
        <div
          *ngFor="let gradeLevel of availableGrades"
          class="grade-selector"
          [class.selected]="
            selectedGradeLevel && gradeLevel.id === selectedGradeLevel.id
          "
          (click)="selectGrade(gradeLevel)"
        >
          {{ gradeLevel.title }}
        </div>
      </div>
    </div>
    <div class="choose-division">
      <div class="menu-container">
        <div
          *ngFor="let division of availableDivisions; let i = index"
          class="division-selector"
          [class.selected]="
            selectedDivision &&
            selectedDivision.divisionTitle === division.divisionTitle
          "
          (click)="selectDivision(division)"
        >
          {{ division.divisionTitle }}
        </div>
      </div>
    </div>
    <div class="choose-subject">
      <div class="menu-container">
        <div
          *ngFor="let subject of availableSubjects; let i = index"
          class="subject-selector"
          [class.selected]="
            selectedSubject && selectedSubject.subjectId === subject.subjectId
          "
          (click)="selectSubject(subject)"
        >
          {{ subject.title }}
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #showGhostUI>
  <tce-ghost-all-classes></tce-ghost-all-classes>
</ng-template>
