:host {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.page-item {
  position: relative;
}

.mypage-link {
  color: #fff;
  height: 25px;
  width: 25px;
  padding: 5px 0;
  opacity: 0.5;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  text-align: center;
  margin: 0 4px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.mypage-link svg {
  height: 16px;
  width: 15px;
}

.active .mypage-link {
  border: 1px solid #303439;
  background-color: #000000;
  opacity: 1;
}

.correct .mypage-link {
  border: 1px solid #4bcb94;
  background-color: #2c9669;
}

.incorrect .mypage-link {
  border: 1px solid #ff4e4e;
  background-color: #7b3538;
}

.previous-item a,
.next-item a {
  opacity: 1;
  height: 25px;
  width: 25px;
}

.previous-item svg {
  transform: rotate(180deg);
}

.previous-item svg g,
.next-item svg g {
  fill: #fff;
}

.arrow-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-disable svg {
  opacity: 0.5;
}

.ellipsis {
  color: #fff;
  opacity: 0.5;
  font-size: 18px;
  margin: 0 4px;
  width: 25px;
  text-align: center;
}
