<!-- <div id="ebook-resource-player-close-btn"
(click)="closeCurrentResource()"
>
  Close
</div> -->

<div style="background-image: url('assets/images/ic.closeEbookResourcePlayer2.svg');" id="ebook-resource-player-close-btn"
(click)="closeCurrentResource()"
>
  
</div>

<div style="position: absolute;">
  <ng-template #playerRef></ng-template>
</div>
