<div class="rootCard">
  <nb-card class="mainCard">
    <nb-card-body>
      <div class="row">
        <div class="col-4">
          Studentname
          <div class="row">
            <div class="col-12">
              student_name
            </div>
          </div>
        </div>
        <div class="col-4">
          Roll no
          <div class="row">
            <div class="col-12">
              1
            </div>
          </div>
        </div>
        <div class="col-4">
          Grade
          <div class="row">
            <div class="col-12">
              A
            </div>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
