<div class="nav-header">
  <div class="choose-grade-nav">
    Choose a Grade
    <div class="nav-header-divider"></div>
  </div>
  <div class="choose-division-nav">
    Choose a Division
    <div class="nav-header-divider"></div>
  </div>
  <div class="choose-subject-nav">Choose a Subject</div>
</div>
<div class="subject-selector-container">
  <div class="choose-grade">
    <div class="menu-container">
      <div
        *ngFor="let gradeLevel of allFields"
        class="grade-selector ghostRows"
      ></div>
    </div>
  </div>
  <div class="choose-division">
    <div class="menu-container">
      <div
        *ngFor="let division of allFields"
        class="division-selector ghostRows"
      ></div>
    </div>
  </div>
  <div class="choose-subject">
    <div class="menu-container">
      <div
        *ngFor="let subject of allFields"
        class="subject-selector ghostRows"
      ></div>
    </div>
  </div>
</div>
