.showprofile {
  display: block;
}
.hideprofile {
  display: none;
}

.gt-shape {
  width: 200px !important;
}

.gt-eraser {
  width: 260px !important;
}
.gt-background{
  width: 280px !important;
}


.dropdown-menus {
  top: var(--toolSubmenuTop);
  min-width: 0px;
  margin: 0px;
  padding: 10px;
  border-radius: 0 6px 6px 6px;
  position: absolute;
  padding: 0;
  align-items: center;
  .submenuback {
    &:after,
    &:before {
      content: ' ';
      position: absolute;
      top: 20px;
      border-style: solid;
    }

    &:before {
      border-width: 11px;
      border-color: var(--tool-submenu-border) transparent transparent
        transparent;
      top: 20px; //calc(21% - 1px);
    }

    &:after {
      border-width: 10px;
      border-color: var(--tool-submenu-border) transparent transparent
        transparent;
    }
  }
}

.dropdown-menus > .left {
  right: calc(100% + 19px);
  left: auto;
}
.dropdown-menus > .right {
  left: calc(100% + 19px);
}

.open {
  display: flex;
}

.dropdown-menus {
  background-color: transparent;
  border: transparent;
}

.right {
  right: var(--toolSubmenuPosition);
  left: auto;
  float: none;
  .submenuback {
    &:before,
    &:after {
      left: calc(100% - 1px);
      transform: rotate(-90deg);
    }
    &:before {
      left: 100%;
    }
  }
}
.left {
  left: var(--toolSubmenuPosition);
  right: auto;
  float: none;
  .submenuback {
    &:before,
    &:after {
      left: -20px;
      transform: rotate(90deg);
    }
    &:before {
      left: -23px;
    }
  }
}

.submenuback {
  position: relative;
  width: 310px;
  height: auto;
  border-radius: 5px;
  border: 1px solid var(--tool-submenu-border);
  background-color: var(--tool-submenu-background-color);
  -webkit-border-radius: 6px;
  box-shadow: 0 30px 100px 0 var(--tool-box-shadow-color),
    0 20px 25px 0 var(--tool-box-shadow-color);
  padding: 15px 0;
}

.zoomheight {
  height: 200px;
  width: auto;
}

.penhight {
  height: auto;
  width: auto;
}

.shapeselect-label {
  // height: 18px;
  // width: 140px;
  opacity: 0.5;
  color: var(--tool-text-color-primary);
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  padding-top: 0;
  /* padding-bottom: 20px; */
  margin-left: 0px;
  margin-bottom: 4px;
  user-select: none;
  padding-left: 0;
}

.submenu-addbackground {
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 280px;
}

.custcolor {
  color: var(--tool-text-color-primary);
  padding-top: 5px;
  padding-bottom: 5px;
}
.custcolor:hover {
  opacity: 0.6;
  // background-color: lawngreen;
}

.submenucolor {
  color: var(--selected-tool-submenu-color) !important;
}

.slider-container {
  display: flex;
  justify-content: center;
  width: 60px;
  padding: 10px;
}

.slider-control-container-outer {
  padding: 0;
}

.slider-control-container {
  position: relative;
  height: 100%;
  width: 35px;
  border-radius: 6px;
  background: #000000;
}

.slider {
  position: absolute;
  left: -44px;
  top: 70px;
  width: 120px;
  outline: none;
  margin: 12px 0px 0px 0px;
  transform: rotate(-90deg);
  background: transparent;
}

.slider::-webkit-slider-thumb {
  width: 12px;
  -webkit-appearance: none;
  height: 12px;
  cursor: pointer;
  box-shadow: 0px 0px 0px 5px #1597ff, inset 0px 0px 0px 10px #1597ff;
  border-radius: 50%;
  transition: box-shadow var(--animation-timing-medium) ease-in-out;
}

.slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-track {
  background: #7e7e7e;
  border: none;
  border-radius: 3px;
}

.zoom-control {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}

.zoom-plus {
  position: absolute;
  top: 0;
  left: 9px;
}

.zoom-minus {
  position: absolute;
  bottom: 0;
  left: 11px;
}

.bordershadow {
  border: 2px solid var(--tool-text-color-primary);
  display: inline-block;
  padding: 3px;
  margin: -6px;
}

.mainPencontainer {
  text-align: center;
}

.bordershadow {
  border: 2px solid var(--tool-text-color-primary);
  display: inline-block;
  padding: 3px;
  margin: -6px;
}

.centercircle {
  vertical-align: middle;
  display: table-cell;
}

.pencolor {
  color: var(--tool-text-color-primary);
  background-color: var(--selected-tool-color);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin: 8px;
  border: 1px solid;
}

::selection {
  background: none;
}

.colors-list {
  .row {
    margin: 0 !important;
    .col-2 {
      width: 24px;
      padding: 0;
      flex: 0 0 24px;
      max-width: 24px;
    }
  }
  .row.pl-3 {
    padding: 5px 15px 5px 0 !important;
  }
}
