<div
  class="tool-container"
  [ngClass]="showProfileDropdown ? 'showprofile' : 'hideprofile'"
>
  <div
    class="dropdown-menus open"
    [ngClass]="[!toolbarSideState ? 'right' : 'left']"
  >
    <div class="row submenuback">
      <tce-user-options
        id="gtUser"
        [isLoggedIn]="isLoggedIn"
        [userData]="userData"
        [type]="'teaching'"
      ></tce-user-options>
    </div>
  </div>
</div>

<div
  *ngFor="let x of toolsData; let i = index"
  id="lasttoolid"
  class="tool-container"
>
  <div
    class="dropdown-menus"
    *ngIf="x.submenu"
    [ngClass]="[
      selectedTool === x.event && toolState ? 'open' : '',
      !toolbarSideState ? 'right' : 'left'
    ]"
  >
    <div
      class="row submenuback"
      [ngClass]="[
        x.event == 'gtZoom' ? 'zoomheight' : '',
        x.event == 'gtPen' ? 'penhight' : '',
        x.event == 'gtErase'? 'gt-eraser':'',
        x.event == 'gtShapes'? 'gt-shape':'',
        x.event == 'gtBackground'? 'gt-background':''
      ]"
      [attr.id]="x.event"
    >
      <div
        class="col-12"
        *ngIf="
          x.event != 'gtColor' && x.event != 'gtZoom' && x.event != 'gtPen'
        "
      >
        <div class="dropdown-items shapeselect-label">
          {{ x?.submenu?.instruction }}
        </div>
      </div>
      <!-- shapes submenu  -->
      <div
        class="col-12"
        style="padding: 7px 0px 0px 15px"
        [ngClass]="x.event == 'gtBackground' ? 'submenu-addbackground' : ''"
        *ngIf="
          x.event != 'gtColor' && x.event != 'gtZoom' && x.event != 'gtPen'
        "
      >
        <div
          class="custcolor"
          [ngClass]="currentSubTool == xx.event ? 'submenucolor' : ''"
          *ngFor="let xx of x.submenu.options"
          (click)="onsubSelectedStatus(xx.event, true)"
          style="cursor: pointer"
        >
          <div class="row">
            <div
             
             [ngClass]="x.event === 'gtBackground' ? 'col-2' : 'col-3'"
             [innerHTML]="transform(xx.icon)">
          </div>
            <div class="pl-0" 
            [ngClass]="x.event === 'gtBackground' ? 'col-10' : 'col-9'"
            >
              <span *ngIf="xx.event != 'gtErase'">{{ xx?.tooltip }}</span>
              <span *ngIf="xx.event == 'gtErase'">
                <tce-slide-button
                  style="position: absolute;"
                  (toggle)="toggleshare($event)"
                  [labelname]="xx?.tooltip"
                  [toggleBtnChecked]="eraseByElementSelection"
                >
                </tce-slide-button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- shape menu end -->
      <!-- zoom controller -->
      <div class="slider-container slider-control-container-outer" *ngIf="x.event == 'gtZoom'">
        <div class="slider-control-container">
          <span
            class="zoom-control zoom-plus"
            (mousedown)="zoomIn()"
            (mouseleave)="zoomEnd()"
            >+</span
          >
          <!-- <input
            type="range"
            class="slider"
            min=".25"
            max="2"
            step="any" // satyajit converted to steps to resolve zoom issue while konva resize
            id="myRange"
            [value]="panZoomService.currentZoomScale$ | async"
            (input)="handleZoomSlide($event.target.value)"
            (mouseup)="zoomEnd()"
          /> -->
          <input
            type="range"
            class="slider"
            min=".25"
            max="2"
            step=".25"
            id="myRange"
            [value]="panZoomService.currentZoomScale$ | async"
            (input)="handleZoomSlide($event.target.value)"
            (mouseup)="zoomEnd()"
          />
          <span
            class="zoom-control zoom-minus"
            (click)="zoomOut()"
            (mouseleave)="zoomEnd()"
            >-</span
          >
        </div>
      </div>
      <!-- zoom controller -->
      <!-- color submenu -->
      <div class="col-12" *ngIf="x.event == 'gtColor'">
        <div class="dropdown-items shapeselect-label">Choose a Color</div>
        <div class="row pl-3 pb-2 colors-list">
          <div
            *ngFor="let xx of themesOption"
            (click)="onChangeColor(xx.value, true)"
            style="cursor: pointer"
          >
            <div class="row pl-3 pt-2 pb-2">
              <div class="col-2">
                <div [ngClass]="{ bordershadow: selectedColor == xx.value }">
                  <div
                    [ngStyle]="{ 'background-color': xx.value }"
                    style="width: 24px;height: 24px; border-radius: 5px;border: 1px solid #FFFFFF"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- color submenu -->
      <!-- pen submenu -->
      <div class="slider-container mytoolbar" *ngIf="x.event == 'gtPen'">
        <div class="mainPencontainer">
          <div
            *ngFor="let xx of x.submenu.stroke_size_data"
            (click)="onChangePen(xx.stroke_size, true)"
            style="cursor: pointer;height:40px;width: 40px;"
            [ngClass]="
              SelectedPenSize == xx.stroke_size
                ? 'bordershadow centercircle'
                : ''
            "
          >
            <div
              class="pencolor"
              [ngStyle]="{
                width: 5 * xx.stroke_size + 'px',
                height: 5 * xx.stroke_size + 'px'
              }"
              style="min-width: 7px; min-height: 7px;max-height: 30px;max-width: 30px;"
            ></div>
          </div>
        </div>
      </div>

      <!-- pen submenu -->
    </div>
  </div>
</div>
