
    <div class="timeout-panel" style="opacity: 0.9;">
    
    <div class="timeout-middle-section">
      <div class="still-there-placeholder-label">
        Enrollment Not Allowed.!
      </div>
      <div class="time-remaining-placeholder-label">
        <div>
            your account is not allowed to enroll please contact your system administrator
        </div>
        <div class="time-remaining-placeholder-label-last">
          <div>
            account and security this session will automatically end in &nbsp;
          </div>
          <div>
          </div>
        </div>
      </div>
      <div class="stay-signed-in-panel">
        <button class="stay-signed-in-button">
          Enroll Now
        </button>
      </div>
      <!-- <div class="sign-out-panel">
        <span>Sign Out</span>
      </div> -->
    </div>
    </div>
    

