<div class="profile-container">
  <div
    class="changePasswordView"
    (click)="changePassword('userChangePassword')"
  >
    <label class="changePasswordLabel">Change Password</label>
    <!-- <label class="lastSeen">Last Changed Dec 2019</label> -->
    <div class="changePasswordNotify">
      Choose a strong password to secure your account.
    </div>
  </div>
  <div class="changePasswordView" (click)="changePassword('userChangePin')">
    <label class="changePasswordLabel">Change Pin</label>
    <!-- <label class="lastSeen">Last Changed Dec 2019</label> -->
    <div class="changePasswordNotify">
      Create a PIN to use in place of passwords for faster sign in.
    </div>
  </div>
</div>
