.profile-container {
  height: 100%;
  width: 100%;
  padding: 15px;
}

.changePasswordView {
  box-sizing: border-box;
  border: 1px solid #303439;
  border-radius: 10px;
  background-color: #16181c;
  color: #ffffff;
  font-family: Quicksand;
  letter-spacing: 0;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.changePasswordLabel {
  font-size: 15px;
  font-weight: bold;
  line-height: 19px;
}
.lastSeen {
  opacity: 0.5;
  font-size: 14px;
  line-height: 18px;
  float: right;
}
.changePasswordNotify {
  font-weight: 100;
  padding: 5px 0px;
}
