<div
  class="player-drawer-container"
  [ngClass]="isPlayerDrawerOpen ? '-open-drawer' : ''"
  [ngStyle]="{
    background: isPlayerDrawerOpen ? 'var(--player-drawer-gradient)' : 'none'
  }"
  [hidden]="!isPlayerDrawerVisible"
>
  <tce-subject-selector-container
    [currentMode]="true"
  ></tce-subject-selector-container>
  <div
    class="player-drawer-handle"
    (click)="togglePlayerDrawer()"
    id="showHide"
  >
    <div class="player-drawer-handle-content">
      {{ isPlayerDrawerOpen ? 'HIDE' : 'SHOW' }}
    </div>
  </div>
  <div
    class="player-drawer"
    id="playerdrawer"
    [ngStyle]="{ height: isPlayerDrawerOpen ? '135px' : '0' }"
  >
    <div #lessonPlanOutlet></div>
    <div #curriculumPlaylistOutlet></div>
  </div>
</div>
