@import '~apps/tce-teacher/src/assets/stylesheet/imports';

.player-drawer-container {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: $player-drawer-z-index;
}
.player-drawer-handle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 35px;
  width: 90px;
  border-radius: 10px;
  cursor: pointer;
  z-index: $foreground-z-index;
  position: relative;
  color: $dark-layout-txt-color;
  vertical-align: middle;
  text-align: center;
}

.player-drawer-handle .player-drawer-handle-content {
  font-size: 0px;
  width: 60px;
  height: 5px;
  line-height: 35px;
  border-radius: 5px;
  background-color: var(--canvas-handle-color);
  transition: height var(--animation-timing-medium)
      cubic-bezier(0.645, 0.045, 0.355, 1) var(--animation-timing-delay-x-short),
    width var(--animation-timing-medium) cubic-bezier(0.645, 0.045, 0.355, 1)
      var(--animation-timing-delay-x-short),
    font-size 50ms cubic-bezier(0.645, 0.045, 0.355, 1),
    border-radius var(--animation-timing-medium)
      cubic-bezier(0.645, 0.045, 0.355, 1) var(--animation-timing-delay-x-short);
}

.player-drawer-handle:hover .player-drawer-handle-content {
  transition: height var(--animation-timing-medium)
      cubic-bezier(0.645, 0.045, 0.355, 1),
    width var(--animation-timing-medium) cubic-bezier(0.645, 0.045, 0.355, 1),
    font-size 50ms cubic-bezier(0.645, 0.045, 0.355, 1)
      var(--animation-timing-delay-medium),
    border-radius var(--animation-timing-medium)
      cubic-bezier(0.645, 0.045, 0.355, 1);
}

:host-context(.animation-disabled) {
  .player-drawer-handle,
  .player-drawer-handle-content {
    transition: none !important;
  }
}

.player-drawer-handle:hover .player-drawer-handle-content {
  font-size: initial;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.player-drawer {
  display: flex;
  align-items: center;
  width: 100%;
  transition: height var(--animation-timing-long) ease-in-out;
  padding: 0 20px;
}
