// Define all color attributes in here

/* -------------------------------------------------------------------------- */
// Light theme colors

// layout Colors
$light-layout-whiteboard-color: radial-gradient(
  circle,
  #ffffff 0%,
  #dcdcdc 100%
);
$light-layout-bg-color: #fff;
$light-layout-txt-color: #333;

// Navbars Colors
$light-navbar-bg-color: #efefef;

// List color
$light-list-item-link-color: #666;
$light-list-item-link-hover-color: #333;
