// Define all global color attributes here

/* -------------------------------------------------------------------------- */
// Button colors
$btn-primary-bg-color: lighten(
  $color: blue,
  $amount: 10%
);
$btn-primary-txt-color: #fff;

$foreground-z-index: 150;

$player-drawer-z-index: 300;

$whiteboard-z-index: 100;

// START Player Calculated CSS.

  // Base Values
  $defaultPlayerWidth: 64vw;
  $defaultPlayerHeight: 64vh;
  $defaultPlayerXMargin: 8vw;
  $playerOffsetTop: 35px;
  $resourceDrawerClosedSpace: 35px;
  $resourceDrawerOpenedSpace: 170px;
  $subjectSelectorTopOffset: -30px;
  $portraitWidth: 50vw;
  $quiz-player-pagination-overhang: 29px;
  $gallery-player-pagination-overhang: 29px;
  $focus-mode-bottom-space-reservation: 10px;

  // Calculated Values
  $heightOfClosedDrawer: $resourceDrawerClosedSpace - $subjectSelectorTopOffset;
  $heightOfOpenedDrawer: $resourceDrawerOpenedSpace - $subjectSelectorTopOffset;
  $totalTrackOffset: $playerOffsetTop + $heightOfClosedDrawer;
  $playerTrackOffsetLeft: 50vw - (($defaultPlayerWidth / 2) + $defaultPlayerXMargin);
  $portraitXMargin: (($defaultPlayerWidth / 2) + $defaultPlayerXMargin) - ($portraitWidth / 2);
  $portraitDrawerOpenOffset: $playerOffsetTop + $heightOfOpenedDrawer;

  // Final CSS Prop Values.
  $player-track-height: calc(100vh - #{$totalTrackOffset});
  $quiz-player-track-height: calc(96vh - #{$totalTrackOffset});
  $gallery-player-track-height: calc(100vh - #{$totalTrackOffset});
  $tce-player-track-height: calc(96vh - #{$totalTrackOffset} - #{$quiz-player-pagination-overhang});


  $player-offset-top: $playerOffsetTop;
  $player-track-offset-left: $playerTrackOffsetLeft;
  $player-default-width: $defaultPlayerWidth;
  $player-default-height: $defaultPlayerHeight;
  $player-default-margin: 0px $defaultPlayerXMargin;
  $player-portrait-width: $portraitWidth;
  $player-portrait-margin: 0px $portraitXMargin;
  $player-portrait-shortened-height: calc(100vh -  #{$portraitDrawerOpenOffset});
  $player-quiz-shortened-height: calc(92vh - #{$portraitDrawerOpenOffset}  - #{$quiz-player-pagination-overhang});
  $player-gallery-shortened-height: calc(100vh - #{$portraitDrawerOpenOffset}  - #{$gallery-player-pagination-overhang});
  $player-tce-shortened-height: calc(92vh - #{$portraitDrawerOpenOffset} );

  $player-focus-mode: calc(100vh - #{$playerOffsetTop} - #{$focus-mode-bottom-space-reservation});
  $quiz-player-focus-mode: calc(100vh - #{$playerOffsetTop} - #{$quiz-player-pagination-overhang} - #{$focus-mode-bottom-space-reservation});
  $gallery-player-focus-mode: calc(100vh - #{$playerOffsetTop} - #{$gallery-player-pagination-overhang} - #{$focus-mode-bottom-space-reservation});
// END Player Calculated CSS
