<tce-loading-layover *ngIf="isLoading"></tce-loading-layover>
<div class="ebook-player-container">
  <!-- left drawer-->
  <div class="ebook-left-drawer" [class.open]="toggle.left">
    <div class="toggler left">
      <span class="rectangle" (click)="toggleBar('left')"></span>
    </div>
    <div class="nav-wrapper">
      <tce-book-details-nav
        (openThumbnails)="toggleThumbnails($event)"
        [numEbookPages]="numEbookPages"
        [showThumbnails]="showThumbnails"
        style="display: contents;"
      ></tce-book-details-nav>
      <tce-page-thumbnails
        *ngIf="showThumbnails && numEbookPages.length > 0"
        [pdfSrc]="pdfFilePath"
        [numEbookPages]="numEbookPages"
        [selectedPage]="selectedPage"
        [ebooks]="ebooks"
      >
      </tce-page-thumbnails>
    </div>
  </div>
  <!-- middle drawer -->
  <div #middleDrawer class="ebook-middle-drawer">
    <tce-error-layover
      *ngIf="errorMessage"
      [message]="errorMessage"
    ></tce-error-layover>
    <div id="mainWorksheet" class="worksheet-player-container">
      <!-- lib @tce/viewer-pdf-->
      <tce-view-pdf
        [pdfId]="pdfId"
        [src]="pdfFilePath"
        [renderText]="true"
        [currentPage]="selectedPage"
        [showAll]="true"
        [stickToPage]="true"
        [numEbookPages]="numEbookPages"
        (emitPdfLoadComplete)="getPageData($event)"
        (emitPdfRendered)="pdfRendered($event)"
        (emitScrollPageChange)="updatePdfPage($event)"
        (emitGotoNextChapter)="gotoNextChapter($event)"
      >
      </tce-view-pdf>
    </div>
    <tce-utility-bar
      *ngIf="!toggle.left && !toggle.right && numEbookPages.length > 1"
      [class.keyboard]="isKeyboardOpen"
    >
      <tce-scroll
        [scrollContainerRef]="scrollContainerRef"
        (emitScroll)="triggerScroll($event)"
      ></tce-scroll>
      <div class="separator"></div>
      <tce-pagination-controls
        [pages]="numEbookPages"
        [initialPage]="selectedPage.pageNumber"
        [selectedPage]="selectedPage"
        (changePage)="pageChange($event)"
      ></tce-pagination-controls>
      <div class="separator"></div>
      <div class="quick-nav">
        <div class="selector">
          <div (click)="showTooltip = !showTooltip">
            <span>Go&nbsp;</span>
            <span>to&nbsp;</span>
            <b>{{ quickNavSelection }}</b>
            <div class="arrow-wrapper">
              <span class="arrow down"></span>
              <div class="tooltip" [class.open]="showTooltip">
                <div class="arrow_box">
                  <ul>
                    <li
                      (click)="
                        quickNavSelection = quickNavType.PAGE;
                        goToInput.value = '';
                        goToInput.focus()
                      "
                      [class.on]="quickNavSelection !== quickNavType.PAGE"
                    >
                      Page
                    </li>
                    <li
                      (click)="
                        quickNavSelection = quickNavType.CHAPTER;
                        goToInput.value = '';
                        goToInput.focus()
                      "
                      [class.on]="quickNavSelection !== quickNavType.CHAPTER"
                    >
                      Chapter
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <form (ngSubmit)="goToPage(goToInput.value)">
          <div class="input-wrapper">
            <input
              #goToInput
              type="number"
              (focus)="setKeyboardFocus($event); $event.target.select()"
              tceNumberRestrict
              (keyup)="updateKeyboardValue($event)"
            />
            <button
              class="go"
              *ngIf="goToInput.value.length"
              (click)="goToPage(goToInput.value)"
            >
              Go
            </button>
            <div class="bg-stretch"></div>
          </div>
        </form>
      </div>
    </tce-utility-bar>
  </div>

  <!-- right drawer -->
  <div
    class="ebook-right-drawer"
    [class.open]="toggle.right"
    *ngIf="hasChapterResources"
  >
    <div class="toggler right">
      <span class="rectangle" (click)="toggleBar('right')"></span>
    </div>
    <div class="resource-wrapper">
      <tce-resources-list [type]="'Chapter'"> </tce-resources-list>
    </div>
  </div>
</div>
