.unsupport-player-container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #22262a;
  position: relative;
}
.signin_button_login {
  width: 80%;
  color: var(--text-color-primary);
  max-width: 280px;
  padding: 15px 14px;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  border-radius: 5px;
  border: 0;
}

.signInEnable {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#6d71ff),
    to(#248ef6)
  );
  background: linear-gradient(180deg, #6d71ff 0%, #248ef6 100%);
}

.maincontainer {
  height: 100%;
  width: 100%;
  pointer-events: auto;
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: 30%;
}

.custfont {
  font-size: 25px;
  line-height: 5;
  font-weight: 600;
}
