<tce-loading-layover *ngIf="isLoading"></tce-loading-layover>
<tce-error-layover
  *ngIf="errorMessage"
  [message]="errorMessage"
></tce-error-layover>
<div class="unsupport-player-container">
  <div class="maincontainer">
    <h4 class="custfont">UNSUPPORTED FILE</h4>
    <button
      class="signin_button_login signInEnable"
      (click)="download(unsupportData)"
    >
      <p>Download</p>
    </button>
  </div>
</div>
