<div class="quiz-player">
  <div class="header">
    <div>
      <button class="btn btn-secondary btn-sm" (click)="back()">Back</button>
    </div>
    <br />
    <div class="actions text-right">
      <!-- <button style="float:left" class='btn btn-danger btn-sm' (click)="selectedPage(2)" *ngIf="currentPage>2">
                <i class="fa fa-arrow-left"></i>
            </button> -->
      <!-- <span *ngIf="preview" class="badge badge-pill badge-success">
                {{correctAnsPoints}}/{{ points }}</span> -->

      <!-- <div *ngIf="!preview" class="btn-group btn-group-toggle btn-sm">
                <label class="btn-outline-primary btn-sm" ngbButtonLabel>
                    <input type="checkbox" ngbButton [(ngModel)]="source" (change)="onSourceChange($event)">
                    Source
                </label>
            </div> -->

      <!-- <div *ngIf="preview" class="btn-group btn-group-toggle btn-sm">
                <label class="btn-outline-primary btn-sm" ngbButtonLabel>
                    <input type="checkbox" ngbButton [(ngModel)]="showAns" id="showAns"
                        (change)="onAnsStatusChange($event)"> Show Answer
                </label>
            </div> -->

      <!-- <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="viewMode">
                <label ngbButtonLabel class="btn-outline-primary btn-sm">
                    <input ngbButton type="radio" value="edit" (click)="onPreviewChange($event)"> Edit
                </label>
                <label ngbButtonLabel class="btn-outline-primary btn-sm">
                    <input ngbButton type="radio" value="preview" (click)="onPreviewChange($event)" checked>Preview
                </label>
            </div> -->
    </div>
  </div>

  <div class="body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6 col-md-4 col-lg-2">
          <div
            class="types"
            [class.active]="q.selected"
            *ngFor="let q of questionType; let i = index"
            routerLink="/category/{{ q.name }}"
          >
            {{ q.label }}
          </div>
        </div>
        <div class="col-6 col-md-8 col-lg-10">
          <div *ngFor="let q of questionType">
            <div class="row" *ngIf="q.selected">
              <div class="col-md-4 col-sm-6 col-12" *ngFor="let p of q.pages">
                <div
                  class="card"
                  routerLink="/category/{{ q.name }}/{{ p.type }}"
                >
                  <div class="card-body">
                    <h6 class="card-title">{{ p.name }}</h6>
                  </div>
                  <img
                    class="card-img-bottom"
                    src="{{ p.image }}"
                    alt="Card image"
                  />
                </div>
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="height: 100px;"></div>
    <!-- <div *ngFor="let cat of categoryData">
            {{ cat.data.templateName }}
        </div> -->
  </div>

  <div class="footer">
    <div class="row text-center" *ngIf="0 > 1">
      <div class="col-md-1 col-sm-2 col-2">
        <button
          class="previous btn btn-outline-primary btn-sm"
          (click)="prevPage()"
        >
          Prev
        </button>
      </div>
      <div class="col-md-2 col-sm-4 col-4">
        Page: {{ currentPage }}/{{ totalPages }}
      </div>
      <div class="col-md-1 col-sm-2 col-2">
        <button
          class="next btn btn-outline-primary btn-sm"
          (click)="nextPage()"
        >
          Next
        </button>
      </div>
      <div class="offset-md-7 offset-sm-2 col-md-1 col-sm-2 col-4">
        <button
          class="submit btn btn-outline-primary pull-right btn-sm"
          (click)="submitAnswer()"
        >
          Submit
        </button>
        <div class="col-md-1 col-sm-4 col-12"></div>
      </div>
    </div>
  </div>
</div>
