.active {
  background-color: #e9e9f6;
  border-left: 5px solid blue;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0 -0.5rem;
  display: inline-block;
}

ul li {
  float: left;
  margin-bottom: 1rem;
  margin-right: 0.2rem;
}

.quiz-player {
  border: 1px solid #ccc;
}

.quiz-player .header {
  padding: 15px;
}

.quiz-player .body {
  padding: 15px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.quiz-player .footer {
  padding: 15px;
}

.quiz-player .footer .pagination {
  margin: 0px 5px;
}

.quiz-player .footer .submit {
  float: right;
}

.types {
  height: 80px;
  text-align: center;
  padding: 10px;
}

.card-img-bottom {
  margin: 0 10px 10px 10px;
  width: 93%;
}
/*# sourceMappingURL=category-layout.component.css.map */
