.recent-class-container {
  overflow-y: auto;
  height: calc(100% - 0px);
  padding: 20px 40px 20px 20px;
}

.recent-class {
  position: relative;

  > div {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: #000;
    border-radius: 17px;
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    padding: 8px 15px 8px 35px;
    margin: 7px 0;
    text-transform: capitalize;
    cursor: pointer;

    span {
      opacity: 0.7;

      &.circle {
        position: absolute;
        height: 24px;
        width: 24px;
        background-color: #333333;
        border-radius: 50%;
        left: 5px;
        top: 0;
        bottom: 0;
        margin: auto 0;
      }

      &:last-child {
        opacity: 1;
      }
    }
  }
}

$base-color: rgba(221, 221, 221, 0.1);
$ghost-color: #ecebebf1;
$animation-duration: 1000ms;
$gradient-offset: 52 + 16;
@keyframes ghost-lines {
  0% {
    background-position: -100px;
  }
  40% {
    background-position: 40vw;
  }
  100% {
    background-position: 60vw;
  }
}
.ghostRows {
  background-image: linear-gradient(
    90deg,
    $base-color 0px,
    $ghost-color 40px,
    $base-color 80px
  );
  background-size: 80vw;
  height: 20px !important;
  background-color: gray;
  margin: 10px;
  border-radius: 4px 4px 4px 4px;
  animation: ghost-lines $animation-duration infinite linear;
}
.column {
  float: left;
  width: auto;
  margin: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}
