<!-- <div class="menu-container">
  <div *ngFor="let recent of recentViewData" class="grade-selector row">
    {{ recent.className }} | {{ recent.division }} | {{ recent.subjectTitle }}
  </div> -->
<div class="recent-class-container" *ngIf="!showGhost; else showGhostUI">
  <ul>
    <li class="recent-class" *ngFor="let recent of recentViewData">
      <div (click)="selectClass(recent)">
        <span class="circle"></span>
        <span>{{ recent.className }}&nbsp;|&nbsp;</span>
        <span *ngIf="recent.division">{{ recent.division }}&nbsp;|&nbsp;</span>
        <span>{{ recent.subjectTitle }}</span>
      </div>
    </li>
  </ul>
</div>
<ng-template #showGhostUI>
  <tce-ghost-recent-classes></tce-ghost-recent-classes>
</ng-template>
